<article>
  <meta charset="utf-8" />
  <h2><time datetime="2023-03-29T13:03:54Z"></time>win woes</h2>
  <p>
    Off the record, I have been working towards a cross-platform sourdough.
    Which means, I've been suffering myself to appease the Windows devils.
  </p>
  <p>
    In no case do I expect to make a sourdough that works on
    <q>vanilla</q> Windows, meaning a Windows with only Tup added. I would have
    to assume at least Cygwin, or WSL. Hell, even Docker.
  </p>
  <p>
    But even with Cygwin and WSL available, I hit one problem after another
    trying to run the most basic rules.
  </p>
  <p>For example, right now I am striking out on this one:</p>
  <pre data-code-lang="lua">
function list_matching(pattern, to_file)
  tup.definerule{
    inputs = {pattern},
    command = "^b index %d/"..pattern.."^ find * -maxdepth 1 -name '"..pattern.."' > %o # %f",
    outputs = {to_file}
  }
end
  </pre>
  <p>which is giving</p>
  <pre>
[ tup ] [0.014s] Executing Commands...
* 0) xsl: index xsl/*.xsl
find: paths must precede expression: `mark-time.xsl'
find: possible unquoted pattern after predicate `-name'?
</pre
  >
  <p>
    I added the <code>b</code> so that it would run the rule under bash, which I
    currently believe is the only hope of making rules viable on Windows
    generally. On this system, that currently means WSL, because (for whatever
    reason) that is the on in my path and not Cygwin's. But I never really use
    WSL, and I'm not optimistic about using it with Tup given the abysmal
    startup times that I've seen. The cold start times might as well be network
    calls when there's no network.
  </p>
  <p>
    Anyway, to see what's wrong in the above, I took out the label and ran
    <code>tup parse</code> and <code>tup todo</code>. There's got to be a better
    way to know the actual command being run, right?
  </p>
  <pre>
$ tup parse
[ tup ] [0.000s] Scanning filesystem...
[ tup ] [0.016s] Reading in new environment variables...
[ tup ] [0.016s] Parsing Tupfiles...
 1) [0.000s] .
 0) [0.000s] xsl
 [  ] 100%
[ tup ] [0.016s] No files to delete.
[ tup ] [0.016s] Generating .gitignore files...
$ tup todo
[ tup ] Scanning filesystem...
Tup phase 3: The following 1 command will be executed:
 100% xsl: find * -maxdepth 1 -name '*.xsl' &gt; xsl-index # inline-css.xsl mark-time.xsl range.xsl time-ruler.xsl
Run 'tup upd' to bring the system up-to-date.
</pre
  >
  <p>
    Now, you might think it's the comment that's screwing it up, since it
    complains about <code>mark-time.xsl</code> specifically. But it's the same
    result when I remove the comment:
  </p>
  <pre>
$ tup todo
[ tup ] Scanning filesystem...
Tup phase 3: The following 1 command will be executed:
 100% xsl: find * -maxdepth 1 -name '*.xsl' &gt; xsl-index
Run 'tup upd' to bring the system up-to-date.
$ tup
[ tup ] [0.000s] Scanning filesystem...
[ tup ] [0.016s] Reading in new environment variables...
[ tup ] [0.016s] No Tupfiles to parse.
[ tup ] [0.016s] No files to delete.
[ tup ] [0.016s] Executing Commands...
* 0) xsl: find * -maxdepth 1 -name '*.xsl' &gt; xsl-index
find: paths must precede expression: `mark-time.xsl'
find: possible unquoted pattern after predicate `-name'?
</pre
  >
  <p>
    So bash is expanding the <code>*</code> and that's what <code>find</code> is
    complaining about. Mind you, this works on Debian. Come to think of it, I've
    never tried <code>find</code> with multiple paths. But it works:
  </p>
  <pre>
$ find xsl journal
xsl
xsl/.gitignore
xsl/include-all-xsl.sh
xsl/inline-css.xsl
xsl/mark-time.xsl
xsl/me.lua
xsl/range.xsl
xsl/time-ruler.xsl
xsl/Tupfile
xsl/xsl-index
journal
journal/.gitignore
journal/2023-03-25.html
journal/2023-03-26--lua-revisited.html
journal/2023-03-26--meta.html
journal/2023-03-26--zip
</pre
  >
  <p>I get the same result under both Cyg and and WSL.</p>
  <p>
    <time datetime="2023-03-29T13:26:28Z"></time>I tried again with
    <code>.</code> instead of <code>*</code> and it <em>still</em> fails with
    the same error. So it's not even about the expansion.
  </p>
  <p>
    <time datetime="2023-03-29T13:28:58Z"></time>Well, hell's bells, it works if
    I take <em>out</em> the <code>b</code> flag now, with either
    <code>.</code> or <code>*</code>. What gives?
  </p>
  <p>
    <time datetime="2023-03-29T13:30:27Z"></time>Ah, but <em>now</em> the
    comment screws it up. I wonder if the comment is making Tup choose a
    different processing method. Even if I remove the file list and just add a
    <code>#</code> after the command, it now says
  </p>
  <pre>find: paths must precede expression: `#'</pre>
  <p>with no reference to any specific files.</p>
  <pre>
    command = "^ index %d/^ find * -maxdepth 1 -name '"..pattern.."' > %o; # ",
</pre
  >
  <p>gives</p>
  <pre>find: paths must precede expression: `;'</pre>
  <p>
    <time datetime="2023-03-29T13:32:46Z"></time>Yeah pretty clearly
    <code>find</code> is getting everything as an argument rather than those
    being parsed by a shell, as appears to be the case when run under Linux.
  </p>
  <p>
    <time datetime="2023-03-29T13:34:37Z"></time>The reason for the comment was,
    well, commented in the code:
  </p>
  <pre data-code-lang="lua">
    -- HACK: put %f in the command so that the rule depends on the list.
    -- Otherwise (I find) tup might not trigger this rule when new matching files are added.
  </pre>
</article>
