<main>
  <article>
    <h2><time datetime="2023-03-21T22:12:00Z"></time>Windows sourdough</h2>
    <p>
      Remember that time when Microsoft offered USD$10<sup>9</sup> to REM for
      the rights to the song <q>It's the end of the world as we know it</q> so
      they could use it in advertisements for Windows 95™ and REM refused to
      sell? So they went with The Rolling Stones who of course let them use
      <q>Start me up</q> for $12M, because, you know, Start Menu?
    </p>
    <p>
      Maybe the whole thing is urban legend, but I couldn't care less. Call it a
      hallucination.
    </p>
    <p>
      At least they were up front about the mission. Groups who claim to be the
      victim of Big Tech's bias might be surprised to find that they share the
      same eschatology.
    </p>
    <p>
      Anyway, I had to make a couple of changes so that the sourdough starter+
    </p>
  </article>
</main>
