<figure id="VS3EaUlF" style="">
  <div class="illustration">
    <div class="document">
      <div class="section" />
      <div class="section">
        <div class="section" />
        <div class="section" />
        <div class="section">
          <div class="section" />
          <div class="section" />
        </div>
      </div>
      <div class="section">
        <div class="section" />
        <div class="section" />
      </div>
    </div>
    <div class="viewport-elevator"><div class="viewport" /></div>
  </div>
  <details>
    <summary>source</summary>
    <time datetime="2023-01-14T01:59:10-0500"
      >figure copied with modification from
      <a href="outlining.html#VS3EaUlF">outlining</a></time
    >
    <!-- prettier-ignore -->
    <style>
#VS3EaUlF {
  --illustration-length: 25rem;
  --illustration-viewport-length: 5rem;
}
#VS3EaUlF *, #VS3EaUlF ::before, #VS3EaUlF ::after {
  box-sizing: border-box;
}
#VS3EaUlF .illustration {
  position: relative;
  block-size: var(--illustration-length);
  inline-size: 10em;
}
#VS3EaUlF .viewport-elevator {
  position: absolute;
  inset: 0;
  overflow-y: scroll;
}
#VS3EaUlF .viewport {
  block-size: var(--illustration-viewport-length);
  position: relative;
  border: 2pt solid Highlight;
  --illustration-invisible: calc(var(--illustration-length) - var(--illustration-viewport-length));
  margin-block-start: var(--illustration-invisible);
  margin-block-end: var(--illustration-invisible);
}
#VS3EaUlF .viewport::before { inset-block-end: 100% }
#VS3EaUlF .viewport::after { inset-block-start: 100% }
#VS3EaUlF .viewport::before,
#VS3EaUlF .viewport::after {
  content: '';
  inset-inline: 0;
  block-size: var(--illustration-invisible);
  position: absolute;
  background: #7777;
  transition: background 500ms;
}
#VS3EaUlF .viewport:hover::before,
#VS3EaUlF .viewport:hover::after {
  background: #232130;
}
#VS3EaUlF .document,
#VS3EaUlF .section {
  display: flex;
  flex-direction: column;
}
#VS3EaUlF .document {
  position: absolute;
  inset: 1em;
  background: Canvas;
  box-shadow: 1pt 1pt 1em -1ch #333;
}
#VS3EaUlF .section {
  flex: auto;
  border-inline-start: 2pt solid GrayText;
  margin: 0.5ch;
  padding: 0.5ch;
}
            </style>
    <time datetime="2023-01-13T15:51:34-0500">⎀</time>
  </details>
</figure>
