<header
  style="&#10;        position: fixed;&#10;        right: 0;&#10;        top: 0;&#10;        box-sizing: border-box;&#10;        background: #888c;&#10;        overflow: auto;&#10;        max-width: 50vw;&#10;        z-index: 1;&#10;        bottom: 0;&#10;      "
>
  <nav>
    <article>
      <h1>
        tree map of document
        <time datetime="2023-01-15T23:40:47-0500">â</time>
      </h1>
      <form>
        <fieldset>
          <legend>all together now</legend>
          <button
            onclick="'hide-everything-but-core-structure no-h1-block-margin h1-free-width structure-font-shrink'.split(' ').map(it =&gt; document.querySelector('main').classList.toggle(it)); return false"
          >
            toggle outline mode
          </button>
        </fieldset>
        <time datetime="2023-01-20T13:11:09-0500" />
      </form>
      <p>
        <time datetime="2023-01-20T13:18:44-0500" /> The foregoing
        <code>form</code> Provides a single button to do the thing that's
        implemented piecemeal below, and can be tested piecemeal etc.
      </p>
      <p>
        <time datetime="2023-01-15T23:40:56-0500" /> This is not related to the
        document that contains it, and should make no reference to any specific
        containing document. This is a portable article that you should be able
        to âimportâ by including.
        <time datetime="2023-01-15T23:42:05-0500" />
      </p>
      <p>
        <time datetime="2023-01-15T23:42:32-0500" /> Its purpose is to enable a
        tree map of the document structure. After some sketching, I am somewhat
        dubious of success, at least operating on the document itself.
        <time datetime="2023-01-15T23:43:32-0500" />
      </p>
      <p>
        <time datetime="2023-01-16T00:08:21-0500" /> Another advantage to using
        a projection would be
      </p>
      <form>
        <label
          ><input
            type="checkbox"
            oninput="document.querySelector('main').classList.toggle('hide-everything-but-structure')"
          />hide everything but structure</label
        ><time datetime="2023-01-16T00:35:29-0500" />
        <time datetime="2023-01-16T00:44:10-0500">split</time>
      </form>

      <!-- prettier-ignore -->
      <style>
.hide-everything-but-structure
  :not(html, body, main, section, article, nav, aside, heading, h1) {

  display: none
}
      </style>
      <p>
        <time datetime="2023-01-16T00:32:40-0500" /> Let me stop you right
        there. Under the current rules, that is already a trÃ©s good thing to
        say.
      </p>
      <aside>
        <p>
          <time datetime="2023-01-16T00:47:20-0500" /> Except I'm going to add
          this because we have these <code>Â§</code> prefixes right now, which I
          want to exclude but not yet squash at the root.
        </p>
        <time datetime="2023-01-16T01:10:31-0500">UPDATE</time>: I squashed them
        at the root.
      </aside>
      <p>
        <time datetime="2023-01-16T00:34:51-0500" />
        So by all means keep going, but under a new name, please.
      </p>
      <!-- prettier-ignore -->
      <style>
.hide-everything-but-core-structure
  :not(html, body, main, section, article, heading, h1) {

  display: none;
}
      </style>
      <form>
        <label
          ><input
            type="checkbox"
            oninput="document.querySelector('main').classList.toggle('hide-everything-but-core-structure')"
          />hide everything but CORE structure</label
        ><time datetime="2023-01-16T00:42:34-0500" />
      </form>

      <p>
        <time datetime="2023-01-16T00:43:35-0500" /> This is the same as the
        above but it hides <code>aside</code> and <code>nav</code> elements as
        well.
      </p>
      <p>
        <time datetime="2023-01-16T02:06:54-0500" /> This one removes the
        standard margins from headings:
      </p>
      <!-- prettier-ignore -->
      <style>
        .no-h1-block-margin h1 {margin-block: 0}
      </style>
      <form>
        <label
          ><input
            type="checkbox"
            oninput="document.querySelector('main').classList.toggle('no-h1-block-margin')"
          />no h1 block margin</label
        ><time datetime="2023-01-16T02:08:13-0500" />
      </form>

      <!-- prettier-ignore -->
      <style>
.core-structure-flex :is(main, section, article) {
  display: flex;
  flex: auto;
}
      </style>
      <form>
        <label
          ><input
            type="checkbox"
            oninput="document.querySelector('main').classList.toggle('core-structure-flex')"
          />make CORE structure flex</label
        >
        <time datetime="2023-01-16T02:10:07-0500">
          2023-01-16T02:10:07-0500</time
        >
      </form>

      <p>
        <time datetime="2023-01-16T02:18:02-0500" /> The next thing are those
        pesky width rules on <code>h1</code>
      </p>
      <aside>
        <p>
          This is unnecessary now, as I've removed the rules on
          <code>h1</code><time datetime="2023-01-20T13:12:30-0500" />
        </p>
      </aside>
      <!-- prettier-ignore -->
      <style>
.h1-free-width h1 {
  min-inline-size: initial;
}
      </style>
      <form>
        <label
          ><input
            type="checkbox"
            oninput="document.querySelector('main').classList.toggle('h1-free-width')"
          />free h1 width</label
        >
      </form>

      <p>
        <time datetime="2023-01-16T02:28:03-0500" /> To look like a real tree
        map, this has to alternate directions.
      </p>
      <style>
        .structure-alternate-direction :is(main, section, article) {
          flex-direction: column;
        }
        .structure-alternate-direction
          :is(main, section, article)
          :is(main, section, article) {
          flex-direction: row;
        }
        .structure-alternate-direction
          :is(main, section, article)
          :is(main, section, article)
          :is(main, section, article) {
          flex-direction: column;
        }
        .structure-alternate-direction
          :is(main, section, article)
          :is(main, section, article)
          :is(main, section, article)
          :is(main, section, article) {
          flex-direction: row;
        }
        .structure-alternate-direction
          :is(main, section, article)
          :is(main, section, article)
          :is(main, section, article)
          :is(main, section, article)
          :is(main, section, article) {
          flex-direction: column;
        }
        .structure-alternate-direction
          :is(main, section, article)
          :is(main, section, article)
          :is(main, section, article)
          :is(main, section, article)
          :is(main, section, article)
          :is(main, section, article) {
          flex-direction: row;
        }
      </style>
      <form>
        <label
          ><input
            type="checkbox"
            oninput="document.querySelector('main').classList.toggle('structure-alternate-direction')"
          />alternate directon</label
        >
      </form>

      <p>
        <time datetime="2023-01-16T02:56:44-0500" /> Another thing you can do
        for this kind of display is to recursively reduce the font size. That's
        theoretically very easy in CSS since it already lets you say something
        like
      </p>
      <!-- prettier-ignore -->
      <style>
.structure-font-shrink :is(main, section, article) {
  font-size: smaller;
}
      </style>
      <form>
        <label
          ><input
            type="checkbox"
            oninput="document.querySelector('main').classList.toggle('structure-font-shrink')"
          />structure font shrink</label
        >
      </form>

      <details>
        <aside>
          <p>
            <time datetime="2023-01-16T00:24:50-0500" /> I initially applied
            this to <code>html</code> then <code>body</code>, but both made the
            form itself disappear. So I apply it to <code>main</code> instead,
            which this thing sits outside of.
          </p>
        </aside>
        <section>
          <h1>
            future work: use a projection
            <time datetime="2023-01-16T00:08:45-0500">â</time>
          </h1>
          <p>
            <time datetime="2023-01-15T23:43:37-0500" /> It were better, I
            expect, to reify the document outline and let the CSS operate on
            <em>that</em> instead.
          </p>
          <p>
            Such a projection implies a computational facility, either
            in-process or a preprocess. Schemes abound, but there is no official
            way to declare the content of one fragment to be a function of some
            thing which is described elsewhere in the document,
            <strong>by definition</strong>.
            <time datetime="2023-01-16T00:14:24-0500" /> In other words, the
            document has no reasoning power of its own.
            <time datetime="2023-01-16T00:14:59-0500" /> You must bring all
            reasoning facility.
            <time datetime="2023-01-16T00:16:18-0500" />
          </p>
          <p>
            Reason #1: <time datetime="2023-01-16T00:06:21-0500" /> We can
            tree-map the outline alone with simpler rules.
          </p>
          <p>
            But see <a href="staging.html">staging</a>
            <time datetime="2023-01-16T00:09:58-0500" />
          </p>
          <p>
            Reason #2: <time datetime="2023-01-16T01:12:17-0500" /> You can see
            both at once. And this could be a reason of its own: transitions
            between those states, which you'd necessarily be doing a lotâwell I
            know it to be a dead end. It was the case years ago, and it's still
            the case. Tufte: large changes dwarf small ones. They're infallibly
            janky and unpredictably disruptive to scroll position.<time
              datetime="2023-01-16T01:22:58-0500"
            />
          </p>
        </section>
      </details>
    </article>
  </nav>
</header>
