<main>
  <article>
    <h2><time datetime="2023-03-21T02:58:28Z"></time>spring</h2>
    <p>Today is the first of spring, and I feel new life.</p>
    <p>I planted a seed today. Not in the Earth, I'm afraid, nor any cloud.</p>
    <p>I guess you could call it a virus. I call it sourdough.</p>
    <p>
      Have you ever heard of a
      <a href="https://secretgeek.github.io/html_wysiwyg/html.html">quine?</a>
      Never mind.
    </p>
    <p>
      I used to use noisy notebooks. Spiral bindings, tear the pages out it
      sounds like little grinding gears. The marble books are even worse, you
      have to rend each folium from its other half, which is glad to go when its
      time comes. Think of those hardcover notebooks when all's been taken and
      there's nothing left but the cardboard flaps, the tape down the backbone
      and those twisted strings and a clump of shreds clinging to it.
    </p>
    <p>
      I hungered for whatever might live in those notebooks; I destroyed them.
    </p>
    <p>I haven't changed my ways.</p>
    <p>
      The sourdough that you're holding is so many generations old, I've lost
      count. So there's hope.
    </p>
    <p>
      I should mention that I know nothing at all about sourdough, except that
      it's alive and must be tended. I mean to say, it will not be okay. It
      can't feed itself and its natural course will be to die unattended. You
      get the idea, it's software.
    </p>
    <time datetime="2023-03-21T04:44:13Z"></time>
    <!-- prettier-ignore -->
    <pre>
$ cd sourdough
$ cp -r starter/ 2023-03-20
$ cd 2023-03-20/
$ tup
Initializing .tup in /home/gavin/sourdough/2023-03-20
.tup repository initialized: .tup/db
[ tup ] [0.002s] Scanning filesystem...
[ tup ] [0.004s] Reading in new environment variables...
[ tup ] [0.006s] Parsing Tupfiles...
 0) [0.001s] .
 [ ] 100%
[ tup ] [0.009s] No files to delete.                                                                                      
[ tup ] [0.009s] Checking circular dependencies among groups...
[ tup ] [0.009s] Generating .gitignore files...
[ tup ] [0.011s] Executing Commands...
 1) [0.008s] bundle 2023-03-20                                                                                            
 0) [0.002s] ./pack.sh %&lt;bundles&gt; &gt; 'notebook.html'                                                                       
 [  ] 100%
[ tup ] [0.023s] Updated.                                                                                                 
$ open notebook.html &amp;
[1] 9199
$ tup monitor
Initialized in 0.029525 seconds.
</pre>
  </article>
</main>
