<article>
  <meta charset="utf-8" />
  <style>
    html {
      background: hsl(-120deg, 20%, 25%);
      color: canvas;
      color: color-mix(in hsl, canvas 70%, transparent);
    }
    body {
      font-size: 16pt;
      inline-size: 60ch;
      max-inline-size: 100%;
    }
    a {
      color: inherit;
      font-weight: bold;
      font-family: var(--font-family-sans-serif, sans-serif);
      text-decoration-color: LInkText;
      text-decoration-thickness: 2pt;
    }
  </style>
  <h1><time datetime="2023-06-20T02:58:09Z"></time>concepts</h1>
  <section>
    <h2><time datetime="2023-06-20T02:58:17Z"></time>timeframe</h2>
    <p>A <dfn>timeframe</dfn> is a period of time under consideration.</p>
    <p>
      A timeframe is what it sounds like: a pair of parallel boundaries
      associated with a time period.
    </p>
    <p>
      As a logical unit, it comprises a date or pair of dates representing a
      range, where <q>date</q> means any ISO 8601 date, including extended
      representations.
    </p>
    <p>
      As a physical unit, it comprises a container annotated with that period.
    </p>

    <p>A timeframe is dynamic. You may move it around like a scope.</p>
  </section>
  <section>
    <h2><time datetime="2023-06-21T05:09:03Z"></time>the two modes</h2>
    <p>
      Within a timeframe, <q>movement</q> means changing the timeframe. Free
      movement of the timeframe is fundamental to the whole idea of
      time-as-place.
    </p>
    <p>
      A timeframe is an open world. It's an inclusive place, where things are
      welcome to come and stay.
    </p>
    <p>
      It SHOULD be the case that within a timeframe, things are placed in a way
      that's consistent with the guidelines documented here.
    </p>
    <p>
      The timeframe itself cannot know what's the appropriate way to arrange all
      the things that come and live there. They are reponsible for doing the
      right thing themselves.
    </p>
    <p>
      There are two basic ways that things within a timeframe can respond to a
      changing timeframe: it can change, or it can move.
    </p>
    <ul>
      <li>
        <strong>change</strong>: it can reformulate itself so that it is about
        the time where it's now situated
      </li>
      <li>
        <strong>move</strong>: it can move to the place associated with the time
        that it describes
      </li>
    </ul>
    <p>Everything in a timeframe must be located somewhere.</p>
  </section>
  <section>
    <h2><time datetime="2023-06-21T04:20:46Z"></time>time slice</h2>
    <p>A <dfn>time slice</dfn> is a grouping of material by some time unit.</p>
    <aside>
      <p>
        (<q>Time slice</q> is a technical term in computer processing, which is
        not related to the usage here.)
      </p>
    </aside>
    <p>
      A loose example of this can be seen in the English Wikipedia article
      <a href="https://en.wikipedia.org/wiki/Landscape_painting"
        >Landscape painting</a
      >, which slices its body into sections with headings including
      <q
        ><a
          href="https://en.wikipedia.org/wiki/Landscape_painting#17th_and_18th_centuries"
          >17th and 18th centuries</a
        ></q
      >
      and
      <q
        ><a
          href="https://en.wikipedia.org/wiki/Landscape_painting#19th_and_20th_centuries"
          >19th and 20th centuries</a
        ></q
      >
    </p>
    <p>
      The article
      <a
        href="https://en.wikipedia.org/wiki/Timeline_of_United_States_military_operations"
        >Timeline of United States military operations</a
      >
      is sliced much more strictly into decades.
    </p>
    <p>A slice implies a larger unit: it's a slice <q>of</q> something.</p>
    <p>What do we call the larger unit?</p>
    <p>
      It's like a (comic/film) strip or storyboard. I was thinking <q>band</q>,
      but that doesn't imply the segmentation.
    </p>
    <p><q>segment</q> vs slice?</p>
    <p>
      The problem with <q>strip</q> for the larger unit is that their units are
      called frames, which is already used here. Indeed, it's the main thing.
    </p>
    <p>But wait... those things <em>are</em> frames. They're subframes.</p>
    <p>
      They're not really timeframes though. They just set some of the same
      variables. They do not (in my mind) create new timeframes in the sense
      that they... it's explained in the CSS notes.
    </p>
    <pre>
  /* a time slice is also a timeframe? */
  /* not quite */
  /* it sets some of the CSS properties associated with timeframe */
  /* but it does not necessarily have the annotation */
  /* and it can't necessarily be changed freely, or changed by setting the timeframe attribute */
  /* because you have to coordinate multiple things: */
  /* - how *this* thing is situated as an item */
  /* - how items are treated within this */
  /* for a time slice, the former is more important */
  /* but I see no value in a construct that does only one and not the other */
</pre
    >
    <p>These terms are very oriented around the visual composition.</p>
    <p>All of the things are ultimately subservient to a timeframe, right?</p>
  </section>
  <section>
    <h2>screen / scene ?</h2>
    <p>A time screen</p>
    <p>is a dynamic</p>
    <p>block</p>
    <p>that is stable within a timeframe</p>
    <p>that is, it's statically positioned</p>
    <p>and it adjusts itself to the timeframe</p>
    <p>that is, it changes its content as the timeframe changes</p>
    <p>so it is transient as you move around</p>
    <p>
      the things within it are transient: they may enter and exit as the
      timeframe changes
    </p>
    <p>I mean, the material in it is transient as you the timeframe changes</p>
    <p>
      as opposed to a time slice which is actually fixed to its period and not
      intended to change, and at any rate doesn't change its stripes based on
      the timeframe (though could change its content based on the context)
    </p>
    <p>
      whereas a time slice does not adjust itself to the timeframe as such; its
      container adjusts by: adding units (slices) when they come into view.
      Also, when the container (band) is within a lens, then the slices will
      move around according to the current view.
    </p>
  </section>
  <section><h2>band / strip ?</h2></section>
  <section><h2>chart / scape ?</h2></section>
  <section>
    <p>A <dfn>TBD</dfn> is a composite of a band and a picture.</p>
    <p>
      <time datetime="2023-06-21T04:04:02Z"></time>Its purpose is to juxtapose
      more or less dynamic views within the same time scale.
    </p>
  </section>
  <section>
    <h2><time datetime="2023-06-20T03:03:35Z"></time>lens</h2>
    <p>
      A <dfn>time lens</dfn> is a linear mapping of a timeframe. Specifically,
      it extends a timeframe with the notion of a <strong>scale</strong> and
      <strong>offset</strong>.
    </p>
    <p>
      The <dfn>scale</dfn> of a lens is a multiplier used to stretch or shrink
      (a.k.a. <q>zoom</q>) the timeframe.
    </p>
    <p>
      The <dfn>offset</dfn> describes a translation used to move (a.k.a.
      <q>pan</q>) the timeframe. It is defined in terms of timeframe, where 1
      represents the extent of the timeframe.
    </p>
    <p>
      The degenerate values for scale and offset are 1 and 0 respectively: the
      <q>identity</q> lens is a scale of 1 and an offset of 0, which has no
      effect on the timeframe's representation.
    </p>
  </section>
  <section>
    <h2><time datetime="2023-06-20T03:16:47Z"></time>vantage</h2>
    <p>
      A <dfn>time vantage</dfn> is a view of a timeframe from a distance. The
      <q>distance</q> is designated as a time unit, such as Month, Year, Decade,
      and so on.
    </p>
    <p>A vantage is a lens that obeys three rules:</p>
    <ol>
      <li>
        The timeframe remains completely in view. In general, a lens can easily
        <q>lose</q> the timeframe by mapping it out of view. A vantage does not
        do this.
      </li>
      <li>
        The number of units in view is bounded between some fixed values,
        subject to rule 1. For example, in a Century vantage, you may say that
        between 3 and 5 centuries must be in view, regardless of the timeframe.
      </li>
      <li>Absolute bounds may be respected, subject to rules 1 and 2.</li>
    </ol>
  </section>
  <section>
    <h2><time datetime="2023-06-20T03:02:26Z"></time>slats</h2>
    <p><time datetime="2023-06-20T03:02:51Z"></time>Name TBD</p>
    <p>This is a dynamic listing of findings from one or more collections</p>
  </section>
  <section>
    <h2>
      <time datetime="2023-08-18T03:58:08Z"></time>plank → platform* → stage
    </h2>
    <p>
      These concepts are not about time, but about interface elements. The idea
      is to take
    </p>
    <p>
      A <dfn>stage</dfn> is a platform for activity, usually of the main
      interest. It is a <em>finite</em> resource and a <em>shared</em> resource.
      A stage SHOULD be visible all at once.
    </p>
    <p>
      A <dfn>platform</dfn> is a collection of <dfn>planks</dfn> and possibly
      other platforms. The <q>plank</q> here is more like a unit than a thing.
      In this world, platforms can be collapsed into planks.
    </p>
    <p>In these terms, a stage is an outermost platform.</p>
  </section>
</article>
