<article>
  <article>
    <h1>sequence construction</h1>
    <p>I see a case where I need to construct something</p>
    <p>like, draw it, paint it almost</p>
    <p>And I just construct it by iteration</p>
    <p>along some function or relation</p>
    <hr />
    <p>For example, rel=next and previous relations</p>
    <p>
      Or, integer relations. I mean, this in a spreadsheet is called fill,
      right?
    </p>
    <p>So maybe that's a good metaphor for this, or maybe not.</p>
    <p>
      I'm not talking about free &amp; open cells, although I think you should
      be able to hijack its structure without its content. i.e. to build a
      spreadsheet-like grid you could construct a grid by induction and say that
      the cells may live there and stand in those relations as before.
    </p>
    <p>
      Anyway, look at how tiles are "painted onto" a map when you move into new
      territory. So we shall do with our timelines.
    </p>
    <p>
      <time datetime="2023-01-11T23:42:39-0500">writing direction</time>
      But in what way are they constructed? How do they come into existence?
      These are the questions that haunt me.
    </p>
  </article>

  <article>
    <p>
      More generally, I need an operation for injecting containers into things.
    </p>
    <p>Either that or tracking where they are.</p>
    <p>
      These are two different kinds of... hmm. No, but it it's flow-positioned
      content, we can do that in place.
    </p>
    <p>
      <time datetime="2023-01-12T00:17:13-0500"
        >but even if it's positioned, the same thing applies</time
      >
    </p>
    <p>
      <time datetime="2023-01-12T00:28:16-0500"
        >actually no. If you're trying to answer “who owns this space,” it
        absolutely does matter whether the thing is positioned. And it also
        matters whether it's block or inline.</time
      >
      <time datetime="2023-01-12T00:30:35-0500"
        >I'm trying to answer two questions: (1)
        <q>Where do you put a new thing relative to an old one?</q>
        (“Old” meaning it already had a place.) And (2),
        <q>Who owns this space</q>?
      </time>

      <time datetime="2023-01-12T00:33:35-0500"
        >If what you want to do is say, click on a <code>time</code> element
        (which is inline) and
      </time>
    </p>
  </article>

  <article>
    <h1><time datetime="2023-01-12T00:56:30-0500">fill right</time></h1>
    <h1>
      <time datetime="2023-01-12T00:40:51-0500"
        >in which I just do it already</time
      >
    </h1>
    <p>Here I just want an incrementer</p>
  </article>
  <article>
    <h1>
      <time datetime="2023-01-12T01:21:41-0500"
        >rule: duplicate <code>code</code>
        <del datetime="2023-01-12T12:10:45-0500">and <code>mark</code></del>
        in new paragraph</time
      >
    </h1>
    <form>
      <p>
        <time datetime="2023-01-12T01:52:02-0500">
          Here's the simple rule: If it's a small <code>code</code> in a
          paragraph, some action will duplicate it to a new paragraph following
          the one containing it.
        </time>
      </p>
      <p>
        I guess you're going to need another paragraph or <code>2</code> or even
        <code>129</code> for testing.
      </p>
    </form>
    <details>
      <summary>sources</summary>
      <!-- prettier-ignore -->
      <script>
{
  (function duplicate_code_in_new_paragraph(scope) {
    function something_clicked(event) {
      const tag = event.target.localName
      if (tag === "code") {
        const p = document.createElement("p");
        const clone = event.target.cloneNode(true);
        p.append(clone);
        event.target
          .closest("p")
          .insertAdjacentElement("afterend", p);
      }
    }
    function start() {
      scope.addEventListener("click", something_clicked);
    }
    function stop() {
      scope.removeEventListener("click", something_clicked);
    }
    return { start, stop };
  })(document.currentScript.closest("article")).start();
}
        </script>
    </details>
    <p>
      I observe that this is
      <time datetime="2023-01-12T12:15:04-0500">non-terminating</time>, I mean
      that the result of this operation is a new input which also meets the
      condition: that I duplicate the resulting <code>code</code>, since it's
      also within a paragraph.
    </p>
  </article>

  <article>
    <time datetime="2023-01-12T01:06:35-0500"
      >So what happens when we get the duplicate?</time
    >
    <p>
      <time datetime="2023-01-12T01:49:04-0500"
        >The obvious case is filling a number or pair of numbers, the way you
        would do in a spreadsheet. The only thing stopping me from having done
        this sooner is the evidently complete lack of any apparent usefulness.
      </time>
    </p>
    <!-- prettier-ignore -->
    <script>
{
  (function duplicate_code_in_new_paragraph(scope) {
    function something_clicked(event) {
      const tag = event.target.localName
      if (tag === "code" || tag === "mark") {
        const p = document.createElement("p");
        const clone = event.target.cloneNode(true);
        p.append(clone);
        event.target
          .closest("p")
          .insertAdjacentElement("afterend", p);
      }
    }
    function start() {
      scope.addEventListener("click", something_clicked);
    }
    function stop() {
      scope.removeEventListener("click", something_clicked);
    }
    return { start, stop };
  })(document.currentScript.closest("article")).start();
}
        </script>
  </article>
</article>
