<article>
  <h1>in development</h1>
  <h2>time tapers</h2>
  <p>Posit: Time is not smooth, it tapers.</p>
  <p>
    I don't mean <em>mechanical</em> time exactly. I mean our mental models of
    time—ways we look at time. We must look at the past and the future “at an
    angle,” so to speak, and that makes things look different at a distance. Our
    view of earlier times is affected by the different ways that we come to have
    knowledge of those times.
  </p>
  <p>
    Anyway, I suppose we must have some common mental model of time,
    particularly historical time, and I want to know what it
    <em>looks like</em>.
  </p>
  <p>
    I run into this tapering again and again. As the scale goes up, precision
    goes down. We have a more exact account of “nearer” things. By “nearer” I
    mean “more recent,” closer to “now.” But this is true in space, too, for
    things closer to “here.” I suppose I have heard it said of great wealth, as
    well, that one man's fortune is another man's rounding error.
  </p>
  <p>This does raise some other interesting questions.</p>
  <p>
    Technically, the basic time measurement unit is the second (which is defined
    relative to propagation of light in a vacuum, or something like that). So if
    we don't want to stoop to Earth-bound units like Earth years we must talk of
    millennia in terms of
    <a
      href="https://en.wikipedia.org/wiki/Orders_of_magnitude_(time)#More_than_one_second"
      >“gigaseconds” and “teraseconds.”</a
    >
  </p>
  <p>
    Forcing this uniformity across all scales, I think, serves to highlight the
    fact that, from a human perspective, years, decades, centuries, and millenia
    are not just different degrees of one thing but
    <em>different kinds of things</em>. That's why I say we have multiple mental
    models of time. We don't think of these larger units as being really
    connected to the smaller ones. Yes, mathematically we can combine centuries
    and seconds, but it's nonsense.
  </p>
  <p>
    But wait, isn't that exactly what the ADCHUT ontology does: make everything
    from Millisecond to Millenium the same kind of thing? More exactly, it
    defines a supertype that is common to those terms. What the ACDHDATE
    taxonomy does is create relations between instances of those types. And
    there's no question that those relations exist among those
    <em>instances</em>.
  </p>
  <section>
    <h1>in praise of weaker statements</h1>
    <p>
      In which we find that we don't have to reduce everything to a point in
      time, even for the computer.
    </p>
    <p>TL;DR ISO8601 &gt; JavaScript Date</p>
    <p>
      It's quite possible to say something about the twentieth century
      <em>generally</em>, without reference to any more specific point in time.
      The Wikipedia articles used by this project do just that: they talk about
      days, years, decades, and centuries.
    </p>
    <p>
      How would we tell a computer that we're talking about the twentieth
      century “as a whole”?
    </p>
    <p>
      If we let the host platform call the shots, we will end up
      overspecifying—saying more than we mean. In JavaScript (as with other
      application platforms), for example, the built-in
      <code>Date</code> format identifies a point in time, and always a point in
      time.
    </p>
    <p>
      It is perhaps not well known that ISO 8601 lets you express these more
      coarse-grained periods. This is due to a judicious use of zero-padding.
      Centuries can be written using two-digit numerals (<code>01</code> for the
      first century CE, <code>20</code> for the current century, etc). Decades
      are likewise written using three digits (<code>001</code> for the first
      decade CE, <code>202</code> for the current decade, etc).
    </p>
  </section>
  <aside>
    <p>it appears that ISO 8601 does let you express</p>
  </aside>
  <figure>
    <figcaption>sketch of an irregular logarithmic timeline</figcaption>
    <ol>
      <li>cosmic (universe time)</li>
      <li>solar time?</li>
      <li>geological (Earth time)</li>
      <li>biological time (life time)</li>
      <li>paleo time (human time)</li>
      <li>historic time (recorded time)</li>
      <li>this millennium</li>
      <li>this century</li>
      <li>this decade</li>
      <li>this year</li>
      <li>this month</li>
      <li>this week</li>
      <li>today</li>
      <li>this hour</li>
      <li>this minute</li>
      <li>this second</li>
      <li>“just now”</li>
      <li>now / this instant</li>
      <li>the near future</li>
      <li>the distant future</li>
    </ol>
  </figure>
  <p>
    I note that this puts the year 0 roughly at the center but without
    distinguishing it. I mean, it's not the boundary of a division (to the
    extent that the boundaries have divisions). Indeed, this is not a
    partitioning of time, but a series of time scales.
  </p>
  <p>Oh well you know that this is not a new concept. Wikipedia done this.</p>
  <p>
    <a href="https://en.wikipedia.org/wiki/Logarithmic_timeline"
      >Logarithmic timescale</a
    >
    on Wikipedia, a special case of a
    <a href="https://en.wikipedia.org/wiki/Logarithmic_scale"
      >logarithmic scale</a
    >.
  </p>
  <figure>
    <figcaption>
      “Example of a backward-looking logarithmic timeline” (Wikipedia)
    </figcaption>
    <p>
      From
      <cite
        >the article on
        <a
          href="https://en.wikipedia.org/wiki/Logarithmic_timeline#Example_of_a_backward-looking_logarithmic_timeline"
          >Logarithmic timescale</a
        ></cite
      >
    </p>
    <blockquote>
      <table class="wikitable">
        <tbody>
          <tr>
            <th>Years ago</th>
            <th>
              <a href="/wiki/List_of_time_periods" title="List of time periods"
                >Period</a
              >
            </th>
            <th>
              Event,
              <a href="/wiki/Invention" title="Invention">invention</a> or
              historical development
            </th>
          </tr>
          <tr>
            <td align="center">10<sup>−3</sup> to 10<sup>−2</sup></td>
            <td>last 3 days</td>
            <td>
              See, for example, the content of
              <a
                href="/wiki/Portal:Current_events/2022_December_17"
                title="Portal:Current events/2022 December 17"
                >Today's events</a
              >,
              <a
                href="/wiki/Portal:Current_events/2022_December_16"
                title="Portal:Current events/2022 December 16"
                >Yesterday's</a
              >
              and
              <a
                href="/wiki/Portal:Current_events/2022_December_15"
                title="Portal:Current events/2022 December 15"
                >the day before</a
              >.
            </td>
          </tr>
          <tr>
            <td align="center">10<sup>−2</sup> to 10<sup>−1</sup></td>
            <td>last 36 days</td>
            <td>
              See, for example, the content in
              <a
                href="/wiki/Portal:Current_events"
                title="Portal:Current events"
                >Portal:Current events</a
              >
            </td>
          </tr>
          <tr>
            <td align="center">10<sup>−1</sup> to 10<sup>0</sup></td>
            <td>last year</td>
            <td>
              See, for example,
              <a href="/wiki/2021#Events" title="2021">Events in 2021</a>
            </td>
          </tr>
          <tr>
            <td align="center">10<sup>0</sup> to 10<sup>1</sup></td>
            <td>2012 onward</td>
            <td>
              Internet,
              <a href="/wiki/Biotechnology" title="Biotechnology"
                >biotechnology</a
              >,
              <a href="/wiki/Nanotechnology" title="Nanotechnology"
                >nanotechnology</a
              >,
              <a
                href="/wiki/Global_warming"
                class="mw-redirect"
                title="Global warming"
                >global warming</a
              >,
              <a
                href="/wiki/Timeline_of_historic_inventions#2000s"
                title="Timeline of historic inventions"
                >more...</a
              >
            </td>
          </tr>
          <tr>
            <td align="center">10<sup>1</sup> to 10<sup>2</sup></td>
            <td>20th century</td>
            <td>
              <a
                href="/wiki/Timeline_of_transportation_technology#20th_century"
                title="Timeline of transportation technology"
                >Car to spacecraft</a
              >,
              <a href="/wiki/Nuclear_power" title="Nuclear power"
                >nuclear power</a
              >,
              <a
                href="/wiki/Antibiotics"
                class="mw-redirect"
                title="Antibiotics"
                >antibiotics</a
              >,
              <a href="/wiki/Electronics" title="Electronics">electronics</a>,
              <a href="/wiki/Totalitarianism" title="Totalitarianism"
                >totalitarianism</a
              >, <a href="/wiki/World_war" title="World war">world wars</a>,
              <a
                href="/wiki/Timeline_of_historic_inventions#20th_century"
                title="Timeline of historic inventions"
                >more...</a
              >
            </td>
          </tr>
          <tr>
            <td align="center">10<sup>2</sup> to 10<sup>3</sup></td>
            <td>
              <a href="/wiki/2nd_millennium" title="2nd millennium"
                >1000 to 1900</a
              >
            </td>
            <td>
              <a href="/wiki/Renaissance" title="Renaissance">Renaissance</a>,
              <a href="/wiki/Printing_press" title="Printing press"
                >printing press</a
              >,
              <a
                href="/wiki/Industrial_Revolution"
                title="Industrial Revolution"
                >Industrial Revolution</a
              >,
              <a href="/wiki/Colonialism" title="Colonialism">colonialism</a>,
              <a href="/wiki/Firearms" class="mw-redirect" title="Firearms"
                >firearms</a
              >,
              <a href="/wiki/Steam_engine" title="Steam engine">steam engine</a
              >,
              <a
                href="/wiki/Timeline_of_historic_inventions#11th_century"
                title="Timeline of historic inventions"
                >more...</a
              >
            </td>
          </tr>
          <tr>
            <td align="center">10<sup>3</sup> to 10<sup>4</sup></td>
            <td>
              Start of
              <a href="/wiki/Holocene" title="Holocene">Holocene</a>,
              <a href="/wiki/Centuries" class="mw-redirect" title="Centuries"
                >8000 BCE to CE 1000</a
              >, <a href="/wiki/Neolithic" title="Neolithic">Neolithic</a>,
              <a href="/wiki/Bronze_Age" title="Bronze Age">Bronze Age</a>,
              <a href="/wiki/Iron_Age" title="Iron Age">Iron Age</a>
            </td>
            <td>
              Cities, empires, writing, wheel,
              <a href="/wiki/Civilization" title="Civilization">civilization</a
              >,
              <a
                href="/wiki/Major_world_religions"
                class="mw-redirect"
                title="Major world religions"
                >religions</a
              >, philosophy,
              <a
                href="/wiki/Timeline_of_historic_inventions#Neolithic_and_Late_Mesolithic"
                title="Timeline of historic inventions"
                >more...</a
              >
            </td>
          </tr>
          <tr>
            <td align="center">10<sup>4</sup> to 10<sup>5</sup></td>
            <td>
              <a href="/wiki/Pleistocene" title="Pleistocene">Pleistocene</a>
              ends,
              <a href="/wiki/Paleolithic" title="Paleolithic">Paleolithic</a>
              ends,
              <a href="/wiki/Mesolithic" title="Mesolithic">Mesolithic</a>,
              beginning of Neolithic
            </td>
            <td>
              <a href="/wiki/Last_Glacial_Period" title="Last Glacial Period"
                >Ice Age</a
              >, music, art,
              <a href="/wiki/Cave_painting" title="Cave painting"
                >cave paintings</a
              >, dance,
              <a href="/wiki/Tally_stick" title="Tally stick">tally stick</a>,
              medicine,
              <a href="/wiki/Neandertal" class="mw-redirect" title="Neandertal"
                >Neandertal</a
              >
              extinction,
              <a href="/wiki/Flores_Man" class="mw-redirect" title="Flores Man"
                >Flores Man</a
              >
              extinction, advanced
              <i
                ><a href="/wiki/Homo_erectus" title="Homo erectus"
                  >Homo erectus</a
                ></i
              >
              sub-species extinction, Ice Age ends,
              <a href="/wiki/Domestication" title="Domestication"
                >domestication</a
              >
              —
              <a
                href="/wiki/Timeline_of_agriculture_and_food_technology"
                title="Timeline of agriculture and food technology"
                >agriculture</a
              >
              and
              <a href="/wiki/Animal_husbandry" title="Animal husbandry"
                >animal husbandry</a
              >
            </td>
          </tr>
          <tr>
            <td align="center">10<sup>5</sup> to 10<sup>6</sup></td>
            <td>Pleistocene, Paleolithic</td>
            <td>
              Humans (150 kya),
              <a href="/wiki/Language" title="Language">language</a>,
              <a href="/wiki/Spirituality" title="Spirituality">spirituality</a>
            </td>
          </tr>
          <tr>
            <td align="center">10<sup>6</sup> to 10<sup>7</sup></td>
            <td>
              <a href="/wiki/Pliocene" title="Pliocene">Pliocene</a>,
              Paleolithic begins,
              <a href="/wiki/Lower_Paleolithic" title="Lower Paleolithic"
                >Lower Paleolithic</a
              >
            </td>
            <td>
              <a href="/wiki/Hunter-gatherer" title="Hunter-gatherer"
                >hunting-gathering</a
              >, tools, fire
            </td>
          </tr>
          <tr>
            <td align="center">10<sup>7</sup> to 10<sup>8</sup></td>
            <td>
              Late
              <a href="/wiki/Cretaceous" title="Cretaceous">Cretaceous</a>,
              <a href="/wiki/Cenozoic" title="Cenozoic">Cenozoic</a>
            </td>
            <td>
              <a href="/wiki/Grasses" class="mw-redirect" title="Grasses"
                >Grasses</a
              >, <a href="/wiki/Mammal" title="Mammal">mammals</a>,
              <a
                href="/wiki/Cretaceous%E2%80%93Paleogene_extinction_event"
                title="Cretaceous&#x2013;Paleogene extinction event"
                >Cretaceous–Paleogene extinction event</a
              >
            </td>
          </tr>
          <tr>
            <td align="center">10<sup>8</sup> to 10<sup>9</sup></td>
            <td>
              <a href="/wiki/Paleozoic" title="Paleozoic">Paleozoic</a>,
              <a href="/wiki/Mesozoic" title="Mesozoic">Mesozoic</a>
            </td>
            <td>
              <a href="/wiki/Cambrian" title="Cambrian">Cambrian</a>
              explosion of life, animals,
              <a href="/wiki/Flowering_plant" title="Flowering plant"
                >flowering plants</a
              >,
              <a
                href="/wiki/Permian%E2%80%93Triassic_extinction_event"
                title="Permian&#x2013;Triassic extinction event"
                >Permian–Triassic extinction event</a
              >
            </td>
          </tr>
          <tr>
            <td align="center">
              10<sup>9</sup> to <span class="nowrap"
                ><span data-sort-value="7010140000000000000&#x2660;" />1.4<span
                  style="margin-left: 0.25em; margin-right: 0.15em"
                  >×</span
                >10<sup>10</sup></span
              >
            </td>
            <td>
              <a href="/wiki/Precambrian" title="Precambrian">Precambrian</a>,
              <a
                href="/wiki/Timeline_of_cosmological_eras"
                class="mw-redirect"
                title="Timeline of cosmological eras"
                >cosmology</a
              >
            </td>
            <td>
              <a
                href="/wiki/Timeline_of_the_Big_Bang"
                class="mw-redirect"
                title="Timeline of the Big Bang"
                >Big Bang</a
              >,
              <a
                href="/wiki/Galaxy_formation_and_evolution"
                title="Galaxy formation and evolution"
                >Galaxy formation and evolution</a
              >, Earth,
              <a
                href="/wiki/Origin_of_Life"
                class="mw-redirect"
                title="Origin of Life"
                >life</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </blockquote>
  </figure>
  <figure>
    <figcaption>sketch 2 of an irregular logarithmic timeline</figcaption>
    <ol class="log-timeline">
      <li>cosmic (universe time)</li>
      <li>geological (Earth time)</li>
      <li>biological time (life time)</li>
      <li>paleo time (human time)</li>
      <li>historic time (recorded time)</li>
      <li>this millennium</li>
      <li>this century</li>
      <li>this decade</li>
      <li>this year</li>
      <li>this month</li>
      <li>this week</li>
      <li>today</li>
      <li>this hour</li>
      <li>this minute</li>
      <li>this second</li>
      <li>“just now”</li>
      <li>now / this instant</li>
      <li>the near future</li>
      <li>the distant future</li>
    </ol>
  </figure>
  <section>
    <h1>flat or nested?</h1>
    <p>
      All this stuff about mental models is surely very interesting. But this
      work must also arrive at a design for an actual software interface for
      humans. In HTML, as with many user interface platforms, that means
      defining a strictly hierarchical structure of some elements. That
      structure may be dynamic, but it must be serviceable to the kinds of
      things that we want to
    </p>
    <p>
      It might seem natural to see these as “containers” of the things that take
      place during the corresponding time period. Like, things that happened
      today would be represented in the “today” container. New things that
      happen today would be shunted into that container.
    </p>
    <p>
      In the context of the CSS box model, that arrangement also has some
      advantages for positioning things. We can treat "today" as a unit, and
      make rules apply to the things today.
    </p>
    <p>
      However, I believe this arrangement contains the seeds of its own
      destruction.
    </p>
    <p>
      We said that today's events should be in a common container. Shouldn't the
      box for “this hour” also be in it then? By definition that hour is
      contained in today.
    </p>
    <p>Other questions become hard to answer:</p>
    <p>
      Perhaps a more troubling question is, where do we mark “now”? Does it need
      to constantly move? You might say, sure, why not? Every hour, move it into
      the box for the current hour. Or, if we're looking at the granularity of a
      minute, then move it every minute. Or, if we're looking at the granularity
      of a second, then move it every second. You see where this is going.
    </p>
    <p>
      A nesting proposal must also answer, How do we represent
      <em>spans</em> of time? Suppose something begins yesterday and ends today?
      We can't put it into both boxes, so we must pick one. But the two boxes
      may have incompatible coordinate systems. We could position one end of the
      range, but positioning the other would be very awkward.
    </p>
    <p>
      This is not just about two structurings of one set of boxkes. This appears
      to call for <em>more</em> boxes overall. Naturally, we expect there to be
      boxes for <em>this</em> moment and all of its contexts anyway. Does the
      use of nesting for those boxes imply that <em>other</em> specific time
      markers should be similarly nested? That is, if we wanted to indicate the
      time we were born, and we were, em, fortunate enough to have been born
      long ago, then we need to create a box for the relevant millenium,
      century, decade, year, month, and day, etc, before we can think about
      placing a marker at a specific hour or minute.
    </p>
    <p>
      True, that degree of precision would be exceptional at points farther in
      the past—which is of course the rationale for considering a logarithmic
      scale in the first place.
    </p>
    <p>
      In conclusion, a nested scheme for placing timeline items is ultimately
      problematic for our basic needs.
    </p>
    <section>
      <h1>response to that</h1>
      <p>
        The proposal to nest <em>some</em>things doesn't mean that
        <em>everything</em> must be nested. Highly-dynamic things like “now”
        might go outside of the containers and merely use them as (possibly
        loose) markers.
      </p>
      <p>
        You're not going to show timespans that cross coordinate systems anyway.
        I'd argue that such (scalar) marks would not be meaningful to interpret.
      </p>
      <section>
        <h1>response to that</h1>
        <p>
          Okay, so you're saying that all of the time scales will contain the
          succeeding ones?
        </p>
        <section>
          <h1>response to that</h1>
          <p>Yea, I think that's what I'm saying.</p>
          <p>
            Except for weeks. Weeks have to go because their containment
            boundaries are not congrunt with months. Months are the offendor in
            terms of irregularity. But months are part of the ISO
            representation, so they win.
          </p>
        </section>
        <p>
          Another objection to the nesting is that it would seem to force us to
          prescribe this imperiously structured mental model, with all of its
          arbitrary, irrational baggage. Not to say that time is decidedly
          <em>linear</em>. But we can certainly say for our purposes that it is
          one-dimensional and totally ordered.
        </p>
      </section>
    </section>
    <p>
      I mean, we might kind of want to lump all of the “prehistoric” stuff
      together. There's not going to be much for the “cosmic” ring, which is all
      theoretical physics and really out of scope for this project. The same is
      substantially true for all time for which the knowledge base has no
      records.
    </p>
  </section>
  <section>
    <h1>relative or absolute?</h1>
    <p>
      We come to everything with a perspective. That perspective includes the
      current moment in time, whenever it is. This work is concerned with people
      directly interacting with a system, which must take place over time.
      Intentionally or not, the human is going to carry a “present bias”:
      everything else being equal, the relevant time is
      <strong>now</strong>.
    </p>
    <p>
      And yet, one of the main functions of <em>this</em> system is to elevate a
      discourse about other times.
    </p>
    <p>Moreover, the aim is to find how we can create a sense of place.</p>
  </section>
  <p>
    Elements indicating the current time are presumably meant to be rendered as
    live. This would go down to decade, which is optimistic.
  </p>
  <figure>
    <figcaption>sketch 2 of an irregular logarithmic timeline</figcaption>
    <ol class="log-timeline">
      <li>Universe (cosmic time)</li>
      <li>Earth (geologic time)</li>
      <li>Life (biological? Cambrian? time)</li>
      <li>Humans (paleo?/holocene? time)</li>
      <li>History (recorded time)</li>
      <li>this Millennium (2000 CE)</li>
      <li>this Century (2000 CE)</li>
      <li>this Decade (2020)</li>
      <li>this Year (2022)</li>
      <li>this Month (December)</li>
      <li>this Week (18<sup>th</sup>)</li>
      <li>today (Monday 19<sup>th</sup>)</li>
      <li>this hour (18 UTC)</li>
      <li>this minute (08)</li>
      <li>this second</li>
      <li>this instant (now)</li>
      <li>the near future</li>
      <li>the distant future</li>
    </ol>
  </figure>
  <p>
    I want to say that In no case should the top-level contexts like “Universe”
    take up space on a constrained main axis.
  </p>
  <figure>
    <figcaption>irregular logarithmic timeline with angled headings</figcaption>
    <ol class="log-timeline log-timeline--compact">
      <li>Universe (cosmic time)</li>
      <li>Earth (geologic time)</li>
      <li>Life (biological? Cambrian? time)</li>
      <li>Humans (paleo?/holocene? time)</li>
      <li>History (recorded time)</li>
      <li>this Millennium (2000 CE)</li>
      <li>this Century (2000 CE)</li>
      <li>this Decade (2020)</li>
      <li>this Year (2022)</li>
      <li>this Month (December)</li>
      <li>this Week (18<sup>th</sup>)</li>
      <li>today (Monday 19<sup>th</sup>)</li>
      <li>this hour (18 UTC)</li>
      <li>this minute (08)</li>
      <li>this second</li>
      <li>this instant (now)</li>
      <li>the near future</li>
      <li>the distant future</li>
    </ol>
    <ol class="log-timeline log-timeline--compact-rtl">
      <li>Universe (cosmic time)</li>
      <li>Earth (geologic time)</li>
      <li>Life (biological? Cambrian? time)</li>
      <li>Humans (paleo?/holocene? time)</li>
      <li>History (recorded time)</li>
      <li>this Millennium (2000 CE)</li>
      <li>this Century (2000 CE)</li>
      <li>this Decade (2020)</li>
      <li>this Year (2022)</li>
      <li>this Month (December)</li>
      <li><b>this Week (18<sup>th</sup>)</b></li>
      <li><b>today (Monday 19<sup>th</sup>)</b></li>
      <li>this hour (18 UTC)</li>
      <li>this minute (08)</li>
      <li>this second</li>
      <li>this instant (now)</li>
      <li>the near future</li>
      <li>the distant future</li>
    </ol>
  </figure>
  <p>
    Note that the angle of the text changes the reading order between “inward”
    and “outward”: you're either reading from now to the most remote contexts,
    or you're moving from the Universe to now.
  </p>
  <p>Okay, but we need some actual content, too</p>
  <p>
    We can show the “narrower” elements for each, up to the present. See
    <a href="./acdh.html">acdh</a>.
  </p>
  <figure>
    <figcaption>irregular logarithmic timeline with angled headings</figcaption>
    <ol class="log-timeline log-timeline--with-stuff">
      <li><b>Universe (cosmic time)</b></li>
      <li><b>Earth (geologic time)</b></li>
      <li><b>Life (biological? Cambrian? time)</b></li>
      <li><b>Humans (paleo?/holocene? time)</b></li>
      <li><b>History (recorded time)</b></li>
      <li><b>this Millennium (2000 CE)</b></li>
      <li><b>this Century (2000 CE)</b></li>
      <li><b>this Decade (2020)</b></li>
      <li><b>this Year (2022)</b></li>
      <li><b>this Month (December)</b></li>
      <li><b>this Week (18<sup>th</sup>)</b></li>
      <li><b>today (Monday 19<sup>th</sup>)</b></li>
      <li><b>this hour (18 UTC)</b></li>
      <li><b>this minute (08)</b></li>
      <li><b>this second</b></li>
      <li><b>this instant (now)</b></li>
      <li><b>the near future</b></li>
      <li><b>the distant future</b></li>
    </ol>
    <ol class="log-timeline log-timeline--with-stuff">
      <li><b>Universe (cosmic time)</b></li>
      <li><b>Earth (geologic time)</b></li>
      <li><b>Life (biological? Cambrian? time)</b></li>
      <li><b>Humans (paleo?/holocene? time)</b></li>
      <li>
        <b>History (recorded time)</b>
        <time datetime="-11">ummmm</time>
      </li>
      <li>
        <b>this Millennium (2000 CE)</b>
        <!-- are the ISO's off by one? -->
        <time datetime="11">11c</time>
        <time datetime="12">12c</time>
        <time datetime="13">13c</time>
        <time datetime="14">14c</time>
        <time datetime="15">15c</time>
        <time datetime="16">16c</time>
        <time datetime="17">17c</time>
        <time datetime="18">18c</time>
        <time datetime="19">19c</time>
      </li>
      <li>
        <b>this Century (2000 CE)</b>
        <time datetime="2000/2009">2000's</time>
        <time datetime="2020/2019">2010's</time>
        <time datetime="2020/2029">2020's</time>
      </li>
      <li>
        <b>this Decade (2020)</b>
        <time datetime="2020">2020</time>
        <time datetime="2021">2021</time>
        <time datetime="2022">2022</time>
      </li>
      <li>
        <b>this Year (2022)</b>
        <time datetime="2022-01-01T00:00:00Z">Jan</time>
        <time datetime="2022-02-01T00:00:00Z">Feb</time>
        <time datetime="2022-03-01T00:00:00Z">Mar</time>
        <time datetime="2022-04-01T00:00:00Z">Apr</time>
        <time datetime="2022-05-01T00:00:00Z">May</time>
        <time datetime="2022-06-01T00:00:00Z">Jun</time>
        <time datetime="2022-07-01T00:00:00Z">Jul</time>
        <time datetime="2022-08-01T00:00:00Z">Aug</time>
        <time datetime="2022-09-01T00:00:00Z">Sep</time>
        <time datetime="2022-10-01T00:00:00Z">Oct</time>
        <time datetime="2022-11-01T00:00:00Z">Nov</time>
        <time datetime="2022-12-01T00:00:00Z">Dec</time>
      </li>
      <li>
        <b>this Month (December)</b>
        <time datetime="2022-12-01T00:00:00Z">01</time>
        <time datetime="2022-12-02T00:00:00Z">02</time>
        <time datetime="2022-12-03T00:00:00Z">03</time>
        <time datetime="2022-12-04T00:00:00Z">04</time>
        <time datetime="2022-12-05T00:00:00Z">05</time>
        <time datetime="2022-12-06T00:00:00Z">06</time>
        <time datetime="2022-12-07T00:00:00Z">07</time>
        <time datetime="2022-12-08T00:00:00Z">08</time>
        <time datetime="2022-12-09T00:00:00Z">09</time>
        <time datetime="2022-12-10T00:00:00Z">10</time>
        <time datetime="2022-12-11T00:00:00Z">11</time>
        <time datetime="2022-12-12T00:00:00Z">12</time>
        <time datetime="2022-12-13T00:00:00Z">13</time>
        <time datetime="2022-12-14T00:00:00Z">14</time>
        <time datetime="2022-12-15T00:00:00Z">15</time>
        <time datetime="2022-12-16T00:00:00Z">16</time>
        <time datetime="2022-12-17T00:00:00Z">17</time>
        <time datetime="2022-12-18T00:00:00Z">18</time>
        <time datetime="2022-12-19T00:00:00Z">19</time>
      </li>
      <li>
        <b>this Week (18<sup>th</sup>)</b>
        <time datetime="2022-12-18T00:00:00Z">Sunday</time>
        <time datetime="2022-12-19T00:00:00Z">Monday</time>
      </li>
      <li>
        <b>today (Monday 19<sup>th</sup>)</b>
        <time datetime="2022-12-19T00:00:00Z">:00</time>
        <time datetime="2022-12-19T01:00:00Z">:01</time>
        <time datetime="2022-12-19T02:00:00Z">:02</time>
        <time datetime="2022-12-19T03:00:00Z">:03</time>
        <time datetime="2022-12-19T04:00:00Z">:04</time>
        <time datetime="2022-12-19T05:00:00Z">:05</time>
        <time datetime="2022-12-19T06:00:00Z">:06</time>
        <time datetime="2022-12-19T07:00:00Z">:07</time>
        <time datetime="2022-12-19T08:00:00Z">:08</time>
        <time datetime="2022-12-19T09:00:00Z">:09</time>
        <time datetime="2022-12-19T10:00:00Z">:10</time>
        <time datetime="2022-12-19T11:00:00Z">:11</time>
        <time datetime="2022-12-19T12:00:00Z">:12</time>
        <time datetime="2022-12-19T13:00:00Z">:13</time>
        <time datetime="2022-12-19T14:00:00Z">:14</time>
      </li>
      <li>
        <b>this hour (18 UTC)</b>
        <time datetime="2022-12-19T14:00:00Z">:00</time>
        <time datetime="2022-12-19T14:01:00Z">:01</time>
        <time datetime="2022-12-19T14:02:00Z">:02</time>
        <time datetime="2022-12-19T14:03:00Z">:03</time>
        <time datetime="2022-12-19T14:04:00Z">:04</time>
        <time datetime="2022-12-19T14:05:00Z">:05</time>
        <time datetime="2022-12-19T14:06:00Z">:06</time>
        <time datetime="2022-12-19T14:07:00Z">:07</time>
        <time datetime="2022-12-19T14:08:00Z">:08</time>
        <time datetime="2022-12-19T14:09:00Z">:09</time>
        <time datetime="2022-12-19T14:10:00Z">:10</time>
        <time datetime="2022-12-19T14:11:00Z">:11</time>
        <time datetime="2022-12-19T14:12:00Z">:12</time>
        <time datetime="2022-12-19T14:13:00Z">:13</time>
        <time datetime="2022-12-19T14:14:00Z">:14</time>
        <time datetime="2022-12-19T14:15:00Z">:15</time>
        <time datetime="2022-12-19T14:16:00Z">:16</time>
        <time datetime="2022-12-19T14:17:00Z">:17</time>
        <time datetime="2022-12-19T14:18:00Z">:18</time>
        <time datetime="2022-12-19T14:19:00Z">:19</time>
        <time datetime="2022-12-19T14:20:00Z">:20</time>
      </li>
      <li>
        <b>this minute (08)</b>
        <time datetime="2022-12-19T14:20:00Z">:00</time>
        <time datetime="2022-12-19T14:20:01Z">:01</time>
        <time datetime="2022-12-19T14:20:02Z">:02</time>
        <time datetime="2022-12-19T14:20:03Z">:03</time>
        <time datetime="2022-12-19T14:20:04Z">:04</time>
        <time datetime="2022-12-19T14:20:05Z">:05</time>
        <time datetime="2022-12-19T14:20:06Z">:06</time>
      </li>
      <li><b>this second</b></li>
      <li><b>this instant (now)</b></li>
      <li><b>the near future</b></li>
      <li><b>the distant future</b></li>
    </ol>
  </figure>
  <figure>
    <figcaption>style changes to avoid labeling conflict</figcaption>
    <ol class="log-timeline log-timeline--bookshelf">
      <li><b>Universe (cosmic time)</b></li>
      <li><b>Earth (geologic time)</b></li>
      <li><b>Life (biological? Cambrian? time)</b></li>
      <li><b>Humans (paleo?/holocene? time)</b></li>
      <li>
        <b>History (recorded time)</b>
        <time datetime="-11">ummmm</time>
      </li>
      <li>
        <b>this Millennium (2000 CE)</b>
        <!-- are the ISO's off by one? -->
        <time datetime="11">11c</time>
        <time datetime="12">12c</time>
        <time datetime="13">13c</time>
        <time datetime="14">14c</time>
        <time datetime="15">15c</time>
        <time datetime="16">16c</time>
        <time datetime="17">17c</time>
        <time datetime="18">18c</time>
        <time datetime="19">19c</time>
      </li>
      <li>
        <b>this Century (2000 CE)</b>
        <time datetime="2000/2009">2000's</time>
        <time datetime="2020/2019">2010's</time>
        <time datetime="2020/2029">2020's</time>
      </li>
      <li>
        <b>this Decade (2020)</b>
        <time datetime="2020">2020</time>
        <time datetime="2021">2021</time>
        <time datetime="2022">2022</time>
      </li>
      <li>
        <b>this Year (2022)</b>
        <time datetime="2022-01-01T00:00:00Z">Jan</time>
        <time datetime="2022-02-01T00:00:00Z">Feb</time>
        <time datetime="2022-03-01T00:00:00Z">Mar</time>
        <time datetime="2022-04-01T00:00:00Z">Apr</time>
        <time datetime="2022-05-01T00:00:00Z">May</time>
        <time datetime="2022-06-01T00:00:00Z">Jun</time>
        <time datetime="2022-07-01T00:00:00Z">Jul</time>
        <time datetime="2022-08-01T00:00:00Z">Aug</time>
        <time datetime="2022-09-01T00:00:00Z">Sep</time>
        <time datetime="2022-10-01T00:00:00Z">Oct</time>
        <time datetime="2022-11-01T00:00:00Z">Nov</time>
        <time datetime="2022-12-01T00:00:00Z">Dec</time>
      </li>
      <li>
        <b>this Month (December)</b>
        <time datetime="2022-12-01T00:00:00Z">01</time>
        <time datetime="2022-12-02T00:00:00Z">02</time>
        <time datetime="2022-12-03T00:00:00Z">03</time>
        <time datetime="2022-12-04T00:00:00Z">04</time>
        <time datetime="2022-12-05T00:00:00Z">05</time>
        <time datetime="2022-12-06T00:00:00Z">06</time>
        <time datetime="2022-12-07T00:00:00Z">07</time>
        <time datetime="2022-12-08T00:00:00Z">08</time>
        <time datetime="2022-12-09T00:00:00Z">09</time>
        <time datetime="2022-12-10T00:00:00Z">10</time>
        <time datetime="2022-12-11T00:00:00Z">11</time>
        <time datetime="2022-12-12T00:00:00Z">12</time>
        <time datetime="2022-12-13T00:00:00Z">13</time>
        <time datetime="2022-12-14T00:00:00Z">14</time>
        <time datetime="2022-12-15T00:00:00Z">15</time>
        <time datetime="2022-12-16T00:00:00Z">16</time>
        <time datetime="2022-12-17T00:00:00Z">17</time>
        <time datetime="2022-12-18T00:00:00Z">18</time>
        <time datetime="2022-12-19T00:00:00Z">19</time>
      </li>
      <li>
        <b>this Week (18<sup>th</sup>)</b>
        <time datetime="2022-12-18T00:00:00Z">Sunday</time>
        <time datetime="2022-12-19T00:00:00Z">Monday</time>
      </li>
      <li>
        <b>today (Monday 19<sup>th</sup>)</b>
        <time datetime="2022-12-19T00:00:00Z">:00</time>
        <time datetime="2022-12-19T01:00:00Z">:01</time>
        <time datetime="2022-12-19T02:00:00Z">:02</time>
        <time datetime="2022-12-19T03:00:00Z">:03</time>
        <time datetime="2022-12-19T04:00:00Z">:04</time>
        <time datetime="2022-12-19T05:00:00Z">:05</time>
        <time datetime="2022-12-19T06:00:00Z">:06</time>
        <time datetime="2022-12-19T07:00:00Z">:07</time>
        <time datetime="2022-12-19T08:00:00Z">:08</time>
        <time datetime="2022-12-19T09:00:00Z">:09</time>
        <time datetime="2022-12-19T10:00:00Z">:10</time>
        <time datetime="2022-12-19T11:00:00Z">:11</time>
        <time datetime="2022-12-19T12:00:00Z">:12</time>
        <time datetime="2022-12-19T13:00:00Z">:13</time>
        <time datetime="2022-12-19T14:00:00Z">:14</time>
      </li>
      <li>
        <b>this hour (18 UTC)</b>
        <time datetime="2022-12-19T14:00:00Z">:00</time>
        <time datetime="2022-12-19T14:01:00Z">:01</time>
        <time datetime="2022-12-19T14:02:00Z">:02</time>
        <time datetime="2022-12-19T14:03:00Z">:03</time>
        <time datetime="2022-12-19T14:04:00Z">:04</time>
        <time datetime="2022-12-19T14:05:00Z">:05</time>
        <time datetime="2022-12-19T14:06:00Z">:06</time>
        <time datetime="2022-12-19T14:07:00Z">:07</time>
        <time datetime="2022-12-19T14:08:00Z">:08</time>
        <time datetime="2022-12-19T14:09:00Z">:09</time>
        <time datetime="2022-12-19T14:10:00Z">:10</time>
        <time datetime="2022-12-19T14:11:00Z">:11</time>
        <time datetime="2022-12-19T14:12:00Z">:12</time>
        <time datetime="2022-12-19T14:13:00Z">:13</time>
        <time datetime="2022-12-19T14:14:00Z">:14</time>
        <time datetime="2022-12-19T14:15:00Z">:15</time>
        <time datetime="2022-12-19T14:16:00Z">:16</time>
        <time datetime="2022-12-19T14:17:00Z">:17</time>
        <time datetime="2022-12-19T14:18:00Z">:18</time>
        <time datetime="2022-12-19T14:19:00Z">:19</time>
        <time datetime="2022-12-19T14:20:00Z">:20</time>
      </li>
      <li>
        <b>this minute (08)</b>
        <time datetime="2022-12-19T14:20:00Z">:00</time>
        <time datetime="2022-12-19T14:20:01Z">:01</time>
        <time datetime="2022-12-19T14:20:02Z">:02</time>
        <time datetime="2022-12-19T14:20:03Z">:03</time>
        <time datetime="2022-12-19T14:20:04Z">:04</time>
        <time datetime="2022-12-19T14:20:05Z">:05</time>
        <time datetime="2022-12-19T14:20:06Z">:06</time>
      </li>
      <li><b>this second</b></li>
      <li><b>this instant (now)</b></li>
      <li><b>the near future</b></li>
      <li><b>the distant future</b></li>
    </ol>
  </figure>
  <p>So that's what it looks like flat.</p>
  <section>
    <h1>nested</h1>
    <figure>
      <figcaption>Nested logarithmic timelines</figcaption>
      <!-- prettier-ignore -->
      <div class="log-timeline log-timeline--nested">
          <div>
            <b>Universe (cosmic time)</b>
            <div>
              <b>Earth (geologic time)</b>
              <div>
                <b>Life (biological? Cambrian? time)</b>
                <div>
                  <b>Humans (paleo?/holocene? time)</b>
                  <div>
                    <b>History (recorded time)</b>
                    <div>
                      <b>this Millennium (2000 CE)</b>
                      <div>
                        <b>this Century (2000 CE)</b>
                        <div>
                          <b>this Decade (2020)</b>
                          <div>
                            <b>this Year (2022)</b>
                            <div>
                              <b>this Month (December)</b>
                              <div>
                                <b>this Week (18<sup>th</sup>)</b>
                                <div>
                                  <b>today (Monday 19<sup>th</sup>)</b>
                                  <div>
                                    <b>this hour (18 UTC)</b>
                                    <div>
                                      <b>this minute (08)</b>
                                      <div>
                                        <b>this second</b>
                                        <div>
                                          <b>this instant (now)</b>
                                          <div>
                                            <b>the near future</b>
                                            <div><b>the distant future</b></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- prettier-ignore -->
      <div class="log-timeline log-timeline--nested">
          <div>
            <b>Universe (cosmic time)</b>
            <div>
              <b>Earth (geologic time)</b>
              <div>
                <b>Life (biological? Cambrian? time)</b>
                <div>
                  <b>Humans (paleo?/holocene? time)</b>
                  <div>
                    <b>History (recorded time)</b>
                    <div>
                      <b>past Millennium (1***)</b>
            <time datetime="10">11<sup>th</sup>c</time>
            <time datetime="11">12<sup>th</sup>c</time>
            <time datetime="12">13<sup>th</sup>c</time>
            <time datetime="13">14<sup>th</sup>c</time>
            <time datetime="14">15<sup>th</sup>c</time>
            <time datetime="15">16<sup>th</sup>c</time>
            <time datetime="16">17<sup>th</sup>c</time>
            <time datetime="17">18<sup>th</sup>c</time>
            <time datetime="18">19<sup>th</sup>c</time>
            <time datetime="19">20<sup>th</sup>c</time>
                    </div>
                    <div>
                      <b>this Millennium (2000 CE)</b>
            <time datetime="20">21<sup>st</sup>c</time>
                      <div>
                        <b>this Century (2000 CE)</b>
            <time datetime="2000/2009">2000's</time>
            <time datetime="2020/2019">2010's</time>
            <time datetime="2020/2029">2020's</time>
                        <div>
                          <b>this Decade (2020)</b>
            <time datetime="2020">2020</time>
            <time datetime="2021">2021</time>
            <time datetime="2022">2022</time>
                          <div>
                            <b>this Year (2022)</b>
            <time datetime="2022-01-01T00:00:00Z">Jan</time>
            <time datetime="2022-02-01T00:00:00Z">Feb</time>
            <time datetime="2022-03-01T00:00:00Z">Mar</time>
            <time datetime="2022-04-01T00:00:00Z">Apr</time>
            <time datetime="2022-05-01T00:00:00Z">May</time>
            <time datetime="2022-06-01T00:00:00Z">Jun</time>
            <time datetime="2022-07-01T00:00:00Z">Jul</time>
            <time datetime="2022-08-01T00:00:00Z">Aug</time>
            <time datetime="2022-09-01T00:00:00Z">Sep</time>
            <time datetime="2022-10-01T00:00:00Z">Oct</time>
            <time datetime="2022-11-01T00:00:00Z">Nov</time>
            <time datetime="2022-12-01T00:00:00Z">Dec</time>
                            <div>
                              <b>this Month (December)</b>
            <time datetime="2022-12-01T00:00:00Z">01</time>
            <time datetime="2022-12-02T00:00:00Z">02</time>
            <time datetime="2022-12-03T00:00:00Z">03</time>
            <time datetime="2022-12-04T00:00:00Z">04</time>
            <time datetime="2022-12-05T00:00:00Z">05</time>
            <time datetime="2022-12-06T00:00:00Z">06</time>
            <time datetime="2022-12-07T00:00:00Z">07</time>
            <time datetime="2022-12-08T00:00:00Z">08</time>
            <time datetime="2022-12-09T00:00:00Z">09</time>
            <time datetime="2022-12-10T00:00:00Z">10</time>
            <time datetime="2022-12-11T00:00:00Z">11</time>
            <time datetime="2022-12-12T00:00:00Z">12</time>
            <time datetime="2022-12-13T00:00:00Z">13</time>
            <time datetime="2022-12-14T00:00:00Z">14</time>
            <time datetime="2022-12-15T00:00:00Z">15</time>
            <time datetime="2022-12-16T00:00:00Z">16</time>
            <time datetime="2022-12-17T00:00:00Z">17</time>
            <time datetime="2022-12-18T00:00:00Z">18</time>
            <time datetime="2022-12-19T00:00:00Z">19</time>
                              <div>
                                <b>this Week (18<sup>th</sup>)</b>
            <time datetime="2022-12-18T00:00:00Z">Sunday</time>
            <time datetime="2022-12-19T00:00:00Z">Monday</time>
                                <div>
                                  <b>today (Monday 19<sup>th</sup>)</b>
            <time datetime="2022-12-19T00:00:00Z">:00</time>
            <time datetime="2022-12-19T01:00:00Z">:01</time>
            <time datetime="2022-12-19T02:00:00Z">:02</time>
            <time datetime="2022-12-19T03:00:00Z">:03</time>
            <time datetime="2022-12-19T04:00:00Z">:04</time>
            <time datetime="2022-12-19T05:00:00Z">:05</time>
            <time datetime="2022-12-19T06:00:00Z">:06</time>
            <time datetime="2022-12-19T07:00:00Z">:07</time>
            <time datetime="2022-12-19T08:00:00Z">:08</time>
            <time datetime="2022-12-19T09:00:00Z">:09</time>
            <time datetime="2022-12-19T10:00:00Z">:10</time>
            <time datetime="2022-12-19T11:00:00Z">:11</time>
            <time datetime="2022-12-19T12:00:00Z">:12</time>
            <time datetime="2022-12-19T13:00:00Z">:13</time>
            <time datetime="2022-12-19T14:00:00Z">:14</time>
                                  <div>
                                    <b>this hour (18 UTC)</b>
            <time datetime="2022-12-19T14:00:00Z">:00</time>
            <time datetime="2022-12-19T14:01:00Z">:01</time>
            <time datetime="2022-12-19T14:02:00Z">:02</time>
            <time datetime="2022-12-19T14:03:00Z">:03</time>
            <time datetime="2022-12-19T14:04:00Z">:04</time>
            <time datetime="2022-12-19T14:05:00Z">:05</time>
            <time datetime="2022-12-19T14:06:00Z">:06</time>
            <time datetime="2022-12-19T14:07:00Z">:07</time>
            <time datetime="2022-12-19T14:08:00Z">:08</time>
            <time datetime="2022-12-19T14:09:00Z">:09</time>
            <time datetime="2022-12-19T14:10:00Z">:10</time>
            <time datetime="2022-12-19T14:11:00Z">:11</time>
            <time datetime="2022-12-19T14:12:00Z">:12</time>
            <time datetime="2022-12-19T14:13:00Z">:13</time>
            <time datetime="2022-12-19T14:14:00Z">:14</time>
            <time datetime="2022-12-19T14:15:00Z">:15</time>
            <time datetime="2022-12-19T14:16:00Z">:16</time>
            <time datetime="2022-12-19T14:17:00Z">:17</time>
            <time datetime="2022-12-19T14:18:00Z">:18</time>
            <time datetime="2022-12-19T14:19:00Z">:19</time>
            <time datetime="2022-12-19T14:20:00Z">:20</time>
                                    <div>
                                      <b>this minute (08)</b>
            <time datetime="2022-12-19T14:20:00Z">:00</time>
            <time datetime="2022-12-19T14:20:01Z">:01</time>
            <time datetime="2022-12-19T14:20:02Z">:02</time>
            <time datetime="2022-12-19T14:20:03Z">:03</time>
            <time datetime="2022-12-19T14:20:04Z">:04</time>
            <time datetime="2022-12-19T14:20:05Z">:05</time>
            <time datetime="2022-12-19T14:20:06Z">:06</time>
                                      <div>
                                        <b>this second</b>
                                        <div>
                                          <b>this instant (now)</b>
                                          <div>
                                            <b>the near future</b>
                                            <div><b>the distant future</b></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </figure>
    <p>
      Let's get a better look at that structure, and flesh it out a bit more:
    </p>
    <figure>
      <figcaption>Nested timeline with visible structure</figcaption>
      <!-- prettier-ignore -->
      <div class="log-timeline log-timeline--nested-structure">
          <div>
            <b>Universe (cosmic time)</b>
            <div>
              <b>Earth (geologic time)</b>
              <div>
                <b>Life (biological? Cambrian? time)</b>
                <div>
                  <b>Humans (paleo?/holocene? time)</b>
                  <div>
                    <b>History (recorded time)</b>
                    <div>
                      <b>past Millennium (1***)</b>
            <time datetime="10">11<sup>th</sup>c</time>
            <time datetime="11">12<sup>th</sup>c</time>
            <time datetime="12">13<sup>th</sup>c</time>
            <time datetime="13">14<sup>th</sup>c</time>
            <time datetime="14">15<sup>th</sup>c</time>
            <time datetime="15">16<sup>th</sup>c</time>
            <time datetime="16">17<sup>th</sup>c</time>
            <time datetime="17">18<sup>th</sup>c</time>
            <time datetime="18">19<sup>th</sup>c</time>
            <time datetime="19">20<sup>th</sup>c</time>
                    </div>
                    <div>
                      <b>this Millennium (2000–2999)</b>
            <time datetime="20">21<sup>st</sup>c</time>
                      <div>
                        <b>the 20<sup>th</sup> century (1900–2000)</b>
            <time datetime="190">1900’s</time>
            <time datetime="191">1910’s</time>
            <time datetime="192">1920’s</time>
            <time datetime="193">1930’s</time>
            <time datetime="194">1940’s</time>
            <time datetime="195">1950’s</time>
            <time datetime="196">1960’s</time>
            <time datetime="197">1970’s</time>
            <time datetime="198">1980’s</time>
            <time datetime="199">1990’s</time>
                      </div>
                      <div>
                      
                        <b>this Century (2000–2099)</b>
            <time datetime="2000/2009">2000's</time>
            <time datetime="2020/2019">2010's</time>
            <time datetime="2020/2029">2020's</time>
                        <div>
                          <b>this Decade (2020–2029)</b>
            <time datetime="2020">2020</time>
                          <div>
                            <b>two years ago (2020)</b>
            <time datetime="2020">2020</time>
                          </div>
                          <div>
                            <b>last Year (2021)</b>
            <time datetime="2021">2021</time>
                          </div>
                          <div>
                            <b>this Year (2022)</b>
            <time datetime="2022-01-01T00:00:00Z">Jan</time>
            <time datetime="2022-02-01T00:00:00Z">Feb</time>
            <time datetime="2022-03-01T00:00:00Z">Mar</time>
            <time datetime="2022-04-01T00:00:00Z">Apr</time>
            <time datetime="2022-05-01T00:00:00Z">May</time>
            <time datetime="2022-06-01T00:00:00Z">Jun</time>
            <time datetime="2022-07-01T00:00:00Z">Jul</time>
            <time datetime="2022-08-01T00:00:00Z">Aug</time>
            <time datetime="2022-09-01T00:00:00Z">Sep</time>
            <time datetime="2022-10-01T00:00:00Z">Oct</time>
            <time datetime="2022-11-01T00:00:00Z">Nov</time>
            <time datetime="2022-12-01T00:00:00Z">Dec</time>
                            <div>
                              <b>this Month (December)</b>
                              <b>earlier this Month (December)</b>
            <time datetime="2022-12-01T00:00:00Z">01</time>
            <time datetime="2022-12-02T00:00:00Z">02</time>
            <time datetime="2022-12-03T00:00:00Z">03</time>
            <time datetime="2022-12-04T00:00:00Z">04</time>
            <time datetime="2022-12-05T00:00:00Z">05</time>
            <time datetime="2022-12-06T00:00:00Z">06</time>
            <time datetime="2022-12-07T00:00:00Z">07</time>
            <time datetime="2022-12-08T00:00:00Z">08</time>
            <time datetime="2022-12-09T00:00:00Z">09</time>
            <time datetime="2022-12-10T00:00:00Z">10</time>
            <time datetime="2022-12-11T00:00:00Z">11</time>
            <time datetime="2022-12-12T00:00:00Z">12</time>
            <time datetime="2022-12-13T00:00:00Z">13</time>
            <time datetime="2022-12-14T00:00:00Z">14</time>
            <time datetime="2022-12-15T00:00:00Z">15</time>
            <time datetime="2022-12-16T00:00:00Z">16</time>
            <time datetime="2022-12-17T00:00:00Z">17</time>
            <time datetime="2022-12-18T00:00:00Z">18</time>
                                <div>
                                  <b>yesterday (Sunday 18<sup>th</sup>)</b>
                                  <time datetime="2022-12-18T00:00:00Z">18</time>
                                </div>
                              <div>
                                <b>this Week (18<sup>th</sup>)</b>
            <time datetime="2022-12-18T00:00:00Z">Sunday</time>
            <time datetime="2022-12-19T00:00:00Z">Monday</time>
                                <b>later this week</b>
                              </div>
                                <div>
                                  <b>today (Monday 19<sup>th</sup>)</b>
                                  <b>earlier today</b>
            <time datetime="2022-12-19T00:00:00Z">:00</time>
            <time datetime="2022-12-19T01:00:00Z">:01</time>
            <time datetime="2022-12-19T02:00:00Z">:02</time>
            <time datetime="2022-12-19T03:00:00Z">:03</time>
            <time datetime="2022-12-19T04:00:00Z">:04</time>
            <time datetime="2022-12-19T05:00:00Z">:05</time>
            <time datetime="2022-12-19T06:00:00Z">:06</time>
            <time datetime="2022-12-19T07:00:00Z">:07</time>
            <time datetime="2022-12-19T08:00:00Z">:08</time>
            <time datetime="2022-12-19T09:00:00Z">:09</time>
            <time datetime="2022-12-19T10:00:00Z">:10</time>
            <time datetime="2022-12-19T11:00:00Z">:11</time>
            <time datetime="2022-12-19T12:00:00Z">:12</time>
            <time datetime="2022-12-19T13:00:00Z">:13</time>
            <time datetime="2022-12-19T14:00:00Z">:14</time>
                                  <div>
                                    <b>this hour (18 UTC)</b>
            <time datetime="2022-12-19T14:00:00Z">:00</time>
            <time datetime="2022-12-19T14:01:00Z">:01</time>
            <time datetime="2022-12-19T14:02:00Z">:02</time>
            <time datetime="2022-12-19T14:03:00Z">:03</time>
            <time datetime="2022-12-19T14:04:00Z">:04</time>
            <time datetime="2022-12-19T14:05:00Z">:05</time>
            <time datetime="2022-12-19T14:06:00Z">:06</time>
            <time datetime="2022-12-19T14:07:00Z">:07</time>
            <time datetime="2022-12-19T14:08:00Z">:08</time>
            <time datetime="2022-12-19T14:09:00Z">:09</time>
            <time datetime="2022-12-19T14:10:00Z">:10</time>
            <time datetime="2022-12-19T14:11:00Z">:11</time>
            <time datetime="2022-12-19T14:12:00Z">:12</time>
            <time datetime="2022-12-19T14:13:00Z">:13</time>
            <time datetime="2022-12-19T14:14:00Z">:14</time>
            <time datetime="2022-12-19T14:15:00Z">:15</time>
            <time datetime="2022-12-19T14:16:00Z">:16</time>
            <time datetime="2022-12-19T14:17:00Z">:17</time>
            <time datetime="2022-12-19T14:18:00Z">:18</time>
            <time datetime="2022-12-19T14:19:00Z">:19</time>
            <time datetime="2022-12-19T14:20:00Z">:20</time>
                                    <div>
                                      <b>this minute (08)</b>
            <time datetime="2022-12-19T14:20:00Z">:00</time>
            <time datetime="2022-12-19T14:20:01Z">:01</time>
            <time datetime="2022-12-19T14:20:02Z">:02</time>
            <time datetime="2022-12-19T14:20:03Z">:03</time>
            <time datetime="2022-12-19T14:20:04Z">:04</time>
            <time datetime="2022-12-19T14:20:05Z">:05</time>
            <time datetime="2022-12-19T14:20:06Z">:06</time>
                                      <div>
                                        <b>this second</b>
                                        <b><time>this instant (now)</time></b>
                                        <b>the immediate future</b>
                                      </div>
                                    </div>
                                    <b>later this hour</b>
                                  </div>
                                  <b>later today</b>
            <time datetime="2022-12-19T07:00:00Z">07<sup>00</sup></time>
            <time datetime="2022-12-19T08:00:00Z">08<sup>00</sup></time>
            <time datetime="2022-12-19T09:00:00Z">09<sup>00</sup></time>
            <time datetime="2022-12-19T10:00:00Z">10<sup>00</sup></time>
            <time datetime="2022-12-11T11:00:00Z">11<sup>00</sup></time>
            <time datetime="2022-12-12T12:00:00Z">12<sup>00</sup></time>
            <time datetime="2022-12-13T12:00:00Z">13<sup>00</sup></time>
            <time datetime="2022-12-14T12:00:00Z">14<sup>00</sup></time>
            <time datetime="2022-12-15T12:00:00Z">15<sup>00</sup></time>
            <time datetime="2022-12-16T12:00:00Z">16<sup>00</sup></time>
            <time datetime="2022-12-17T12:00:00Z">17<sup>00</sup></time>
            <time datetime="2022-12-18T12:00:00Z">18<sup>00</sup></time>
            <time datetime="2022-12-19T12:00:00Z">19<sup>00</sup></time>
            <time datetime="2022-12-20T12:00:00Z">20<sup>00</sup></time>
            <time datetime="2022-12-21T12:00:00Z">21<sup>00</sup></time>
            <time datetime="2022-12-22T12:00:00Z">22<sup>00</sup></time>
            <time datetime="2022-12-23T12:00:00Z">23<sup>00</sup></time>
                                </div>
                              <b>later this month</b>
            <time datetime="2022-12-23">23<sup>rd</sup></time>
            <time datetime="2022-12-24">24<sup>th</sup></time>
            <time datetime="2022-12-25">25<sup>th</sup></time>
            <time datetime="2022-12-26">26<sup>th</sup></time>
            <time datetime="2022-12-27">27<sup>th</sup></time>
            <time datetime="2022-12-28">28<sup>th</sup></time>
            <time datetime="2022-12-29">29<sup>th</sup></time>
            <time datetime="2022-12-30">30<sup>th</sup></time>
            <time datetime="2022-12-31">31<sup>st</sup></time>
                            </div>
                            <div>
                              <b>next month (January)</b>
                            </div>
                            <b>next year (2023)...</b>
                          </div>
                          <b>next decade (2030’s)...</b>
                        </div>
                        <b>next century (2100)...</b>
                      </div>
                      <b>next millenium (3000)...</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </figure>
    <p>
      Whatever else you can say about it, this doesn't give any sense of place
      or time.
    </p>
    <p>
      The more explore it, the more wrong it seems. Back to the "spanning"
      objection. You don't need to appeal to things
      <em>changing levels</em>, only to say that something can start in one
      section and end in another. Even if those two “containers” are in the same
      scale, we can't have one thing cross over them.
    </p>
    <aside>
      <p>
        But, the presumption is that each box in the timeline has items and
        child containers. Anything that wants to be a range already has to have
        a start and end at the same level. Just put the element there. It's not
        going to change levels. The only thing this would interfere with would
        be moving (either end of) it to a sibling container. For historical
        events this isn't going to happen in normal usage, but for other domains
        (like planning) it could.
      </p>
    </aside>
    <p>
      It also complicates the idea of a “drop zone” where you can put things
      into a timeline directly.
    </p>
    <p>
      I don't know that the nesting is necessarily wrong for representing
      <q>the periods themselves,</q> but for the content of the timeline. The
      question then is, do you use the containers to govern placement of things
      in the flat area? If so, how?
    </p>
    <p>
      Now, there are cases where we want to say something “at a different
      level.” That is, we want to say it about the 12th century, and we don't
      have a more specific date.
    </p>
    <section>
      <h1>past <em>versus</em> future dominates scale distinctions</h1>
      <p>
        This highlights another interesting design question for a
        general-purpose timeline: how much space to waste on the future. Beyond
        a seven-day weather forecast and a few meetings on people's calendars,
        we know nearly nothing about the future, even compared to “equally near”
        periods of the past.
      </p>
      <p>
        The logarithmic property still applies, but more dimly. Things further
        into the future are “harder to predict.” But, for the kind of material
        in this knowledge base (historical events), they are effectively
        unpredictable at any scale.
      </p>
      <p>
        In terms of historical events, we know nothing at all with what a
        scientist would call certainty, even about next week. You who are
        reading this now, could put it down and go change people's most basic
        assumptions about society. That's how it's usually done, anyhow.
      </p>
      <p>
        The little bit that we <em>can</em> say about the coming decades comes
        in the form of dire warnings about the sustainability of life as we know
        it. So there's that.
      </p>
      <aside>
        <p>
          I mean, time is weird when you think about it. The difference between
          the past and the future is the most implacable one we can imagine. The
          past and the future <strong>will not</strong> change places. Yet they
          are constantly changing places. The conversion of the future to the
          past is kind of time's thing.
        </p>
      </aside>
    </section>
    <p>
      Another observation about nesting in practice, is that “living memory”
      crosses over basically all of the hierarchical boundaries. That is, living
      memory extends well into the previous millennium.
    </p>
    <p>
      Another way to put it is that, although the "century" and "millennium"
      groupings are useful for remote periods, they are a bit of an encumberance
      around the year 2000, where we to jump this high fence on what feels like
      it should be a continuous road. The reality is that, nothing really
      changed.
    </p>
  </section>
  <section>
    <h1>a live timeline is also a clock</h1>
    <p>
      I don't like the idea of all things being in structures. The only thing
      necessary to move a “now” pointer, or any other pointer, should be to set
      a property.
    </p>
    <aside>
      <p>
        There are technical problems with where this is going, too. See
        <a href="./timeline.html">timeline</a>
      </p>
    </aside>
  </section>
  <section>
    <p>
      Historical time is different than the others. I don't think that
      <em>dynamic</em> graphical timelines will be of much use for the
      larger-scale periods. I could be wrong, but I don't think there would be
      many details to explore for a general audience. Maybe specific results
      from carbon-dating &amp; ice analysis &amp; things like that.
    </p>
    <p>
      After all, I have to come back to the simpler, hierarchical markers.
      Whether they should be nested is an interesting question. It really
      depends on what should drive the allocation of space: the CSS layout, or a
      userland algorithm.
    </p>
    <p>
      The requirement of the ruler is to allocate space along its children, so
      that they completey partition it along one axis. This can be done evenly,
      or according to some rule.
    </p>
    <p>
      This might seem like a good fit for flexbox. Of course, you're your own
      when it comes to fitting content, since you have to make everything
      overflow.
    </p>
    <figure>
      <figcaption>Attempt at a flexbox-based history ruler</figcaption>
      <!-- prettier-ignore -->
      <div>
            <b>Universe</b>
            <div>
              <b>&gt; Earth</b>
              <div>
                <b>&gt; Life</b>
                <div>
                  <b>&gt; Humans</b>
                  <div>
                    <b>&gt; History</b>
                    <div class="time-ruler--flex">
                    <div class="narrower">
                      <section>
                        <time>first millennium (0001–1000)</time>
                        <div class="narrower">
                          <section><time datetime="00">1<sup>st</sup>c</time></section>
                          <section><time datetime="01">2<sup>th</sup>c</time></section>
                          <section><time datetime="02">3<sup>th</sup>c</time></section>
                          <section><time datetime="03">4<sup>th</sup>c</time></section>
                          <section><time datetime="04">5<sup>th</sup>c</time></section>
                          <section><time datetime="05">6<sup>th</sup>c</time></section>
                          <section><time datetime="06">7<sup>th</sup>c</time></section>
                          <section><time datetime="07">8<sup>th</sup>c</time></section>
                          <section><time datetime="08">9<sup>th</sup>c</time></section>
                          <section><time datetime="09">10<sup>th</sup>c</time></section>
                        </div>
                      </section>
                      <section>
                        <time>second millennium (1001–2000)</time>
                        <div class="narrower">
                          <section><time datetime="10">11<sup>th</sup>c</time></section>
                          <section><time datetime="11">12<sup>th</sup>c</time></section>
                          <section><time datetime="12">13<sup>th</sup>c</time></section>
                          <section><time datetime="13">14<sup>th</sup>c</time></section>
                          <section><time datetime="14">15<sup>th</sup>c</time></section>
                          <section><time datetime="15">16<sup>th</sup>c</time></section>
                          <section><time datetime="16">17<sup>th</sup>c</time></section>
                          <section><time datetime="17">18<sup>th</sup>c</time></section>
                          <section><time datetime="18">19<sup>th</sup>c</time></section>
                          <section>
                            <time datetime="19">20<sup>th</sup>c</time>
                            <time datetime="19">the 20<sup>th</sup> century (1900–2000)</time>
                            <div class="narrower">
                              <section><time datetime="190">1900’s</time></section>
                              <section><time datetime="191">1910’s</time></section>
                              <section><time datetime="192">1920’s</time></section>
                              <section><time datetime="193">1930’s</time></section>
                              <section><time datetime="194">1940’s</time></section>
                              <section><time datetime="195">1950’s</time></section>
                              <section><time datetime="196">1960’s</time></section>
                              <section><time datetime="197">1970’s</time></section>
                              <section><time datetime="198">1980’s</time></section>
                              <section><time datetime="199">1990’s</time></section>
                            </div>
                          </section>
                        </div>
                      </section>
                      <section>
                        <time>third millennium (2001–3000)</time>
                        <div class="narrower">
                        <section>
                          <time>21<sup>st</sup> century (2000–2099)</time>
                          <div class="narrower">
                            <section><time datetime="2000/2009">2000's</time></section>
                            <section><time datetime="2020/2019">2010's</time></section>
                          <section>
                            <time datetime="2020/2029">2020's</time>
                            <time datetime="2020/2029">2020’s (2020–2029)</time>
                            <div class="narrower">
                              <section><time datetime="2020">2020</time></section>
                              <section><time datetime="2021">2021</time></section>
                              <section>
                                <time datetime="2022">2022</time>
                                <div class="narrower">
                                  <section><time datetime="2022-01-01T00:00:00Z">Jan</time></section>
                                  <section><time datetime="2022-02-01T00:00:00Z">Feb</time></section>
                                  <section><time datetime="2022-03-01T00:00:00Z">Mar</time></section>
                                  <section><time datetime="2022-04-01T00:00:00Z">Apr</time></section>
                                  <section><time datetime="2022-05-01T00:00:00Z">May</time></section>
                                  <section><time datetime="2022-06-01T00:00:00Z">Jun</time></section>
                                  <section><time datetime="2022-07-01T00:00:00Z">Jul</time></section>
                                  <section><time datetime="2022-08-01T00:00:00Z">Aug</time></section>
                                  <section><time datetime="2022-09-01T00:00:00Z">Sep</time></section>
                                  <section><time datetime="2022-10-01T00:00:00Z">Oct</time></section>
                                  <section><time datetime="2022-11-01T00:00:00Z">Nov</time></section>
                                  <section>
                                    <time datetime="2022-12">Dec</time>
                                    <time datetime="2022-12">December 2022</time>
                                    <div class="narrower">
                                      <section><time datetime="2022-12-01T00:00:00Z">01</time></section>
                                      <section><time datetime="2022-12-02T00:00:00Z">02</time></section>
                                      <section><time datetime="2022-12-03T00:00:00Z">03</time></section>
                                      <section><time datetime="2022-12-04T00:00:00Z">04</time></section>
                                      <section><time datetime="2022-12-05T00:00:00Z">05</time></section>
                                      <section><time datetime="2022-12-06T00:00:00Z">06</time></section>
                                      <section><time datetime="2022-12-07T00:00:00Z">07</time></section>
                                      <section><time datetime="2022-12-08T00:00:00Z">08</time></section>
                                      <section><time datetime="2022-12-09T00:00:00Z">09</time></section>
                                      <section><time datetime="2022-12-10T00:00:00Z">10</time></section>
                                      <section><time datetime="2022-12-11T00:00:00Z">11</time></section>
                                      <section><time datetime="2022-12-12T00:00:00Z">12</time></section>
                                      <section><time datetime="2022-12-13T00:00:00Z">13</time></section>
                                      <section><time datetime="2022-12-14T00:00:00Z">14</time></section>
                                      <section><time datetime="2022-12-15T00:00:00Z">15</time></section>
                                      <section><time datetime="2022-12-16T00:00:00Z">16</time></section>
                                      <section><time datetime="2022-12-17T00:00:00Z">17</time></section>
                                      <section><time datetime="2022-12-18T00:00:00Z">18</time></section>
                                      <section>
                                        <time>Monday 19<sup>th</sup></time>
                                        <div class="narrower">
                                          <section><time datetime="2022-12-19T00:00:00Z">:00</time></section>
                                          <section><time datetime="2022-12-19T01:00:00Z">:01</time></section>
                                          <section><time datetime="2022-12-19T02:00:00Z">:02</time></section>
                                          <section><time datetime="2022-12-19T03:00:00Z">:03</time></section>
                                          <section><time datetime="2022-12-19T04:00:00Z">:04</time></section>
                                          <section><time datetime="2022-12-19T05:00:00Z">:05</time></section>
                                          <section><time datetime="2022-12-19T06:00:00Z">:06</time></section>
                                          <section><time datetime="2022-12-19T07:00:00Z">:07</time></section>
                                          <section><time datetime="2022-12-19T08:00:00Z">:08</time></section>
                                          <section><time datetime="2022-12-19T09:00:00Z">:09</time></section>
                                          <section><time datetime="2022-12-19T10:00:00Z">:10</time></section>
                                          <section><time datetime="2022-12-19T11:00:00Z">:11</time></section>
                                          <section><time datetime="2022-12-19T12:00:00Z">:12</time></section>
                                          <section><time datetime="2022-12-19T13:00:00Z">:13</time></section>
                                          <section>
                                            <time datetime="2022-12-19T14:00:00Z">:14</time>
                                            <time>hour 14 UTC</time>
                                            <div class="narrower">
                                              <!-- ISO can omit seconds and MS but must also drop Z? -->
                                              <section><time datetime="2022-12-19T14:00:00Z">:00</time></section>
                                              <section><time datetime="2022-12-19T14:01:00Z">:01</time></section>
                                              <section><time datetime="2022-12-19T14:02:00Z">:02</time></section>
                                              <section><time datetime="2022-12-19T14:03:00Z">:03</time></section>
                                              <section><time datetime="2022-12-19T14:04:00Z">:04</time></section>
                                              <section><time datetime="2022-12-19T14:05:00Z">:05</time></section>
                                              <section><time datetime="2022-12-19T14:06:00Z">:06</time></section>
                                              <section><time datetime="2022-12-19T14:07:00Z">:07</time></section>
                                              <section>
                                                <time datetime="2022-12-19T14:08:00Z">:08</time>
                                                <time datetime="2022-12-19T14:08:00Z">minute 08</time>
                                                <div class="narrower">
                                                  <section><time datetime="2022-12-19T14:20:00Z">:00</time></section>
                                                  <section><time datetime="2022-12-19T14:20:01Z">:01</time></section>
                                                  <section><time datetime="2022-12-19T14:20:02Z">:02</time></section>
                                                  <section><time datetime="2022-12-19T14:20:03Z">:03</time></section>
                                                  <section><time datetime="2022-12-19T14:20:04Z">:04</time></section>
                                                  <section><time datetime="2022-12-19T14:20:05Z">:05</time></section>
                                                  <section><time datetime="2022-12-19T14:20:06Z">:06</time></section>
                                                </div>
                                              </section>
                                              <section><time datetime="2022-12-19T14:09:00Z">:09</time></section>
                                              <section><time datetime="2022-12-19T14:10:00Z">:10</time></section>
                                              <section><time datetime="2022-12-19T14:11:00Z">:11</time></section>
                                              <section><time datetime="2022-12-19T14:12:00Z">:12</time></section>
                                              <section><time datetime="2022-12-19T14:13:00Z">:13</time></section>
                                              <section><time datetime="2022-12-19T14:14:00Z">:14</time></section>
                                              <section><time datetime="2022-12-19T14:15:00Z">:15</time></section>
                                              <section><time datetime="2022-12-19T14:16:00Z">:16</time></section>
                                              <section><time datetime="2022-12-19T14:17:00Z">:17</time></section>
                                              <section><time datetime="2022-12-19T14:18:00Z">:18</time></section>
                                              <section><time datetime="2022-12-19T14:19:00Z">:19</time></section>
                                              <section><time datetime="2022-12-19T14:20:00Z">:20</time></section>
                                            </div>
                                          </section>
                                        </div>
                                      </section>
                                    </div>
                                  </section>
                                </div>
                              </section>
                            </div>
                          </section>
                          </div>
                        </section>

                        </div>
                      </section>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </figure>
    <p>
      Hmm, okay <em>maybe</em> I'm starting to see how we could get to something
      that looks logarithmic.
    </p>
    <p>The fisheye effect is neat, though I wouldn't call it serviceable.</p>
  </section>

  <section>
    <h1>merging structures</h1>
    <p>It's less clear how you would <em>merge</em> such structures.</p>
    <p>
      Indeed, the idea that we need to merge sets of items would seem to
      militate in favor of a flat arrangement. However, if we still want to keep
      the sets structurally distinct, we are just driven to a different way of
      nesting.
    </p>
    <h1>how do you carry it?</h1>
    <p>
      Suppose that we used some structure like this as an answer to the
      question, Where should timestamped things go? Particularly a whole set of
      them. In the absesence of any other answer structuring or ordering
      directive, we might “print” the results inside such a structure.
    </p>
    <p>
      Suppose then that you wanted to give those results to someone else. The
      results themselves don't include the structure; the structure is just a
      substrate or framework for mounting them.
    </p>
    <p>
      So, do you give your friend the whole structure with the results, or just
      the results? If you give just the results, then they won't be seeing what
      you see. If you give the whole thing, well. This becomes a
      banana/gorilla/jungle thing.
    </p>
  </section>
  <footer>
    <h1>addenda</h1>
    <section>
      <h1>what do you call the next unit of time after millennium?</h1>
      <p>
        on Quora:
        <a href="https://qr.ae/prNF1o">What is 10,000 years called?</a>
      </p>
      <p>
        The answer is “No such word” on
        <a href="https://english.stackexchange.com/q/331988"
          >English Stack exchange</a
        >
        as well as the
        <a href="https://ell.stackexchange.com/q/78423">ELL exchange</a>.
      </p>
    </section>
  </footer>
</article>
