<article>
  <h1><time datetime="2023-06-20T03:13:13Z"></time>a grammar of time views</h1>
  <figure>
    <figcaption>
      <time datetime="2023-06-20T03:13:45Z"></time>sketching time display
      production rules
    </figcaption>
    <pre>
timeframe → ∅
timeframe → vantage? picture?
band → slice*
vantage → vantage? picture?
picture -> slats
survey
plot
sheet
chart
storyline
scene
scape
screen
box
card
base
board
stage
scan
canvass
glimpse
brief
view
viewfinder
points
notes
plate
stratum / block
stack
sight
    </pre>
  </figure>
  <figure>
    <figcaption>
      <time datetime="2023-06-20T03:27:28Z"></time>sketching time display
      productions
      <pre>
timeframe(1927)

timeframe(1930s)

timeframe(1927–1943)

timeframe(1927–1943)
  survey listing

timeframe(1927–1943)
  backdrop(Decade)
    segment(1930's)
  survey listing

timeframe(1927–1943)
  backdrop(Decade)
    segment(1920s)
    segment(1930s)
    segment(1940s)
  survey listing

# non-contiguous (sparse) segments
timeframe(1927–1943)
  backdrop(Decade)
    segment(1920s)
    segment(1940s)
  survey listing

timeframe(1927–1943)
  vantage(Decade)
    backdrop(Decade)
      segment(1920s)
      segment(1930s)
      segment(1940s)
  survey listing

timeframe(1927–1943)
  vantage(Millennium)
    vantage(Decade)
      backdrop(Decade)
        segment(1920s)
        segment(1930s)
        segment(1940s)
  survey listing

timeframe(1927–1943)
  vantage(Century)
  survey listing

timeframe(1927–1943)
  vantage(Millennium)
    vantage(Century)
  survey listing

timeframe(1927–1943)
  vantage(Millennium)
    backdrop(Millennium)
      segment(0001/1000)
      segment(1001/2000)
      segment(2001/3000)
    vantage(Century)
  survey listing

timeframe(19)
  vantage(Millennium)
    backdrop(Millennium)
      segment(0001/1000)
      segment(1001/2000)
      segment(2001/3000)
    vantage(Century)
      backdrop(Century)
        segment(18)
        segment(19)
        segment(20)
      # This should be scale 1, i.e. fit the timeframe
      vantage(Decade)
        backdrop(Decade)
          segment(190)
          segment(191)
          segment(192)
          segment(193)
          segment(194)
          segment(195)
          segment(196)
          segment(197)
          segment(198)
          segment(199)

      </pre>
    </figcaption>
  </figure>
</article>
