<article>
  <h1>time language</h1>
  <h2>speaking of the time</h2>
  <section id="labeling">
    <h1>labeling</h1>
    <p>or labelers</p>
    <p>
      if treated algorithmically (as is done for ACDH/ISO) labeling could be
      seen as an inverse operation to
      <a href="#recognizing">recognizing</a>
    </p>
  </section>
  <section id="recognizing">
    <h1>recognizing</h1>
    <p>get regexes from history.js</p>
    <h1>use cases</h1>
    <ul>
      <li>interpret text when <a href="./stamps.html">timestamping</a></li>
      <li>look for time phrases in narrative text and utterances</li>
    </ul>
  </section>
  <section>
    <h1>formal recognizers</h1>
    <p>I need to build a tool.</p>
    <p>It is thus: an input + a set of recognizers</p>
    <p>
      the output, or part of the output, is a list of the results of all of the
      recognizers.
    </p>
    <p>
      Probably relevant: the W3 JSON grammar format. Like, grammar for
      utterances. Intended for use with speech recognizers.
    </p>
    <p>Indeed, these inputs should afford speech.</p>
    <p>
      default interpretation of the form
      <code>form[input,output]</code> is to apply the registered recognizers and
      show their results to entered input.
    </p>
  </section>
  <section>
    <h1>Unicode symbology</h1>
    <h2>in which we collect temporal code points</h2>
    <p>Future work: this should be part of a more general Unicode tool</p>
    <p>
      See also
      <a href="https://stackoverflow.com/q/5437674"
        >What Unicode characters represent "time"? (StackOverflow link)</a
      >
    </p>
  </section>
  <article>
    <h1>time symbols</h1>
    <p>Thinking we could use icons to indicate the age of something...</p>
    <ol>
      <li>if it was in the past day, then use one of the clock icons</li>
      <li>if it was in the last month, then use one of the moon icons</li>
      <li>if it was in the past year, then indicate a season</li>
      <li>if it was more than a year, then use N suns</li>
    </ol>
    <p>thus the hottest of hot takes are those that last the longest</p>
    <p>Also, a timestamp changing as you make edits</p>
    <figure>
      <figcaption>Mahjong seasons</figcaption>
      <span style="font-size: 8em">
        <span title="MAHJONG TILE SPRING">🀦</span>
        <span title="MAHJONG TILE SUMMER">🀧</span>
        <span title="MAHJONG TILE AUTUMN">🀨</span>
        <span title="MAHJONG TILE WINTER">🀩</span>
      </span>
    </figure>
    <figure>
      <figcaption>seasonish</figcaption>
      <span style="font-size: 8em">
        <span title="LEAF FLUTTERING IN WIND">🍃</span>
        <span title="FIRE">🔥</span>
        <span title="FALLEN LEAF">🍂</span>
        <span title="SNOWFLAKE">❄</span>
      </span>
    </figure>
    <figure>
      <figcaption>seasonish</figcaption>
      <span style="font-size: 8em">
        <span title="LEAF FLUTTERING IN WIND">🍃</span>
        <span title="FIRE">🔥</span>
        <span title="FALLEN LEAF">🍂</span>
        <span title="SNOWFLAKE">❄</span>
      </span>
    </figure>
    <figure>
      <figcaption>moons</figcaption>
      <span style="font-size: 8em">
        <span title="NEW MOON SYMBOL">🌑</span>
        <span title="WAXING CRESCENT MOON SYMBOL">🌒</span>
        <span title="FIRST QUARTER MOON SYMBOL">🌓</span>
        <span title="WAXING GIBBOUS MOON SYMBOL">🌔</span>
        <span title="FULL MOON SYMBOL">🌕</span>
        <span title="WANING GIBBOUS MOON SYMBOL">🌖</span>
        <span title="LAST QUARTER MOON SYMBOL">🌗</span>
        <span title="WANING CRESCENT MOON SYMBOL">🌘</span>
      </span>
    </figure>
    <figure>
      <figcaption>clocks</figcaption>
      <span style="font-size: 8em">
        <span title="CLOCK FACE TWELVE OCLOCK">🕛</span>
        <span title="CLOCK FACE TWELVE-THIRTY">🕧</span>
        <span title="CLOCK FACE ONE OCLOCK">🕐</span>
        <span title="CLOCK FACE ONE-THIRTY">🕜</span>
        <span title="CLOCK FACE TWO OCLOCK">🕑</span>
        <span title="CLOCK FACE TWO-THIRTY">🕝</span>
        <span title="CLOCK FACE THREE OCLOCK">🕒</span>
        <span title="CLOCK FACE THREE-THIRTY">🕞</span>
        <span title="CLOCK FACE FOUR OCLOCK">🕓</span>
        <span title="CLOCK FACE FOUR-THIRTY">🕟</span>
        <span title="CLOCK FACE FIVE OCLOCK">🕔</span>
        <span title="CLOCK FACE FIVE-THIRTY">🕠</span>
        <span title="CLOCK FACE SIX OCLOCK">🕕</span>
        <span title="CLOCK FACE SIX-THIRTY">🕡</span>
        <span title="CLOCK FACE SEVEN OCLOCK">🕖</span>
        <span title="CLOCK FACE SEVEN-THIRTY">🕢</span>
        <span title="CLOCK FACE EIGHT OCLOCK">🕗</span>
        <span title="CLOCK FACE EIGHT-THIRTY">🕣</span>
        <span title="CLOCK FACE NINE OCLOCK">🕘</span>
        <span title="CLOCK FACE NINE-THIRTY">🕤</span>
        <span title="CLOCK FACE TEN OCLOCK">🕙</span>
        <span title="CLOCK FACE TEN-THIRTY">🕥</span>
        <span title="CLOCK FACE ELEVEN OCLOCK">🕚</span>
        <span title="CLOCK FACE ELEVEN-THIRTY">🕦</span>
      </span>
    </figure>
    <figure>
      <figcaption>time zones?</figcaption>
    </figure>
  </article>
  <!-- prettier-ignore -->
  <style>
article {border: 0.5ch dashed GrayText; min-width: fit-content}
article + article {margin-block-start: 2em}

form {--tag: 'form'}
input {--tag: 'input'} /* but pseudo-elements don't work on input */
output {--tag: 'output'}
.lit is(form,input,output) { outline: 0.5ch GrayText }
.lit is(form,input,output):before { content: var(--tag) }
</style>
  <section>
    <h2><time datetime="2023-03-26T04:12:46Z"></time>experiments</h2>
    <article class="lit">
      <form>
        <input />
        <output />
      </form>
      <!-- prettier-ignore -->
      <script>
{
  const scope = document.currentScript.closest("article");
  const form = scope?.querySelector("form");
  const input = form?.querySelector("input");
  const output = form?.querySelector("output");
  if (input &amp;&amp; output) {
    input.oninput = event =&gt; {
      output.innerText = event.target.value;
    };
  }
}
          </script>
    </article>
    <article class="lit">
      <p>Now what? Need some recognizers and an interpreter.</p>
      <form>
        <input />
        <output />
      </form>
      <!-- prettier-ignore -->
      <script>
{
  const script = document.currentScript
  const scope = script.closest("article")
  const form = scope?.querySelector("form")
  const input = form?.querySelector("input")
  const output = form?.querySelector("output")

  Object.defineProperty(globalThis, 'RECOGNIZERS1', {value: []});

  function recognize(text) {
    for (const pattern of globalThis.RECOGNIZERS1) {
      const match = text.match(pattern)
      if (match) return match
    }
  }

  if (input &amp;&amp; output) {
    input.oninput = event =&gt; {
      const text = event.target.value
      const recognition = recognize(text)
      output.innerHTML = JSON.stringify(recognition)
    };
  }
}
          </script>
      <p>
        This is effectful. I use a global <code>RECOGNIZERS1</code> to store the
        recognizers, so it's late-bound. That means I can come in a later script
        block and add recognizers, and they'll work.
      </p>
      <!-- prettier-ignore -->
      <script>
{
  globalThis.RECOGNIZERS1?.push(/(?&lt;vowels&gt;([aeiou]+))/);
}
</script>
      <time datetime="2023-01-11T02:05:36-0500">2023-01-11T02:05:36-0500</time>
    </article>
    <article id="recognizer-input-3">
      <form>
        <input placeholder="prompt" />
        <output />
      </form>
      <!-- prettier-ignore -->
      <style>
#recognizer-input-3 input { font-size: larger }
</style>
      <!-- prettier-ignore -->
      <script>
{
  const scope =document.currentScript.closest("article")
  const input = scope?.querySelector("input")
  const output = scope?.querySelector("output")

  if (!('RECOGNIZERS1' in globalThis))
    Object.defineProperty(globalThis, 'RECOGNIZERS1', {value: []})

  function recognize(text) {
    for (const pattern of globalThis.RECOGNIZERS1) {
      const match = text.match(pattern)
      if (match) return match
    }
  }

  if (input &amp;&amp; output) {
    input.oninput = event =&gt; {
      const text = event.target.value
      const recognition = recognize(text)
      if (recognition) {
        output.innerText = `${JSON.stringify(recognition)} ${JSON.stringify(recognition.groups)}`
      }
    };
  }
}
          </script>
      <!-- prettier-ignore -->
      <script>
{
  globalThis.RECOGNIZERS1?.push(/^(?&lt;day&gt;(?&lt;month&gt;(?&lt;year&gt;(?&lt;decade&gt;(?&lt;bc&gt;-?)(?&lt;century&gt;\d\d)(?&lt;d&gt;\d)?)(?&lt;y&gt;\d)?)(?:-(?&lt;mm&gt;\d\d))?)(?:-(?&lt;dd&gt;\d\d))?)$/d);
}
</script>
      <time datetime="2023-01-11T02:17:44-0500"
        >show capture groups, add ISO pattern</time
      >
    </article>

    <!-- prettier-ignore -->
    <article id="recognizer-input-4">
      <form>
        <input placeholder="prompt"/>
        <output/>
      </form>
      <style>
#recognizer-input-4 input { font-size: larger }
</style>
      <script>
{
  const scope =document.currentScript.closest("article")
  const input = scope?.querySelector("input")
  const output = scope?.querySelector("output")

  if (!('RECOGNIZERS1' in globalThis))
    Object.defineProperty(globalThis, 'RECOGNIZERS1', {value: []})

  function recognize(text) {
    for (const pattern of globalThis.RECOGNIZERS1) {
      const match = text.match(pattern)
      if (match) return match
    }
  }

  function render(match) {
    const pre = [];
    if (match.indices?.groups) {
      for (const [key, idx] of Object.entries(match.indices.groups)) {
        if (!idx) continue
        const s = match.groups[key]
        const span = `&lt;span data-group="${key}"&gt;${s}`;
        pre.push(span)
      }
    }
    return  `&lt;pre&gt;${pre.join("")}`
  }

  if (input &amp;&amp; output) {
    input.oninput = event =&gt; {
      const text = event.target.value
      const match = recognize(text)
      if (match) output.innerHTML = render(match)
    };
  }
}
          </script>
      <!-- prettier-ignore -->
      <script>
{
  globalThis.RECOGNIZERS1?.push(/^(?&lt;day&gt;(?&lt;month&gt;(?&lt;year&gt;(?&lt;decade&gt;(?&lt;bc&gt;-?)(?&lt;century&gt;\d\d)(?&lt;d&gt;\d)?)(?&lt;y&gt;\d)?)(?:-(?&lt;mm&gt;\d\d))?)(?:-(?&lt;dd&gt;\d\d))?)$/d);
}
</script>
    </article>
  </section>
</article>
