<article>
  <h1>lead charts</h1>
  <p>A <q>lead chart</q> is primarily about what it says: being foremost.</p>
  <p>A <dfn>lead chart</dfn> is the chart in a stack that you're following.</p>
  <p>It's the foremost chart in a collection.</p>
  <p>
    This is not quite the same as saying it's the <q>top</q> chart. There could
    be charts in front of a lead chart, but they're not in front of
    <em>you</em>.
  </p>
  <p>
    You could say that, in a given timeframe, the lead chart would track that
    timeframe (i.e. have no scaling or offset). But it ain't necessarily so.
  </p>
</article>
