<article>
  <h1>live time</h1>
  <section>
    <h2>in which <time>now</time> is distinguished</h2>
    <h3>
      keywords: time pieces, tickers, time keepers, time tellers, time bots
    </h3>
    <h3>keywords: the present</h3>
    <h3>keywords: now</h3>
    <h3>dependencies: process model</h3>
    <p>
      In this part, we make time <a href="stamps.html">stamps</a> that keep
      themselves up-to-date.
    </p>
    <p>constant time</p>
  </section>
  <section>
    <h1>apparently some implementation</h1>
    <script>
      {
        function make_now_maker_process() {
          function onkeydown(event) {
            if (event.key === "n") {
              // insert a ticking time into the document somewhere
              event.preventDefault();
              return;
            }
          }
          function start() {
            globalThis.addEventListener("keydown", onkeydown);
          }
          function stop() {}
          return { start, stop };
        }
      }
    </script>
  </section>
  <script>
    make_now_maker_process().start();
  </script>
</article>
