<article>
  <h1>time navigation</h1>
  <section>
    <h1>introduction</h1>
    <h2>aka time travel</h2>
    <aside>
      <p>
        <time datetime="2023-01-12T01:05:23-0500"
          ><strong>Nested ¶’s are NEVER allowed!</strong></time
        >
      </p>
    </aside>
    <p>
      This section is about producing (navigational) links for different time
      periods. Stepwise, proximate periods. From
      <a href="./stamps.html">timestamps</a>, e.g.
      <time datetime="2023-01-07T18:33:40-0500">2023-01-07T18:33:40-0500</time>.
    </p>
    <p>
      We should have a simple way to produce timestamps that are related to a
      given timestamp: along previous, broader, next, and narrower axes.
    </p>
    <p>Relation to html link rel = next, rel = previous, etc.</p>
  </section>
  <section>
    <h1>motivation &amp; proposal</h1>
    <p>
      There are things that we know to belong to sequences, like kings and
      presidents, chemical elements. And then there's things like the sections
      of the thing you're reading, or the
      <strong>path</strong> to a file. And then of course there was
      <time datetime="2023-01-09">last Monday</time>. And here's a
      high-precision
      <time datetime="2023-01-12T00:55:43-0500">timestamp</time>
    </p>
    <section>
      <h1>proposal</h1>
      <p>
        <time datetime="2023-01-12T01:39:30-0500"
          >The proposal is a dynamic navigation from items belonging to known
          and recognized sequences and hierarchies.</time
        >
      </p>
      <p>
        The advantage of this approach is that it applies to domains much more
        broadly.
      </p>
      <p>
        The mechanics of it and the program are pretty clear. It's a common
        trope—at least it used to be. As long as you live, wait for the sign.
        You may die before receiving the sign. Trust everything I tell you.
        Should you receive the sign at any time, extend the associated dom tree
        with some one-time update. It's exactly the kind of thing JavaScript was
        originally designed for, and It can be done
        <i>ad hoc</i>.
      </p>
      <p>
        What I don't know is, what is the dom layout? The problem often comes
        back to the inability to make invariants due to the open nature of the
        environment. The zen of web would be to say, this is as it should be. We
        love our democratic
        <a href="https://archive.org/">institutions</a>.
      </p>
      <p>
        I think what I'm trying to say is that I want to create a space where
        things bloom into view, spurred on by a virtual gaze.
      </p>
    </section>
  </section>

  <section>
    <h1>relevant periods</h1>
    <p>We have a concept of wanting to see <em>relevant periods</em>.</p>
    <p>
      We assume that a period is relevant when it contains some or all of the
      periods in view.
    </p>
    <p>So, for example, if <time>1939 – 1945</time> is our viewpoint, then</p>
    <ul>
      <li>
        <time>1939</time>, <time>1940</time>, <time>1941</time>,
        <time>1942</time>, <time>1943</time>, <time>1944</time>, and
        <time>1945</time> are relevant <em>years</em>.
      </li>
      <li>
        The <time>1930's</time> and <time>1940's</time> are relevant
        <em>decades</em>.
      </li>
      <li>The <time>20th century</time> is a relevant <em>century</em></li>
      <li>
        The <time>second millennium</time> (1001-2000) is a relevant
        <em>millennium</em>.
      </li>
    </ul>
    <p>
      These are <em>open</em> statements: they don't claim that these are the
      <strong>only</strong> relevant periods. Other things can also be true.
    </p>
  </section>
  <article>
    <form>
      <fieldset>
        <legend>a place where you can edit</legend>
        <input placeholder="prompt" />
      </fieldset>
    </form>
  </article>
</article>
