:root {
  --ubuntu-chrome-blue: #b5d5ff; /* Ubuntu Chrome default Highlight */
  --ubuntu-orange: #e95420; /* Ubuntu Firefox default Highlight */

  /* prefer these, which are the defaults in Firefox (Ubuntu) & look v good */
  /* they won't be available everywhere, so need fallback */
  --font-family-monospace: "DejaVu Mono", monospace;
  --font-family-serif: "DejaVu Serif", serif;
  --font-family-sans-serif: "DejaVu Sans", serif;
}

label {
  cursor: pointer;
}

/* dark mode */
/* actually just use this all the time */
@media all and (prefers-color-scheme: dark) {
  html {
    background: #234;
    background: #10384f;
    background: #18384f;
    color: #edc;
  }
}

html {
  /* WHAT I really mean here is “use this when serif” (or whatever) is called for */
  /* but without calling for it here */
  font-family: var(--font-family-serif);
}
body {
  margin: 0;
}
summary {
  cursor: pointer;
}

/* speech bubbles */
p {
  /* I actually like this better.  You have no business trying to see through a paragraph. */
  background: GrayText;
  /* buuuut.... this looks better in light mode */
  background: #8888;
}
p {
  border-radius: 1em; /*arbitrary*/
  border-start-start-radius: 0; /* speech flows out from the flow axis */
  padding-inline-start: 1ch; /* key part of a viable speech bubble */
  /* padding-block: 2pt; Now you're just getting greedy*/
  /* you need some little distance from the line */
}

h1 {
  /* no longer showing these as speech bubbles (though it's not wrong)
  min-inline-size: 25ch;
  inline-size: min-content;
*/
  padding-inline: 1ch;
  padding-block: 2pt;
  background-color: Highlight;
  border-block-start: 1pt solid #fff7;
  opacity: 0.8;
}
article > h1,
article > header > h1 {
  background-color: GrayText;
}

* {
  /* box-sizing: border-box; */
}
p,
blockquote,
/* hmm but aside is a sectioning element */
aside {
  min-inline-size: 35ch;
  max-inline-size: 65ch;
  inline-size: min-content;
}
main {
  /* inline-size: clamp(45ch, 50%, 75ch); /*but why 50%? assume two coumn view? */
  /* max-inline-size: 100%; */
}

/* literate programming */
script,
style {
  display: block;
  white-space: pre;
  font-family: var(--font-family-monospace);
  /* overflow-x: auto; */
}
details {
  margin-top: 1ch;
}
summary {
  /* 
  text-align: end;
 */
  color: GrayText;
}
summary::marker {
  color: Highlight;
}

/* block hover */
:is(p, header, footer, h1, h2, h3, aside, nav, section, article, blockquote, ul, dl, li, div, script, style, output, pre, form):hover {
  outline: 1ch solid Highlight;
  /* ActiveText should be on only one thing at a time */
  outline: 1ch solid ActiveText;
  outline: 1ch solid LinkText;
}

/* house stuff */

/* house: block */

main {
  position: relative;
}
figure {
  margin-inline: 0; /* reset UA */
  box-sizing: border-box;
  min-width: fit-content;
}
dl:before {
  display: inline-block;
  background: Canvas;
  color: CanvasText;
  margin-end: 1ch;
  font-family: var(--font-family-sans-serif);
  font-size: larger;
  font-weight: bold;
  letter-spacing: -0.04ch;
  /* intentional: absent a small-caps variant, or font-variant support, you still get caps */
  content: "DEFINITIONS:";
  text-transform: lowercase;
  font-variant: small-caps;
}
dl {
  border-block: 0.1ch solid Canvas;
}
output {
  /* only if flex...  */
  /* align-self: end; */
}

/* house: interactive */
form {
  background: Highlight;
  display: inline-block;
  padding: 2ch;
}

/* house inline */

/* prettier-ignore */
@media all {
form {--tag: 'form'}
input {--tag: 'input'} /* but pseudo-elements don't work on input */
output {--tag: 'output'}
}

main figcaption {
  margin-bottom: 1ch;
}
figcaption {
  font-style: italic;
}
aside {
  border-left-color: ActiveText;
}
p {
  line-height: 1.33;
}

/* house: inline */

/* prettier-ignore */
@media all {
  /* normalize. copped from willshake */
  sub, sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
  }
  sup { top: -0.5em }
  sub { bottom: -0.25em }
}

a {
  color: inherit;
  font-family: var(--font-family-sans-serif);
  font-weight: bold;
  text-decoration-color: LinkText;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
}
a:hover {
  color: ActiveText;
  /* border-color: ActiveText; */
}
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code#notes */
/* “To represent multiple lines of code, wrap the <code> element within a <pre>
   element. The <code> element by itself only represents a single phrase of code
   or line of code.” */
code {
  font-family: var(--font-family-monospace);
  background: #99a5;
  background: #aab4;
  padding-left: 0.5ch;
  padding-right: 0.5ch;
  border-radius: 0.33ch;
}
:is(a, b, code, dfn, em, i, span, strong):hover {
  outline: 2pt solid ActiveText;
  /*
  background-color: #aab4;
  background-color: Highlight;
*/
}

figure {
  max-inline-size: 100vw; /* assumes horizontal writing mode */
}

/* house: time */
:root {
  --time-color: var(--ubuntu-orange);
  --time-color: Highlight;
}
time {
  color: var(--time-color);
  font-family: var(--font-family-sans-serif);
  font-weight: bold;
}

/* house: template */
nav > a[href="../index.html"],
nav > a[href="index.html"] {
  color: var(--time-color);
  font-size: 6rem;
  font-family: initial; /* HACK: because serif period is circle, not square smh */
  text-decoration: none;
  line-height: 0.5;
}

/* c/o https://github.com/michaelhue/keyscss/blob/master/keys.css */
@media all {
  kbd,
  .key {
    display: inline;
    display: inline-block;
    min-width: 1em;
    padding: 0.2em 0.3em;
    font: normal 0.85em/1 "Lucida Grande", Lucida, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    border: none;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  kbd[title],
  .key[title] {
    cursor: help;
  }
  /* Dark style for display on light background. This is the default style. */
  kbd,
  kbd.dark,
  .dark-keys kbd,
  .key,
  .key.dark,
  .dark-keys .key {
    background: rgb(80, 80, 80);
    background: -moz-linear-gradient(top, rgb(60, 60, 60), rgb(80, 80, 80));
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(60, 60, 60)),
      to(rgb(80, 80, 80))
    );
    color: rgb(250, 250, 250);
    text-shadow: -1px -1px 0 rgb(70, 70, 70);
    -moz-box-shadow: inset 0 0 1px rgb(150, 150, 150),
      inset 0 -0.05em 0.4em rgb(80, 80, 80), 0 0.1em 0 rgb(30, 30, 30),
      0 0.1em 0.1em rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 1px rgb(150, 150, 150),
      inset 0 -0.05em 0.4em rgb(80, 80, 80), 0 0.1em 0 rgb(30, 30, 30),
      0 0.1em 0.1em rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 1px rgb(150, 150, 150),
      inset 0 -0.05em 0.4em rgb(80, 80, 80), 0 0.1em 0 rgb(30, 30, 30),
      0 0.1em 0.1em rgba(0, 0, 0, 0.3);
  }
  /* Light style for display on dark background. */
  kbd.light,
  .light-keys kbd,
  .key.light,
  .light-keys .key {
    background: rgb(250, 250, 250);
    background: -moz-linear-gradient(
      top,
      rgb(210, 210, 210),
      rgb(255, 255, 255)
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(210, 210, 210)),
      to(rgb(255, 255, 255))
    );
    color: rgb(50, 50, 50);
    text-shadow: 0 0 2px rgb(255, 255, 255);
    -moz-box-shadow: inset 0 0 1px rgb(255, 255, 255),
      inset 0 0 0.4em rgb(200, 200, 200), 0 0.1em 0 rgb(130, 130, 130),
      0 0.11em 0 rgba(0, 0, 0, 0.4), 0 0.1em 0.11em rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: inset 0 0 1px rgb(255, 255, 255),
      inset 0 0 0.4em rgb(200, 200, 200), 0 0.1em 0 rgb(130, 130, 130),
      0 0.11em 0 rgba(0, 0, 0, 0.4), 0 0.1em 0.11em rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 0 1px rgb(255, 255, 255),
      inset 0 0 0.4em rgb(200, 200, 200), 0 0.1em 0 rgb(130, 130, 130),
      0 0.11em 0 rgba(0, 0, 0, 0.4), 0 0.1em 0.11em rgba(0, 0, 0, 0.9);
  }
}
/* c/o https://stackoverflow.com/a/30654371 */
@media none {
  kbd {
    padding: 0.1em 0.6em;
    border: 1px solid #ccc;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0.1em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.4;
    white-space: nowrap;
  }
}

/* DL tree */
dl.tree,
dl.tree dl {
  display: table;
}
dl.tree > div,
dl.tree dl > div {
  display: table-row;
}
dl.tree > div > :is(dt, dd),
dl.tree dl > div > :is(dt, dd) {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0.5em;
}
dl.tree > div > dt,
dl.tree dl > div > dt {
  text-align: right;
}

/* writing-mode stuff */
@media none {
  /* finding: spacebar scrolling works only in Chrome AND only if this is on
   `body` or `html`, not `main`. */
  main {
    writing-mode: vertical-lr;
  }
  :is(main, .pivot) > * {
    /* But you can't just say, the opposite of whatever it was */
    /* but can't we say initial?  I think that's what we want anyway */
    writing-mode: horizontal-tb;
  }
  .pivot {
    display: flex;
  }
  .pivot > * {
    flex: auto;
  }
}
