<article>
  <h1>perspectives</h1>
  <section>
    <h2>time flies</h2>
    <p>
      The main order of business is, CSS rules for giving depth to a collection
      of charts in a timeframe. We try to exploit a “sweet spot” between (JS)
      markup generation and CSS, where CSS handles layout for a wide range of
      useful cases with a good separation of concerns.
    </p>
    <p>
      This section defines and implements some display rules that serve various
      design goals, the main one being to get time charts out of flatland. That
      said, some of the benefits seen here also apply to flat and static
      displays.
    </p>
  </section>
</article>
