<article>
  <h1>project tell-when</h1>
  <h2>that's a working title</h2>
  <section>
    <h1>about</h1>
    <section>
      <h1>what is this</h1>
      <p>
        The elevator pitch for this project is,
        <q>it's Google Maps, but for time.</q> In a sense, the objective is to
        represent (a model of) time that <em>feels like a place</em>. It seems
        obvious to me that we want, even <em>need</em> such a thing. To wit, no
        one has built it yet.
      </p>
      <p>
        See the recent article,
        <a
          href="https://www.npr.org/sections/health-shots/2023/01/04/1139782291/time-perception-climate-change-risk"
          ><q
            >How our perception of time shapes our approach to climate change</q
          ></a
        >. Just as visual representations have helped shape our understanding of
        reality at key points in the past (particularly maps), a design that
        provides a new perspective on time, could very well change our
        perception of time at a large scale.
      </p>
    </section>
    <section>
      <h1>what is this not</h1>
      <p>
        A copy of Wikipedia. It's an HTML document that contains data from a
        snapshot of certain items from certain articles from the
        English-language Wikipedia.
      </p>
      <p>Meaning to encourage presentism.</p>
    </section>
  </section>
  <section>
    <h1>rationale</h1>
    <section>
      <h1>why history?</h1>
    </section>
    <section>
      <h1>why wikipedia?</h1>
    </section>
    <section>
      <h1>why a chat?</h1>
    </section>
    <section>
      <h1>why web?</h1>
    </section>
    <section>
      <h1>why standalone HTML?</h1>
    </section>
    <section>
      <h1>why offline?</h1>
    </section>
  </section>
  <section>
    <h1>ideas explored</h1>
    <p>
      This is a summary of the ideas to be explored in this scope of research,
      though not necessarily all within this document.
    </p>
    <ul>
      <li>timeline pre-populated with general knowledge</li>
      <li>accessible timeline</li>
      <li>logarithmic timeline</li>
      <li>force-directed layouts for timeline</li>
    </ul>
  </section>
  <section>
    <h1>related work</h1>
  </section>
  <section>
    <h1>decisions</h1>
    <section>
      <h1>wiki links</h1>
      <ul>
        <li>
          Wiki links are links to articles in Wikipedia. They are denoted by
          <code>a</code> tags with a <code>wiki</code> attribute (and no
          <code>href</code>).
        </li>
        <li>
          Clicking a wiki link will interpret the article within the
          application, meaning <q>visit this topic.</q>
        </li>
        <li>
          <kbd>Ctrl</kbd>+clicking a wiki link will open the Wikipedia page in a
          new tab.
        </li>
        <li>
          Wiki <q>red links</q> are shown in gray text. This is done with a CSS
          attribute selector.
        </li>
      </ul>
    </section>
  </section>
  <section>
    <h1>future work</h1>
    <section>
      <h1>same as</h1>
      <h2>
        or <q>that's <i>Sir</i> Isaac Newton to you</q>
      </h2>
      <p>
        Proposal: you should be able to say <q>X</q> is the same as
        <q>Y</q> where <var>X</var> and <var>Y</var> are names in the knowledge
        graph.
      </p>
      <p>Things can have many names, God knows.</p>
      <p>
        But in information systems, everything's easier when you pick a name and
        stick with it.
      </p>
      <p>
        Wikipedia tries to thread this needle by supporting multiple names for
        the <q>same thing</q> but picking one of them as the main name. Other
        names will redirect to the main one. For example, if you go to
        <a href="https://en.wikipedia.org/wiki/Sir_Isaac_Newton"
          >https://en.wikipedia.org/wiki/Sir_Isaac_Newton</a
        >, you'll be redirected to
        <a href="https://en.wikipedia.org/wiki/Isaac_Newton"
          >https://en.wikipedia.org/wiki/Isaac_Newton</a
        >
        and the page will indicate:
        <q>(Redirected from Sir Isaac Newton)</q>
      </p>
      <p>Not all cases have redirects defined in Wikipedia.</p>
      <p>But we should be able to define them here.</p>
    </section>
  </section>
  <section>
    <h1>my reactions</h1>
    <h2>until such time as I add reactions</h2>
    <p>
      <q
        >1704 - Isaac Newton publishes his Opticks. He also predicts that the
        world will end in 2060.</q
      >!!
    </p>
  </section>
  <section>
    <h1>to do</h1>
    <ul>
      <li>
        <p>
          maybe leave items from births and deaths out of tags.
          <q>Roman Catholic</q>
          ends up dominating. It also makes sense that births and deaths are not
          <em>usually</em> representative of a period. And also births and
          deaths should be shown implicitly via people indicators anyway.
        </p>
      </li>
      <li>
        <p>
          What is all this stuff in Chrome console? It's not in Firefox console
        </p>
        <pre>
Failed to load resource: net::ERR_INVALID_URL
upload.wikimedia.org/wikipedia/commons/thumb/3/30/De_medicina_V00117_00000006.tif/lossy-page1-220px-De_medicina_V00117_00000006.tif.jpg:1          Failed to load resource: net::ERR_INVALID_URL
upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Zirides_et_Hammadides_apr%C3%A8s_les_invasion_hilaliennes.PNG/220px-Zirides_et_Hammadides_apr%C3%A8s_les_invasion_hilaliennes.PNG:1          Failed to load resource: net::ERR_INVALID_URL
upload.wikimedia.org/wikipedia/commons/thumb/0/0a/ConquestOfConstantinopleByTheCrusadersIn1204.jpg/150px-ConquestOfConstantinopleByTheCrusadersIn1204.jpg:1          Failed to load resource: net::ERR_INVALID_URL
upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Pietro_-_Conciliator_differentiarum_philosophorum_et_precipue_medicorum_-_2989416.tif/lossy-page1-220px-Pietro_-_Conciliator_differentiarum_philosophorum_et_precipue_medicorum_-_2989416.tif.jpg:1          
            </pre
        >
      </li>
      <li>
        <p>What to do with tags that have anchor links</p>
        <pre>Wikipedia:What Wikipedia is not#Encyclopedic content </pre>
      </li>
      <li>
        <p>Discard <code>Wikipedia:</code> links</p>
        <pre>Wikipedia:What Wikipedia is not#Encyclopedic content </pre>
      </li>
      <li>
        <p>
          sometimes you get <code>Infinity</code> in the path.d for transition
          bands. Presumably because you have earliest = latest
        </p>
      </li>
      <li>
        <p>
          How to place items associated with a century? For example, the
          following items appears both under 1456 and under <q>1500</q>, which
          is (incorrectly) for 1400's
        </p>
        <pre>
              1456 July 7 — A retrial of Joan of Arc acquits her of heresy, 25 years after her execution.
              
    1500 1456: Joan of Arc is posthumously acquitted of heresy by the Catholic Church, redeeming her status as the heroine of France.
            </pre
        >
      </li>
      <li>
        <p>
          How to place items associated with a millenium? e.g. moon landing is
          associated with <q>2nd millenium</q> so it comes up as
        </p>
        <pre>1001 - Moon landing (1969)</pre>
        <p>(search <q>Apollo program</q>)</p>
        <p>
          possibly related, what the heck is
          <q>-999 buoyancy (Archimedes)</q>
        </p>
      </li>
      <li>
        <p>
          Why are a bunch of entries with more specific years showing up under
          500BC? Search <code>Athens</code>
        </p>
        <pre>
-500 - 493 BC: Piraeus, the port town of Athens, is founded.
-500 - 490 BC: Phidippides runs 40 kilometers from Marathon to Athens to announce the news of the Greek victory; origin of the marathon long-distance race.
-500 - 487 BC: Aegina and Athens go to war.
-500 - 464 BC: An earthquake in ancient Sparta, Greece leads to a Helot uprising and strained relations with Athens, one of the factors that lead to the Peloponnesian War.
-500 - 461 BC: AthenianpoliticianCimon is ostracized.
-500 - 460 BC: Egypt revolts against Persia, starting a six-year war. An Athenian force sent to attack Cyprus is diverted to support this revolt.
-500 - 457 BC: AthenianstatesmanPericles' greatest reform, allowing common people to serve in any state office, inaugurates Golden Age of Ancient Athens.
-500 - 457 BC: Battle of TanagraâThe Spartans defeat the Athenians, near Thebes.
-500 - 457 BC: Battle of OenophytaâThe Athenians defeat the Thebans and take control of Boeotia.
-500 - 455 BC: A thirty years' truce concluded between Athens and Lacedaemon.
-500 - 455 BC: Euripides presents his first known tragedy, Peliades, in the Athenianfestival of Dionysia.
-500 - 454 BC: Athens loses a fleet and possibly as many as 50 000 men in a failed attempt to aid an Egyptian revolt against Persia.
-500 - 454 BC: The treasury of the Delian League is moved from Delos to Athens.
-500 - 451 BC: Athens makes peace with Sparta and wages a war against Persia.
  
</pre
        >
      </li>
      <li>
        react to post. Such as
        <q>584 - King Eboric is deposed by his mother</q>
      </li>
      <li>
        Remove, hide, or otherwise deal with inline images, which some entries
        have. See, e.g. results for Elvis Presley, or George Washington (the
        item about postage stamp). Probably they would appear except that they
        use protocol-relative addresses.
      </li>
      <li>
        wiki links can be to files? I clicked on a link to
        <q>Graceland</q> and saw
        <output>Or did you mean file:elvis grave graceland.jpg</output>
      </li>
      <li>
        don't follow <q>day of year</q> links (like, March 4) internally, as we
        have (and will have) no interpretation for them.
      </li>
      <li>
        Remove any hash from wiki link before indexing. e.g.
        <q>Prostitution in the United States#Other developments</q> is
        referenced 1 times: in 1917: An anti-prostitution drive in San Francisco
        occurs, and police close about 200 prostitution houses. OR e.g.
        <q>Or did you mean gautama buddha#relics</q>
      </li>
      <li>NAME ITEMS &amp; USE HASH NAVIGATION</li>
      <li>find it like you left it</li>
      <li>
        remember &amp; replay earlier sessions (generalization of
        <q>find it like you left it</q>)
      </li>
      <li>link wiki items back to source</li>
      <li>search from now outward</li>
      <li>perf: read markup to text up front (avoid initial warmup)</li>
      <li>selection / population &gt; N is probably meaningless, for some N</li>
      <li>
        mark matching text in result: done but not correctly. This is not quite
        easy because we match against the text, but we need to identify the
        matched part in the HTML.
      </li>
      <li>
        <p>not really a todo item but fyi there are wiktionary links too.</p>
        <pre>
              &lt;a href="https://en.wiktionary.org/wiki/pioneer" class="extiw"&gt;pioneer&lt;/a&gt;
1754 March 4 — Benjamin Waterhouse, American physician, medical professor (smallpoxvaccinepioneer) (d. 1846)
</pre
        >
      </li>
    </ul>
  </section>
  <section>
    <h1>preprocess bugs</h1>
    <p>These are bugs in the preparation of the data.</p>
    <ul>
      <li>
        I'm not sure whether this is a preprocessor bug, but these past items
        from <q>21st century</q> are appearing as 2100. Some function is not
        accounting for this off-by-one.
        <pre>
2100 - 11 March: Ten explosions occur at the CercanÃ­as commuter train system of Madrid, Spain, killing 191 people and injuring around 2,000.
2100 - 17—18 August: A terrorist attack drives into more than 100 people in Barcelona, Spain, killing 13 and injuring many.
            </pre
        >
        <p>
          UPDATE: these are <q>fixed</q> now since non-year items are excluded.
          But now the items don't appear at all in results for Madrid.
        </p>
      </li>
      <li>
        BUG: adjacent links are missing space. The example I've been using is
        <q>PonticTardenoisian</q> from 9th millennium BC. This item itself is
        spurious (see below), but I've seen other instances. It looks like the
        whitespace is being lost during the transform applied in
        timeline-items-to-json.
      </li>
      <li>
        BUG: spurious lists from figure. The list in the
        <a
          href="https://en.wikipedia.org/w/index.php?title=9th_millennium_BC&amp;oldid=1021639139"
          >9th millennium BC article</a
        >
        is from one of the figures in the sidebar. I don't know whether there
        are others like this, but it's not the kind of list that the process
        intends to capture.
      </li>
    </ul>
  </section>
  <section>
    <h1>algebra / grammar</h1>
    <p>All right. What is the logical structure of a timeline?</p>
    <p>From a <em>truth</em> perspective.</p>
    <p>
      It's a 2.5d space. We want to construct something based on something else.
    </p>
    <p>
      <em>One</em> thing that we have isâusuallyâa pair of endpoints. This will
      be in the form of <q>points in time,</q> meaning ISO values with some
      granularity. The granularity is important. <code>1940</code> doesn't mean
      <q>midnight at January 1, 1940.</q> It just means <q>1940.</q>
    </p>
    <p>
      Another thing we may have is the granularity of things that we want to
      show.
    </p>
    <p>
      The grammar should not provide a way of <q>turning on</q> or turning off
      individual tiles. In the logical modelâwhat? A layer always extends from
      one point to another?
    </p>
    <p>What are the things that we expect to be true?</p>
    <ul>
      <li>
        more specific layers (ones for more-specific units) are in front of
        less-specific ones
      </li>
      <li>
        areas that come into view should display tiles to cover the relevant
        area
      </li>
      <li>stupid numbers of tiles shouldn't be shown</li>
      <li>a collection of layers will have exactly one layer foremost</li>
      <li>
        I can <q>get rid of</q> the foremost layer at any time, or move
        <q>through</q> it to see the rearward layers, without disturbing them
      </li>
    </ul>
    <p>Some that I'm less sure about</p>
    <ul>
      <li>
        you shouldn't skip units (i.e. have a century layer and year layer
        without decade in between).
      </li>
      <li>
        layers are not necessarily 100% coordinated at all times. For examples,
        if you're looking at 1990 to 2010, you might show more than 10% of the
        20th century.
      </li>
    </ul>
    <p>Example: 384 AD — 2013</p>
    <p>
      I don't think it makes much sense to say that these are exact boundaries.
      I think what it <q>really means</q> is, Show me a legible timeline that
      includes at least those years and minimizes wasted space.
    </p>
    <p>This entails one layer:</p>
    <ul>
      <li>
        Millennium layer
        <ul>
          <li>first millennium,</li>
          <li>second millennium,</li>
          <li>third millennium</li>
        </ul>
      </li>
    </ul>
    <p>Why is that? Because if you choose centuries, you get too many.</p>
    <p>But how <em>do</em> we represent that result?</p>
    <p>
      Note that nothing necessarily represents the actual endpoints. That is,
      there are many inputs that would produce the same result. So the input is
      completely thrown away? In other words, does the timeline not
      <q>know</q> that it is interested in the particular period (384 to 2013)?
    </p>
    <p>How is that result related to an API for the tiles?</p>
    <p>
      The layers also need to be positioned. Does each layer get its own
      position? Yes, they should be coordinated, but not necessarily rigidly.
    </p>
    <pre>
{from: "0384", to: "2013"}
        </pre
    >
    <p>
      This reads well. The expression seems intuitive (except perhaps the
      leading zero).
    </p>
    <p>
      But it's not clear whether you mean to <em>stop</em> when you get to 2013,
      or that you want to <em>include</em> 2013.
    </p>
    <p>
      From a <em>truth</em> perspective, we want to say what <em>is</em>, not
      what <em>isn't</em>. And to say that we <q>stop</q> at some point, is to
      say that the time beyond that point is not in view.
    </p>
    <p>
      If we instead frame this in terms of positive statements, then what we are
      really saying is, "384 AD is in view. So is 2013".
    </p>
    <p>
      In those terms, we could make any number of statements, and it makes no
      difference what order they're in.
    </p>
    <p>
      What this all points to is that the idea of <em>boundaries</em> is more
      important for the <em>implementation</em> than for the
      <em>description</em>.
    </p>
    <p>
      In short, we'd rather describe the timeline in terms of constraints, since
      this allows us to compose statements. This makes it more compatible with a
      knowledge interpreter.
    </p>
    <p>
      Another way to look at it is that we're not so much constructing a
      timeline as <em>visiting places</em> in a space. The layers are
      <q>there</q>
      whether we're looking or not.
    </p>
    <p>Another example: 1939 — 1945</p>
    <ul>
      <li>
        Millennium layer
        <ul>
          <li>second millennium,</li>
        </ul>
      </li>
      <li>
        Century layer:
        <ul>
          <li>20th century</li>
        </ul>
      </li>
      <li>
        Decade layer:
        <ul>
          <li>1930's</li>
          <li>1940's</li>
        </ul>
      </li>
      <li>
        Year layer:
        <ul>
          <li>1939</li>
          <li>1940</li>
          <li>1941</li>
          <li>1942</li>
          <li>1943</li>
          <li>1944</li>
          <li>1945</li>
        </ul>
      </li>
    </ul>
    <p>
      Again, if some additional years are visible, particularly all or part of
      1938 and 1946, this should not be considered as violating the directive.
    </p>
  </section>
  <section>
    <h1>domains</h1>
    <p>this ridiculousness https://en.wikipedia.org/wiki/As_Slow_as_Possible</p>
    <p>
      Harry Potter timeline, from the back of <i>The Cursed Child</i>. The
      events correspond to real-world dates from the 90's.
    </p>
    <section>
      <h1>successions</h1>
      <h2>a special kind of domain</h2>
      <p>A sequence of more-or-less contiguous spans.</p>
      <ul>
        <li>rulers of states (kings, presidents, congresses)</li>
      </ul>
    </section>
  </section>
  <section>
    <h1>findings</h1>
    <section>
      <h1>observations on memory usage</h1>
      <figure>
        <figcaption>
          snapshot of memory
          <time datetime="2022-12-16T00:08:24-0500"
            >2022-12-16T00:08:24-0500</time
          >
        </figcaption>
        <p>strings: 690K @ 108MiB</p>
        <p>objects: 844K @ 57MiB</p>
        <p>Array: 163K @ 14MiB</p>
        <p>Map: 7 @ 4MiB</p>
        <p>function: 7,790 @ 446KiB: 7 @ 4MiB</p>
        <p>CSS2PropertiesPrototype: 1 @ 16KiB</p>
        <p>Proxy: 287 @ 15KiB</p>
      </figure>
      <p>Those proxies must be some chrome or plugin, I'm not using any.</p>
      <p>
        This is more than I would have expected by a factor, since the file
        itself is "only" 32MB.
      </p>
      <figure>
        <figcaption>
          another memory snapshot,
          <time datetime="2022-12-16T01:19:25-0500"
            >2022-12-16T01:19:25-0500</time
          >
          <pre>
BytesCountTotal BytesTotal CountGroup
113 910 48858%690 64740%113 910 48858%690 64740%
strings
60 520 47231%843 97149%60 520 47231%843 97149%
Object
14 957 9048%163 55410%14 957 9048%163 55410%
Array
4 722 4242%70%4 722 4242%70%
Map
1 614 8001%20%1 614 8001%20%
#document
493 2960%8 3880%493 2960%8 3880%
Function
452 6480%8180%452 6480%8180%
js::PropMap
173 8400%3190%89 9680%730%
js::BaseScript
115 7280%7730%115 7280%7730%
#text
95 6640%2910%95 6640%2910%
A
54 8720%1030%54 8720%1030%
js::jit::JitCode
51 7120%3 2320%51 7120%3 2320%
js::GetterSetter
37 9200%4970%37 9200%4970%
js::Scope
35 1360%24
            </pre
          >
          <p>
            Not too readable, but it's basically unchanged from the previous
            one.
          </p>
        </figcaption>
      </figure>
    </section>
  </section>
</article>
