<article>
  <h1>time scales</h1>
  <section>
    <h2>time periods, time units</h2>
    <p>
      The time scales have different characters. We should respect these
      differences, even as we strive for some uniform terminology for dealing
      with scales generally.
    </p>
  </section>
  <section>
    <h1><em>counted</em> and <em>measured</em> time</h1>
    <dd>
      counted time:
      <ul>
        <li>the sun and its powers (years, decades, centuries, &amp;c)</li>
        <li>the seasons (solsice / equinox)</li>
        <li>the moon and its quarters (fortnights, weeks)</li>
      </ul>
      measured time:
      <ul>
        <li>earth zones and hours</li>
        <li>seconds and their powers</li>
        <li>the epoch</li>
      </ul>
    </dd>
  </section>
  <section>
    <h1>counted time</h1>
    <h1>Years</h1>
    <p>
      Years are a thing. I mean, they're as close to real as anything in the
      world of calendars.
    </p>
    <p>So it's common to deal in years.</p>
    <p>
      In this document, we'll make some timelines where years are the base unit.
    </p>
    <section>
      <h1>Geometric units</h1>
      <p>
        I say the <em>base</em> unit because we'll have other scales based on
        it, specifically, <em>decades</em> (10-year periods),
        <em>centuries</em> (100-year periods), and <em>millennia</em> (1000-year
        periods).
      </p>
      <p />
      <p>In summary:</p>
      <ol style="word-wrap: anywhere">
        <li>year 🔥</li>
        <li>decade 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥</li>
        <li>
          century. A long life.
          🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
        </li>
        <li>
          millennium. The fire of a thousand summers.
          🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
        </li>
      </ol>
      <section>
        <h1>ambiguous numeration of some units</h1>
        <p>
          There's a persistent problem when talking about some of these time
          units—at least in English. You've surely encountered it before.
        </p>
        <p>The “19th century” means the 1800's, not the 1900's.</p>
        <p>
          This is bad enough. But we also use a similar kind of term for
          decades—“1920's” and so on—but with a different standard.
        </p>
        <p>
          It's a different standard because we name a decade after its
          <em>first</em> year, whereas we name a century after its
          <em>last</em> year.
        </p>
        <aside>
          That's assuming you take the last year of a century to be the one
          ending 00 vs 99. TBD “boundary issues”
        </aside>
        <p>
          For millennia, which we don't talk about so often, we have no
          particular standard.
        </p>
      </section>
    </section>

    <section>
      <h1>Representation of relevant periods (as HTML)</h1>
      <p>We want to show relevant periods in the space some kind of way.</p>
      <p>In HTML, we could mark it up like this:</p>
      <pre>
&lt;div class="time-layers--absolute flat"&gt;
  &lt;div data-tile-of="Millennium" style="--millennium: 2"&gt;second millennium&lt;/div&gt;
  &lt;div data-tile-of="Century" style="--century: 19"&gt;20th century&lt;/div&gt;
  &lt;div data-tile-of="Decade" style="--decade: 193"&gt;1930's&lt;/div&gt;
  &lt;div data-tile-of="Decade" style="--decade: 194"&gt;1940's&lt;/div&gt;
  &lt;div data-tile-of="Year" style="--year: 1939"&gt;1939&lt;/div&gt;
  &lt;div data-tile-of="Year" style="--year: 1940"&gt;1940&lt;/div&gt;
  &lt;div data-tile-of="Year" style="--year: 1941"&gt;1941&lt;/div&gt;
  &lt;div data-tile-of="Year" style="--year: 1942"&gt;1942&lt;/div&gt;
  &lt;div data-tile-of="Year" style="--year: 1943"&gt;1943&lt;/div&gt;
  &lt;div data-tile-of="Year" style="--year: 1944"&gt;1944&lt;/div&gt;
  &lt;div data-tile-of="Year" style="--year: 1945"&gt;1945&lt;/div&gt;
&lt;/div&gt;
    </pre
      >
      <aside>
        <p>
          A more obvious encoding would use HTML attributes instead of CSS
          properties for the periods as well. We use CSS properties so that
          their values will be available for display calculations. Attributes
          are not currently (as of
          <time datetime="2023-01-04T02:13:49-0600"
            >2023-01-04T02:13:49-0600</time
          >
          ) available in CSS <code>calc</code> formulas.
        </p>
      </aside>
      <p>We might also want to group the tiles by their scale:</p>
      <pre>
&lt;div data-tiles-of="Millennium"&gt;
  &lt;div class="tile" style="--millennium: 1"&gt;second millennium&lt;/div&gt;
&lt;/div&gt;
&lt;div data-tiles-of="Century"&gt;
  &lt;div class="tile" style="--century: 19"&gt;20th century&lt;/div&gt;
&lt;/div&gt;
&lt;div data-tiles-of="Decade"&gt;
  &lt;div class="tile" style="--decade: 193"&gt;1930's&lt;/div&gt;
  &lt;div class="tile" style="--decade: 194"&gt;1940's&lt;/div&gt;
&lt;/div&gt;
&lt;div data-tiles-of="Year"&gt;
  &lt;div class="tile" style="--year: 1939"&gt;1939&lt;/div&gt;
  &lt;div class="tile" style="--year: 1940"&gt;1940&lt;/div&gt;
  &lt;div class="tile" style="--year: 1941"&gt;1941&lt;/div&gt;
  &lt;div class="tile" style="--year: 1942"&gt;1942&lt;/div&gt;
  &lt;div class="tile" style="--year: 1943"&gt;1943&lt;/div&gt;
  &lt;div class="tile" style="--year: 1944"&gt;1944&lt;/div&gt;
  &lt;div class="tile" style="--year: 1945"&gt;1945&lt;/div&gt;
&lt;/div&gt;
      </pre>
      <p>Both methods have their advantages, and both are implemented here.</p>
      <p>
        Either way, the tiles have style properties saying what period they
        represent.
      </p>
    </section>
    <section>
      <h1>Covering periods</h1>
      <aside>
        This is more about the idea of covering periods and isn't quite about
        the layout algorithm.
      </aside>
      <p>We could present the relevant periods quite simpy using flexbox.</p>
      <figure>
        <figcaption>Flexbox time layers</figcaption>
        <div class="time-layers--flex">
          <div class="time-layer">
            <div class="tile">second millennium</div>
          </div>
          <div class="time-layer">
            <div class="tile">20th century</div>
          </div>
          <div class="time-layer">
            <div class="tile">1930's</div>
            <div class="tile">1940's</div>
          </div>
          <div class="time-layer">
            <div class="tile">1939</div>
            <div class="tile">1940</div>
            <div class="tile">1941</div>
            <div class="tile">1942</div>
            <div class="tile">1943</div>
            <div class="tile">1944</div>
            <div class="tile">1945</div>
          </div>
        </div>
      </figure>
      <p>This gives decent results with only two rules:</p>
      <style>
        .time-layers--flex .time-layer {
          display: flex;
        }
        .time-layers--flex .tile {
          flex: auto;
          margin: 2px;
          background: #7774;
        }
      </style>
      <p>(The latter two rules are just for looks, not positioning.)</p>
      <p>
        But note that the layers are uncoordinated. For instance, you would
        expect “1940's” (the decade) to align with “1940,” whereas instead it's
        hovering somewhere between 1942 and 1943. That could be remedied, but
        it's not a problem where flexbox is going to help us much.
      </p>
      <p>
        Also, this is only good for a static view. We want to move around
        without abrupt changes to the layout, and the flexbox arrangement won't
        accomodate that.
      </p>
    </section>
    <section>
      <h1>Absolute control</h1>
      <p>
        To get something like that with positioned elements requires more
        code—but we get much more control over the result.
      </p>
      <figure>
        <figcaption>Flat markup of periods</figcaption>
        <div class="time-layers--absolute-context">
          <!-- prettier-ignore -->
          <div class="time-layers--absolute flat">
          <div data-tile-of="Millennium" style="--millennium: 1">second millennium</div>
          <div data-tile-of="Century" style="--century: 19">20th century</div>
          <div data-tile-of="Decade" style="--decade: 193">1930's</div>
          <div data-tile-of="Decade" style="--decade: 194">1940's</div>
          <div data-tile-of="Year" style="--year: 1939">1939</div>
          <div data-tile-of="Year" style="--year: 1940">1940</div>
          <div data-tile-of="Year" style="--year: 1941">1941</div>
          <div data-tile-of="Year" style="--year: 1942">1942</div>
          <div data-tile-of="Year" style="--year: 1943">1943</div>
          <div data-tile-of="Year" style="--year: 1944">1944</div>
          <div data-tile-of="Year" style="--year: 1945">1945</div>
        </div>
        </div>
      </figure>
      <figure>
        <figcaption>Nested markup of periods</figcaption>
        <div class="time-layers--absolute-context">
          <div class="time-layers--absolute">
            <div data-tiles-of="Millennium">
              <div class="tile" style="--millennium: 1">second millennium</div>
            </div>
            <div data-tiles-of="Century">
              <div class="tile" style="--century: 19">20th century</div>
            </div>
            <div data-tiles-of="Decade">
              <div class="tile" style="--decade: 193">1930's</div>
              <div class="tile" style="--decade: 194">1940's</div>
            </div>
            <div data-tiles-of="Year">
              <div class="tile" style="--year: 1939">1939</div>
              <div class="tile" style="--year: 1940">1940</div>
              <div class="tile" style="--year: 1941">1941</div>
              <div class="tile" style="--year: 1942">1942</div>
              <div class="tile" style="--year: 1943">1943</div>
              <div class="tile" style="--year: 1944">1944</div>
              <div class="tile" style="--year: 1945">1945</div>
            </div>
          </div>
        </div>
      </figure>
      <p>
        We're going to accomplish this with a combination of HTML attributes and
        CSS custom properties.
      </p>
      <p>For use on the timeline container:</p>
      <dl>
        <div>
          <dt><code>data-tiles-of</code></dt>
          <dd>
            an attribute with the value <code>Millennium</code>,
            <code>Century</code>, <code>Decade</code>,
            <code>Year</code>
            <aside>I want to use namespaced values for this, though.</aside>
          </dd>
        </div>
        <div>
          <dt><code>--from-year</code> and <code>--to-year</code></dt>
          <dd>
            a CSS property used on timelines to tell what period is being shown.
          </dd>
        </div>
      </dl>
      <p>For use on <em>tiles</em></p>
      <dl>
        <div>
          <dt><code>--year</code></dt>
          <dd>
            a CSS property telling the numeric year represented by a tile.
            Negative values represent BCE.
          </dd>
        </div>
        <div>
          <dt><code>--decade</code></dt>
          <dd>
            same as <code>--year</code> but for decades. The value is
            interpreted in the same way as an ISO 8601 decade (but without the
            zero padding).
          </dd>
        </div>
        <div>
          <dt><code>--century</code></dt>
          <dd>
            same as <code>--year</code> but for centuries. The value is
            interpreted in the same way as an ISO 8601 decade (but without the
            zero padding).
            <aside>
              At least I think that's right.
              <a href="https://ijmacd.github.io/rfc3339-iso8601/"
                >This wonderful page</a
              >
              has it that way. But the good people at ACDH
              <a
                href="https://vocabs.acdh.oeaw.ac.at/date_entities/en/page/?uri=https%3A%2F%2Fvocabs.acdh.oeaw.ac.at%2Fdate%2F21"
                >have it “off by one.”</a
              >
              See bug list.
            </aside>
          </dd>
        </div>
        <div>
          <dt><code>--millennium</code></dt>
          <dd>
            same as <code>--year</code> but for millennia. There's nothing
            exactly corresponding to this in ISO 8601.
          </dd>
        </div>
      </dl>
      <p>
        These CSS properties will be computed via formulas. You don't need to
        use them in timeline content.
      </p>
      <dl>
        <div>
          <dt><code>--year-multiplier</code></dt>
          <dd>
            the number of years represented by the period associated with tiles
            in this layer
          </dd>
        </div>
        <div>
          <dt><code>--year-base</code></dt>
          <dd>the first year associated with a tile</dd>
        </div>
      </dl>

      <p>Regardless of what else you're doing</p>
      <style>
        [data-tile-of],
        [data-tiles-of] &gt; .tile {
          position: absolute;
        }
      </style>
      <p>A container of tiles must be a positioning container.</p>
      <aside>
        Right? But all of the children will have the same positioning parent
        anyway.
      </aside>
      <aside>overspecified; see position flow-root</aside>
      <style>
        [data-tiles-of] {
          position: relative;
        }
      </style>
      <p>
        The horizontal axis is our main focus here. We want to do two things:
      </p>
      <ul>
        <li><strong>offset</strong> the tile based on its starting point</li>
        <li><strong>extend</strong> the tile based on its duration</li>
      </ul>
      <p>
        For these layers—millennia, centuries, decades, and years—we can get
        away with a very simple scheme.
      </p>
      <p>
        <code>--year-multiplier</code> of course differs for each unit of scale:
      </p>
      <p>We need scale for both offset and extent.</p>
      <!-- prettier-ignore -->
      <style>
        [data-tiles-of="Year"]      , [data-tile-of="Year"]       { --year-multiplier: 1 }
        [data-tiles-of="Decade"]    , [data-tile-of="Decade"]     { --year-multiplier: 10 }
        [data-tiles-of="Century"]   , [data-tile-of="Century"]    { --year-multiplier: 100 }
        [data-tiles-of="Millennium"], [data-tile-of="Millennium"] { --year-multiplier: 1000 }
    </style>
      <p>
        This, combined with a knowledge of what “window” of time we're looking
        at (expressed as a pair of years), is enough for us to calculate the
        width.
      </p>
      <style>
        [data-tile-of],
        [data-tiles-of] &gt; .tile {
          --year-span: calc(var(--to-year) - var(--from-year));
          --time-extent: calc(
            100% * var(--year-multiplier) / var(--year-span)
          );
        }
      </style>
      <p>
        Each layer uses a different CSS property to represent
        <em>which</em> period it represents at that particular scale.
      </p>
      <p>
        Unlike <code>--year-multiplier</code>, <code>--year-base</code> needs to
        be set at the tile layer.
      </p>
      <aside>
        <p>
          I find it surprising that this formula can't be written at the layer
          level. I expected that variables were late-bound.
        </p>
      </aside>
      <!-- prettier-ignore -->
      <style>
        [data-tile-of="Year"]      , [data-tiles-of="Year"]       &gt; * { --year-base: var(--year) }
        [data-tile-of="Decade"]    , [data-tiles-of="Decade"]     &gt; * { --year-base: var(--decade) }
        [data-tile-of="Century"]   , [data-tiles-of="Century"]    &gt; * { --year-base: var(--century) }
        [data-tile-of="Millennium"], [data-tiles-of="Millennium"] &gt; * { --year-base: var(--millennium) }
      </style>
      <p>With that, we can tell the offset:</p>
      <style>
        [data-tile-of],
        [data-tiles-of] &gt; .tile {
          --time-offset: calc(
            100% *
              (
                (var(--year-base) * var(--year-multiplier)) -
                  var(--from-year)
              ) / var(--year-span)
          );
        }
      </style>
      <p>Now we just need to bind that to the actual display properties.</p>
      <style>
        [data-tile-of],
        [data-tiles-of] &gt; .tile {
          left: var(--time-offset);
          width: var(--time-extent);
        }
      </style>
      <p>
        To the seasoned programmer, this probably looks a little
        <em>too</em> neat. It looks like “overfitting.” It's true as far as it
        goes, but you know that this apparent simplicity breaks down once you
        get to lower levels: months and days are irregular, and can't be
        expressed in terms of years anyway. But being
        <q>true as far as it goes</q>
        is good enough for our purpose here.
      </p>
      <p>
        We need at least <em>some</em> kind of vertical positioning, so that the
        boxes don't all end up on top of each other.
      </p>
      <style>
        .time-layers--absolute [data-tiles-of] &gt;
        .tile,
        .time-layers--absolute.flat [data-tile-of] {
          top: calc(2em * var(--time-level));
        }
      </style>
      <!-- prettier-ignore -->
      <style>
        [data-tile-of="Millennium"] , [data-tiles-of="Millennium"] { --time-level: 1 }
        [data-tile-of="Century"]    , [data-tiles-of="Century"]    { --time-level: 2 }
        [data-tile-of="Decade"]     , [data-tiles-of="Decade"]     { --time-level: 3 }
        [data-tile-of="Year"]       , [data-tiles-of="Year"]       { --time-level: 4 }
    </style>
      <p>The rest is just about how we want the things to look here:</p>
      <style>
        .time-layers--absolute {
          position: relative;
          min-height: 10em;
          border: 2px solid red;
        }
        .time-layers--absolute [data-tile-of],
        .time-layers--absolute [data-tiles-of] &gt;
        .tile {
          box-sizing: border-box;
          background: #7774;
          white-space: nowrap;
          border: 2px solid #3336;
          transition: 300ms;
        }
      </style>
      <p>
        Usually a timeline is clipped. This shows a bit to stage left and right,
        to help illustrate its structure.
      </p>
      <style>
        .time-layers--absolute-context {
          border: 2px solid blue;
          overflow: hidden;
        }
        .time-layers--absolute-context &gt;
        * {
          margin-left: 4em;
          margin-right: 4em;
        }
      </style>
      <p>The scale of the timeline is controlled by CSS properties.</p>
      <style>
        .time-layers--absolute {
          --from-year: 1939;
          --to-year: 1946;
        }
      </style>
      <p>
        To illustrate how this is dynamic, hovering over the timeline area
        changes the range.
      </p>
      <style>
        .time-layers--absolute:hover {
          --from-year: 1930;
          --to-year: 1950;
        }
      </style>
    </section>
  </section>
</article>
