<article>
  <h1>time stamps</h1>
  <style>
    @import "old-house-rules.css";
    dfn {
      color: Mark; /* but Firefox on Ubuntu does not set this... */
    }
  </style>
  <section>
    <p>A <dfn>timestamp</dfn> is a physical thing bearing a fixed time.</p>
    <p>
      Like <time datetime="1904">1904</time>. Or
      <time datetime="1564-04-26">April 26, 1564</time>. Or
      <time datetime="-04">the third century BCE</time>.
    </p>
    <p>
      I'm calling those “physical things” because, well, you see them, don't
      you?
    </p>
    <p>
      And as to their “bearing a fixed time,” I mean they have something visibly
      written on them (something involving time), which won't change or come off
      spontaneously. Like a... stamp.
    </p>
  </section>
  <section>
    <h1>making time</h1>
    <p>Press <kbd>t</kbd>. Go ahead, I dare you.</p>
    <p>In which we provide a way to create HTML <code>time</code> elements.</p>
    <p>
      Yes, HTML has
      <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time"
        >a Time element</a
      >. It's called <code>time</code>.
    </p>
    <p>
      To my knowiedge, <code>time</code> is not very popular. I would be
      surprised to learn that people are using <code>time</code> in any
      systematic way, which is what I love about it most: I can do whatever I
      want with it. And what I want to do with it is, maximize its operability.
    </p>
    <p>
      The <code>time</code> element has a machine interface and a human
      interface. The human interface is the part that you see. The machine
      interface is the part that you don't. So it goes.
    </p>
    <details open="">
      <summary>source</summary>
      <!-- prettier-ignore -->
      <style>
  #figure-time-interface .code {
    display: flex;
    /* align-items: start; effectively default */
    font-size: 3em;
  }
  #figure-time-interface [data-audience]::after {
    content: attr(data-audience);
    display: block;
    border-block-start: 0.5ch solid;
    font-family: var(--font-family-sans-serif);
  }
  #figure-time-interface [data-audience] { color: GrayText }
  #figure-time-interface [data-audience="human"] { color: Highlight }
</style>
    </details>
    <figure id="figure-time-interface">
      <figcaption>
        The human and machine interfaces of a <code>time</code> element
      </figcaption>
      <p>The HTML:</p>
      <!-- prettier-ignore -->
      <pre class="code">
&lt;time <span data-audience="machine">datetime="1944-06-06"</span>&gt;<span data-audience="human">D-Day</span>&lt;/time&gt;
          </pre>
      <p>
        What you see:
        <time datetime="1944-06-06">D-Day </time>
      </p>
    </figure>

    <div class="pivot">
      <div>
        <p>
          According to the spec, the <code>datetime</code> property of
          <code>time</code> elements are interpreted under a subset of ISO 8601.
          You can examine the extension of that subset (projected over the
          current time) directly in
          <a href="https://ijmacd.github.io/rfc3339-iso8601/"
            >this ingenious reference diagram</a
          >.
        </p>
        <p>
          Indeed, since the good hosts of that site are so kind as to allow
          embedding, I'm just going to put it right here, in the event that you
          can reach ye Olde internet.
        </p>
        <p>
          The moon in the Venn diagram where things “are ISO but not HTML” is
          indeed gibbous. Here I basically ignore the distinction and use ISO
          generally. Again, I don't know of anything that actually
          <em>processes</em> HTML <code>time</code> elements in any way. So
          whatever language is officially recognized in the
          <code>datetime</code> property is of no immediate consequence.
        </p>
      </div>
      <figure>
        <iframe
          src="https://ijmacd.github.io/rfc3339-iso8601/"
          style="border: none; height: 60vh; width: 100%"
        ></iframe>

        <figcaption>
          See, it ticks!<br /><br /><a
            target="_blank"
            href="https://ijmacd.github.io/rfc3339-iso8601/"
            >Source: https://ijmacd.github.io/rfc3339-iso8601/
          </a>
        </figcaption>
      </figure>
    </div>

    <p>
      But the introduction of ISO 8601 is fortuitous, because it's a lovely
      piece of work, perhaps even worth what
      <a
        href="https://web.archive.org/web/20230101194819/https://www.iso.org/standard/70907.html"
        >the ISO seems to want to charge for it</a
      >.
    </p>
    <p>
      So I'll use the fig leaf of this official relation to conclude that ISO
      8601 is a first-class thing in the browser, I mean something we can
      traffic in userland.
    </p>
    <p>
      For some reason, the idea of a physical thing that officially has no job
      but to describe a place in time is, well, the kind of thing that I get
      very excited about.
    </p>
    <p>
      <time datetime="2023-01-11T00:15:15-0500">2023-01-11T00:15:15-0500</time>
      Actually I think the reason is that HTML is low-powered
    </p>
  </section>

  <section>
    <h1>a very quick introduction to ISO 8601</h1>
    <p>In which we dissect this elegant format.</p>
    <p>
      This document is about reifying ISO 8601 expressions as HTML
      <code>&lt;time&gt;</code> elements.
    </p>
    <p>
      First, if you haven't already, go see
      <a href="https://ijmacd.github.io/rfc3339-iso8601/">this fine creation</a
      >. Go ahead, I'll wait.
    </p>
    <p>
      If you aren't convinced that ISO 8601 has everything you could ask for in
      a chronological notation targeting Unicode, please read on.
    </p>
    <p>
      Consider the following timestamp, which represents a specific millisecond
      on the temperate morning of January 8, 2023 when somewhere in Central
      Standard Time (in fact Louisiana) I activated a keyboard macro that
      printed it:
    </p>
    <p>
      <time datetime="2023-01-08T10:15:47.324-0500"
        >2023-01-08T10:15:47.324-0500</time
      >
    </p>
    <p>First... that is not pretty.</p>
    <p>
      I should have mentioned that ISO 8601 is foremost a <em>machine</em>
      interface. But I believe it has good human factors, too. The eyesore above
      is my doing. I will make amends in a moment.
    </p>
    <p>
      In any case, although this is the form that we must use to tell the
      machine what we mean, it is not necessarily what you see in the document.
      The annotation is invisible. It lives in metadata. I can write
      <q><time datetime="1978-11-09T11:19">my birthday</time></q> on a
      timestamp, and you'd have to inspect the element to see what the date
      actually is. Saying something descriptive is the business of
      <a href="labels.html">labeling</a>, which is discussed later.
    </p>
    <section>
      <h1>inspecting timestamps</h1>
      <p>Actually a useful thing we could do is to expose those things.</p>
      <p>
        Here we use the <code>time::after</code> pseudo element to show its
        <code>datetime</code> attribute.
      </p>
      <p>
        That's why hovering over the timestamps in this space is showing that
        overlay.
      </p>
      <details open="">
        <summary>code</summary>
        <style>
          time[datetime]:hover {
            position: relative;
          }
          time[datetime]:after {
            content: "📅🕐 " attr(datetime);
            position: absolute;
            background: Canvas;
            color: CanvasText;
            color: var(--time-color);
            font-weight: normal;
            border: 1px solid var(--time-color);
            left: 0;
            top: 100%;
            white-space: nowrap;
            margin-top: 0.2ch;
            padding: 0.5ch;
            transform-origin: top;
            transition: 150ms;
            z-index: 1;
            box-shadow: -1px -1px 1.5em #3338;
          }
          time[datetime]:not(:hover)::after {
            transform: rotateX(-90deg);
          }
        </style>
      </details>
    </section>
    <p>
      Returning to
      <time datetime="2023-01-08T10:15:47.324-0500"
        >that time I first tested the <code>time</code> keyboard macro</time
      >.
    </p>
    <p>We're going to understand the machine format first.</p>
    <section>
      <h1>tokens</h1>
      <div class="pivot">
        <div>
          <p>
            Like most formats, we can break the expression down into a flat
            sequence of parts.
          </p>
          <p>This is also called a “tokenization.”</p>
        </div>
        <figure>
          <figcaption>A flat breakdown of an ISO time</figcaption>
          <time datetime="2023-01-08T10:15:47.324-0500" class="flat breakdown"
            ><span data-token="YYYY">2023</span
            ><span data-separator="YYYY-MM">-</span
            ><span data-token="MM">01</span><span data-separator="MM-DD">-</span
            ><span data-token="DD">08</span><span data-separator="DD-hh">T</span
            ><span data-token="hh">10</span><span data-separator="hh-mm">:</span
            ><span data-token="mm">15</span><span data-separator="mm-ss">:</span
            ><span data-token="ss">47</span
            ><span data-separator="ss-uuu">.</span
            ><span data-token="uuu">324</span
            ><span data-separator="uuu-Z">-</span
            ><span data-token="Z">0500</span></time
          >

          <details open="">
            <summary>code</summary>
            <!-- prettier-ignore -->
            <style>
time.breakdown::after { display: none }
                
time.breakdown {
  font-family: var(--font-family-monospace);
  font-size: larger;
}
time.breakdown [data-separator] {
  color: GrayText;
  opacity: 0.6;
}

time.flat.breakdown &gt; * { flex: auto }
time.flat.breakdown {
  display: flex;
  text-align: center;
}
time.flat.breakdown [data-token]::before {
  content: attr(data-token);
  display: block;
  opacity: 0.5;
  font-size: smaller;
}
            </style>
          </details>
        </figure>
      </div>
    </section>
    <section>
      <h1>hierarchy</h1>
      <div class="pivot">
        <div>
          <p>
            The ISO datestamp is cleverly designed to have some useful
            properties. One of them is that it encodes a hierarchy—a
            <em>ten-level</em> hierarchy—directly in its lexical form. There are
            not many coherent ten-level hierarchies in circulation, but here's
            one that anyone can use.
          </p>
          <p>
            I find this arrangement intriguing, especially since it can in
            principle be applied to many kinds of parse trees. This is of course
            how numerals themselves work: each digit adds an
            <em>order</em>, which can mean a change in quality (not just
            degree). <a href="">Dewey Decimal system</a>. Other systems that
            also exploit this property are
            <mark>[whatever the geo tile scheme was, I can't find it now]</mark
            >. URL and file system paths.
            <time datetime="2023-01-13T17:31:17-0500"
              >maybe
              <a
                href="https://books.google.com/books/about/A_Hierarchical_Coordinate_System_for_Geo.html?id=5VLuAAAAMAAJ"
                >this book</a
              >
              is related to the geo scheme
            </time>
          </p>
          <p>
            This exercise shows us something about how the ISO form can be taken
            apart—the ways that it can shrink and grow. Each of the divisions in
            the figure represents a portion that can stand alone. Each structure
            can be “picked off” and still be a valid ISO 8601 date. Moreover,
            the neighboring dates have a definite relation, which we'll explore
            when we get to
            <a href="nav.html">navigation</a>.
          </p>
          <figure>
            <figcaption>“how to read a call number”</figcaption>
            <img
              src="https://web.archive.org/web/20221224210007im_/https://libapps.s3.amazonaws.com/accounts/151510/images/Reading_Dewey_Call_Numbers.png"
            />
          </figure>
          <p>
            <a>source</a>
            https://web.archive.org/web/20221224210007/https://libguides.pratt.edu/dewey-decimal-system
          </p>
        </div>
        <figure>
          <figcaption>A nested breakdown of an ISO time</figcaption>
          <label>level <input type="range" min="0" max="9" /></label>
          <time
            datetime="2023-01-08T10:15:47.324-0500"
            class="nested out-in-hover breakdown with-mark"
            ><span data-segment="localized time"
              ><span data-segment="millisecond"
                ><span data-segment="second"
                  ><span data-segment="minute"
                    ><span data-segment="hour"
                      ><span data-segment="day"
                        ><span data-segment="month"
                          ><span data-segment="year"
                            ><span data-segment="decade"
                              ><span data-segment="century">20</span
                              ><span data-token="Y3">2</span></span
                            ><span data-token="Y4">3</span></span
                          ><span data-separator="YYYY-MM">-</span
                          ><span data-token="MM">01</span></span
                        ><span data-separator="MM-DD">-</span
                        ><span data-token="DD">08</span></span
                      ><span data-separator="DD-hh">T</span
                      ><span data-token="hh">10</span></span
                    ><span data-separator="hh-mm">:</span
                    ><span data-token="mm">15</span></span
                  ><span data-separator="mm-ss">:</span
                  ><span data-token="ss">47</span></span
                ><span data-separator="ss-uuu">.</span
                ><span data-token="uuu">324</span></span
              ><span data-separator="uuu-Z">-</span
              ><span data-token="Z">0500</span></span
            ></time
          >
          <details open="">
            <summary>code</summary>
            <!-- prettier-ignore -->
            <style>
time.nested.breakdown {
  display: block;
  margin: 1ch; /* prevent clipping of outlines from figure */
}

time.breakdown.with-mark { color: GrayText }
/* time.breakdown.with-mark :hover, */
time.breakdown .mark-to { color: var(--time-color) }

time.nested.breakdown [data-segment] {
  display: grid;
  grid-template-areas: "label label label" "segment separator token";
  grid-auto-columns: 1fr auto auto;
  align-items: end;
}
time.nested.breakdown [data-segment]   { grid-area: segment }
time.nested.breakdown [data-separator] { grid-area: separator }
time.nested.breakdown [data-token]     { grid-area: token }

time.nested.breakdown [data-segment]::before {
content: attr(data-segment);
  grid-area: label;
  display: block;
  border-block-start: 0.2ch dotted GrayText;
  /* else line endpoint is muted by apparent text overhang */
  opacity: 0.7;
  font-weight: normal;
  font-size: smaller;
  padding-right: 0.2ch;
  text-align: end;
  box-sizing: border-box;
}

time.nested.breakdown [data-segment="century"] {
  text-align: end;
}
                </style>
            <!-- prettier-ignore -->
            <script>
{
  const figure = document.currentScript.closest("figure");
  const input = figure.querySelector('input[type="range"]');
  const time = figure.querySelector("time");
  const segments = [];
  let node = time;
  while (node) {
    node = node.querySelector(":scope &gt; [data-segment]");
    if (node) segments.unshift(node);
  }
  input.oninput = event =&gt; {
    const depth = parseInt(event.target.value, 10);
    segments.forEach((node, d) =&gt;
      node.classList.toggle("mark-to", d === depth)
    );
  };
}
                </script>
          </details>
        </figure>
      </div>
      <div class="pivot">
        <div>
          <p>
            I mean, It's kind of upside-down to say that a millisecond
            <em>contains</em> a second, which contains a minute and so on,
            until, like the lady who swallowed a fly, we contain the whole
            century! Come to think of it, this arrangement makes the smallest
            thing (a millisecond) the largest and the largest thing (a century)
            the smallest.
          </p>

          <p>
            That's because this reflects the <em>lexical</em> structure of the
            expression. It's easy to say that the form
            <code>2023</code> contains the form <code>20</code>. That's the kind
            of containment that's reflected here. It's also part of the reason
            why ISO 8601 can be sorted lexicographically, which is an extremely
            valuable feature. (The values and their representations (modulo time
            zones) have a corresponding total order... or something close.)
          </p>
          <p>
            More likely, if you have a precise timestamp to start with, then you
            would start with that precision level and move outward.
          </p>
        </div>
        <figure>
          <figcaption>inverted, and with a bounding box</figcaption>
          <label>level <input type="range" min="0" max="9" /></label>
          <time
            datetime="2023-01-08T10:15:47.324-0500"
            class="nested underground breakdown with-mark bounding-box"
            ><span data-segment="localized time"
              ><span data-segment="millisecond"
                ><span data-segment="second"
                  ><span data-segment="minute"
                    ><span data-segment="hour" class="mark-to"
                      ><span data-segment="day"
                        ><span data-segment="month"
                          ><span data-segment="year"
                            ><span data-segment="decade"
                              ><span data-segment="century">20</span
                              ><span data-token="Y3">2</span></span
                            ><span data-token="Y4">3</span></span
                          ><span data-separator="YYYY-MM">-</span
                          ><span data-token="MM">01</span></span
                        ><span data-separator="MM-DD">-</span
                        ><span data-token="DD">08</span></span
                      ><span data-separator="DD-hh">T</span
                      ><span data-token="hh">10</span></span
                    ><span data-separator="hh-mm">:</span
                    ><span data-token="mm">15</span></span
                  ><span data-separator="mm-ss">:</span
                  ><span data-token="ss">47</span></span
                ><span data-separator="ss-uuu">.</span
                ><span data-token="uuu">324</span></span
              ><span data-separator="uuu-Z">-</span
              ><span data-token="Z">0500</span></span
            ></time
          >
          <details open="">
            <summary>code</summary>
            <!-- prettier-ignore -->
            <style>
time.breakdown.bounding-box .mark-to {
  outline: 2px solid GrayText;
}

                </style>
            <!-- prettier-ignore -->
            <script>
{
  const figure = document.currentScript.closest("figure");
  const input = figure.querySelector('input[type="range"]');
  const time = figure.querySelector("time");
  const segments = [];
  let node = time;
  while (node) {
    node = node.querySelector(":scope &gt; [data-segment]");
    if (node) segments.unshift(node);
  }
  input.oninput = event =&gt; {
    const depth = parseInt(event.target.value, 10);
    segments.forEach((node, d) =&gt;
      node.classList.toggle("mark-to", d === depth)
    );
  };
}
                </script>
          </details>
        </figure>
      </div>
      <div class="pivot">
        <div>
          <p>Here's an underground version.</p>
          <p>
            Oh yes, that's exactly what I wanted. And it only required me to
            reverse the <code>grid-template-areas</code>.
            <time datetime="2023-01-09T22:37:01-0500"
              >2023-01-09T22:37:01-0500</time
            >
          </p>
          <p>
            This version also fixes the string construction. Now it builds from
            the century down.
          </p>
        </div>
        <figure>
          <figcaption>variation that puts time on top</figcaption>
          <label>level <input type="range" min="0" max="9" /></label>
          <time
            datetime="2023-01-08T10:15:47.324-0500"
            class="nested underground breakdown with-mark mark-box"
            ><span data-segment="localized time"
              ><span data-segment="millisecond"
                ><span data-segment="second"
                  ><span data-segment="minute"
                    ><span data-segment="hour"
                      ><span data-segment="day"
                        ><span data-segment="month"
                          ><span data-segment="year"
                            ><span data-segment="decade"
                              ><span data-segment="century">20</span
                              ><span data-token="Y3">2</span></span
                            ><span data-token="Y4">3</span></span
                          ><span data-separator="YYYY-MM">-</span
                          ><span data-token="MM">01</span></span
                        ><span data-separator="MM-DD">-</span
                        ><span data-token="DD">08</span></span
                      ><span data-separator="DD-hh">T</span
                      ><span data-token="hh">10</span></span
                    ><span data-separator="hh-mm">:</span
                    ><span data-token="mm">15</span></span
                  ><span data-separator="mm-ss">:</span
                  ><span data-token="ss">47</span></span
                ><span data-separator="ss-uuu">.</span
                ><span data-token="uuu">324</span></span
              ><span data-separator="uuu-Z">-</span
              ><span data-token="Z">0500</span></span
            ></time
          >
          <details open="">
            <summary>code</summary>
            <!-- prettier-ignore -->
            <style>
time.underground.breakdown [data-segment] {
  grid-template-areas:  "segment separator token" "label label label";
  align-items: start;
}
time.underground.breakdown { color: GrayText }
  
time.nested.breakdown:hover [data-segment]:not(:hover) { outline: none }
time.nested.breakdown:hover [data-segment]:not(:hover) { color: var(--time-color) }

time.breakdown [data-segment] { border-radius: 0.25ch }

time.breakdown.showing-layers [data-segment],
time.breakdown.mark-box:hover [data-segment]:hover,
time.breakdown.mark-box .mark-to {
  background: #ffffff05;
  box-shadow: 2px -1px 1em #3339
}
time.breakdown.mark-box:hover .mark-to:not(:hover) { outline: 2px dotted GrayText }


                </style>
            <!-- prettier-ignore -->
            <script>
{
  const figure = document.currentScript.closest("figure");
  const input = figure.querySelector('input[type="range"]');
  const time = figure.querySelector("time");
  const segments = [];
  let node = time;
  while (node) {
    node = node.querySelector(":scope &gt; [data-segment]");
    if (node) segments.unshift(node);
  }
  input.oninput = event =&gt; {
    const depth = parseInt(event.target.value, 10);
    segments.forEach((node, d) =&gt;
      node.classList.toggle("mark-to", d === depth)
    );
  };
}
                </script>
          </details>
        </figure>
      </div>
      <div class="pivot">
        <div>
          <p>Now I'd like to fix that containment effect.</p>
          <p>
            I'd also like to control it with the slider, so you can test without
            hover. The thing is, the <code>:hover</code> rules take advantage of
            some special properties of hovering (that is, it's transitive to its
            contents), so it's harder to write rules for. It requires at least a
            moving marker, and a fixed one, too, I think.
          </p>
          <p>
            That is, we'd like to be able to say, for some element, that we
            include from century to that level.
          </p>
          <p>
            Oh, very interesting. We get cascade from color. And since the
            containment relationship goes “up”, I only have to set one thing.
          </p>
        </div>
        <figure>
          <figcaption>show layers</figcaption>
          <label>level <input type="range" min="0" max="9" /></label>
          <time
            datetime="2023-01-08T10:15:47.324-0500"
            class="nested underground breakdown showing-layers with-mark mark-box"
            ><span data-segment="localized time"
              ><span data-segment="millisecond"
                ><span data-segment="second"
                  ><span data-segment="minute"
                    ><span data-segment="hour" class="mark-to"
                      ><span data-segment="day"
                        ><span data-segment="month"
                          ><span data-segment="year"
                            ><span data-segment="decade"
                              ><span data-segment="century">20</span
                              ><span data-token="Y3">2</span></span
                            ><span data-token="Y4">3</span></span
                          ><span data-separator="YYYY-MM">-</span
                          ><span data-token="MM">01</span></span
                        ><span data-separator="MM-DD">-</span
                        ><span data-token="DD">08</span></span
                      ><span data-separator="DD-hh">T</span
                      ><span data-token="hh">10</span></span
                    ><span data-separator="hh-mm">:</span
                    ><span data-token="mm">15</span></span
                  ><span data-separator="mm-ss">:</span
                  ><span data-token="ss">47</span></span
                ><span data-separator="ss-uuu">.</span
                ><span data-token="uuu">324</span></span
              ><span data-separator="uuu-Z">-</span
              ><span data-token="Z">0500</span></span
            ></time
          >
          <details open="">
            <summary>code</summary>
            <!-- prettier-ignore -->
            <style>
  /*
time.breakdown.showing-layers.with-mark .mark-to,
time.breakdown.showing-layers [data-segment]:hover {
  background: #ffffff05;
  border-radius: 0.25ch;
  outline: 2px solid GrayText;
  box-shadow: 2px -1px 1em #3339
  }
  */

                </style>
            <!-- prettier-ignore -->
            <script>
{
  const figure = document.currentScript.closest("figure");
  const input = figure.querySelector('input[type="range"]');
  const time = figure.querySelector("time");
  const segments = [];
  let node = time;
  while (node) {
    node = node.querySelector(":scope &gt; [data-segment]");
    if (node) segments.unshift(node);
  }
  input.oninput = event =&gt; {
    const depth = parseInt(event.target.value, 10);
    segments.forEach((node, d) =&gt;
      node.classList.toggle("mark-to", d === depth)
    );
  };
}
                </script>
          </details>
        </figure>
      </div>
      <div class="pivot">
        <div>
          <p>
            I'd really like to see this the other way around. I mean, I'd like
            to see what it looks like when the century is
            <em>outermost</em> and <em>rearmost</em>, with millisecond (or
            whatever we start with) small and in the front.
          </p>
          <p>
            I'm resistant to the idea of just inverting the structure itself,
            since that would (I think) lose the connection we have with the
            parse tree. Maybe there's some well-defined mapping that would give
            us the desired result. But I want to try other things first.
          </p>
        </div>
        <figure>
          <figcaption>inside-out</figcaption>
          <label>level <input type="range" min="0" max="9" /></label>
          <time
            datetime="2023-01-08T10:15:47.324-0500"
            class="inside-out breakdown"
            ><span data-segment="localized time"
              ><span data-segment="millisecond"
                ><span data-segment="second"
                  ><span data-segment="minute"
                    ><span data-segment="hour" class="mark-to"
                      ><span data-segment="day"
                        ><span data-segment="month"
                          ><span data-segment="year"
                            ><span data-segment="decade"
                              ><span data-segment="century">20</span
                              ><span data-token="Y3">2</span></span
                            ><span data-token="Y4">3</span></span
                          ><span data-separator="YYYY-MM">-</span
                          ><span data-token="MM">01</span></span
                        ><span data-separator="MM-DD">-</span
                        ><span data-token="DD">08</span></span
                      ><span data-separator="DD-hh">T</span
                      ><span data-token="hh">10</span></span
                    ><span data-separator="hh-mm">:</span
                    ><span data-token="mm">15</span></span
                  ><span data-separator="mm-ss">:</span
                  ><span data-token="ss">47</span></span
                ><span data-separator="ss-uuu">.</span
                ><span data-token="uuu">324</span></span
              ><span data-separator="uuu-Z">-</span
              ><span data-token="Z">0500</span></span
            ></time
          >
          <details open="">
            <summary>code</summary>
            <!-- prettier-ignore -->
            <style>
time.inside-out.breakdown {
  border: 2px solid red;
}

                </style>
            <!-- prettier-ignore -->
            <script>
{
  const figure = document.currentScript.closest("figure");
  const input = figure.querySelector('input[type="range"]');
  const time = figure.querySelector("time");
  const segments = [];
  let node = time;
  while (node) {
    node = node.querySelector(":scope &gt; [data-segment]");
    if (node) segments.unshift(node);
  }
  input.oninput = event =&gt; {
    const depth = parseInt(event.target.value, 10);
    segments.forEach((node, d) =&gt;
      node.classList.toggle("mark-to", d === depth)
    );
  };
}
                </script>
          </details>
        </figure>
      </div>
      <div class="pivot">
        <div>
          <p>I would sooner, for example, revert to the flat breakdown.</p>
          <p>
            <time datetime="2023-01-11T23:01:18-0500"
              >which does present a ruler, over a logarithmic scale</time
            >. With minor modifications (shift Milleniums onto the front, slip
            weeks in between months and days), this is our domain here.
          </p>
          <p>
            This is not exactly logarithmic, but it is very much non-linear.
            There's a completely different kind of “pull” at each end.
          </p>
        </div>
        <figure>
          <figcaption>flat breakdown revisited</figcaption>
          <time
            datetime="2023-01-08T10:15:47.324-0500"
            class="flat revisited breakdown"
            ><span data-token="YYYY">2023</span
            ><span data-separator="YYYY-MM">-</span
            ><span data-token="MM">01</span><span data-separator="MM-DD">-</span
            ><span data-token="DD">08</span><span data-separator="DD-hh">T</span
            ><span data-token="hh">10</span><span data-separator="hh-mm">:</span
            ><span data-token="mm">15</span><span data-separator="mm-ss">:</span
            ><span data-token="ss">47</span
            ><span data-separator="ss-uuu">.</span
            ><span data-token="uuu">324</span
            ><span data-separator="uuu-Z">-</span
            ><span data-token="Z">0500</span></time
          >
          <details open="">
            <summary>code</summary>
            <!-- prettier-ignore -->
            <style>
time.revisited.breakdown {
  border: 2px solid yellow;
}

                </style>
            <!-- prettier-ignore -->
            <script>
{
  const figure = document.currentScript.closest("figure");
  const input = figure.querySelector('input[type="range"]');
  const time = figure.querySelector("time");
  const segments = [];
  let node = time;
  while (node) {
    node = node.querySelector(":scope &gt; [data-segment]");
    if (node) segments.unshift(node);
  }
  input?.oninput = event =&gt; {
    const depth = parseInt(event.target.value, 10);
    segments.forEach((node, d) =&gt;
      node.classList.toggle("mark-to", d === depth)
    );
  };
}
                </script>
          </details>
        </figure>
      </div>
      <div class="pivot">
        <div>
          <p>I would sooner, for example, revert to the flat breakdown.</p>
        </div>
        <figure>
          <figcaption>flat breakdown revisited</figcaption>
          <time
            datetime="2023-01-08T10:15:47.324-0500"
            class="flat revisited breakdown"
            ><span data-token="YYYY">2023</span
            ><span data-separator="YYYY-MM">-</span
            ><span data-token="MM">01</span><span data-separator="MM-DD">-</span
            ><span data-token="DD">08</span><span data-separator="DD-hh">T</span
            ><span data-token="hh">10</span><span data-separator="hh-mm">:</span
            ><span data-token="mm">15</span><span data-separator="mm-ss">:</span
            ><span data-token="ss">47</span
            ><span data-separator="ss-uuu">.</span
            ><span data-token="uuu">324</span
            ><span data-separator="uuu-Z">-</span
            ><span data-token="Z">0500</span></time
          >
          <details open="">
            <summary>code</summary>
            <!-- prettier-ignore -->
            <style>
time.revisited.breakdown {
  border: 2px solid yellow;
}

                </style>
            <!-- prettier-ignore -->
            <script>
{
  const figure = document.currentScript.closest("figure");
  const input = figure.querySelector('input[type="range"]');
  const time = figure.querySelector("time");
  const segments = [];
  let node = time;
  while (node) {
    node = node.querySelector(":scope &gt; [data-segment]");
    if (node) segments.unshift(node);
  }
  input?.oninput = event =&gt; {
    const depth = parseInt(event.target.value, 10);
    segments.forEach((node, d) =&gt;
      node.classList.toggle("mark-to", d === depth)
    );
  };
}
                </script>
          </details>
        </figure>
      </div>
      <div class="pivot">
        <div>
          <p>I would sooner, for example, revert to the flat breakdown.</p>
        </div>
        <figure>
          <figcaption>flat breakdown revisited</figcaption>
          <time
            datetime="2023-01-08T10:15:47.324-0500"
            class="flat revisited breakdown"
            ><span data-token="YYYY">2023</span
            ><span data-separator="YYYY-MM">-</span
            ><span data-token="MM">01</span><span data-separator="MM-DD">-</span
            ><span data-token="DD">08</span><span data-separator="DD-hh">T</span
            ><span data-token="hh">10</span><span data-separator="hh-mm">:</span
            ><span data-token="mm">15</span><span data-separator="mm-ss">:</span
            ><span data-token="ss">47</span
            ><span data-separator="ss-uuu">.</span
            ><span data-token="uuu">324</span
            ><span data-separator="uuu-Z">-</span
            ><span data-token="Z">0500</span></time
          >
          <details open="">
            <summary>code</summary>
            <!-- prettier-ignore -->
            <style>
time.revisited.breakdown {
  border: 2px solid yellow;
}

                </style>
            <!-- prettier-ignore -->
            <script>
{
  const figure = document.currentScript.closest("figure");
  const input = figure.querySelector('input[type="range"]');
  const time = figure.querySelector("time");
  const segments = [];
  let node = time;
  while (node) {
    node = node.querySelector(":scope &gt; [data-segment]");
    if (node) segments.unshift(node);
  }
  input?.oninput = event =&gt; {
    const depth = parseInt(event.target.value, 10);
    segments.forEach((node, d) =&gt;
      node.classList.toggle("mark-to", d === depth)
    );
  };
}
                </script>
          </details>
        </figure>
      </div>
      <div class="pivot">
        <div>
          <p>I would sooner, for example, revert to the flat breakdown.</p>
        </div>
        <figure>
          <figcaption>flat breakdown revisited</figcaption>
          <time
            datetime="2023-01-08T10:15:47.324-0500"
            class="flat revisited breakdown"
            ><span data-token="YYYY">2023</span
            ><span data-separator="YYYY-MM">-</span
            ><span data-token="MM">01</span><span data-separator="MM-DD">-</span
            ><span data-token="DD">08</span><span data-separator="DD-hh">T</span
            ><span data-token="hh">10</span><span data-separator="hh-mm">:</span
            ><span data-token="mm">15</span><span data-separator="mm-ss">:</span
            ><span data-token="ss">47</span
            ><span data-separator="ss-uuu">.</span
            ><span data-token="uuu">324</span
            ><span data-separator="uuu-Z">-</span
            ><span data-token="Z">0500</span></time
          >
          <details open="">
            <summary>code</summary>
            <!-- prettier-ignore -->
            <style>
time.revisited.breakdown {
  border: 2px solid yellow;
}

                </style>
            <!-- prettier-ignore -->
            <script>
{
  const figure = document.currentScript.closest("figure");
  const input = figure.querySelector('input[type="range"]');
  const time = figure.querySelector("time");
  const segments = [];
  let node = time;
  while (node) {
    node = node.querySelector(":scope &gt; [data-segment]");
    if (node) segments.unshift(node);
  }
  input?.oninput = event =&gt; {
    const depth = parseInt(event.target.value, 10);
    segments.forEach((node, d) =&gt;
      node.classList.toggle("mark-to", d === depth)
    );
  };
}
                </script>
          </details>
        </figure>
      </div>
      <div class="pivot">
        <div>
          <p>I would sooner, for example, revert to the flat breakdown.</p>
        </div>
        <figure>
          <figcaption>flat breakdown revisited</figcaption>
          <time
            datetime="2023-01-08T10:15:47.324-0500"
            class="flat revisited breakdown"
            ><span data-token="YYYY">2023</span
            ><span data-separator="YYYY-MM">-</span
            ><span data-token="MM">01</span><span data-separator="MM-DD">-</span
            ><span data-token="DD">08</span><span data-separator="DD-hh">T</span
            ><span data-token="hh">10</span><span data-separator="hh-mm">:</span
            ><span data-token="mm">15</span><span data-separator="mm-ss">:</span
            ><span data-token="ss">47</span
            ><span data-separator="ss-uuu">.</span
            ><span data-token="uuu">324</span
            ><span data-separator="uuu-Z">-</span
            ><span data-token="Z">0500</span></time
          >
          <details open="">
            <summary>code</summary>
            <!-- prettier-ignore -->
            <style>
time.revisited.breakdown {
  border: 2px solid yellow;
}

                </style>
            <!-- prettier-ignore -->
            <script>
{
  const figure = document.currentScript.closest("figure");
  const input = figure.querySelector('input[type="range"]');
  const time = figure.querySelector("time");
  const segments = [];
  let node = time;
  while (node) {
    node = node.querySelector(":scope &gt; [data-segment]");
    if (node) segments.unshift(node);
  }
  input?.oninput = event =&gt; {
    const depth = parseInt(event.target.value, 10);
    segments.forEach((node, d) =&gt;
      node.classList.toggle("mark-to", d === depth)
    );
  };
}
                </script>
          </details>
        </figure>
      </div>
      <div class="pivot">
        <div>
          <p>I would sooner, for example, revert to the flat breakdown.</p>
        </div>
        <figure>
          <figcaption>flat breakdown revisited</figcaption>
          <time
            datetime="2023-01-08T10:15:47.324-0500"
            class="flat revisited breakdown"
            ><span data-token="YYYY">2023</span
            ><span data-separator="YYYY-MM">-</span
            ><span data-token="MM">01</span><span data-separator="MM-DD">-</span
            ><span data-token="DD">08</span><span data-separator="DD-hh">T</span
            ><span data-token="hh">10</span><span data-separator="hh-mm">:</span
            ><span data-token="mm">15</span><span data-separator="mm-ss">:</span
            ><span data-token="ss">47</span
            ><span data-separator="ss-uuu">.</span
            ><span data-token="uuu">324</span
            ><span data-separator="uuu-Z">-</span
            ><span data-token="Z">0500</span></time
          >
          <details open="">
            <summary>code</summary>
            <!-- prettier-ignore -->
            <style>
time.revisited.breakdown {
  border: 2px solid yellow;
}

                </style>
            <!-- prettier-ignore -->
            <script>
{
  const figure = document.currentScript.closest("figure");
  const input = figure.querySelector('input[type="range"]');
  const time = figure.querySelector("time");
  const segments = [];
  let node = time;
  while (node) {
    node = node.querySelector(":scope &gt; [data-segment]");
    if (node) segments.unshift(node);
  }
  input?.oninput = event =&gt; {
    const depth = parseInt(event.target.value, 10);
    segments.forEach((node, d) =&gt;
      node.classList.toggle("mark-to", d === depth)
    );
  };
}
                </script>
          </details>
        </figure>
      </div>
      <div class="pivot">
        <div>
          <p>
            Playing with the effects in the example, you can start to see how we
            might spatially represent projections from dates into larger
            periods. This arrangement is actually the opposite of what we'd
            want, since it has the <em>smallest</em> unit represented by the
            largest thing, and <i>vice versa</i>. But that's a matter of
            <a href="perspectives.html">perspective</a>, which we come to later.
          </p>
          <p>
            Might we not also try flipping the nesting scheme to better
            advantage? It depends what you prefer to illustrate.
          </p>
        </div>
        <figure>
          <figcaption>persist</figcaption>
        </figure>
      </div>
      <div class="pivot">
        <div>
          <p>Here are the dates and their interpretations.</p>
          <p>
            The important thing to note here is that the
            <em>precision changes at each level</em>. When we say
            <time datetime="2020">2020</time>, we don't mean a point in time,
            like “midnight at January 1, 2020.” We mean, “the year 2020”. It's a
            much less precise statement than pinpointing an instant in time,
            which incidentally is the only kind of <code>Date</code> provided in
            JavaScript.
          </p>
          <p>
            As the example shows, we label dates in a variety of ways. The
            “minute” level is the smallest one that we give any kind of name to.
            I have often heard times specified down to the minute, but never to
            the second.
          </p>
          <aside>
            <p>
              Also, we are not really interested in time zone for most purposes
              here.
            </p>
          </aside>
          <p>
            This picture is not quite complete. There are other valid sections
            that can be drawn from the text that can't be added to the diagram
            using simple containment, since they cut across the existing tree.
          </p>
        </div>
        <figure>
          <figcaption>a time and its broader terms</figcaption>
          <!-- prettier-ignore -->
          <dl class="tree">
<div><dt>a point in time in CST</dt><dd><time datetime="2023-01-08T19:01:11.324-0500">2023-01-08T19:01:11.324-0500</time></dd></div>
<div><dt>a point in time in UTC</dt><dd><time datetime="2023-01-08T19:01:11.324">2023-01-08T19:01:11.324</time></dd></div>
<div><dt>a point in time (?) </dt><dd><time datetime="2023-01-08T19:01:12">2023-01-08T19:01:12</time></dd></div>
<div><dt>7:01PM on 1/8/23</dt><dd><time datetime="2023-01-08T19:01">2023-01-08T19:01</time></dd></div>
<div><dt>The 19th hour of January 8, 2023 (GMT)</dt><dd><time datetime="2023-01-08T19">2023-01-08T19</time></dd></div>
<div><dt>8 January, 2023</dt><dd><time datetime="2023-01-08">2023-01-08</time></dd></div>
<div><dt>Jan ‘23</dt><dd><time datetime="2023-01">2023-01</time></dd></div>
<div><dt>2023</dt><dd><time datetime="2023">2023</time></dd></div>
<div><dt>the 2020’s</dt><dd><time datetime="202">202</time></dd></div>
<div><dt>the 21<sup>st</sup> century</dt><dd><time datetime="20">20</time></dd></div>
            </dl>
        </figure>
      </div>
    </section>
    <section class="pivot">
      <div>
        <h1>future work</h1>
        <p>
          There are other kinds of productions in ISO. Time can be used
          separately from date, to indicate a specific time “on any given day.”
        </p>
      </div>
      <figure>
        <figcaption>separate date and time breakdown</figcaption>
        <time datetime="2023-01-08T10:15:47.324-0500" class="nested breakdown"
          ><span data-segment="date"
            ><span data-segment="day"
              ><span data-segment="month"
                ><span data-segment="year"
                  ><span data-token="YYYY">2023</span></span
                ><span data-separator="YYYY-MM">-</span
                ><span data-token="MM">01</span></span
              ><span data-separator="MM-DD">-</span
              ><span data-token="DD">08</span></span
            ></span
          ><span data-separator="DD-hh">T</span
          ><span data-segment="time"
            ><span data-segment="second"
              ><span data-segment="minute"
                ><span data-segment="hour"><span data-token="hh">10</span></span
                ><span data-separator="hh-mm">:</span
                ><span data-token="mm">15</span></span
              ><span data-separator="mm-ss">:</span
              ><span data-token="ss">47</span></span
            ><span data-separator="ss-Z">-</span
            ><span data-token="Z">0500</span></span
          ></time
        >
      </figure>
    </section>
  </section>
  <section class="pivot">
    <div>
      <h1>we're going to make a mint</h1>
      <details open="">
        <summary>code</summary>
        <script>
          {
            function make_timestamp_mint_process() {
              function onkeydown(event) {
                if (event.key === "t") {
                  // drop a timestamp into the document “at point”
                  const now = new Date();
                  const iso = now.toISOString();
                  const time = document.createElement("time");
                  time.dateTime = iso;
                  time.innerText = iso;
                  document.body.insertAdjacentText("afterbegin", " ");
                  document.body.prepend(time);
                  event.preventDefault(); // ‘t’ has no default that I know of
                }
              }
              function start() {
                globalThis.addEventListener("keydown", onkeydown);
              }
              function stop() {
                globalThis.removeEventListener("keydown", onkeydown);
              }
              return { start, stop };
            }
          }
        </script>
        <script>
          make_timestamp_mint_process().start();
        </script>
      </details>
    </div>
  </section>

  <section>
    <h1>operating on time</h1>
    <p>
      In which we provide ways of talking to pre-existing
      <code>time</code> elements.
    </p>
    <figure>
      <figcaption>scratch area</figcaption>
      <div style="height: 15em; border: 1ch solid">
        <pre>
            <time datetime="2023-01-08T19:01:11.324-0500">2023-01-08T19:01:11.324-0500</time>
            <time datetime="2023-01-08T19:01:11.324">2023-01-08T19:01:11.324</time>
            <time datetime="2023-01-08T19:01:12">2023-01-08T19:01:12</time>
            <time datetime="2023-01-08T19:01">2023-01-08T19:01</time>
            <time datetime="2023-01-08T19">2023-01-08T19</time>
            <time datetime="2023-01-08">2023-01-08</time>
            <time datetime="2023-01">2023-01</time>
            <time datetime="2023">2023</time>
            <time datetime="202">202</time>
            <time datetime="20">20</time>
            </pre>
      </div>
    </figure>
    <section>
      <h1>time should be focusable?</h1>
    </section>
  </section>
  <aside>
    <h1>other uses of “timestamp”</h1>
    <p>
      “Timestamps” are often used in computer logs. There it means what I mean
      here: an absolute time.
    </p>
    <p>
      Locations in a video are also called “timestamps”—at least I saw them in a
      certain place recently. These are interesting cases because, although they
      are indeed expressed as quantities of time (and ISO can express such
      durations separate from any specific instance), they are only
      interpretable relative to the associated video. That is, 9:09 in a certain
      cat video means something completely different than 9:09. Locations of
      this kind can be usually expressed in some bespoke way as a hybrid of the
      URL and the timestamp (in the form of an anchor or query parameter).
    </p>
  </aside>
  <section>
    <h1>date and time representation</h1>
    <aside>TODO: absorb <a href="../acdh.html">earlier notes on ACDH</a></aside>
    <section>
      <h1>ISO 8601</h1>
      <p>
        ISO 8601 is a format for representing dates, times, periods, and time
        intervals.
      </p>
      <p>
        I would add that it's a <em>sane</em> format, which is about the highest
        praise I can offer in the realm of computers.
      </p>
      <section>
        <h1>resources for ISO 8601</h1>
        <ul>
          <li>
            <a href="https://ijmacd.github.io/rfc3339-iso8601/"
              >RFC 3339 vs ISO 8601 vs HTML</a
            >: a useful site featuring a clever Venn diagram comparing those
            formats. It includes a parsing tool that is very useful and does a
            similar job to the ISO functions in the current implementation.
          </li>
          <li>
            <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a> on
            Wikipedia
          </li>
          <li>
            Appendix A from the Oracle JSON developer's guide:
            <a
              href="https://docs.oracle.com/en/database/oracle/oracle-database/21/adjsn/iso-8601-date-time-and-duration-support.html"
              >“ISO 8601 Date, Time, and Duration Support”</a
            >
          </li>
        </ul>
        <section>
          <h1>the actual spec</h1>
          <p>
            Perhaps the canonical location for these documents is at iso.org:
          </p>
          <ul>
            <li>
              <a href="https://www.iso.org/standard/70907.html"
                >ISO 8601-1:2019 Date and time — Representations for information
                interchange — Part 1: Basic rules</a
              >
            </li>
            <li>
              <a href="https://www.iso.org/standard/70908.html"
                >ISO 8601-2:2019 Date and time — Representations for information
                interchange — Part 2: Extensions</a
              >
            </li>
          </ul>
          <p>
            Stunningly, ISO actually wants to charge for copies of these
            “standards.”
          </p>
          <p>Fortunately, PDF's are available from the Internet Archive:</p>
          <p>
            <a
              href="https://web.archive.org/web/20171020084445/https://www.loc.gov/standards/datetime/ISO_DIS%208601-1.pdf"
              >Data elements and interchange formats — Information interchange -
              Representation of dates and times — Part 1: Basic rules</a
            >
          </p>
          <p>
            <a
              href="https://web.archive.org/web/20171020085148/https://www.loc.gov/standards/datetime/ISO_DIS%208601-2.pdf"
              >Data elements and interchange formats — Information interchange -
              Representation of dates and times — Part 2: Extensions</a
            >
          </p>
        </section>
      </section>
    </section>
    <section>
      <h1>ACDH / LODE</h1>
      <h2>Linked open dates etc</h2>
      <p>This is part of the RDF story.</p>
      <ul>
        <li>
          <a href="https://vocabs.acdh.oeaw.ac.at/date_entities/en/">
            ACDH-CH Linked Open Date Entities
          </a>
        </li>
        <li>
          <a href="https://vocabs.acdh.oeaw.ac.at/ut_entities/en/">
            ACDH-CH Linked Open Date Entities Unit of Time
          </a>
        </li>
      </ul>
    </section>
    <section>
      <h1>The apparent wrongness of ACDH w.r.t. century numbers</h1>
      <p>
        It's a little mystifying how they could have gotten this wrong, but
        what's certain is that it disagrees with the parsing tool linked above
        for the numeration of centuries.
      </p>
      <p>
        However, it appears to disagree with ACDH on the ISO representation of
        centuries, or rather the interpretation of them. Its service returns the
        following for the input <code>20</code>:
      </p>
      <pre>
{
    "type": "date",
    "canonical": "20",
    "inclusiveStart": "2000-01-01T00:00:00",
    "exclusiveEnd": "2100-01-01T00:00:00",
    "century": 20,
    "decade": null,
    "year": null,
    "month": null,
    "day": null,
    "weekYear": null,
    "week": null,
    "weekDay": null,
    "yearDay": null,
    "subYearGrouping": null
}
          </pre
      >
      <p>
        But ACDH would call that century <code>21</code>:
        https://vocabs.acdh.oeaw.ac.at/date_entities/en/page/?uri=https%3A%2F%2Fvocabs.acdh.oeaw.ac.at%2Fdate%2F21
      </p>
      <p>
        Likewise it says the “20th century” is called
        <code>20</code>, which it appears should be <code>19</code> in ISO.
        https://vocabs.acdh.oeaw.ac.at/date_entities/en/page/?uri=https%3A%2F%2Fvocabs.acdh.oeaw.ac.at%2Fdate%2F20
      </p>
    </section>
  </section>
</article>
