<article>
  <h2>story time</h2>
  <section>
    <h2>time tales, time narratives, time documents, time compositions</h2>
    <p>Now we bring together everything into one grand finale.</p>
    <p>
      The vision is that you can compose a document conversationally (as with
      you know, a chat bot). Your “prompts” are interpreted as a sequence of
      timelines.
    </p>
    <p>It's like a conversational interface.</p>
    <p>The input area is a kind of prompt.</p>
    <p>
      It applies <a href="language.html#recognizers">recognizers</a> to your
      text.
    </p>
    <p>
      When it recognizes a temporal expression, it constructs or updates an
      interpretation, which is shown in the adjacent figure.
    </p>
    <p>Multiple <a href="tiles.html">domains</a> can come into play.</p>
    <p>
      When you enter a new section, consecutive timelines may be
      <a href="streams.html">joined</a>.
    </p>
  </section>
  <section>
    <h1>example</h1>
    <div style="display: flex">
      <div style="flex: auto; min-width: 35%">
        <p>So like I said, I was born in 1923, see.</p>
      </div>
      <div style="flex: auto; min-width: 35%">
        <figure>
          <figcaption>a timeline showing 1923</figcaption>
        </figure>
      </div>
    </div>
  </section>
</article>
