<article>
  <h2>time flow, connective tissue</h2>
  <p>
    This article is about a concept called “timestreams” (for lack of a better
    name). A timestream is a collection of
    <a href="frames.html">timeframes</a>.
  </p>
  <p>
    Or, more precisely, we can consider a means of composing two timeframes. A
    goal of this composition is <em>locality</em>: that we can change one
    timeframe and impact only the neighboring connective tissues, even though
    the whole sequence appears as smooth (like cubic Bezier curves).
  </p>
</article>
