<article>
  <h1><time datetime="2023-05-15T20:35:23Z"></time>fuzzing the file system</h1>
  <p>
    In this notebook, I found myself asking the question, How can I create
    misery using filenames as my only weapon? The answer is, very easily.
  </p>
  <p>
    As part of that effort, I created files and directories with names that
    include such things as spaces and apostrophes and double quotes and
    non-ASCII code points. I found various problems with these, which I won't
    get into now. This partly drove me to abandoning the use of plain Tup files
    and to prefer a Lua approach, which I explore further in other notebooks. In
    short, there is a world in which
    <em>this system</em> (sourdough) isn't the reason you choose to avoid such
    chicanery.
  </p>
  <p>
    But yes, whether or not using <em>using</em> such filenames is a good idea,
    is a separate question. Programmers avoid even spaces in filenames.
    Apparently using <em>newlines</em> in filenames is considered a
    <a href="https://superuser.com/q/129519">programming challenge</a>.
  </p>
  <p>Well, I put newlines into a filename, and guess what broke?</p>
  <p>
    Git for windows. I was able to check in the files here (on Linux), but I
    couldn't check it out on Windows, at least not under Cygwin. To wit, there's
    no away around that. You're dead in the water.
  </p>
  <p>
    So I'm stopping by here to note that that's the reason for my getting rid of
    the offending directory.
  </p>
  <blockquote>
    <p>
      When Steve Bourne was testing his shell, he had a directory with 254
      single-character file names in it - and it wrought havoc on programs that
      were not expecting such characters in file names.
    </p>
    <cite
      ><a
        href="https://superuser.com/questions/129519/which-file-systems-support-newlines-in-file-names#comment132260_129532"
        >Jonathan Leffler
        <time datetime="2010-04-11T04:07:34Z">Apr 11, 2010 at 4:07</time></a
      ></cite
    >
  </blockquote>
  <p>
    As and when I return to this topic, I will be that systematic about it.<time
      datetime="2023-05-15T20:54:25Z"
    ></time>
  </p>
</article>
