<article>
  <h2><time datetime="2023-03-24T02:52:31Z">Thursday.</time> proposal: zip</h2>
  <p>A few days of sourdough,<br />a few findings.</p>
  <p>
    But let me not bury the lede. The main finding is that there's no need for
    most of the existing code. Packing up files were best done by the host,
    where we may assume zip capabilities. We may also enjoy them in userspace,
    though we could regenerate even without them, for it's only necessary to
    provide the zip as a download.
  </p>
  <p>
    The impact of this is that any file listing done to the document is merely
    informational. I do find that having at least a manifest is good. But since
    we collapse the files by default and could use script to visit them on
    demand, then we might as well also extract them on demand. The noscript
    option is simply to download the zip and extract it yourself.
  </p>
  <p>
    <time datetime="2023-03-24T03:06:19Z"></time>It's not obvious on a quick
    review of
    <a href="https://developer.mozilla.org/en-US/docs/Web/Manifest"
      >Web app manifests</a
    >
    whether it would apply to regular HTML.
  </p>
  <p>Anyway, it reduces the starter to almost nothing.</p>
  <p>It no longer requires XSLT, but zip, which is far more available.</p>
  <p>
    Whereas I was previously downloading a shell script and running an unpack
    and then going to the target directory. I would now download a zip, extract
    it, and go to that directory. That preserves modes and timestamps and
    supports all filenames and binaries.
  </p>
  <p>
    I mean everyone can zip a folder, right? The shell already provides that. We
    could say that zipping the entire folder in any state should be considered a
    satisfactory pack. But we can do better by including only the essential
    files, which includes the recipes for the others.
  </p>
  <p>
    With a zip, there should be very little to the starter. And although I am
    quite fond of those 6057 bytes, this one will be smaller and stronger.
  </p>
  <p>
    With this, there's no need for the intermediate bundle. In essence, I want
    to make one file which is generally dependent on all (regular) files in the
    tree.
  </p>
  <p>
    I can remove a lot of stuff, but I need to add a fixpoint runner, and I need
    to switch to Lua for Tup.
  </p>
  <p>
    The bundles are what made the recursive input possible, by belonging to a
    group. Which is fine, but there is now no intermediate form in which want
    the files concatenated. Also it kind of forces the question, why is this
    rule worthwhile, when 99% of the time, you don't need to take a snapshot.
    Yeah this whole thing is falling apart. That's okay. It's dough.
  </p>
  <p>
    I think what I'm saying is that I'm back to there being no need for system
    rules. You just have a snapshot command, which is like pack was except that
    it produces a notebook.html containing a zip of the essential project files,
    rather than a shell script for extracting them from the HTML. Thus, Tup is
    not even involved in making the notebook? Except that it may be answerable
    for the status of various files. Yes, I'll need to consult the Tup graph to
    know which files can be omitted. Or, we could rely on .gitignore for that.
    <q>Clean zip</q>—zip excluding gitignore—is a meaningful operation in its
    own right.
  </p>
  <p>
    If it does nothing else, this <em>forces</em> me to focus on domain work,
    since there's no system left! Seriously!<time
      datetime="2023-03-24T03:35:40Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-03-24T03:39:43Z"></time>This also forces the question
    of what you actually <em>do</em> want to see in the document.
  </p>
  <p>
    I mean, I still want to see that file listing on a timeline. So actually
    that is a kind of <q>system rule</q>.
  </p>
  <p>
    Okay. I see what happens here. You don't roll up the contents, but you roll
    up the listings.
  </p>
  <p>
    <time datetime="2023-03-24T03:48:41Z"></time>But (I've learned) you still
    need to use <code>find</code> rather than Tup's listing in order to cope
    with the possible range of filenames. This could be remedied in Tup.
  </p>
  <p>
    <time datetime="2023-03-24T05:14:56Z"></time>I'm falling asleep. Manifests
    kind of work but update appears unreliable at the moment. I suspect it's
    because I'm not reading the files outright. Where does <code>find</code> get
    its answers, anyway?
  </p>
</article>
