/* timeframes */

@media all {
  /* note late binding (i.e. these are defined on each element, not `:root`) */
  [data-timeframe] *,
  [data-timeframe] ::before,
  [data-timeframe] ::after {
    /* == timeframes */

    /* --timeframe-from-major: the inclusive start of the timeframe in major units. */
    /* --timeframe-to-major: the exclusive end of the timeframe in major units. */

    /* The “effective” indirection allows the units and even the scheme to vary. */

    /* The date of the inline start edge for positioning purposes, inclusive. */
    --timeframe-effective-from: var(--timeframe-from-major);
    /* The date of the inline end edge for positioning purposes, exclusive. */
    --timeframe-effective-to: var(--timeframe-to-major);

    /* The number of units (whatever they may be) spanned by the timeframe */
    --timeframe-span: calc(
      var(--timeframe-effective-to) - var(--timeframe-effective-from)
    );

    /* == time items */

    --time-item-effective: var(--major);
    --time-item-effective-to: var(--major-to);

    /* Number of units covered by item */
    --time-item-span: calc(
      var(--time-item-effective-to) - var(--time-item-effective)
    );

    /* Percentage of inline area needed to represent item's range */
    --time-item-extent: calc(
      100% * (var(--time-item-span) / var(--timeframe-span))
    );

    /* Percentage of inline area covered before reaching item's start */
    --time-item-start-offset: calc(
      100% * (var(--time-item-effective) - var(--timeframe-effective-from)) /
        var(--timeframe-span)
    );

    /* Percentage of inline area from the item's end to the viewport's end */
    --time-item-end-offset: calc(
      100% * (var(--timeframe-effective-to) - var(--time-item-effective-to)) /
        var(--timeframe-span)
    );
  }
}

/* time fixtures

   Collections of items whose date properties will not change, which is most.

   Optimization where we transition one element instead of each item.

   Wrap an element in `.time-fixed-item-collection`.  The effect should be
   otherwise transparent, whether static or positioned.  The wrapper element is
   needed in order to take advantage of the existing `--time-item-*-offset`
   calculations.  This creates a “phony” timeframe, but it exists only in CSS,
   which should not be consulted as such.
*/
/* I think with one more variable indirection this could be done w/o the wrapper */
/* i.e. separate the effective timeframe used for *descendant* computations */
/* from the one that is used to position *this* item */
/* then it would just be a matter of *marking* the container, even conditionally */
/* like when you don't/want transitions */
/* it is not clear from profiler results whether this helps performance */
/* and the end result should be equivalent */
@media all {
  /* WIREFRAMES */
  @media none {
    .time-fixed-item-collection {
      border-block: 1ch solid var(--wire-color, goldenrod);
      border-radius: 1ch;
    }
    .time-fixed-item-collection > * {
      border-block: 2pt solid var(--wire-color, green);
    }
  }
  .time-fixed-item-collection {
    /* arbitrary bounds for the container */
    --phony-from-major: 0;
    /* 10000 was causing month-level labels to disappear */
    /* for positioned containers, inset might be more reliable than margin */
    --phony-to-major: 1000;
    --major: var(--phony-from-major);
    --major-to: var(--phony-to-major);
  }
  .time-fixed-item-collection--margin {
    margin-inline-start: var(--time-item-start-offset);
    margin-inline-end: var(--time-item-end-offset);
    /* transition: margin-inline 250ms; */
  }
  .time-fixed-item-collection--inset {
    inset-inline-start: var(--time-item-start-offset);
    inset-inline-end: var(--time-item-end-offset);
    transition: inset-inline 250ms;
  }
  .time-fixed-item-collection > * {
    --timeframe-from-major: var(--phony-from-major);
    --timeframe-to-major: var(--phony-to-major);
  }
}

/* only if you're capturing, though */
@media all {
  [data-timeframe] time[datetime] {
    cursor: pointer;
  }
}

/* listings */
@media all {
  [data-timeframe]:not([data-timeframe=""]) .listing :is(ol, ul) {
    list-style: none;
    padding-inline-start: unset;
  }
}

/* backdrop and segments */
@media all {
  .time-backdrop {
    /* Clip overflow because segments will fall outside */
    position: relative; /* seems necessary for overflow hidden to work */
    overflow: hidden;
  }
  .time-backdrop-segment {
    position: absolute;
    inset-inline-start: var(--time-item-start-offset);
    inline-size: var(--time-item-extent);
  }
}

/* time markers (ruler in layer) */
@media all {
  .time-markers {
    /* need all this to clip excess, similar to backdrop */
    position: relative;
    block-size: fit-content;
  }
  .time-markers > button[data-time] {
    /* make button appear more like regular text */
    appearance: none;
    border: unset;
    background: unset; /*color-mix(in hsl, ButtonFace 75%, transparent);*/
    color: ButtonText; /*ibid*/
    text-align: unset;
    font-size: unset;
    font-family: unset;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap; /*volatile width*/
  }
  .time-markers > [data-time] {
    position: absolute;
    inset-inline-start: var(--time-item-start-offset);
    inline-size: var(--time-item-extent);
  }
  /* had to stop using time-fixed-item-collection */
  /* BUT, this is not good AT ALL */
  @media none {
    .time-markers > [data-time] {
      transition-property: inset-inline-start, inline-size;
      transition-duration: 50ms;
    }
  }
}

/* underlays */
/* these are purely presentational */
@media all {
  [data-time-underlay] {
    position: absolute;
    z-index: -1;
    inset-inline-start: var(--time-item-start-offset);
    inline-size: var(--time-item-extent);
    /* I'm a little surprised these are needed for unchanging underlay */
    /* Yeah, see time-fixed-item-collection... */
    transition-duration: 250ms;
    transition-property: inset-inline-start, inline-size;
  }
  /* this needs to be opt-in by flow root */
  .with-underlay {
    position: relative;
  }
  .with-underlay [data-time-underlay] {
    inset-block: 0;
    pointer-events: none;
  }

  [data-time-underlay="future"] {
    --now-color: ActiveText;
    --future-color: #0008;
    background-color: var(--future-color);
    border-inline-start: 2pt solid var(--now-color);
  }
  [data-time-underlay="future"]::before {
    content: "now";
    color: Canvas;
    font-size: 200%;
    font-family: var(--sans-serif, sans-serif);
  }
  [data-time-underlay="timeframe"] {
    --time-color: var(--Highlight, Highlight);
    box-sizing: border-box; /* could argue this either way */
    background-color: color-mix(in hsl, var(--time-color) 25%, transparent);
    border-inline: 1pt solid var(--time-color);
  }
}
