<article>
  <meta charset="utf-8" />
  <h1><time datetime="2023-05-23T17:37:42Z"></time>sourdough &amp; builds</h1>
  <section>
    <h2><time datetime="2023-05-23T17:39:03Z"></time>known issues</h2>
    <section>
      <h3>
        <time datetime="2023-05-23T17:39:31Z"></time>apostrophes in filenames
      </h3>
      <p>
        Tup does not provide an airtight way of communicating arbitrary
        filenames to commands. The safest way to cope with this is to enclose
        macros (such as <code>%f</code> and <code>%o</code>) in single quotes.
        To wit, the only character that is not taken literally inside a
        single-quoted string is single quote itself, a.k.a. apostrophe. And that
        is the Achilles heel of this otherwise very strong quoting.
      </p>
      <p>
        <time datetime="2023-05-23T17:43:23Z"></time>When the filename is known
        at rule-creation time, we can deal with this by eschewing macros
        <ins
          >e.g. <code>%f</code> and <code>%o</code
          ><time datetime="2023-06-07T13:23:49Z"></time
        ></ins>
        and putting filenames into the command ourselves. This gives us the
        chance to break up the literal text and use different quoting mechanisms
        as needed.
      </p>
      <p>
        However, this technique can't be used in a <code>foreach</code> rule,
        where the exact list of filenames is not known at rule-creation
        time.<time datetime="2023-05-23T17:45:40Z"></time>
      </p>
    </section>
    <section>
      <h3>
        <time datetime="2023-06-07T21:46:44Z"></time>pegged to powershell 2.0
      </h3>
      <p>
        This is done to avoid the fact that, starting with version 3, powershell
        automatically writes to the profile directory whenever you invoke it,
        seemingly no matter what. Tup will detect this and complain about an
        undeclared write to <code>StartupProfileData-NonInteractive</code>,
        wherever your profile is located.
      </p>
      <p>
        You can suppress Tup's complaint by adding a
        <code>^StartupProfileData-NonInteractive</code> as an output to the rule
        that invokes powershell. Since that is hacky, my approach is currently
        to specify <code>-version 2.0</code> when using powershell.
      </p>
      <p>
        Pegging to a specific powershell version is certainly important, but if
        not for the profile issue I might be inclined to use a more recent
        version.<time datetime="2023-06-07T21:50:26Z"></time>
      </p>
    </section>
  </section>
</article>
