<article>
  <meta charset="utf-8" />
  <h1><time datetime="2023-05-16T22:16:03Z"></time>Tup &amp; typescript</h1>
  <p>
    I would not claim that I was an early adopter of TypeScript. I started using
    it professionally in the <time datetime="2017-04">spring of 2017</time>. And
    I went <em>hard</em>. I currently maintain TypeScript codebases that include
    some head-spinning uses and abuses of the strangely addictive type system.
  </p>
  <p>
    But among the addicts, I may be on the early side of rehabilitation. At
    least <time datetime="2021">two years ago</time>, when my builds had gotten
    intolerably slow, I stopped using <code>tsc</code> to compile in favor of
    esbuild. I did not miss being blocked on type errors. Then some time
    <time datetime="2022">last year</time> I stopped using TS files for new
    work. I've learned that <code>tide-mode</code> works fine with
    <q>plain</q> JS files, and that its usefulness can be amplified with a few
    targeted annotations.
  </p>
  <p>
    I have nothing against TypeScript, or rather, nothing more than I have
    against JavaScript. But it's not free. As someone who has spent a
    disproportionate amount of time on build automation, I am sensitive to any
    operational complexity. And when it comes to the tax that TypeScript levies
    against your workflow, there's clearly
    <a href="https://news.ycombinator.com/item?id=35891259"
      >blood in the water</a
    >.<time datetime="2023-05-16T22:29:39Z"></time>
  </p>
</article>
