<article>
  <meta charset="utf-8" />
  <h2><time datetime="2023-05-15T21:15:32Z"></time>sourdough on windows</h2>
  <p>
    It's been a while since I tried sourdough on windows. I don't know that I've
    ever tried this notebook as such.
  </p>
  <p>Well, this is what I get:</p>
  <pre>
$ ./sourdough.sh start
[ tup ] [0.001s] Scanning filesystem...
[ tup ] [0.013s] Reading in new environment variables...
[ tup ] [0.013s] Parsing Tupfiles...
 6) [0.002s] xsl
* 5) [0.003s] .
bootstrapper_to_root = ..
root_to_processing = .
processing_dir = ../.
tup_cwd = .
tup_directory = 2023-03-24
index.gray = gray-xref-en
index
0 items
articles → table: 0000000002ddcd70
sources → table: 0000000002ddd830
gray → gray-xref-en
tup error: Unable to use inputs from a generated directory (187) that isn't written to by this Tupfile.
 - [187] wiki/persons
tup error [string "Tupfile.lua"]:221: Error while parsing dependent Tupfiles
stack traceback:
        [C]: in field 'definerule'
        [string "Tupfile.lua"]:221: in function 'wikipedia_timeline_and_persons'
        [string "Tupfile.lua"]:228: in main chunk
 [       ]  28%
 *** tup: 1 job failed.
fatal: tup parse failed with status 0
./sourdough.sh: line 62: open: command not found
tup error: The file monitor is not supported on this platform.
</pre
  >
  <p>Several things going on here. Let's take them one by one.</p>
  <pre>
tup error: The file monitor is not supported on this platform.
  </pre>
  <p>This we already know. I just need to put in an OS test.</p>
  <pre>
./sourdough.sh: line 62: open: command not found
  </pre>
  <p>
    Same thing, it should be <code>start</code> on windows (though, good luck
    with that).
  </p>
  <p>But what about this one?</p>
  <pre>
tup error: Unable to use inputs from a generated directory (187) that isn't written to by this Tupfile.
</pre
  >
  <p>
    I thought this had been resolved by the <q>dummy</q> file that I added in
    the <code>wiki/persons</code> directory while riding Amtrak on
    <time datetime="2023-04-09T14:45:46Z">April 9 at 2:45PM</time>.
  </p>
  <p>But—where's that file? It's not here now.</p>
  <p>
    <time datetime="2023-05-15T21:29:21Z"></time>I mean, it looks now like I
    neglected to commit the dummy.
  </p>
  <pre>
$ mkdir --parent wiki/persons &amp;&amp; touch wiki/persons/.dummy
$ tup
[ tup ] [0.001s] Scanning filesystem...
[ tup ] [0.012s] Reading in new environment variables...
[ tup ] [0.013s] Parsing Tupfiles...
 8) [0.001s] xsl
 7) [0.002s] wiki\persons
* 6) [0.004s] .
bootstrapper_to_root = ..
root_to_processing = .
processing_dir = ../.
tup_cwd = .
tup_directory = 2023-03-24
index.gray = gray-xref-en
index
0 items
articles → table: 0000000002d99ca0
gray → gray-xref-en
sources → table: 0000000002da2d80
tup error: Explicitly named file 'en.xml' not found in subdir 'wiki\persons'
tup error [string "Tupfile.lua"]:221: Error parsing input list
  </pre>
  <p>
    This surely has to do with the <q>gray-xref-en</q> file, which is an input
    to <code>en.xml</code>, which is a generated file.
  </p>
  <p>
    <time datetime="2023-05-15T21:43:51Z"></time>Also, it looks like I am still
    creating the dummy file from a rule, though I thought I had decided against
    it? Or maybe just decided against making it transient:
  </p>
  <pre>
  -- HACK: this directory needs to exist or Tup will object to the next rule
  -- with “Unable to use inputs from a generated directory that isn't written to
  -- by this Tupfile.”  The directory will be created by the gray file when it
  -- exists, but the gray file might not exist on this pass.
  tup.definerule{
    -- Adding the transient file avoids the complaint without polluting the file
    -- system, *but* it breaks “fixpoint” because this will always be seen as
    -- unfinished business.
    --
    -- command = "^t^ touch '%o'",
    command = "touch '%o'",
    outputs = {'$(ROOT)/wiki/persons/'..lang..'/.dummy'}
  }
  </pre>
  <p>
    I have to admit, this stuff is hard to follow. I would not say that I've yet
    proven the concept of multi-pass builds.
  </p>
  <p>
    <time datetime="2023-05-15T21:54:31Z"></time>Incidentally, I see no evidence
    that this is a windows-related problem. I confess that I haven't run a clean
    build on any system recently.
  </p>
  <p><time datetime="2023-05-15T22:03:13Z"></time>I got rid of the lines</p>
  <pre>
  local all_xml = '$(ROOT)/wiki/persons/index/'..lang..'-all.xml';
  project_persons(lang)
  tup.definerule{
    inputs = {'$(ROOT)/wiki/persons/'..lang..'/*.xml'},
    command = "^ aggregate person events for "..lang.."^ xsltproc --stringparam files '%f' aggregate-person-events.xsl dummy.xml &gt; '%o'",
    outputs = {'$(ROOT)/wiki/persons/'..lang..'.xml'},
  }

  -- JS loader
  tup.definerule{
    inputs = {'$(ROOT)/wiki/persons/'..lang..'.xml'},
    command = "cat '%f' | ./make-loader.sh > '%o'",
    outputs = {'$(ROOT)/wiki-persons-'..lang..'.js'},
  }
  </pre>
  <p>
    and now <code>tup</code> gives all kinds of new errors. Here is an extract:
  </p>
  <pre>
[ tup ] [0.025s] Checking circular dependencies among groups...

[ tup ] [0.025s] Generating .gitignore files...
[ tup ] [0.041s] Executing Commands...
*  9) xsl: ( &gt;&amp;2 echo 'inputs inline-css.xsl mark-time.xsl range.xsl time-ruler.xsl' ); find ! -path ./index.xsl -name '*.xsl' -exec ./include-all-xsl.sh {} + &gt; 'index.xsl'
find was unexpected at this time.
 *** tup messages ***
 *** Command ID=172 failed with return value 1
*  8) time: bundle time
'PROJECT_ROOT' is not recognized as an internal or external command,
operable program or batch file.
 *** tup messages ***
 *** Command ID=193 failed with return value 1
tup error: File 'C:/Users/gcannizzaro/research/sourdough/2023-03-24/time/'bundle.html'' was written to, but is not in .tup/db. You probably should specify it as an output
 -- Delete: C:/Users/gcannizzaro/research/sourdough/2023-03-24/time/'bundle.html'
*  7) timeline-seed: bundle timeline-seed
'PROJECT_ROOT' is not recognized as an internal or external command,
operable program or batch file.
 *** tup messages ***
 *** Command ID=199 failed with return value 1
tup error: File 'C:/Users/gcannizzaro/research/sourdough/2023-03-24/timeline-seed/'bundle.html'' was written to, but is not in .tup/db. You probably should specify it as an output
 -- Delete: C:/Users/gcannizzaro/research/sourdough/2023-03-24/timeline-seed/'bundle.html'
*  6) www: bundle www
'PROJECT_ROOT' is not recognized as an internal or external command,
operable program or batch file.
 *** tup messages ***
 *** Command ID=207 failed with return value 1
tup error: File 'C:/Users/gcannizzaro/research/sourdough/2023-03-24/www/'bundle.html'' was written to, but is not in .tup/db. You probably should specify it as an output
 -- Delete: C:/Users/gcannizzaro/research/sourdough/2023-03-24/www/'bundle.html'
  5) [0.626s] touch './wiki/persons/en/.dummy'
*  4) ./www/get.sh 'https://api.wikimedia.org/core/v1/wikipedia/en/page/List_of_decades,_centuries,_and_millennia/html' './wiki/cache/en/List_of_decades,_centuries,_and_millennia.html' 'wiki-en-List_of_decades,_centuries,_and_millennia'
Linking daf63ce33c4796e934ec6a8f4791677942153806 → ./wiki/cache/en/List_of_decades,_centuries,_and_millennia.html
Aliasing daf63ce33c4796e934ec6a8f4791677942153806 as “wiki-en-List_of_decades,_centuries,_and_millennia”
 *** tup messages ***
tup error: File 'C:/Users/gcannizzaro/research/sourdough/2023-03-24/e022582115c10879-2888-pipe-nt-0x1' was written to, but is not in .tup/db. You probably should specify it as an output
 -- Delete: C:/Users/gcannizzaro/research/sourdough/2023-03-24/e022582115c10879-2888-pipe-nt-0x1
tup error: File 'C:/Users/gcannizzaro/research/sourdough/2023-03-24/e022582115c10879-21300-pipe-nt-0x2' was written to, but is not in .tup/db. You probably should specify it as an output
 -- Delete: C:/Users/gcannizzaro/research/sourdough/2023-03-24/e022582115c10879-21300-pipe-nt-0x2
tup error: File 'C:/Users/gcannizzaro/research/sourdough/2023-03-24/e022582115c10879-2888-pipe-nt-0x2' was written to, but is not in .tup/db. You probably should specify it as an output
 -- Delete: C:/Users/gcannizzaro/research/sourdough/2023-03-24/e022582115c10879-2888-pipe-nt-0x2
t
  </pre>
  <p>
    So yeah, we're far from anything working on windows. The
    <code>pipe</code> thing is a particular annoyance.
  </p>
  <p>
    This is going to take a systematic effort.<time
      datetime="2023-05-15T22:12:00Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-05-15T22:19:24Z"></time>And yes, back on Linux, a clean
    checkout gives exactly the same error, <i>viz</i>:
  </p>
  <pre>
tup error: Unable to use inputs from a generated directory (99) that isn't written to by this Tupfile.
 - [99] wiki/persons
</pre
  >
  <p>
    So this at least is a general problem, which I'd need to resolve before
    worrying about other platforms.<time datetime="2023-05-15T22:20:37Z"></time>
  </p>
</article>
