<article>
  <meta charset="utf=8" />
  <h2><time datetime="2023-05-05T14:37:38Z"></time>people time revisited</h2>
  <details>
    <summary>discussion</summary>
    <p>
      <time datetime="2023-05-05T14:42:12Z"></time>First, I need to load data
      into and out of indexed db.
    </p>
    <p>
      <time datetime="2023-05-05T16:38:51Z"></time>That is done. I see two
      immediate uses:
    </p>
    <ul>
      <li>
        let's look at periods X, Y, Z.... Here we can use the data to see who
        was living during that time (or probably living, given that we don't
        have both birth and death dates for all persons)
      </li>
      <li>
        let's ask about (term/topic) X. Here we can search the names and
        summaries of the records to answer with some people who may be of
        interest
      </li>
    </ul>
    <p>
      <time datetime="2023-05-05T16:41:11Z"></time>In the first case, we could
      say that the period of time to look at is <em>given</em>.
    </p>
    <p>
      <time datetime="2023-05-05T16:45:54Z"></time>In the second case, we could
      say that the period of time to look at is <em>derived</em>.
    </p>
    <p>
      <time datetime="2023-05-05T16:46:21Z"></time>In general, I see there being
      a set of topics, which may be dates, or which may imply dates. And where
      dates may be singular or ranges in ISO form. This includes lower-precision
      specifiers of decade, century, and millennium (for -99th to 99th, in
      theory). It also includes ranges in the form FROM/TO, where FROM and TO
      can be in different precisions.
    </p>
    <p>
      <time datetime="2023-05-05T16:49:05Z"></time>Reserve the right to reduce
      view to the outermost precision & scale.
    </p>
    <style>
      example-bad {
        --timeline-from: 1960;
        --timeline-to: 1995;

        --timeline-range: calc(var(--timeline-to) - var(--timeline-from));
        --timeline-center: calc(var(--timeline-range) / 2);
      }
      example {
        --timeline-center: 1980;
        --timeline-range: 1;

        --timeline-from: calc((var(--timeline-center) - var()) / var());
        --timeline-to: calc();
      }
    </style>
    <p>
      <time datetime="2023-05-05T17:02:14Z"></time>We want a function that gives
      us the primitive timeline specs (a vector, a 2-tuple in one of the above
      forms), based on a set. The algorithm is, at the lowest granularity,
      include all the extents.
    </p>
    <p>
      <time datetime="2023-05-05T17:05:28Z"></time>Intuitively, if I say 1980,
      if I say 1980s, if I say 20c, if I say last week. We have implied
      specificity. If I say YTD, similarly, though context dependent.
    </p>
    <p>
      <time datetime="2023-05-05T17:06:36Z"></time>I think we will prefer to say
      one point in time, than two. So the argument is that we will just want to
      say (or have implied) that the view should include all the things
      currently under consideration. Those things will have one or more dates,
      but basically we're flattening them.
    </p>
    <p>
      <time datetime="2023-05-05T21:00:14Z"></time>Wow, the IndexedDb API is
      about as bad as I'd heard. I'm also not sure what MDN means
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API/Using_IndexedDB"
        >in saying</a
      >
      that it has <q>rich query abilities</q>. Unless I'm missing something,
      it's completely flat. You can traverse ranges and that's it. All
      composition is on userland.
    </p>
    <p>
      <time datetime="2023-05-05T21:10:08Z"></time>I mean the closest model for
      reading a cursor would be the async iterator. but so far it has
      not—forgive me—yielded to my efforts.
    </p>
    <p>
      <time datetime="2023-05-05T21:25:34Z"></time>Like, in theory you shouldn't
      need a buffer because the cursor only advances when you ask it to.
    </p>
    <p>
      <time datetime="2023-05-06T04:52:15Z"></time>So, I now have a
      (fast-loading) presentation of some projection of the <q>lifespans</q>.
      I'm doing an initial match on name (really wiki title), which is the
      primary key. Shunting these results horizontally by their timeframe,
      creates a kind of stochastic effect. There are hundreds of "Charles*"
      spanning ten centuries. They're in alpha order (which is no order).
    </p>
    <p>
      <time datetime="2023-05-06T04:58:16Z"></time>I don't think that I can get
      this particular selection in date order, since the selection is occuring
      on the other key. But this "starts with" selection is the one I know how
      to do.
    </p>
    <p>
      <time datetime="2023-05-06T05:00:14Z"></time>Now I need to visit them in
      time order, and filter in userland. This means linear search. But that's
      okay for an exploratory mode. As we're traversing outwards from the
      viewpoint then we can stop taking incremental results at any time.
    </p>
    <p>
      <time datetime="2023-05-06T05:13:26Z"></time>Indeed, we could say that by
      traversing from some nearby point, there's a natural relation that would
      give us a positive correlation to relevancy that decays with distance. I
      mean if we have to do a linear scan and run a userland predicate anyway,
      we might as well assign weights.
    </p>
  </details>

  <link rel="stylesheet" href="persons.css" />
  <script src="wiki-persons-en.js"></script>
  <script src="load-the-stuff.js"></script>

  <figure>
    <figcaption>people on a timeline</figcaption>
    <output />
    <script>
      {
        const context = document.currentScript.closest("figure");
        const output = context.querySelector("output");
        const html = `hello friends`;
        output.innerHTML = html;
      }
    </script>
  </figure>
</article>
