<article>
  <meta charset="utf-8" />
  <h1><time datetime="2023-04-02T03:32:15Z"></time>persons</h1>
  <dialog>
    <form>
      <input />
    </form>
    <script>
      {
        function make_repl(ele, spec) {
          function start() {}
          function stop() {}
          return { start, stop };
        }
      }
    </script>
    <script>
      {
        make_repl(document.currentScript.closest("dialog"));
      }
    </script>
  </dialog>
  <article>
    <h2><time datetime="2023-04-03T04:48:54Z"></time>decades</h2>
    <p>
      I was thinking there was a bug in the fetch because I know that I have all
      of the files cached, that were used in the corpus previously. So I expect
      that when I add those 3,275 links to the project, it will just zip through
      them in a few seconds, since they've already been downloaded and at most
      you're adding 3,275 symlinks.
    </p>
    <p>
      Instead, it has a work queue, not bottomless but unfathomable as it's
      currently running, with one worker and long, random timeouts.
    </p>
    <p>
      This is because in the previous generation, I omitted decades, which I'd
      found to be redundant. I'm going to be offline tomorrow and I'm letting it
      run anyway, in case the decades content has changed. I'm looking at the
      <a href="https://en.wikipedia.org/wiki/1970s">article on the 1970's</a>,
      for example, is predominantly narrative content original to article (not
      transcluded from the specific years). This is not of immediate interest.
      Sure, a time explorer could use an LLM to
      <a href="https://simonwillison.net/2023/Apr/2/calculator-for-words/"
        >calculate</a
      >
      things like <q>describe period X in Y words</q>, which could be useful for
      displaying synoptic representations in a variable amount of available
      space. Actually even dumbed-down GPT's can give many such answers at once,
      which can save you API calls.
    </p>
    <blockquote>
      <cite
        ><a
          href="https://eli5.gg/summarize%20the%2010%20decades%20of%20the%2019th%20century%20in%2040%20words%20each"
          >summarize the 10 decades of the 19th century in 40 words each</a
        ></cite
      >
      <p>
        In the 1800s, people rode horses and used candles to see in the dark.
        Steam power made trains and factories go faster. People studied cells
        and diseases. Slavery was abolished. Women fought for the right to vote.
        Wars were fought between countries. Electricity lit up cities. Cars were
        invented. People flew in airplanes. The world changed a lot!
      </p>
    </blockquote>
    <p>better</p>
    <blockquote>
      <cite
        ><a
          href="https://eli5.gg/describe%20each%20of%20the%20past%20ten%20decades%20in%20a%20list"
          >describe each of the past ten decades in a list</a
        ></cite
      >
      <p>
        1. 1920s: A time of flappers and the roaring 20s, where people dressed
        up in fancy clothes and loved to dance. This was also the time of
        prohibition, where alcohol was illegal in the USA.
      </p>
      <p>
        2. 1930s: The 1930s were the time of the Great Depression, where many
        people lost their jobs and had to live with very little money. It was a
        tough time for everyone.
      </p>
      <p>
        3. 1940s: During the 1940s, there was a big war going on all over the
        world called World War II. This affected many countries and people had
        to help out by joining the army or supporting them at home.
      </p>
      <p>
        4. 1950s: During the 1950s, many people were happy and content after the
        war ended. Families were starting to grow, and people were enjoying
        themselves with new things like TV and popular music.
      </p>
      <p>
        5. 1960s: The 1960s were all about peace, love, and freedom. People were
        protesting against wars and fighting for rights for everyone, including
        women's rights and civil rights.
      </p>
      <p>
        6. 1970s: During the 1970s, people were into flower power, bell-bottom
        pants, and disco music. It was a groovy time with lots of bright colors
        and funky styles.
      </p>
      <p>
        7. 1980s: The 1980s were a time of big hair, neon colors, and pop music.
        People were very interested in technology, and personal computers became
        more accessible.
      </p>
      <p>
        8. 1990s: During the 1990s, people were all about grunge music and hip
        hop. The invent of the internet changed the world and made it possible
        to connect with people from all over the globe.
      </p>
      <p>
        9. 2000s: During the early 2000s, people were worried about the Y2K bug,
        but nothing much happened. Social media became important, and people
        started using sites like Facebook and Twitter to connect.
      </p>
      <p>
        10. 2010s: During the 2010s, technology continued to grow at an
        incredible pace, and people became obsessed with their smartphones.
        People also began to focus more on social issues, like climate change
        and equality.
      </p>
    </blockquote>
    <p>
      <time datetime="2023-04-03T05:14:52Z"></time>The
      <a href="https://en.wikipedia.org/wiki/1870s">article on the 1870's</a>
      has a short narrative, as does the
      <a href="https://en.wikipedia.org/wiki/1770s">1770's</a>. But by
      <a href="https://en.wikipedia.org/wiki/1670s">the 1670's</a>, it's just
      transclusions.
    </p>
    <p>Anyway, the interesting question is, which shutoff valve do we twist?</p>
    <p>
      It's not that decades <q>are not a thing</q>. They are. We're not
      extinguishing the <em>concept</em>, which would be the most fatal thing
      you could do.
    </p>
    <p>
      It's not that decades don't have an ISO representation. They do. And we
      care about it.
    </p>
    <p>
      It's not that decades don't have a userland representation. They should.
    </p>
    <p>But we're not interested in the Wikipedia articles on them.</p>
    <p>
      We could leave them out in the XSL transform that maps article titles to
      ISO. But those associations are still valid.
    </p>
    <p>
      We could leave them out of the cross-reference file that records those
      assocations. But that file could have other uses (besides downloading).
    </p>
    <p>We could leave them out of the mapping of the index to resources.</p>
    <p>
      Any later than that is too late, right? There's no stage between saying
      that something is a wikipedia article and getting it.
    </p>
  </article>
  <footer>
    <details>
      <summary>stylesheet</summary>
      <style>
        html {
          background-color: hsl(-135deg, 20%, 30%);
          color: hsl(10deg, 10%, 55%);
          font-size: 18pt;
        }
        script,
        style {
          display: block;
          white-space: pre;
          font-family: var(--font-family-sans-serif, sans-serif);
        }
        a {
          color: inherit;
          text-decoration-color: LinkText;
          text-decoration-thickness: 2pt;
        }
        p::before {
          content: "¶ ";
          opacity: 0.5;
        }
        p {
          width: fit-content;
          max-width: min(65ch, 100%);
          background: #8888;
          color: CanvasText;
          border-start-end-radius: 1em;
          border-end-start-radius: 1em;
          border-end-end-radius: 1em;
          padding-block: 8pt;
          padding-inline: 1ch;
        }
      </style>
    </details>
  </footer>
</article>
