<article>
  <meta charset="utf-8" />
  <h1><time datetime="2023-05-19T20:20:45Z"></time>people time bugs</h1>
  <section>
    <h2><time datetime="2023-05-19T20:20:56Z"></time>NaN in dates</h2>
    <pre>
14 matches in 12 lines for "NaN" in buffer: en.xml
   5020:  &lt;person who="529_BC" summary="529 BC—Cyrus the Great, ruler of ancient Persia" died="0NaN"/&gt;
   5021:  &lt;person who="528_BC" summary="Greek philosopher" died="0NaN"/&gt;
   5022:  &lt;person who="527_BC" summary="Athenian tyrant" died="0NaN"/&gt;
   5023:  &lt;person who="678_BC" summary="king of Macedon" died="0NaN"/&gt;
   5024:  &lt;person who="673_BC" summary="second of the Kings of Rome, successor to Romulus" died="0NaN"/&gt;
   5025:  &lt;person who="670_BC" summary="Latin king of Alba Longa" died="0NaN"/&gt;
   5026:  &lt;person who="682_BC" summary="King of the Zhou Dynasty of China." died="0NaN"/&gt;
  29750:  &lt;person who="521_BC" born="0NaN"/&gt;
  29751:  &lt;person who="520_BC" summary="Hindu Indian grammarian" born="0NaN"/&gt;
  29752:  &lt;person who="Xerxes_I" summary="king of Persia" born="0NaN" died="-0464"/&gt;
  29753:  &lt;person who="525_BC" summary="author of Greek tragedies" born="0NaN" died="0NaN"/&gt;
  29754:  &lt;person who="522_BC" summary="Greek poet" born="0NaN" died="0NaN"/&gt;
    </pre>
    <p>
      <time datetime="2023-05-19T20:24:49Z"></time>Oh. Right, a bunch of these
      are dubious as entries to begin with. These
      <code>who="some date"</code> entries exist beyond the
      <code>NaN</code> cases, so that's really a separate bug.
    </p>
  </section>
  <section>
    <h2><time datetime="2023-05-19T20:25:18Z"></time>dates as people</h2>
    <p>See <q>NaN in dates</q> above.</p>
    <p>
      <time datetime="2023-05-19T20:37:06Z"></time>I guess I can mark this as
      the beginning of the end, when I'd rather write this stuff up here than
      fix the problem now, since my hesitation is based on a mild dread of the
      rabbit hole that could be rebuilding this thing.<time
        datetime="2023-05-19T20:38:24Z"
      ></time>
    </p>
    <p><time datetime="2023-05-19T20:48:22Z"></time>The source for</p>
    <pre>
  &lt;person who="Xerxes_I" summary="king of Persia" born="0NaN" died="-0464"/&gt;
    </pre>
    <p>is</p>
    <blockquote>
      <ul>
        <li>
          c. 519 BC—<a href="/wiki/Xerxes_I" title="Xerxes I">Xerxes I</a> of
          <a href="/wiki/Persia" class="mw-redirect" title="Persia">Persia</a>
        </li>
      </ul>
      <cite><a href="https://en.wikipedia.org/wiki/510s_BC">510s BC</a></cite>
    </blockquote>
    <p>
      Ah, I also notice that <code>517_BC</code> redirects to
      <code>510s_BC</code>. That's likely the problem, since I believe that I
      get the associated date by looking in the header of the HTML file, and if
      this doesn't have a header matching the original article, then I can't get
      it.
    </p>
    <p>
      That technique is a hack, since I do know from outside of the process what
      the relevant article is.<time datetime="2023-05-19T20:53:28Z"></time>
    </p>
    <p>
      <time datetime="2023-05-19T20:54:31Z"></time>Yep. In
      <code>wikipedia-timeline-items.xsl</code>:
    </p>
    <pre>
  &lt;!-- HACK --&gt;
  &lt;xsl:variable name="title" select="html/head/title" /&gt;
  &lt;xsl:variable name="iso-year"&gt;
    &lt;xsl:choose&gt;
      &lt;xsl:when test="contains($title, ' BC')"&gt;
        &lt;xsl:variable name="n" select="number(substring-before($title, ' BC'))" /&gt;
        &lt;xsl:if test="$n &gt; 1"&gt;-&lt;/xsl:if&gt;
        &lt;xsl:value-of select="wtime:pad0(4, $n - 1)" /&gt;
      &lt;/xsl:when&gt;
      &lt;xsl:when test="contains($title, 'AD ')"&gt;
        &lt;xsl:value-of select="wtime:pad0(4, substring-after($title, 'AD '))" /&gt;
      &lt;/xsl:when&gt;
      &lt;xsl:otherwise&gt;
        &lt;xsl:value-of select="wtime:pad0(4, wtime:pad0(4, $title))" /&gt;
      &lt;/xsl:otherwise&gt;
    &lt;/xsl:choose&gt;
  &lt;/xsl:variable&gt;
    </pre>
    <p>
      <time datetime="2023-05-19T20:56:12Z"></time>So what is the good reason
      that I don't pass this in as a variable?<time
        datetime="2023-05-19T20:56:38Z"
      ></time>
    </p>
    <p><time datetime="2023-05-19T20:58:55Z"></time>My excuse:</p>
    <pre>
function project_persons(lang)
  tup.foreach_rule(
    {
      '$(ROOT)/wiki/cache/'..lang..'/*.html',
      -- HACK: exclude non-years.  But these are language specific
      -- and these are assessed against the path, not just the filename
      '^s',                     -- decades, it turns out
      '^mill',
      '^century',
    },
    -- The ISO value isn't in the content as such, so we should send it as a
    -- parameter.  But how?  Tup projects the foreach, so we'd have to say look
    -- it up in the xref file each time from within the command.  Instead, we
    -- get it from the year.
    -- "^ persons of %B^ xsltproc --html persons.xsl '%f' 2&gt;/dev/null &gt; '%o'",
    "^b persons of %B^ xsltproc --html persons.xsl '%f' 2&gt; &gt;(sed '/\\(Tag.*invalid\\|Unexpected end tag\\)/,+2d' &gt;&amp;2) &gt; '%o'",
    {'$(ROOT)/wiki/persons/'..lang..'/%B.xml'}
  )
    </pre>
    <p>
      <time datetime="2023-05-19T21:00:48Z"></time><em>Is</em> there an xref
      file? And is it XML?<time datetime="2023-05-19T21:01:00Z"></time>
    </p>
    <p>
      <time datetime="2023-05-19T21:01:33Z"></time>It's the <q>gray</q> file,
      and no, it's not XML. I believe that it has to be processed from Lua, so I
      make it a plain line-based format.
    </p>
    <pre>
0s 000
0s_BC -000
1000s_(decade) 100
1000s_BC_(decade) -100
1001 1001
1002 1002
1003 1003
1004 1004
1005 1005
1006 1006
1007 1007
1008 1008
1009 1009
100_BC -0099
100s_(decade) 010
100s_BC_(decade) -010
    </pre>
    <p>
      <time datetime="2023-05-19T21:03:04Z"></time>I could turn it into an XML
      file easily enough, open it from the extraction transform, and do the
      lookup. I don't love the idea of leaning on the gray file more, nor the
      additional complexity. But it's better than a broken hack.<time
        datetime="2023-05-19T21:04:37Z"
      ></time>
    </p>
    <p><time datetime="2023-05-19T21:07:54Z"></time>Like how about this?</p>
    <pre>
$ head gray-xref-en | sed -r 's#(.*) (.*)#&lt;wiki="\1" iso="\2" /&gt;#'

&lt;wiki="0s" iso="000" /&gt;
&lt;wiki="0s_BC" iso="-000" /&gt;
&lt;wiki="1000s_(decade)" iso="100" /&gt;
&lt;wiki="1000s_BC_(decade)" iso="-100" /&gt;
&lt;wiki="1001" iso="1001" /&gt;
&lt;wiki="1002" iso="1002" /&gt;
&lt;wiki="1003" iso="1003" /&gt;
&lt;wiki="1004" iso="1004" /&gt;
&lt;wiki="1005" iso="1005" /&gt;
    </pre>
    <p><time datetime="2023-05-19T21:12:00Z"></time>I mean this</p>
    <pre>
echo '&lt;index&gt;'
sed -r 's#(.*) (.*)#&lt;xref wiki="\1" iso="\2" /&gt;#'
echo '&lt;/index&gt;'
    </pre>
    <p>
      <time datetime="2023-05-19T21:17:33Z"></time>But wait, can't I do the
      lookup from shell?
    </p>
    <p>
      <time datetime="2023-05-19T21:45:56Z"></time>Okay, I rebuilt this, did it
      work?
    </p>
    <p>Well, I still have 94,044 entries and no <code>NaN</code>'s.</p>
    <p>
      <time datetime="2023-05-19T21:48:08Z"></time>The
      <code>Xerxes_I</code> entry has two dates now,
    </p>
    <pre>
  &lt;person who="Xerxes_I" summary="king of Persia" born="-0516" died="-0464"/&gt;
  &lt;person who="Xerxes_I_of_Persia" born="-0517"/&gt;
    </pre>
    <p>Though I assume the second one is an unintended duplicate.</p>
    <p>There are still entries like this though:</p>
    <pre>
  &lt;person who="Zai_Yu" summary="leading disciple of Confucius" born="-0521"/&gt;
  &lt;person who="521_BC" born="-0522"/&gt;
  &lt;person who="520_BC" summary="Hindu Indian grammarian" born="-0522"/&gt;
  &lt;person who="525_BC" summary="author of Greek tragedies" born="-0522" died="-0522"/&gt;
  &lt;person who="522_BC" summary="Greek poet" born="-0522" died="-0522"/&gt;
  &lt;person who="Themistocles" summary="Athenian politician and naval strategist" born="-0523" died="-0459"/&gt;
    </pre>
    <p>
      <time datetime="2023-05-19T21:58:32Z"></time>All right, all right, let's
      solve this. What's in <code>521_BC.xml</code>? Just this:
    </p>
    <pre>
&lt;persons&gt;
  &lt;birth who="Leonidas_I" when="-0520"/&gt;
  &lt;death who="Cambyses_II" when="-0520" summary="ruler of ancient Persia"/&gt;
  &lt;death who="Gaumata" when="-0520" summary="ruler of ancient Persia"/&gt;
&lt;/persons&gt;
    </pre>
    <p>
      <time datetime="2023-05-19T22:00:39Z"></time>Okay, what about
      <code>522_BC.xml</code>? Just this:
    </p>
    <pre>
&lt;persons&gt;
  &lt;birth who="Pindar" when="-0521" summary="Greek poet"/&gt;
  &lt;birth who="Ran_Qiu" when="-0521" summary="leading disciple of Confucius"/&gt;
  &lt;birth who="Ran_Yong" when="-0521" summary="leading disciple of Confucius"/&gt;
  &lt;birth who="Shang_Qu" when="-0521" summary="disciple of Confucius"/&gt;
  &lt;birth who="Zai_Yu" when="-0521" summary="leading disciple of Confucius"/&gt;
  &lt;death who="Cambyses_II" when="-0521" summary="ruler of ancient Persia"/&gt;
  &lt;death who="Bardiya" when="-0521" summary="ruler of ancient Persia"/&gt;
  &lt;death who="Polycrates" when="-0521" summary="tyrant of Samos"/&gt;
  &lt;death who="Zichan" when="-0521" summary="statesman of the State of Zheng"/&gt;
&lt;/persons&gt;
    </pre>
    <p>Okay... what index files contain <code>521_BC</code> at all?</p>
    <p>
      <time datetime="2023-05-19T22:03:20Z"></time>Bingo. This is
      <code>527_BC</code>:
    </p>
    <pre>
&lt;persons&gt;
  &lt;birth who="521_BC" when="-0526"/&gt;
  &lt;birth who="525_BC" when="-0526" summary="author of Greek tragedies"/&gt;
  &lt;birth who="522_BC" when="-0526" summary="Greek poet"/&gt;
  &lt;birth who="520_BC" when="-0526" summary="Hindu Indian grammarian"/&gt;
  &lt;death who="529_BC" when="-0526" summary="529 BC—Cyrus the Great, ruler of ancient Persia"/&gt;
  &lt;death who="528_BC" when="-0526" summary="Greek philosopher"/&gt;
  &lt;death who="527_BC" when="-0526" summary="Athenian tyrant"/&gt;
  &lt;death who="525_BC" when="-0526" summary="the last Pharaoh of the Twenty-sixth Dynasty of Egypt"/&gt;
  &lt;death who="522_BC" when="-0526" summary="ruler of ancient Persia"/&gt;
  &lt;death who="522_BC" when="-0526" summary="tyrant of Samos"/&gt;
  &lt;death who="522_BC" when="-0526" summary="522 BC—Bardiya, ruler of ancient Persia"/&gt;
&lt;/persons&gt;
    </pre>
    <p>
      Also, 523, 528, and 529 have identical contents except that
      <code>when</code> is a different year corresponding to the file.
    </p>
    <p>
      <time datetime="2023-05-19T22:05:20Z"></time>So what's in the article for
      527 BC?
    </p>
    <blockquote>
      <section data-mw-section-id="2" id="mwXQ">
        <h2 id="Births">Births</h2>
        <ul id="mwXg">
          <li id="mwXw">
            <a rel="mw:WikiLink" href="./521_BC" title="521 BC" id="mwYA"
              >521 BC</a
            >—<a
              rel="mw:WikiLink"
              href="./Leonidas_I"
              title="Leonidas I"
              id="mwYQ"
              >Leonidas I</a
            >.
            <a rel="mw:WikiLink" href="./Monarch" title="Monarch" id="mwYg"
              >King</a
            >
            of
            <a rel="mw:WikiLink" href="./Sparta" title="Sparta" id="mwYw"
              >Sparta</a
            >
          </li>
          <li id="mwZA">
            <a rel="mw:WikiLink" href="./525_BC" title="525 BC" id="mwZQ"
              >525 BC</a
            >—<a
              rel="mw:WikiLink"
              href="./Aeschylus"
              title="Aeschylus"
              id="mwZg"
              >Aeschylus</a
            >,
            <a rel="mw:WikiLink" href="./Author" title="Author" id="mwZw"
              >author</a
            >
            of
            <a
              rel="mw:WikiLink"
              href="./Greek_tragedy"
              title="Greek tragedy"
              id="mwaA"
              >Greek tragedies</a
            >
            (d.
            <a rel="mw:WikiLink" href="./456_BC" title="456 BC" id="mwaQ"
              >456 BC</a
            >)
          </li>
          <li id="mwag">
            <a rel="mw:WikiLink" href="./522_BC" title="522 BC" id="mwaw"
              >522 BC</a
            >—<a rel="mw:WikiLink" href="./Pindar" title="Pindar" id="mwbA"
              >Pindar</a
            >,
            <a
              rel="mw:WikiLink"
              href="./Archaic_Greece"
              title="Archaic Greece"
              id="mwbQ"
              >Greek</a
            >
            <a rel="mw:WikiLink" href="./Poet" title="Poet" id="mwbg">poet</a>
          </li>
          <li id="mwbw">
            <a rel="mw:WikiLink" href="./520_BC" title="520 BC" id="mwcA"
              >520 BC</a
            >—<a
              rel="mw:WikiLink"
              href="./Panini_(scholar)"
              title="Panini (scholar)"
              class="mw-redirect"
              id="mwcQ"
              >Panini</a
            >,
            <a
              rel="mw:WikiLink"
              href="./Hindu"
              title="Hindu"
              class="mw-redirect"
              id="mwcg"
              >Hindu</a
            >
            <a
              rel="mw:WikiLink"
              href="./Indian_subcontinent"
              title="Indian subcontinent"
              id="mwcw"
              >Indian</a
            >
            <a
              rel="mw:WikiLink"
              href="./Linguistics"
              title="Linguistics"
              id="mwdA"
              >grammarian</a
            >
            (d.
            <a rel="mw:WikiLink" href="./460_BC" title="460 BC" id="mwdQ"
              >460 BC</a
            >)
          </li>
        </ul>
      </section>
    </blockquote>
    <p>
      That's just how they wrote it. I must be failing to detect the BC dates as
      ones that I should skip. Such are certainly processed in other cases,
      where they indicate a specific month or day.<time
        datetime="2023-05-19T22:09:16Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-05-19T22:14:03Z"></time>Yes, that's what's happening.
      I'm only looking for links that look like months or days.
    </p>
    <p>
      <time datetime="2023-05-19T22:21:20Z"></time>Now 527 BC looks like this:
    </p>
    <pre>
&lt;persons&gt;
  &lt;birth who="Leonidas_I" when="-0526"/&gt;
  &lt;birth who="Aeschylus" when="-0526" summary="author of Greek tragedies"/&gt;
  &lt;birth who="Pindar" when="-0526" summary="Greek poet"/&gt;
  &lt;birth who="Panini_(scholar)" when="-0526" summary="Hindu Indian grammarian"/&gt;
  &lt;death who="Cyrus_the_Great" when="-0526" summary="529 BC—Cyrus the Great, ruler of ancient Persia"/&gt;
  &lt;death who="Anaximenes_of_Miletus" when="-0526" summary="Greek philosopher"/&gt;
  &lt;death who="Peisistratos_(Athens)" when="-0526" summary="Athenian tyrant"/&gt;
  &lt;death who="Psammetichus_III" when="-0526" summary="the last Pharaoh of the Twenty-sixth Dynasty of Egypt"/&gt;
  &lt;death who="Cambyses_II" when="-0526" summary="ruler of ancient Persia"/&gt;
  &lt;death who="Polycrates" when="-0526" summary="tyrant of Samos"/&gt;
  &lt;death who="Bardiya" when="-0526" summary="522 BC—Bardiya, ruler of ancient Persia"/&gt;
&lt;/persons&gt;
    </pre>
    <p>
      I just put in an exception to ignore cases where the link contains
      <code>BC</code>. It's a hack but it's simple.
    </p>
    <p>
      There are a lot of diffs in the resulting file, too many to make sense of.
    </p>
    <p>
      <time datetime="2023-05-19T22:29:08Z"></time>The diffs were more
      intelligible in ediff, but it's a mixed bag. Some of them look like
      upstream data changes, which I wouldn't expect since I haven't refreshed
      my cache since last creating this. It eliminated suspect entries, but not
      all of them. There are still 123 matches for <code>who</code>'s starting
      with a digit:
    </p>
    <pre>
     61:  &lt;person who="88_BC" summary="Roman consul" died="-0039"/&gt;
     80:  &lt;person who="100_BC" summary="Roman consul and governor" died="-0042"/&gt;
    202:  &lt;person who="163_BC" summary="Roman politician" died="-0088"/&gt;
    313:  &lt;person who="195_BC" summary="Roman statesman, consul in 195 BC, censor in 183 BC and colleague of Cato the Elder" died="-0179"/&gt;
    819:  &lt;person who="65_BC" summary="Roman orator, poet and historian" died="0004"/&gt;
    869:  &lt;person who="48_BC" summary="Roman consul" died="0032"/&gt;
    </pre>
    <p>
      <time datetime="2023-05-19T22:36:23Z"></time>Yeah this isn't right. This
      drops a bunch of entries that had <code>BC</code> in their actual title,
      like <code>Manius_Aquillius_(consul_101_BC)</code>.
    </p>
    <p>
      <time datetime="2023-05-19T22:51:52Z"></time>Okay, I changed it to look
      for things looking like years.
    </p>
    <p>
      <time datetime="2023-05-19T22:54:31Z"></time>This looks better overall.
      The file sizes are much closer.
    </p>
    <p>
      <time datetime="2023-05-19T22:57:15Z"></time>No. This fixes a few, but not
      all of them. And it actually introduces a few new ones, or at least moves
      them.
    </p>
    <pre>
    725:  &lt;person who="529_BC" summary="529 BC—Cyrus the Great, ruler of ancient Persia" died="-0522"/&gt;
    726:  &lt;person who="528_BC" summary="Greek philosopher" died="-0522"/&gt;
    727:  &lt;person who="527_BC" summary="Athenian tyrant" died="-0522"/&gt;
    839:  &lt;person who="678_BC" summary="king of Macedon" died="-0678"/&gt;
    840:  &lt;person who="673_BC" summary="second of the Kings of Rome, successor to Romulus" died="-0678"/&gt;
    841:  &lt;person who="670_BC" summary="Latin king of Alba Longa" died="-0678"/&gt;
    844:  &lt;person who="682_BC" summary="King of the Zhou Dynasty of China." died="-0682"/&gt;
   2491:  &lt;person who="600" summary="bishop of Seville" died="0601-03-13"/&gt;
   2640:  &lt;person who="633" summary="king of Deira and Bernicia" died="0632-10-12"/&gt;
   2644:  &lt;person who="632" summary="king of Northumbria" died="0633-10-12"/&gt;
   2694:  &lt;person who="641" summary="king of Northumbria" died="0642-08-05"/&gt;
   2930:  &lt;person who="697" summary="bishop of Metz" died="0696-06-08"/&gt;
   3569:  &lt;person who="834" summary="Frankish abbot" died="0833-07-20"/&gt;
   3579:  &lt;person who="833" summary="Frankish abbot" died="0834-07-20"/&gt;
   3636:  &lt;person who="839" summary="Frankish nobleman" died="0840-06-16"/&gt;
    </pre>
    <p>
      <time datetime="2023-05-19T23:05:30Z"></time>XSL quirks. Now 529 BC looks
      like this:
    </p>
    <pre>
&lt;persons&gt;
  &lt;birth who="Leonidas_I" when="-0520"/&gt;
  &lt;birth who="Aeschylus" when="-0524" summary="author of Greek tragedies"/&gt;
  &lt;birth who="Pindar" when="-0521" summary="Greek poet"/&gt;
  &lt;birth who="Panini_(scholar)" when="-0519" summary="Hindu Indian grammarian"/&gt;
  &lt;death who="Cyrus_the_Great" when="-0528" summary="529 BC—Cyrus the Great, ruler of ancient Persia"/&gt;
  &lt;death who="Anaximenes_of_Miletus" when="-0527" summary="Greek philosopher"/&gt;
  &lt;death who="Peisistratos_(Athens)" when="-0526" summary="Athenian tyrant"/&gt;
  &lt;death who="Psammetichus_III" when="-0524" summary="the last Pharaoh of the Twenty-sixth Dynasty of Egypt"/&gt;
  &lt;death who="Cambyses_II" when="-0521" summary="ruler of ancient Persia"/&gt;
  &lt;death who="Polycrates" when="-0521" summary="tyrant of Samos"/&gt;
  &lt;death who="Bardiya" when="-0521" summary="522 BC—Bardiya, ruler of ancient Persia"/&gt;
&lt;/persons&gt;
    </pre>
    <p>
      <time datetime="2023-05-19T23:09:39Z"></time>This is... better I guess but
      it's still not there.
    </p>
    <pre>
91 matches for "who="[0-9]" in buffer: en.xml
   2487:  &lt;person who="600" summary="bishop of Seville" died="0601-03-13"/&gt;
   2636:  &lt;person who="633" summary="king of Deira and Bernicia" died="0632-10-12"/&gt;
   2640:  &lt;person who="632" summary="king of Northumbria" died="0633-10-12"/&gt;
   2690:  &lt;person who="641" summary="king of Northumbria" died="0642-08-05"/&gt;
   2926:  &lt;person who="697" summary="bishop of Metz" died="0696-06-08"/&gt;
   3565:  &lt;person who="834" summary="Frankish abbot" died="0833-07-20"/&gt;
   3575:  &lt;person who="833" summary="Frankish abbot" died="0834-07-20"/&gt;
   3632:  &lt;person who="839" summary="Frankish nobleman" died="0840-06-16"/&gt;
   3859:  &lt;person who="870" summary="king of East Anglia" died="0869-11-20"/&gt;
   4805:  &lt;person who="973" summary="Frankish nobleman" died="0972-12-18"/&gt;
   4821:  &lt;person who="972" summary="Frankish nobleman" died="0973-12-18"/&gt;
    </pre>
    <p>
      <time datetime="2023-05-19T23:11:05Z"></time>I know this is a stupid
      problem, by the way. Surely there are places where I could just ask for
      this data outright. But I know the grass is always greener. If it weren't
      this, it'd be something else.
    </p>
    <p>
      I'm not seeing any clumps now, but just sporadic ones. An oddity from 5
      BC: <code>29_September</code>. I recognize these in the form Month_Day,
      but not this form. I'd guess Wikipedia itself redirects.
    </p>
    <p>
      <time datetime="2023-05-19T23:17:31Z"></time>It does look like all the
      remaining cases are for AD dates.
    </p>
    <p><time datetime="2023-05-19T23:23:08Z"></time>Woof. For the case</p>
    <pre>
&lt;death who="633" when="0632-10-12" summary="king of Deira and Bernicia"/&gt;
    </pre>
    <p>the source is</p>
    <blockquote>
      <li id="mwww">
        <a rel="mw:WikiLink" href="./October_12" title="October 12" id="mwxA"
          >October 12</a
        >
        or <a rel="mw:WikiLink" href="./633" title="633" id="mwxQ">633</a>
        <span typeof="mw:Entity" id="mwxg">–</span>
        <a
          rel="mw:WikiLink"
          href="./Edwin_of_Northumbria"
          title="Edwin of Northumbria"
          id="mwxw"
          >Edwin of Northumbria</a
        >, king of
        <a rel="mw:WikiLink" href="./Deira" title="Deira" id="mwyA">Deira</a>
        and
        <a rel="mw:WikiLink" href="./Bernicia" title="Bernicia" id="mwyQ"
          >Bernicia</a
        >
      </li>
    </blockquote>
    <p>How many others are like this?</p>
    <p><time datetime="2023-05-19T23:26:23Z"></time>Or what about</p>
    <pre>
  &lt;birth who="2018" when="1925-06" summary="English actress"/&gt;
    </pre>
    <p>
      <time datetime="2023-05-19T23:29:26Z"></time>Next one I checked, from 1443
      is also this way:
      <q
        >May 31 or 1441 – Margaret Beaufort, Countess of Richmond and Derby,
        English noble, mother of King Henry VII, grandmother of King Henry VIII
        of England (d. 1509)</q
      >
    </p>
    <p>
      <time datetime="2023-05-19T23:36:29Z"></time>Oh! I was just trying to
      understand this case from 1911 (which was a good year for the birth of
      American actresses). Why was I getting bad dates for June Gale? Because
      her name is June.<time datetime="2023-05-19T23:37:23Z"></time>
    </p>
    <p><time datetime="2023-05-19T23:40:38Z"></time>We got Schlegel back:</p>
    <pre>
-  &lt;person who="1767" summary="German poet, translator and critic" died="1845-08"/&gt;
+  &lt;person who="August_Wilhelm_Schlegel" summary="German poet, translator and critic" died="1845"/&gt;
    </pre>
    <p><time datetime="2023-05-19T23:43:19Z"></time>Another oddball:</p>
    <pre>
  &lt;person who="May_28th" summary="Italian condottiero" born="1369"/&gt;
    </pre>
    <p>
      But otherwise this is pure goodness. Getting back people named May, June,
      and August.
    </p>
    <p>Oh, but our old friend the princess is back:</p>
    <pre>
  &lt;person who="" summary="Japanese crown princess, posthumously named empress, mother of Emperor Go-Reizei" born="1405" died="1007"/&gt;
    </pre>
    <p>And another weird one I keep seeing:</p>
    <pre>
  &lt;person who="1721" summary="&quot;Norway's undead soldier&quot;" born="1684-12-20"/&gt;
    </pre>
    <p><time datetime="2023-05-19T23:46:46Z"></time>And whatever this is</p>
    <pre>
  &lt;person who="November_22_(Eastern_Orthodox_liturgics)" summary="Norwegian diplomat, politician and sociologist" born="1947"/&gt;
    </pre>
    <p>We also got back one <q>January Jones</q>. Here's a false positive:</p>
    <pre>
  &lt;person who="2018" summary="Malaysian singer" born="1961-08-31"/&gt;
    </pre>
    <p>
      The sun is going down, and I really don't want to do any more of this
      right now. Two good fixes here.<time
        datetime="2023-05-19T23:48:44Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-05-20T00:20:35Z"></time>Okay, I got the databases
      reset in my local storage. I can't believe I spent all afternoon on
      this.<time datetime="2023-05-20T00:21:03Z"></time>
    </p>
  </section>
</article>
