<article>
  <meta charset="utf-8" />
  <h2><time datetime="2023-03-26T19:39:34Z"></time>bundling with XSLT</h2>
  <style>
    html {
      background-color: hsl(20deg, 9%, 11%);
      color: hsl(20deg, 9%, 61%);
    }
    a {
      color: inherit;
      text-decoration-thickness: 2pt;
      text-decoration-color: LinkText;
    }
    style {
      display: block;
      white-space: pre;
    }
  </style>
  <p>I know, I said I wasn't going to get pulled into procedural stuff.</p>
  <p>There are two contradictory problems:</p>
  <ul>
    <li>I think in XSLT</li>
    <li>XSLT doesn't do what I want quite naturally</li>
  </ul>
  <p>
    Basically what I want is macroexpansion. <em>Recursive</em> macroexpansion,
    to be more exact. I want to be able to say things about what happens when
    some HTML content is aborbed into the document. And I want to be able to say
    <em>multiple</em> such things, independently.
  </p>
  <p>
    <time datetime="2023-03-26T19:42:54Z"></time>What I have learned from
    experience so far:
  </p>
  <ul>
    <li>
      A one-pass macroexpand is easy to implement. By <q>one pass</q> I mean
      non-recursive. If a template matches, it is selected and given control,
      but other macros will not be applied to anything that it outputs, which is
      what the authors of such macros would expect.
    </li>
    <li>
      Further to that point, to recur or not to recur is a property of the
      implementation, not the statement. If you say element X should be extended
      thus, you expect this to be true whether or not it came from the source
      material or the result of a macroexpansion. The reasoning being that a
      macroexpansion is supposed to be transparent. Perhaps that's too strong a
      formulation, since we would expect to get different answers to questions
      about something's provenance (<q>Where did this come from?</q>) when a
      macroexpansion was involved.
    </li>
    <li>
      Monotonic assertions like <q>contains</q>, <q>before</q>, <q>after</q> and
      attribute extensions are straightforward to implement (again, as one
      pass); however, there are cases where you want <em>wrap</em>, which is
      non-monotonic. More importantly, wrap must be expressed in a different
      way. I haven't explored any wrapping macros.
    </li>
    <li>
      Different use cases call for different mechanisms. In particular,
      operating on HTML <i>versus</i> exotic terms crosses a line. Consider that
      there is effectively infinite HTML in the world, but effectively nothing
      in the world that uses terms you just made up.
    </li>
    <li>
      XSLT is really fast at some things, but construction projects are not one
      of them. In-memory buffering of unbounded source material is to be
      avoided. (For generated material I'm afraid can't be so absolute.)
    </li>
  </ul>
  <p>
    <time datetime="2023-03-26T20:07:44Z"></time>There are some basic,
    incidental things that you have to get right before you can even think about
    doing macros.
  </p>
  <ul>
    <li>
      fragments. Fragments are prefectly valid HTML documents. If it opens in a
      browser then any place where I'm reading it should do so as well. This
      places a specific constraint on how they can be glued together, since
      xsltproc will not (to wit) open a document with more than one element.
      <aside>
        <p>
          <time datetime="2023-03-26T20:10:49Z"></time>Actually wait is that
          true?
        </p>
        <p><time datetime="2023-03-26T20:13:44Z"></time>Yep</p>
        <pre>
fragment.html:2: parser error : Extra content at the end of the document
&lt;h2&gt;a treatise&lt;/h2&gt;
</pre
        >
      </aside>
    </li>
    <li>encoding</li>
    <li>spaces and such in filenames</li>
    <li>suppression of spurious HTML parser errors from xsltproc</li>
  </ul>
  <p>
    <time datetime="2023-03-26T20:25:04Z"></time>I have found through
    experimentation that all of these things can be dealt with in various ways
    by writing rules differently. But of course then you're back where you
    started, with incidental complexity entangled into the same expressions
    where you're trying to say something else.
  </p>
  <p>
    <time datetime="2023-03-26T20:26:13Z"></time>So not only do I have to stay
    meta for a bit longer, I need to go a level deeper.
  </p>
  <p>
    Specifically, I need to test whether and how I can include Lua functions
    from other files, so that I can provide some abstraction over requirements
    that produce rules in some form.
  </p>
  <p>
    <time datetime="2023-03-26T20:32:50Z"></time>It looks like you cannot do
    this:
  </p>
  <blockquote>
    <p>
      The base functions are defined, excluding <code>dofile</code>,
      <code>loadfile</code>, <code>load</code>, and <code>require</code>.
    </p>
    <cite
      ><a href="https://gittup.org/tup/lua_parser.html"
        >Tup manual, Lua parser</a
      ></cite
    >
  </blockquote>
  <p><code>require</code> is the one that I'd need.</p>
  <p>
    <time datetime="2023-03-26T20:35:21Z"></time>But reading further about
    <a href="https://www.lua.org/pil/15.html">Lua packages</a>, there might be
    other approaches. I don't know how Tup puts things together during rule
    evaluation.
  </p>
  <p>
    <time datetime="2023-03-26T20:45:45Z"></time>Ah! I may have something here.
  </p>
  <p>
    <time datetime="2023-03-26T20:47:27Z"></time>Yes, yes, it works! So, you can
    define functions (and I guess state?) in <code>Tuprules.lua</code>, and
    these definitions are available in Lua files within the directory.
  </p>
  <p>
    <time datetime="2023-03-26T20:49:07Z"></time>I think that's the end of the
    line, though. I mean, i think this can only apply to things physically
    defined in <code>Tupdefault.lua</code> (or <code>Tuprules.lua</code>). In
    other words, you can't farm out these definitions to, let's call 'em
    <q>userland</q> files like <code>mystuff.lua</code>, for the same reason,
    that <code>require</code> is not supported in this Lua integration. That's
    quite all right.
  </p>
  <p>
    <time datetime="2023-03-26T20:59:50Z"></time>Also nice, undefined things are
    just <code>nil</code>, so you can quietly detect whether a thing is
    available. Though having said that, checking for such things in
    <em>your</em> code would be noise.
  </p>
  <p>
    <time datetime="2023-03-26T20:54:55Z"></time>This all seems quite out of the
    way, but (I claim) it helps with several problems at once. So, prove
    it?<time datetime="2023-03-26T20:56:34Z"></time>
  </p>
</article>
