<article>
  <meta charset="utf-8" />
  <h2><time datetime="2023-05-09T01:35:59Z"></time>the moving center</h2>
  <p>There's a contradiction in the time explorer, as it's shaping up.</p>
  <p>The idea runs something like this:</p>
  <ul>
    <li>
      We are looking in <q>some direction</q> at a time vector (implying that
      we're standing apart from it? hmm)
    </li>
    <li>
      That point falls into the center of the viewport, and there is some
      (variable) scaling factor between that center point and the viewport
      boundaries
    </li>
    <li>
      We can probe forward or backwards along some axis—indeed, both at once—and
      thereby bring things into view
    </li>
    <li>
      Things brought into view expand the scale sufficiently to keep them in
      view
    </li>
  </ul>
  <p>
    The problem I see with this comes down to asymmetry. Suppose that we find
    things looking backwards which would extend a hundred years, and we find
    things looking forwards that would extend five years. The contradiction is
    that I want the center point to remain the center point, but I don't want to
    have to advance 95 <q>extra</q> years into the future just to keep the
    original viewpoint in the center. But it's important to keep the viewpoint
    in the center, since it was the origin of the queries (index probes) in the
    first place. It can't be the case that finding results can undermine the
    definition of the query that's ongoing.<time
      datetime="2023-05-09T02:08:11Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-05-09T03:13:19Z"></time>I want to resolve this before
    going any further. In the code, I left off with what is probably a
    straightforward bug in the async-iterator adaptor for db cursor. My view of
    its straightforwardness is bolstered by the fact that it did not arise until
    I had an async actuator. I am not experienced with case analysis of
    asynchronous code and in fact don't know the techniques. I am sure that
    solving this will be necessary and useful regardless of what I decide here.
    But I will work better if it is towards a good vision.
  </p>
  <p>
    <time datetime="2023-05-09T03:17:13Z"></time>One of the suppositions must be
    wrong. Which is the weakest? I think it's pretty clearly the division of the
    search into two parts at a definite date.
  </p>
  <p>
    It's not hard to imagine <em>something</em> being located on a timeline and
    looking forward and backwards. And we may agree that when things are indexed
    chronologically, there are is a mechanical sympathy with the task.
  </p>
  <p>
    We also don't strain to imagine looking both forwards and backwards at the
    same time—because we are commissioning the work, not doing it. The magic of
    a timeline is that both past and future are in front of us at once.
  </p>
  <p>
    But what is that point? I mean, <em>why</em> do we want a distinguished
    point, when we keep saying that the boundaries don't represent anything
    real. It's because the idea of a gaze <em>does</em> (we suppose) represent
    something real. We might call it a fixation, but it is not a <q>point</q> in
    the cartesian sense.
  </p>
  <p>
    This can be fixed with algebra. Observe that there are neither boundaries
    nor center when there is nothing in the world. What is a function of what?
    Clearly, if there is nothing in the world, then your viewpoint doesn't
    matter. Favor formulations where, in an empty world, we are not nevertheless
    obliged to identify (for we can't say distinguish) some target of our gaze.
  </p>
  <p>
    So (we say) the viewpoint is a function of the set of things to view, and
    the function may answer <q>nothing</q>—<em>will</em> answer nothing when the
    set of things to view is the empty set. Good.
  </p>
  <p>
    Next question: is it the <em>boundaries</em> or the <em>center</em> that is
    determined by the things-to-be-viewed? A circularity lurks here.
  </p>
  <p>
    Could we possibly <q>see all time at once</q>? I mean, could there be a
    <q>complete</q> timeline in finite space? It's a fun question. Perhaps it
    would have to be represented as a ring, or some wild orbital path. Maybe
    fractals are relevant if we are to suppose that time is infinite.
  </p>
  <p>But none of this has any apparent practical use.</p>
  <p>
    If we want to look at time in space, we must suppose that we apply some
    <em>scale</em>, a scaling factor that will render some far-distant things
    beyond a vanishing point.
  </p>
  <p>There it is.</p>
  <p><i>Memento mori</i> strikes again.</p>
  <p>
    The asymmetry of the line is the elephant, the gorilla, the baboon, what you
    will.
  </p>
  <p>
    I said that I would not want look 95 <q><q>extra</q></q> years into the
    future just so that I could look 95 back. Why?
  </p>
  <p>Because the future is dark.</p>
  <p>I mean, it <em>is</em> dark.</p>
  <p>This is what science tells us.</p>
  <p>Science is <q>just reporting the facts.</q></p>
  <p>
    And it's not about to be stopped by some little thing like psychological
    terror.
  </p>
  <p>And then there's the gospel truth, that the future is light.</p>
  <p>Not bad battle lines, eh?</p>
  <p>But I digress.</p>
  <p>
    The quandary goes away if you don't require the origin of the search to
    remain at the center of the view. It will tend to do so or not do so as the
    findings emerge, which may be many or may be none. Which may be balanced or
    lopsided. That is, the leaning of the <q>spine</q> as the search grows can
    tell you something.
  </p>
  <p>
    So you must decouple the origin of the search from necessarily remaining the
    center point of the view. Indeed, it never needs to be the center point of
    the view. If nothing is seen, then there is no viewpoint.
  </p>
  <p>
    And indeed <strong>there is no center point of view</strong>, at least,
    nothing yet in this model would induce me to add one. I do believe that it
    is the better way to model the representation, for the sake of coordinating
    multiple scales.
  </p>
  <p>So much for the boundary issue.</p>
  <p>
    There's yet a practical problem with running two searches, which is, where
    do you put the <q>other</q> results? The most sympathetic thing to do is
    append to the main flow. And we can certainly do that, independently of the
    (chronological) direction of the search, with <em>one</em> result stream.
  </p>
  <p>
    Wait, that's it? Just merge them into one list? And let them fall where they
    may? I'm not sure I hate that.<time datetime="2023-05-09T04:08:54Z"></time>
  </p>
  <p><time datetime="2023-05-09T04:35:45Z"></time>Nice, I fixed a bug.</p>
  <p>
    <time datetime="2023-05-10T02:39:37Z"></time>But there are more bugs where
    that came from. The sequence reader stops after two records now instead of
    one.
  </p>
  <p>
    <time datetime="2023-05-10T02:44:15Z"></time>Yeah, I'm back to
    <code>TransactionInactiveError</code> now.
  </p>
  <p>
    <time datetime="2023-05-10T03:12:08Z"></time>MDN
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/IDBCursor"
      >says</a
    >
    <q>You can have an unlimited number of cursors at the same time</q>, but it
    seems to me that yielding between iterations is causing the next
    <code>continue()</code> call to reject as noted.
  </p>
  <p>
    <time datetime="2023-05-10T03:21:53Z"></time>Yeah, playing around with this
    interatively, it's clear that you can't let go of these objects for even a
    moment, or they'll end up in this state. How in the world is this an
    asynchronous interface?
  </p>
  <p>
    <time datetime="2023-05-10T03:28:48Z"></time>Like in the
    <a
      href="https://github.com/mdn/dom-examples/blob/main/indexeddb-examples/idbcursor/scripts/main.js"
      >MDN example</a
    >, <code>continue</code> is only called from within <code>onsuccess</code>,
    which is consistent with my finding that if you let
    <code>onsuccess</code> lapse without having continued, then the transaction
    will die. If that's true, it means that you can't iterate a cursor at your
    leisure but <em>must</em> accept all of the data as soon as it's available.
    I say again, how is this an asynchronous interface? What use is it to have
    an <q>unlimited number of cursors at the same time</q> if they must all be
    consumed maximally? How is it true that
    <q
      >The cursor enables an application to asynchronously process all the
      records in the cursor's range</q
    >? <em>You</em> don't get to be asynchronous; <em>it</em> does.
  </p>
  <p>
    <time datetime="2023-05-10T03:49:11Z"></time>This (pain) point is described
    in
    <q
      ><a
        href="https://gist.github.com/pesterhazy/4de96193af89a6dd5ce682ce2adff49a#confusing-transaction-auto-commit-semantics"
        >Confusing transaction auto-commit semantics</a
      ></q
    >:
  </p>
  <blockquote>
    <p>
      This problem is apparent when using indexeddb with promises, because the
      use of <code>Promise.resolve().then( () => ... )</code> can lead to the
      transaction being closed prematurely, causing an exception - especially in
      Safari and Firefox.
    </p>
  </blockquote>
  <p>Though I get the same result in Chrome, with a clearer message:</p>
  <pre>
Failed to execute 'continue' on 'IDBCursor': The transaction has finished.</pre
  >
  <p>
    <time datetime="2023-05-10T03:58:20Z"></time>So yeah. It's not that you
    <em>can't</em> provide an async iterable over a query. But if you actually
    do it asynchronously, you'll be either buffering results or creating new
    cursors all the time which, um, defeats the purpose. Is it true that Mozilla
    nixed Web SQL because sqlite has no <q>competing implementation</q>?
  </p>
  <p>
    Anyway, I need to mull this over for a bit. For what I want to make here,
    indexedDB is still the best option that I know of. But the question of a
    suitable abstraction remains open.<time
      datetime="2023-05-10T04:07:19Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-05-10T04:18:37Z"></time>Okay, so I have a choice now. I
    want to stick with async iterables because that's the only first-class thing
    in JavaScript that could possibly serve as the basis for a process model,
    and I'm done with not having one.
  </p>
  <p>
    That said, my solution to the cursor problem is that we must buffer. So of
    course one is tempted to say, does this break down to CSP?
  </p>
  <p>
    I'm not sure. The cursor reader should use a fixed buffer, block (meaning
    stop reading) when it is full, and create a new cursor at the key where the
    old one left off if the reader tries to read past the buffer.
  </p>
  <p>
    Naturally we ask about the size of the buffer. What is the effect of
    changing it. And I say that the buffer is an implementation detail. It's
    only there because the cursor API doesn't let us operate this way directly.
  </p>
  <p>
    Anyway, the buffer doesn't <em>mean</em> anything, and doesn't enter the
    process model. It's theoretically transparent (though indirectly observable)
    to the consumer of the sequence. This is a bespoke routine which should be
    writable as an async generator.<time datetime="2023-05-10T04:29:39Z"></time>
  </p>
  <p>
    <time datetime="2023-05-10T13:29:42Z"></time>Slowly starting to get
    somewhere on this.
  </p>
  <p>
    <time datetime="2023-05-10T21:25:14Z"></time>Ugh, I'm going to have to write
    tests. This is going to take several hours. And I will be sorely tempted to
    split up the file.
  </p>
  <p>
    <time datetime="2023-05-10T21:50:23Z"></time>I put together this data,
    backwardly using macros instead of GPT, with 51 records (Puerto Rico):
  </p>
  <pre>
        const US_STATES = {
          AL: { name: "Alabama", joined: "1819-12-14" },
          AK: { name: "Alaska", joined: "1959-01-03" },
          AZ: { name: "Arizona", joined: "1912-02-14" },
          AR: { name: "Arkansas", joined: "1836-06-15" },
          CA: { name: "California", joined: "1850-09-09" },
          CO: { name: "Colorado", joined: "1876-08-01" },
  </pre>
  <p>
    I just needed something with at least a couple buffer's worth of records,
    and I have the buffer size set to 16 (for no particular reason). Shakespeare
    plays would fit the bill, except that the dates are conjectural, the ID's
    are unofficial, and even the titles are inconsistent. This data has the
    advantage of being effectively fixed.
  </p>
  <p>
    <time datetime="2023-05-10T22:05:51Z"></time>I have a loader that
    initializes the test database.
  </p>
  <p>
    Still working on getting tests going, but I need to take a break.<time
      datetime="2023-05-10T22:33:05Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-05-11T02:36:42Z"></time>It appears that the
    <code>IDBObjectStore</code> can't be reused, either, not just the cursor.
    It's just as well, because the alternative is to describe the thing.<time
      datetime="2023-05-11T02:40:16Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-05-11T03:05:08Z"></time>I am getting
    <code>InvalidStateError</code> in the debugger but not in the console when
    paused. So I'm not sure why the debugger is stopping. On the whole, though,
    the thing is coming along.
  </p>
  <p>
    <time datetime="2023-05-11T03:11:02Z"></time>A problem though is, how can
    you tell whether getting <code>request.result</code> is going to throw.
  </p>
  <p>
    <time datetime="2023-05-11T03:13:58Z"></time>Huh, apparently checking
    whether <code>readyState === "done"</code> is effective against it, although
    the behavior in the debugger is still inconsistent.
  </p>
  <p>
    <time datetime="2023-05-11T03:42:39Z"></time>I see entries like
    <q>1892: German chemist</q>. Are these spurious?
  </p>
  <p>
    <time datetime="2023-05-11T03:43:36Z"></time>I mean, obviously they're
    spurious, but I meant where is it going wrong? And—<q
      >fortunately or unfortunately</q
    >—it's happening upstream from the XML file:
  </p>
  <pre>
  &lt;person who="1892" summary="German chemist" born="1818-08"/&gt;
  </pre>
  <p>So I'm going to ignore it for now.</p>
  <p>
    <time datetime="2023-05-11T03:47:22Z"></time>I'm a bit fatigued working on
    the concurrency thing. At the moment, it works up to about two buffer
    lengths, before I have to start a new cursor, and that's what I haven't got
    right yet. It works indefinitely if you consume it eagerly. That's enough
    for me to work with.<time datetime="2023-05-11T03:49:56Z"></time>
  </p>
  <p>
    <time datetime="2023-05-11T03:50:39Z"></time>Also at the moment, though, I'm
    traversing in default order, which (a) I think won't work with query
    resumption by PK, and (b) isn't at all what I want. That's why I'm noticing
    these entries like <q>1891 Estonian writer</q> and
    <q>1899 Italian Jesuit priest</q>, because they sort to the top.<time
      datetime="2023-05-11T03:52:41Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-05-11T04:09:40Z"></time>How do you know that you've
    reached the end of the cursor?
  </p>
  <p>
    <time datetime="2023-05-11T04:43:05Z"></time>I mean I see bugs a plenty
    here.
  </p>
  <pre>
Object { fips: "CA", name: "California", joined: "1850-09-09" }
Object { fips: "CA", name: "California", joined: "1850-09-09" }
Object { fips: "CO", name: "Colorado", joined: "1876-08-01" }
Object { fips: "CA", name: "California", joined: "1850-09-09" }
Object { fips: "CO", name: "Colorado", joined: "1876-08-01" }
Object { fips: "CT", name: "Connecticut", joined: "1788-01-09" }
Object { fips: "DE", name: "Delaware", joined: "1959-01-03" }
Object { fips: "FL", name: "Florida", joined: "1845-03-03" }
Object { fips: "GA", name: "Georgia", joined: "1788-01-02" }
Object { fips: "HI", name: "Hawaii", joined: "1959-01-03" }
Object { fips: "IA", name: "Iowa", joined: "1846-12-28" }
  </pre>
  <p>
    But I'm too tired to do any more.<time
      datetime="2023-05-11T04:44:33Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-05-11T13:26:09Z"></time>I'm struggling with some basic
    async stuff.
  </p>
  <pre>
START FILLING
============== BEFORE loop
READER WANTS NEXT
EMPTY SO MAKING TAKER
NOT EOF AND NOT PENDING
START FILLING
READYSTATE OF REQUEST pending
GOT undefined
NO CURSOR SO EOF
============== AFTER loop
thunk complete
READYSTATE OF REQUEST done
GOT 
Object { fips: "AK", name: "Alaska", joined: "1959-01-03" }
NO TAKER, ENQUEUED 
Object { _start: 0, _end: 1, size: 1 }
NOT FULL SO CONTINUING
READYSTATE OF REQUEST done
GOT 
Object { fips: "AL", name: "Alabama", joined: "1819-12-14" }
NO TAKER, ENQUEUED 
Object { _start: 0, _end: 2, size: 2 }
NOT FULL SO CONTINUING
READYSTATE OF REQUEST done
GOT 
Object { fips: "AR", name: "Arkansas", joined: "1836-06-15" }
NO TAKER, ENQUEUED 
Object { _start: 0, _end: 3, size: 3 }
NOT FULL SO CONTINUING
READYSTATE OF REQUEST done
GOT 
Object { fips: "AZ", name: "Arizona", joined: "1912-02-14" }
NO TAKER, ENQUEUED 
Object { _start: 0, _end: 4, size: 4 }
NOT FULL SO CONTINUING
READYSTATE OF REQUEST done
GOT undefined
NO CURSOR SO EOF
</pre
  >
  <p>
    <time datetime="2023-05-11T13:29:36Z"></time>Everything that happens after
    the loop (except <q>thunk complete</q>) is supposed to be part of the
    process. It's like I'm missing an <code>await</code> somewhere.
  </p>
  <p>
    <time datetime="2023-05-11T13:31:33Z"></time>This
    <q>NO CURSOR SO EOF</q> must be to blame. The sequence is not over at that
    point—on the contrary, it hasn't done anything yet. So the EOF must be
    triggering an early return. If that's what's going on, then why does all the
    work still happen after it thinks it's done?<time
      datetime="2023-05-11T13:33:13Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-05-11T13:39:31Z"></time>Yeah I <q>fixed</q> that in the
    first test by checking for <code>readyState === "pending"</code>. A later
    test still has the problem, but one thing at a time. The first test is now
    <q>contained</q> within its promise, but the results indicate a problem with
    the iteration:
  </p>
  <pre>
Object { fips: "AK", name: "Alaska", joined: "1959-01-03" }
Object { fips: "AK", name: "Alaska", joined: "1959-01-03" }
Object { fips: "AL", name: "Alabama", joined: "1819-12-14" }
Object { fips: "AL", name: "Alabama", joined: "1819-12-14" }
Object { fips: "AR", name: "Arkansas", joined: "1836-06-15" }
Object { fips: "AR", name: "Arkansas", joined: "1836-06-15" }
Object { fips: "AZ", name: "Arizona", joined: "1912-02-14" }
Object { fips: "AZ", name: "Arizona", joined: "1912-02-14" }
</pre
  >
  <p>
    <time datetime="2023-05-11T13:43:52Z"></time>They are in order by code
    obviously, but where are the duplicates coming from? The loop is
    <q>continuous</q>: it never yields, except to get the new item (the
    <code>await</code> in the <code>for await</code>). Still, the buffer is
    being used.
  </p>
  <p>
    Also, I don't understand why we're getting to <code>onsuccess</code> when
    the request is still pending. At the moment, I just return.
  </p>
  <pre>
ℚ START FILLING
ℚ READER WANTS NEXT
ℚ EMPTY SO MAKING TAKER
ℚ NOT EOF AND NOT PENDING
ℚ START FILLING
ℚ READYSTATE OF REQUEST pending
ℚ PENDING?? WHY THE F ARE WE HERE THEN??
ℚ READYSTATE OF REQUEST done
ℚ GOT 
Object { fips: "AK", name: "Alaska", joined: "1959-01-03" }
ℚ NO TAKER, ENQUEUED 
Object { _start: 0, _end: 1, size: 1 }
ℚ NOT FULL SO CONTINUING
reader got Object { fips: "AK", name: "Alaska", joined: "1959-01-03" }
ℚ READER WANTS NEXT
ℚ DEQUEUED 
Object { _start: 1, _end: 1, size: 0 }
Object { fips: "AK", name: "Alaska", joined: "1959-01-03" }
reader got Object { fips: "AK", name: "Alaska", joined: "1959-01-03" }
  </pre>
  <p>The second <q>START FILLING</q> looks suspicious.</p>
  <p>
    You can see that the reader is yielded AK twice. You can see that it gets
    enqueued and dequeued. But it should never enter the queue because there
    should be a taker ready. I removed some of the trace details about that.
  </p>
  <p><time datetime="2023-05-11T13:55:38Z"></time>Okay, I see a problem.</p>
  <pre>
        _taker?.({ done: false, value: cursor.value });
        _frontier = cursor.primaryKey;
        if (!_taker) {
          enqueue(cursor.value);
          trace(`NO TAKER, ENQUEUED`, { _start, _end, size: size() });
        }
  </pre>
  <p>
    The first thing <code>_taker</code> does is set <code>_taker = null</code>.
    This of course makes the later <code>if (!_taker)</code> work as intended.
  </p>
  <p><time datetime="2023-05-11T13:58:08Z"></time>Okay, that's fixed now:</p>
  <pre>
reader got Object { fips: "AK", name: "Alaska", joined: "1959-01-03" }
reader got Object { fips: "AL", name: "Alabama", joined: "1819-12-14" }
reader got Object { fips: "AR", name: "Arkansas", joined: "1836-06-15" }
reader got Object { fips: "AZ", name: "Arizona", joined: "1912-02-14" }
  </pre>
  <p>
    <time datetime="2023-05-11T14:00:56Z"></time>Oh dear. There's a race
    condition. On the next test, which is the same except that it collects the
    values into an array, we get usually those 4 records, but sometimes 5, where
    the AK is repeated.
  </p>
  <p>
    <time datetime="2023-05-11T14:07:06Z"></time>The difference between the 4
    and 5 cases is that the 5 case gets a <code>done</code> call before a
    <code>pending</code> call. It somehow <em>receives</em> AK twice, but I'm
    not sure whether it's on a separate cursor.<time
      datetime="2023-05-11T14:09:37Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-05-11T14:19:28Z"></time>Um, so I just learned that you
    can get
    <a
      href="https://nolanlawson.com/2021/08/22/speeding-up-indexeddb-reads-and-writes/"
      >an entire page at a time</a
    >. As pointed out in a
    <a href="https://github.com/w3c/IndexedDB/issues/369#issuecomment-998182413"
      >response to <q>Why is IndexedDB this bad?</q></a
    >,
  </p>
  <blockquote>
    <p>
      getAll() was added after cursors; getAll() also required unbounded memory
      in the general case, so asynchronous iteration is a necessary primitive.
    </p>
  </blockquote>
  <p>
    Though I would observe that cursors don't provide
    <q>asynchronous iteration</q> as defined by JS either.
  </p>
  <p>
    Anyway, I still want to get this method right, as it's a degenerate case of
    paging with page size = 1. I don't care about compatibility with version
    &lt; 2. But there would be no use getting multiple records as long as this
    is still wrong.<time datetime="2023-05-11T14:25:22Z"></time>
  </p>
  <p>
    <time datetime="2023-05-11T14:25:44Z"></time>Also, it looks like I'm going
    to have to read
    <a href="https://w3c.github.io/IndexedDB/">the actual spec</a> if I want to
    know what <code>success</code> actually means.<time
      datetime="2023-05-11T14:26:50Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-05-11T14:30:12Z"></time>This is the kind of language
    that lends itself to a simple timeline bot:
  </p>
  <blockquote>
    <p>
      This is the Third Edition of Indexed Database API. The
      <a href="https://www.w3.org/TR/2015/REC-IndexedDB-20150108/"
        >First Edition</a
      >, simply titled "Indexed Database API", became a W3C Recommendation on 8
      January 2015. The
      <a href="https://www.w3.org/TR/2018/REC-IndexedDB-2-20180130/"
        >Second Edition</a
      >, titled "Indexed Database API 2.0", became a W3C Recommendation on 30
      January 2018.
    </p>
  </blockquote>
  <p>
    <time datetime="2023-05-11T15:44:04Z"></time>It doesn't affect this work,
    but as of this writing Firefox
    <a href="https://caniuse.com/mdn-api_idbfactory_databases"
      >appears to be alone
    </a>
    in
    <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=934640"
      >not implementing</a
    >
    discovery of existing databases.
  </p>
  <p><time datetime="2023-05-11T15:59:45Z"></time>Here we go:</p>
  <blockquote>
    <p>
      Requests are not typically re-used, but there are exceptions. When a
      cursor is iterated, the success of the iteration is reported on the same
      request object used to open the cursor.... In some cases, the request’s
      done flag will be set to false, then set to true again, and the result can
      change or error could be set instead.
    </p>
    <cite
      ><a href="https://w3c.github.io/IndexedDB/#request-construct"
        >§ 2.8. Requests</a
      ></cite
    >
  </blockquote>
  <p>
    Hmm, but exactly what conditions lead to success being fired at a
    cursor?<time datetime="2023-05-11T16:01:26Z"></time>
  </p>
  <p>
    <time datetime="2023-05-11T16:44:01Z"></time>As near as I can tell from the
    spec, there should be at most N+1 <code>success</code> events dispatched for
    a cursor with N records, the final one having a null cursor and indicating
    the end of data. So if I'm getting AK twice, it must be coming from two
    separate cursors.<time datetime="2023-05-11T16:45:23Z"></time>
  </p>
  <p>
    <time datetime="2023-05-11T17:10:19Z"></time>It seems that the problem comes
    down to, when do we start re-filling the buffer if it becomes empty? It's
    also at that point that we may (indeed probably) have to create a new cursor
    and resume where the previous one left off. I still have not really
    internalized the model regarding databases, connections, object stores,
    indexes, transactions, requests, and cursors.
  </p>
  <p>
    <time datetime="2023-05-11T17:32:06Z"></time>There are only two significant
    events in this mechanism: wanting a value, and getting a value. It seems to
    me that the only logical time to initiate a refill is when wanting a value.
    When you <em>get</em> a value, it may be the case that you have more room in
    the queue, but of course at that point you're already in the process of
    filling the queue, so there's nothing more proactive to do. When it's full,
    of course you have to stop anyway.
  </p>
  <p>
    So you would only consider doing this when the reader is asking for a value.
    Then the question is, do you wait until the queue is empty, or might you
    initiate sooner? If you initiate sooner, the engine can work on refilling
    the buffer while you're conuming it. If the refill process works best when
    it's able to re-use resources, then partial refills may be less efficient
    than full ones. This will be more true when I add paging.
  </p>
  <p>
    Still, it's <em>possible</em> to consider starting a refill even before the
    buffer is empty. And although I don't plan to do it, it's instructive to
    consider. If the buffer is partly full, does this mean that there is no open
    transaction/request/cursor? Because note that <em>starting</em> a refill
    means that you're going to create a new cursor and read that. And our
    invariant is that we will not have more than one cursor at a time. So we
    would only consider a refill when we know that the first one is no longer
    operating.
  </p>
  <p>
    If the buffer is not full, this can mean that there are no more records
    (we're at EOF), in which case we'd never refill. It can also mean that the
    filler is still operating, i.e. that there is a cursor (a.k.a request). If
    that's the case, then we also don't want to start anything new. It could
    also mean that the previous reading effort stopped early for some reason.
    This seems to be a constant liability, given the auto-commit semantics
    referenced earlier. Can we detect this situation? We know whether we got to
    EOF, but how would we know if the last cursor died <q>prematurely</q>?
    Prematurely here means that we'd have liked to read more, and there was more
    to read, but the object ended up in an unusable state. I don't know that we
    can nail this down further.
  </p>
  <p>
    So we're back to, let's just attempt a refill when the reader has asked for
    a value and the queue is empty. In such cases, we're going to yield anyway.
    This is intuitive to me. The buffer is a necessary evil in order to deal
    with the impedance mismatch between async iterators and what cursors
    provide. We're not trying to make any guarantees related to the buffer
    <i>per se</i>, which ideally would not be observable anyway. And the idea of
    iterators is that demand is reader-driven. I also see low-power at play
    here, since we're taking an opportunity to decline unnecessary work. This
    allows the reader to read up to BUFFER_SIZE without incurring more than
    BUFFER_SIZE reads.<time datetime="2023-05-11T17:56:15Z"></time>
  </p>
  <p>
    <time datetime="2023-05-11T18:37:14Z"></time>Ah, here's a bug. I am
    returning <code>done</code> from <code>next</code> when <code>EOF</code> is
    set, but that doesn't mean that the <em>reader</em> is at EOF, only that the
    cursor is. But of course the reader might not have caught up. This shows
    that EOF has to do with the state of the... internal reader, whatever that
    is called. The thing operating the cursor.<time
      datetime="2023-05-11T18:39:30Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-05-11T19:06:58Z"></time>I'm passing several tests now,
    but I still don't have one that actually exercises reading a second buffer,
    since the pending taker is often used. I also don't have any tests that use
    an index (versus the default order).
  </p>
  <p>
    <time datetime="2023-05-11T19:14:21Z"></time>Was New Jersey really the first
    state in the union?<time datetime="2023-05-11T19:14:32Z"></time>
  </p>
  <p>
    <time datetime="2023-05-11T19:18:15Z"></time>Also I just want to point out
    that nothing came of
    <a href="https://github.com/inexorabletash/indexeddb-promises/issues/8"
      >this hand-waving session</a
    >
    where it was agreed that <q>async iterables for cursors</q> would make
    sense.<time datetime="2023-05-11T19:19:44Z"></time>
  </p>
  <p>
    <time datetime="2023-05-11T19:58:08Z"></time>I think I got one step closer,
    by tracking when the source's transaction completes, which seems to
    correspond to the state when no more reading will occur.
  </p>
  <p>
    Now I need to resume the location correctly. Because what happens now is not
    state errors, but just repeatedly looping the same buffer-size worth of
    records.<time datetime="2023-05-11T20:00:07Z"></time>
  </p>
  <p>
    <time datetime="2023-05-11T20:17:17Z"></time>A complication here is that
    getting a connection is async, and we need a connection in order to start
    filling. But yielding means that the situation on the ground can change,
    i.e. a reader request can come in, which is in turn the thing that launches
    fill... so it's hard to maintain state invariants in that procedure.<time
      datetime="2023-05-11T20:19:09Z"
    ></time>
  </p>
  <p><time datetime="2023-05-11T20:36:29Z"></time>Slight progress:</p>
  <pre>
Assertion failed: Expected AK AL AR AZ CA CO CT DE FL GA HI IA ID IL IN KS KY; got AK AL AR AZ CA CO CT DE FL GA HI IA ID IL IN KS KS KY</pre
  >
  <p>
    <time datetime="2023-05-11T20:36:38Z"></time>What's the matter with Kansas?
    I'm seeking <em>to</em> the place where I left off, but I need to go to the
    next one after that.
  </p>
  <p>
    <time datetime="2023-05-11T20:45:29Z"></time>Getting somewhere. Passing 10
    tests, including early return, index, and resumption. About ready to call it
    a day.<time datetime="2023-05-11T20:46:11Z"></time>
  </p>
  <p>
    <time datetime="2023-05-12T04:01:39Z"></time>Still some non-determinism
    lurking:
  </p>
  <pre>
Assertion failed: Expected NJ GA MA CT MD SC NH NY NC RI VT KY TN OH LA IN MS IL AL OR PA VA ME PR MO AR MI FL TX IA WI CA MN KS WV NV NE CO ND SD MT WA ID WY UT OK NM AZ AK DE HI; got NJ GA MA CT MD SC NH NY NC RI VT KY TN OH LA IN MS IL AL OR OR PA VA ME PR MO AR MI FL TX IA WI CA MN KS WV NV NE CO ND SD MT WA ID WY UT OK NM AZ AK DE HI</pre
  >
  <p>That test was passing before. This time it's OR OR.</p>
  <p>
    <time datetime="2023-05-12T04:20:28Z"></time>I saw the traces of this and
    yeah, there's a break at OR where you seek to the key, then advance. But the
    advance seems not to have worked, and I'm not sure why. Anyway I'm passing
    21 tests now, and I'm ready to move on to using this.<time
      datetime="2023-05-12T04:22:18Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-05-12T04:27:28Z"></time>Well, I get this when I try it:
  </p>
  <pre>
DataError: Data provided to an operation does not meet requirements.</pre
  >
  <p>
    After rendering a number of items, this occurs when trying to seek to
    <code>1900</code> on (I assume) the <code>born</code> index.
  </p>
  <p>
    <time datetime="2023-05-12T04:30:08Z"></time>Okay, this is the case I knew
    was not covered, which is that when you have a non-unique index, you may
    need to seek to both an index key and a PK. I have saved both but I don't
    restore both. I don't want to make test cases for this at the moment, but
    maybe there's not much to it.
  </p>
  <p>
    <time datetime="2023-05-12T04:33:35Z"></time>Woot! Yeah, that fixes it. It's
    still going.
  </p>
  <p>
    Wow. This is starting to look like the vision.<time
      datetime="2023-05-12T04:36:12Z"
    ></time>
  </p>
</article>
