<article>
  <h2><time datetime="2023-03-25T04:06:46Z"></time>making time</h2>
  <p>Requires xsltproc</p>
  <p>
    In another notebook, I made a little template to iterate over a range, and I
    used it to make a little <q>timeline</q> of the years 2010 to 2023. I mean,
    it was just a list of numbers.
  </p>
  <p>
    In fact I'm just going to copy its main.xsl here. It must have modified
    pack.sh, too, to run that transform. Take note of the recomposition. I was
    working on two things there: bookmarks and timelines. I want just the
    timelines part. But files can be mixed. Tupfile contained both:
  </p>
  <pre>
include_rules

include read-bookmarks.lua

: main-in.html |&gt; xsltproc --html main.xsl '%f' &gt; '%o'|&gt; main-one.html
: main-one.html bookmarks.html |&gt; cat %f &gt; '%o' |&gt; main.html

: | main.html &lt;bundles&gt; |&gt; ./pack.sh %&lt;bundles&gt; &gt; '%o' |&gt; notebook.html
  </pre>
  <p>
    And I had to write to main-in.html instead of main.html, so that I didn't
    have to change the name of the thing consumed by pack.sh. I will do the same
    here, but here there is no "read-bookmarks.lua". This is all doing violence
    to any notion of lexical scoping.
  </p>
  <p>
    You could also say, that main.html is what you write and the transform
    occurs when creating notebook. After all, I've abandoned the idea of packing
    the files into HTML (at least as the primary means of transport), so there's
    really nothing else for pack to do, to warrant an additional node. But I
    will leave it in place, since that does happen to be
    <em>this</em> notebook's means of survival.
  </p>
  <p>
    Also note, the <q>pack</q> rule has to change, anyway, since main.html
    changing from a regular to a generated file means that you have to declare
    it as an (extra) input, which you do not for regular files that you might
    read. From the perspective of the question, "Can I delete this?", which Tup
    will do with generated files when retracted, the requirement makes sense.
    Still, it would be convenient if you did not have to make this distinction.
  </p>
  <p>Anyway, now that I have grafted this change, I should be able to say</p>
  <ul data-ruler-from-year="1560" data-ruler-to-year="1630"></ul>
  <p>I also had a file there, time.css, which I will import here:</p>
  <link rel="stylesheet" href="time.css" />
  <aside>
    <p>
      <code>body link[rel="stylesheet"]</code> apparently works, but I'm pretty
      sure it's <q>invalid</q>.
    </p>
  </aside>
  <p>
    Oh yeah and this used an additional transform called mark-time.xsl. And when
    was that applied?
  </p>
  <p>
    I don't know. I'm going to just include all of the XSL files into an XSL
    file. I mean, make an XSL file that includes all of the XSL files in a
    directory. Because that's easy to do and it's how I want to compose this.
  </p>
  <p>
    <time datetime="2023-03-25T05:31:59Z"></time>I did that. I made a directory
    with a little rule that xsl:includes all of the .xsl files. I include that
    when processing main, and I can override the main mode.
  </p>
  <p>
    And immediately I run into the problem that I expect transforms to be
    applied recursively and they aren't.
  </p>
  <p>
    <time datetime="2023-03-25T05:36:15Z"></time>Oh and there's yet another one,
    about fixing self-closing elements in HTML and a few others. Well I can drop
    them into main, as you never don't want these.
  </p>
  <section>
    <h2><time datetime="2023-03-26T03:34:10Z"></time>this month</h2>
    <form>
      <fieldset>
        <label><input type="date" /></label>
        <label><textarea>20</textarea></label>
      </fieldset>
      <script>
        {
        }
      </script>

      <style>
        body {
        }
      </style>
    </form>
    <p>Now, there's the debacle of date pickers.</p>
    <p>Where's that layers widget...</p>
  </section>
</article>
