<article>
  <meta charset="utf-8" />
  <section>
    <h2><time datetime="2023-05-12T16:02:12Z"></time>bugs in people list</h2>
    <p>
      <time datetime="2023-05-12T16:05:28Z"></time>Search for <q>priest</q> and
      every time you get this out-of-order item for Ezra:
    </p>
    <pre>
style="--year: 0052; --year-to: 0034" data-wiki="Aristobulus_III_of_Judea"
style="--year: 0089; --year-to: 0040" data-wiki="Pasherienptah_III"
style="--year: 0479; --year-to: 0439" data-wiki="Ezra"
style="--year: 0256; --year-to: 0336" data-wiki="Arius"
</pre
    >
    <p>
      <time datetime="2023-05-12T17:50:05Z"></time>See also <q>author</q>, which
      sort of starts over at some point and has a <code>NaN</code>:
    </p>
    <pre>
style="--year: 0024; --year-to: 0050"  data-wiki="Aulus_Cornelius_Celsus"
style="--year: 0052; --year-to: 0018"  data-wiki="Yang_Xiong_(author)"
style="--year: 0076"  data-wiki="Liu_Xiang_(author)"
style="--year: 0105; --year-to: 0042"  data-wiki="Cicero"
style="--year: 0156; --year-to: 0085"  data-wiki="Gaius_Marius"
style="--year: 0158; --year-to: 0087"  data-wiki="Quintus_Mucius_Scaevola_Augur"
style="--year: 0194; --year-to: 0158"  data-wiki="Terence"
style="--year: 0256; --year-to: 0179"  data-wiki="Aristophanes_of_Byzantium"
style="--year: 0294; --year-to: 0214"  data-wiki="Apollonius_of_Rhodes"
style="--year: 0349; --year-to: 0284"  data-wiki="Dicaearchus"
style="--year: 0543; --year-to: 0495"  data-wiki="Sun_Tzu"
style="--year: 0028; --year-to: 0101"  data-wiki="Silius_Italicus"
style="--year: 0040; --year-to: 0103"  data-wiki="Frontinus"
style="--year: 0125; --year-to: 0180"  data-wiki="Aulus_Gellius"
style="--year: 0500; --year-to: 0547"  data-wiki="Tribonian"
style="--year: 0506; --year-to: 0572"  data-wiki="Wei_Shou"
style="--year: 0581; --year-to: 0645"  data-wiki="Yan_Shigu"
style="--year: 0733; --year-to: 0804"  data-wiki="Lu_Yu"
style="--year: 0936; --year-to: 1013"  data-wiki="Al-Zahrawi"
style="--year: 0940; --year-to: 1020"  data-wiki="Ferdowsi"
style="--year: 0953; --year-to: 1002"  data-wiki="Kisai_Marvazi"
style="--year: 0972"  data-wiki="Abdussamed_Babek"
style="--year: 0NaN; --year-to: 0NaN"  data-wiki="525_BC"
style="--year: 1065; --year-to: 1110"  data-wiki="Li_Jie_(author)"
style="--year: 1153; --year-to: 1216"  data-wiki="Kamo_no_Chōmei"
    </pre>
    <p>
      <time datetime="2023-05-13T14:44:04Z"></time>Another example, search for
      <q>prince</q> and the timeline jumps back at <q>Drusilla</q>, the same
      every time:
    </p>
    <pre>
--year: 0009; --year-to: 0055" data-wiki="Antonia_Tryphaena"
--year: 0014" data-wiki="Alexander_(grandson_of_Herod_the_Great)"
--year: 0030; --year-to: 0006" data-wiki="Aristobulus_IV"
--year: 0042" data-wiki="Iotapa_(daughter_of_Artavasdes_I)"
--year: 0066; --year-to: 0040" data-wiki="Arsinoe_IV_of_Egypt"
--year: 0076" data-wiki="Berenice_IV_Epiphaneia"
--year: 0120; --year-to: 0048" data-wiki="Princess_Jieyou"
--year: 0127; --year-to: 0090" data-wiki="Liu_Ju"
--year: 0168; --year-to: 0127" data-wiki="Liu_Fei,_Prince_of_Jiangdu"
--year: 0178; --year-to: 0121" data-wiki="Liu_An"
--year: 0183; --year-to: 0143" data-wiki="Liu_Wu,_Prince_of_Liang"
--year: 0207" data-wiki="Liu_Ruyi"
--year: 0215; --year-to: 0153" data-wiki="Liu_Pi,_Prince_of_Wu"
--year: 0220; --year-to: 0188" data-wiki="Liu_Fei,_Prince_of_Qi"
--year: 0375; --year-to: 0315" data-wiki="Olympias"
--year: 0439" data-wiki="Cynisca"
--year: 0583" data-wiki="Mandane_of_Media"
--year: 0038; --year-to: 0079" data-wiki="Drusilla_(daughter_of_Herod_Agrippa)"
--year: 0038" data-wiki="Drusilla_(daughter_of_Ptolemy_of_Mauretania)"
--year: 0038; --year-to: 0092" data-wiki="Gaius_Julius_Archelaus_Antiochus_Epiphanes"
--year: 0065; --year-to: 0116" data-wiki="Philopappos"
--year: 0072" data-wiki="Julia_Balbilla"
--year: 0075" data-wiki="Gaius_Julius_Alexander_Berenicianus"
--year: 0078; --year-to: 0106" data-wiki="Liu_Qing_(prince)"
--year: 0180; --year-to: 0272" data-wiki="Sima_Fu"
</pre
    >
    <p>
      <time datetime="2023-05-13T14:44:59Z"></time>Ah. Here we have a death date
      and not a birth date. The display is misleading because it marks the start
      side (left) and not the end (right). There's no straightforward way in CSS
      calc to switch on whether a variable is set, so this will probably require
      additional attributes.
    </p>
    <p>
      <time datetime="2023-05-13T16:10:18Z"></time>There are also evidently bugs
      in some of my ISO8601 logic. This is correct:
    </p>
    <pre>
ISO8601.broader("-20")
"-2001/-3000"
    </pre>
    <p>But this is wrong,</p>
    <pre>
ISO8601.broader("20")
"2001/3000"
</pre
    >
    <p>as illustrated</p>
    <pre>
ISO8601.parse(ISO8601.broader("-20"))
Uncaught Error: Ill-formed millennium (999-wise) -2001/-3000</pre
    >
    <p>
      As a rule, any non-empty answer to <code>broader</code> should be
      acceptable to <code>parse</code>.
    </p>
    <p>
      <time datetime="2023-05-13T16:24:53Z"></time>Ugh, I have been over this so
      many times, but I am still not sure whether this is right:
    </p>
    <pre>
      // Century is off-by-one from that of their “narrower” decades.
      // i.e. Century 20 contains decades 190, 191... etc.
      if (type === "Decade")
        return pad2((parsed.bc ? -1 : 1) * (int(parsed.century) + 1));
    </pre>
    <p>
      It doesn't help that ISO tries to paywall their spec. According to
      Wikipedia,
    </p>
    <blockquote>
      <p>
        The standard also allows for calendar dates to be written with reduced
        precision. For example, one may write "1981-04" to mean "1981 April".
        One may simply write "1981" to refer to that year, "198" to refer to the
        decade from 1980 to 1989 inclusive, or "19" to refer to the century from
        1900 to 1999 inclusive.
      </p>
      <cite
        ><a href="https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates"
          >ISO 8601: Calendar dates</a
        ></cite
      >
    </blockquote>
    <p>But there is no citation.</p>
    <p>
      <time datetime="2023-05-13T16:30:46Z"></time
      ><a href="https://www.iso.org/obp/ui/#iso:std:iso:8601:-1:ed-1:v1:en"
        >This document</a
      >
      at iso.org says of century
    </p>
    <blockquote>
      <p>EXAMPLE:</p>
      <p>The 19th century covers the years 1800 through 1899.</p>
      <p>
        Note 1 to entry: Century is also used to refer to an arbitrary duration
        of 100 years, however century is not used as such in this document.
      </p>
    </blockquote>
    <p>
      Yet it doesn't actually say how <q>the 19th century</q> is encoded in ISO.
      There's also this:
    </p>
    <pre>
Y	a digit used in the time scale component “calendar year”
M	a digit used in the time scale component “calendar month”
D	a digit used in the time scale component “calendar day”
E	a digit used in the time scale component “decade”
C	a digit used in the time scale component “century”
    </pre>
    <p>
      Which might suggest that the broader units are in fact substrings, as I
      strongly suspect. Indeed how else could decades and centuries participate
      in the lexical ordering?
    </p>
    <p>
      I suspect that the off-by-one indicated in my code comments came from
      ACDH, which has been offline. I did hear back from someone there:
    </p>
    <blockquote>
      <p>
        Our vocabulary infrastructure has recently undergone a major revision
        and given the data volume of LODE we had to postpone its relaunch for
        the moment. We are investigating options of making it available again
        but at the moment we cannot provide you with a migration timeline. We
        are happy to keep you informed if this should change.
      </p>
      <cite>from personal correspondence</cite>
    </blockquote>
    <p>
      Likewise, I don't know whether the <q>ISO 8601 as a Service</q> widget
      <a href="https://ijmacd.github.io/rfc3339-iso8601/">here</a>
      can be considered authoritative, but the result for input
      <code>20</code> is suggestive though not conclusive:
    </p>
    <pre>
{
    "type": "date",
    "canonical": "20",
    "inclusiveStart": "2000-01-01T00:00:00",
    "exclusiveEnd": "2100-01-01T00:00:00",
    "century": 20,
    "decade": null,
    "year": null,
    "month": null,
    "day": null,
    "weekYear": null,
    "week": null,
    "weekDay": null,
    "yearDay": null,
    "subYearGrouping": null
}
    </pre>
    <p>
      Going by the start &amp; end dates, they must believe that
      <code>20</code> means the 21<sup>st</sup> century, not the
      20<sup>th</sup>. I understand why they would say <code>century: 20</code>,
      though I think that encoding it as a number rather than a string makes it
      all the more misleading.
    </p>
    <p>
      <time datetime="2023-05-13T16:43:45Z"></time>Anyway, on the strength of
      that, I am going to adjust my code to this view and write up some tests.
      See also <code>narrower</code>:
    </p>
    <pre>
      // Century => Decade*
      if (parsed.type === "Century") {
        const n = int(parsed.century);
        const nn = parsed.bc ? n + 1 : n - 1; // centuries are off by one... RIGHT??
        const base = parsed.bc + pad2(Math.abs(nn));
        return range(10, i => `${base}${i}`);
      }
    </pre>
    <p>
      <time datetime="2023-05-13T16:59:16Z"></time>Ah, after more digging I may
      have more answers.
    </p>
    <p>
      <time datetime="2023-05-13T16:56:26Z"></time>
      <a href="https://www.loc.gov/standards/datetime/ISO_DIS%208601-1.pdf"
        >The document</a
      >
      listed by Wikipedia as the source for the standard at
      <code>loc.gov/standards</code> says:
    </p>
    <blockquote>
      <p>
        As of January 16, 2018 this document has been taken down, at the request
        of ISO.
      </p>
    </blockquote>
    <p>
      <a href="https://archive.org/donate">Internet Archive</a> to the rescue:
      Their copy of ISO_DIS 8601-1 is not broken and does define the
      representation of centuries:
    </p>
    <blockquote>
      <p>
        If in a given application it is sufficient to express a calendar date
        with less precision than a complete representation as specified in
        4.1.2.2, either two, four or six digits may be omitted, the omission
        starting from the extreme right-hand side. The resulting representation
        will then indicate a month, a year or a century, as set out below. When
        only [DD] is omitted, a separator shall be inserted between [YYYY] and
        [MM], but separators shall not be used in the other representations with
        reduced precision.
      </p>
      <cite
        ><a
          href="https://web.archive.org/web/20171019211402/https://www.loc.gov/standards/datetime/ISO_DIS%208601-1.pdf"
          >§ 4.1.2.3 <q>Representations with reduced precision</q></a
        ></cite
      >
    </blockquote>
    <p>
      And it gives the specific example of <code>1985-04</code>,
      <code>1985</code> and <code>19</code>.
    </p>
    <p>
      This document makes no mention of decades, however, despite multiple
      sources indicating such interpretations.
    </p>
    <p>
      <time datetime="2023-05-13T17:08:02Z"></time>I also have questions about
      BC dates. But never mind BC, this document hedges even about much more
      recent dates:
    </p>
    <blockquote>
      <pre>
(* Calendar years are numbered in ascending order according to the *)
(* Gregorian calendar by values in the range [0000] to [9999].
*)
(* Values in the range [0000] through [1582] shall only be used by *)
(* mutual agreement of the partners in information interchange.
*)</pre
      >
      <cite>§ A.2 Part 1 Production Rules</cite>
    </blockquote>
    <p>There's no mention of BC, although the production rules include</p>
    <pre>negativeYear = "-", positiveYear ;</pre>
    <p>
      The <em>possibility</em> of negative years would seem to be covered by
      what they call <q>expanded representations:</q>
    </p>
    <blockquote>
      <p>
        <dfn>expanded representation</dfn>: expansion of a representation to
        allow identification of dates in calendar years outside the range [0000]
        till [9999]
      </p>
      <cite>§ 2.3.8, see also § 4.1.2.4</cite>
    </blockquote>
    <p>which can include 5-digit years.</p>
    <p>Also note</p>
    <pre>year = positiveYear | negativeYear | "0000" ;</pre>
    <p>
      <time datetime="2023-05-13T17:20:29Z"></time>However, I find nothing in
      here about the <em>interpretation</em> of negative year values. Wikipedia
      states that
    </p>
    <blockquote>
      <p>
        To represent years before 0000 or after 9999, the standard also permits
        the expansion of the year representation but only by prior agreement
        between the sender and the receiver.
      </p>
      <cite
        ><a href="https://en.wikipedia.org/wiki/ISO_8601#Years">Years</a></cite
      >
    </blockquote>
    <p>
      So everything hinges on this idea of <q>mutual agreement</q>.<time
        datetime="2023-05-13T17:23:20Z"
      ></time>
    </p>
    <section>
      <h2><time datetime="2023-05-14T00:56:54Z"></time>an old discrepancy</h2>
      <p>On the question of off-by-one centuries.</p>
      <p>I have found the problem, and it is LODE.</p>
      <p>
        <a href="https://vocabs.acdh.oeaw.ac.at/date/05"
          ><code>acdhdate:05</code></a
        >
        refers to the 5<sup>th</sup>
        century—or so they say. Their claims about it include
      </p>
      <pre>
skos:exactMatch dbpedia:5th_century, yago:5th_century ;
skos:prefLabel "5th century"@en ;
foaf:isPrimaryTopicOf &lt;https://en.wikipedia.org/wiki/5th_century&gt; ;
skos:closeMatch &lt;http://semium.org/time/04xx&gt; ;
skos:definition "A century from 0401 to 0500 in ISO8601 (the Gregorian and proleptic Gregorian calendar)"@en ;
      </pre>
      <p>
        Its English-language
        <code>dbo:abstract</code> begins
      </p>
      <blockquote>
        <p>
          The 5th century is the time period from 401 to 500 in accordance with
          the Julian calendar in Anno Domini / Common Era. The 5th century is
          noted for being a time of repeated disaster and instability both
          internally and externally for the Western Roman Empire, which finally
          collapsed, and came to an end in 476 AD.
        </p>
      </blockquote>
      <p>
        So there's no question of what the authors of LODE intended
        <code>acdhdate:05</code> to mean.
      </p>
      <p>There's only one problem. It's wrong.</p>
      <p>
        LODE entities are all named after ISO values. This is part of the value
        proposition. But outside of LODE, all indications are that the meaning
        of <code>05</code> in ISO 8601 would be the <em>sixth</em> century, not
        the fifth. See the quote above about
        <q>reduced precision</q> representations.
      </p>
      <p>
        ISO 8601 got this right. That <code>20</code> should refer to the 21<sup
          >st</sup
        >
        century and not the 20<sup>th</sup> is in keeping with the
        <q>hackability</q> of the format: you can keep chopping characters off
        of the end and you're always going to a containing (a.k.a.
        <q>broader</q>) period. This also means that dates with different
        precisions can still sort together.
      </p>
      <p>
        In short, for <code>05</code> to mean the fifth century would be
        madness. The superficial correspondence of <code>05</code> and
        <q>fifth</q> does not withstand more than a moment's scrutiny. Every
        English speaker, at least, is familiar with this off-by-one problem
        between ordinal centuries and ordinal years in spoken language. No sane
        person, not to say technician, would recommend that we should foist the
        problem onto formal representations where it could possibly be avoided.
      </p>
      <p>
        When I first got into this work, however, I was more concerned about RDF
        representations than ISO, and I took what LODE published at face value.
        Again, it doesn't help that the ISO spec is deliberately obscured.
      </p>
      <p>
        To my surprise, ACDH is still serving Turtle. Their web UI is broken,
        but
      </p>
      <pre>
curl -H "Accept: text/turtle" -L https://vocabs.acdh.oeaw.ac.at/date/05</pre
      >
      <p>
        still works. It also appears that they updated the content considerably
        since I retrieved that resource on
        <time datetime="2021-06-29">2021-06-29</time>. However, the basic error
        remains:
      </p>
      <pre>
&lt;https://vocabs.acdh.oeaw.ac.at/date/05&gt;
  dc:hasPart &lt;https://vocabs.acdh.oeaw.ac.at/date/047&gt;, ...etc
  skos:narrower &lt;https://vocabs.acdh.oeaw.ac.at/date/043&gt;, ...etc
      </pre>
      <p>
        I am glad to clear this up, and it won't impact my work very much. I am
        also glad to find that the service is still available, because the
        abstracts that they provide for centuries are not formulaic and they can
        be used as descriptions of the intended periods.<time
          datetime="2023-05-14T02:16:51Z"
        ></time>
      </p>
      <p><time datetime="2023-05-14T02:44:25Z"></time>A couple more notes:</p>
      <p>
        I previously struggled with the suspicion that this was wrong, but LODE
        appeared to be such an authoritative effort by professionals in the
        digital humanities that I had misgivings about doubting it.
      </p>
      <p>
        Also, this doesn't resolve the question w.r.t. centuries BC, and I don't
        know of any authority to turn to on this one. Maybe dbpedia defines the
        corresponding ISO values? And ACDH can at least point me to the dbpedia
        names.
      </p>
      <p><time datetime="2023-05-14T02:49:40Z"></time>But alas, it does not.</p>
      <pre>
$ curl -H "Accept: text/turtle" -L https://vocabs.acdh.oeaw.ac.at/date/-05
@prefix skos: &lt;http://www.w3.org/2004/02/skos/core#&gt; .
@prefix dc: &lt;http://purl.org/dc/terms/&gt; .
@prefix time: &lt;http://www.w3.org/2006/time#&gt; .

&lt;https://vocabs.acdh.oeaw.ac.at/date/-044&gt;
  skos:broader &lt;https://vocabs.acdh.oeaw.ac.at/date/-05&gt; ;
  dc:isPartOf &lt;https://vocabs.acdh.oeaw.ac.at/date/-05&gt; ;
  time:intervalDuring &lt;https://vocabs.acdh.oeaw.ac.at/date/-05&gt; .

&lt;https://vocabs.acdh.oeaw.ac.at/date/-0999/0000&gt;
  skos:narrower &lt;https://vocabs.acdh.oeaw.ac.at/date/-05&gt; ;
  dc:hasPart &lt;https://vocabs.acdh.oeaw.ac.at/date/-05&gt; ;
  time:intervalContains &lt;https://vocabs.acdh.oeaw.ac.at/date/-05&gt; .

&lt;https://vocabs.acdh.oeaw.ac.at/date/-043&gt;
  skos:broader &lt;https://vocabs.acdh.oeaw.ac.at/date/-05&gt; ;
  dc:isPartOf &lt;https://vocabs.acdh.oeaw.ac.at/date/-05&gt; ;
  time:intervalDuring &lt;https://vocabs.acdh.oeaw.ac.at/date/-05&gt; .

&lt;https://vocabs.acdh.oeaw.ac.at/date/-04&gt; time:intervalMetBy &lt;https://vocabs.acdh.oeaw.ac.at/date/-05&gt; .
      </pre>
      <p>
        Ah, but here it is:
        <a href="https://dbpedia.org/page/5th_century_BC"
          >https://dbpedia.org/page/5th_century_BC</a
        >. Incidentally, looking at
        <a href="https://dbpedia.org/page/5th_century">5th_century</a>, this is
        evidently where the abstract came from. But neither page has any mention
        of an ISO century, either correct or incorrect.
      </p>
      <p>
        <time datetime="2023-05-14T02:57:45Z"></time>Anyway, the abstract begins
      </p>
      <blockquote>
        <p>
          The 5th century BC started the first day of 500 BC and ended the last
          day of 401 BC.
        </p>
      </blockquote>
      <p>
        So here you can see the problem. The <q>hacking</q> trick will not work
        for centuries BC, any way you slice it. Honestly this backwards
        numbering messes with my head. Let's look at
        <a href="https://dbpedia.org/page/1st_century_BC">1st century BC</a>,
        which elaborates further on the numbering:
      </p>
      <blockquote>
        <p>
          The 1st century BC, also known as the last century BC and the last
          century BCE, started on the first day of 100 BC and ended on the last
          day of 1 BC. The AD/BC notation does not use a year zero; however,
          astronomical year numbering does use a zero, as well as a minus sign,
          so "2 BC" is equal to "year –1". 1st century AD (Anno Domini) follows.
        </p>
      </blockquote>
      <p>
        BC decades won't be hackable either. For reference,
        <a href="https://dbpedia.org/page/10s_BC">10s BC</a> says
      </p>
      <blockquote>
        <p>This article concerns the period 19 BC – 10 BC.</p>
      </blockquote>
      <p>
        Which comes straight from
        <a href="https://en.wikipedia.org/wiki/10s_BC">Wikipedia</a>, along with
        <a href="https://en.wikipedia.org/wiki/0s_BC">0s BC</a>, which says
      </p>
      <blockquote>
        <p>
          The 0s BC were the period between 9 BC and 1 BC, the last nine years
          of the before Christ era. It is one of two "0-to-9" decade-like
          timespans that contain nine years, along with the 0s.
        </p>
      </blockquote>
    </section>
  </section>
  <section>
    <h2>
      <time datetime="2023-05-13T02:36:40Z"></time>back to the base layers
    </h2>
    <p>Bugs aside, this is coming along pretty nicely.</p>
    <p>So what next?</p>
    <p>
      Well, at the moment, there are still no <em>dates</em> on these timelines.
      The only indication of when things are is in their relative positioning.
    </p>
    <p>
      I have left out the dates from individual entries because I want to avoid
      overemphasis on them. Adding one or two four-digit numbers to every entry
      would tend to distract from the substance here, which are people's names
      and descriptions.
    </p>
    <p>
      But the result is that it's currently impossible to tell from looking at
      the timelines when thing happened, even relative to the present, which is
      obviously a defect as timelines go.
    </p>
    <p>
      So I believe that now is the time to revisit the <q>rulers</q> which I
      created in earlier work. Basically, these are markers of years, decades,
      centuries, etc.
    </p>
    <p>
      In earlier work I have already dealt with many questions around these
      things.
    </p>
    <p>
      <time datetime="2023-05-13T02:53:01Z"></time>The question that I never did
      resolve is about process. How should these elements be introduced and
      maintained?
    </p>
    <p>
      <time datetime="2023-05-13T03:02:03Z"></time>So far, the timelines have
      been basically static. That is starting to change, now that they're
      associated with an asynchronous process that can continue stepwise.
      Significantly, those steps can change the viewpoint. Whatever is
      responsible for putting in markers, must be privy to those changes.
    </p>
    <p>
      In practice, those changes will be only expansion—zooming out, by
      extending to wider bounds.
    </p>
    <p>What are the rules about what markers should appear?</p>
    <p>
      The clearest rule is that, for any date that is definitely included in the
      view, all of its broader periods should also be included.<time
        datetime="2023-05-13T03:18:17Z"
      ></time>
    </p>
    <p>
      What dates are definitely in view? This brings us back to the question of
      boundaries-versus-center. You can think about this like a
      <q>fill</q> operation in a painting program. You start at a point and
      traverse one way or the other until you hit a wall, meaning you don't need
      any more. This could be a good fit for async iterables.
    </p>
  </section>
  <section>
    <h2><time datetime="2023-05-13T15:28:01Z"></time>a process vocabulary</h2>
    <p>
      <time datetime="2023-05-13T14:47:16Z"></time>I got started on this, and I
      think the challenge is going to be balancing the effort to make the right
      thing while also advancing the process of describing processes.
    </p>
    <p>
      In particular, it becomes necessary to coordinate knowledge between
      processes. You could say that there is a kind of thing called a timeline,
      instances of which have properties including its contents and its
      boundaries. This is the <q>object-oriented</q> view. Conversely, we may
      look at the same thing as a process which we can describe in terms of work
      and scheduling. In a concrete sense, both viewpoints hinge on
      <em>messaging</em>. But abstractly, they are interested in different
      qualities.
    </p>
    <p>
      In an object-oriented view, <em>instances</em> are the most first-class
      concept, followed by attributes. Since attributes can be references, they
      can also encode relations among objects. Special relations such as
      prototype allow richer concepts to be described, even to the point of
      supporting new abstractions.
    </p>
    <p>
      An object's <q>type</q> can tell us something about it, including ways to
      reason about its lifecycle. But a type's invariants are its own
      responsibility, not the system's. What object systems don't generally
      provide are ways to throttle objects or otherwise ration their resources.
      Perhaps some actor systems provide for this.
    </p>
    <p>
      In a process-oriented view, we're more concerned about how to drive the
      system. We have to be concerned with the question,
      <q>What makes it go?</q> So, unlike an object system, a process-oriented
      system must have a first-class concept of scheduling work. An object
      system doesn't require a userland scheduler because objects are thought of
      as autonomous. They can initiate work and do as much as they please, for
      as long as they are able, using as much power and resources as they can
      get their hands on. A person cannot, for example, point to an object and
      say, <q>Stop that thing!</q> There are no terms either in the web's
      graphical interface nor in browser API's nor in JavaScript itself that
      means, <q>stop <var>X</var></q> for arbitrary values of <var>X</var>.
    </p>
    <p>
      In the world where a timeline is described as a set of truths about some
      communicating processes, there might not <em>be</em> a timeline as such.
      We might not be able to draw sharp boundaries around all things, just as
      in the object-world we cannot draw sharp boundaries around all processes.
    </p>
    <p>
      That doesn't mean we can't have concepts and types and instances and so
      on, just because we have a first-class language for talking about
      processes.
    </p>
    <p>
      This research is not about objects or processes. It is about truth. In
      this project, Abelson's three questions are all answered in terms of
      knowledge graphs:
    </p>
    <ul>
      <li>what are the primitives? claims</li>
      <li>what are the means of composition? worlds</li>
      <li>what are the means of abstraction? entailment</li>
    </ul>
    <p>
      What this means for today's purposes is that I will insist on a design
      that ultimately lets me express myself in these terms, and these terms do
      not constrain me to an object-oriented view of what a timeline (or any
      kind of thing) is. Consenting to work in JavaScript is not consenting to
      modeling all domains as prototypes, or any other JavaScript thing. I don't
      need or expect there to be a single <em>mechanism</em> representing the
      type of a Timeline; I only need it to be true that when certain conditions
      are met, then certain others will hold, in a given world. It's likely that
      a concept called <q>timeline</q> will emerge from this, but I don't need
      or want an encapsulation of that concept, but rather an open world into
      which I can throw propositions involving that label.<time
        datetime="2023-05-13T15:56:35Z"
      ></time>
    </p>
  </section>
</article>
