<article>
  <h2>
    <time datetime="2023-03-26T21:05:12Z"></time>rule abstractions, Lua edition
  </h2>
  <p>
    <time datetime="2023-03-26T21:10:29Z"></time>So what are these abstractions
    you want to define?
  </p>
  <ol>
    <li>
      Need a way to operate on a list of files without concern for the
      characters in the filename. This can't be done with Tup's
      <code>%</code> macros because they are expanded as space-delimited lists.
      To wit, the only way around this is to wrap the whole command in something
      that uses e.g. <code>find</code> instead of a <code>%</code> macro. So the
      person providing the rule... isn't really providing a rule, but a binding
      between some glob pattern and some process, and you have to know whether
      that process takes the files as arguments or reads them on stdin or what.
    </li>
    <li>
      Need a way to apply XSLT over some documents that may be HTML without a
      lot of ceremony.
    </li>
    <li>
      More specifically, I need a way to merge arbitrary HTML files into a
      larger context, even if those files are fragments. When merging content
      together, fragments must be accepted. This may mean reading something
      other than strictly the file as given, since you may need to nominally
      wrap it. This may need to be done conditionally, so as not to corrupt
      fully-formed documents. You may be able to avoid leaking knowlege of this
      tactic by wrapping in an implicit <code>html body</code>, since xsltproc
      will do this anyway when reading in HTML mode.
    </li>
    <li>
      If such a file uses a non-UTF8 encoding and declares it using
      <code>meta charset</code>, then that should be honored, though its
      declaration will be removed and its content converted to UTF-8. Absent a
      declaration, it is treated as UTF8.
    </li>
  </ol>
  <p>
    <time datetime="2023-03-26T21:20:32Z"></time>There are also a few things I
    want to do in userland itself:
  </p>
  <ol>
    <li>include a graph of the tup project in the notebook</li>
    <li>
      include a manifest in the notebook separate from the actual bundles, which
      may be superseded by ZIP's.
    </li>
    <li>
      use <q>readme</q> (instead of <code>main</code>) as you above-the-fold
      content?
    </li>
  </ol>
  <p><time datetime="2023-03-26T21:28:04Z"></time>Finally, don't forget:</p>
  <ol>
    <li>the problems of sharing style</li>
    <li>the problems of sharing script</li>
  </ol>
  <section>
    <h2>
      <time datetime="2023-03-26T21:38:31Z"></time>experiment: make tup graph
      itself
    </h2>
    <p>
      <time datetime="2023-03-26T21:38:46Z"></time>TL;DR, it doesn't work. You
      can't make a rule in Tup that calls one of its reflection commands. Which
      is eminently reasonable.
    </p>
    <p>
      The idea was to always embed the latest version of build graph into some
      build output, i.e. the notebook.
    </p>
    <p>
      <time datetime="2023-03-26T21:41:11Z"></time>Why do I always start with
      the thing that's going to give me the most trouble?
    </p>
    <pre>
# tup error: Command 'graph' is not valid when running as a sub-process, or is unknown.
# : |&gt; tup graph &gt; '%o' |&gt; project.dot
#
# Hmm.  I'm pretty sure I've done this, though.
#
# Huh, this gives the same thing.
# : |&gt; tup graph &gt; project.dot |&gt; ^project.dot
#
# No, that's no good, either.  Huh.
# : |&gt; ./graph.sh &gt; project.dot |&gt; ^project.dot
#
# Okay, this is undermining something I thought I could do.
#
# Nope, not with scope either
# : |&gt; tup graph . &gt; project.dot |&gt; ^project.dot
: |&gt; tup commandline . &gt; project.json |&gt; ^project.json
#
# tup error: Command 'commandline' is not valid when running as a sub-process, or is unknown.
#
# Damn, well the same goes for this too.

    </pre>
    <p>
      <time datetime="2023-03-26T21:41:46Z"></time>This means that you can't do
      it through <q>impure</q> rules, either, because Tup will just refuse to do
      it from any command. The only way that I could see around it would be to
      read the sqlite db yourself, though I'm not sure that would work either,
      and would presumably be subject to the same reservations that made these
      commands unsupported in the first place.
    </p>
    <p>So much of this work is figuring out what doesn't work.</p>
    <p>
      <time datetime="2023-03-26T21:43:24Z"></time>It remains the case that Tup
      can answer questions about itself using these commands. You just have to
      run them out-of-band, meaning outside of the process model entailed by
      <code>tup monitor</code>.
    </p>
    <img src="project.svg" style="display: block; max-inline-size: 100%" />
    <p>
      <time datetime="2023-03-26T21:49:49Z"></time>FWIW, the diagram created by
      <code>tup graph</code> is generally not very enlightening. But we need
      some way of answering questions about the graph, and only Tup knows, and
      this is the only way that produces answers in a format with host I/O.<time
        datetime="2023-03-26T21:50:56Z"
      ></time>
    </p>
  </section>
</article>
