<article>
  <meta charset="utf=8" />
  <h2><time datetime="2023-04-09T12:26:29Z"></time>gray matter</h2>
  <p>There's plenty I want to get to, but first I need to fix a problem.</p>
  <p>
    The problem is with a <q>gray file</q>. I was cleaning up a bunch of
    untracked stuff in this repo, committing some things, dumping others, and
    the last one standing was a file called <code>gray-xref-en</code>. This file
    is the <q>lynchpin</q> in the construction of the English wikipedia
    timeline. It's the <var>c</var> in an <code>a -> b -> c -> d</code>-shaped
    process. <var>a</var> is the fetching of a couple of pages full of links
    (those named in <a href="timeline-seed/en">timeline-seed/en</a>).
    <var>b</var> is the extraction of the titles that we're interested in and
    mapping them to dates. <var>c</var> is the result of that process, which we
    call <code>gray-xref-en</code>.
  </p>
  <p>
    <time datetime="2023-04-09T12:35:32Z"></time>I call this a <q>gray</q> file
    because it's in a gray area between being an input and an output. In theory
    (and I have yet to prove this theory), I can delete it and running a build
    should re-create it. But there's the problem: it doesn't.
  </p>
  <pre>
index.gray = gray-xref-en
index
0 items
sources → table: 0x7f9d9c2128d0
gray → gray-xref-en
articles → table: 0x7f9d9c2119f0
tup error: Unable to use inputs from a generated directory (324) that isn't written to by this Tupfile.
 - [324] wiki/cache/en
tup error [string "builtin"]:93: Error while parsing dependent Tupfiles
stack traceback:
	[C]: in field 'definerule'
	[string "builtin"]:93: in function &lt;[string "builtin"]:70&gt;
	(...tail calls...)
	[string "Tupfile.lua"]:164: in global 'project_persons'
	[string "Tupfile.lua"]:200: in global 'wikipedia_timeline_and_persons'
	[string "Tupfile.lua"]:213: in main chunk
 [ ] 100%
 *** tup: 1 job failed.
  </pre>
  <p>
    <time datetime="2023-04-09T12:38:15Z"></time>So—and this is really confusing
    now that I say it—I mark the file as an ignored output, so Tup does
    <strong>not</strong> mark it as an ignored file for Git. This is not really
    about Git, but it illustrates the point. If I tell Tup to ignore the file,
    then Tup treats it as a <q>regular</q> file. That's the trick that allows me
    to use it as the input to further rule generation. It also means that Tup
    will not create a <code>.gitignore</code> entry for it, since it will be
    seen as <q>original</q> information. This is not coming out right, let me
    try again.
  </p>
  <p>
    <time datetime="2023-04-09T12:44:24Z"></time>I want to make a recipe where
    you can't figure out all of the steps until you're finished with some of the
    steps. So let's say you do step 1 and you write down your results on a gray
    paper. Then we look at that gray paper and say, okay now you're going to do
    these 10 steps. We don't want to include those 10 steps in the recipe in
    general because it could be a lot more than 10 and it would become a lot to
    carry around. Step 1 might also depend on something external which could
    change over time. I don't need you to get the same exact result as me, just
    something consistent with thatever that system says. (Yeah, external
    dependencies are bad, but ignore that for now).
  </p>
  <p>
    <time datetime="2023-04-09T12:48:24Z"></time>So this gray sheet is something
    that we <em>could</em> carry around, or we could leave behind. I want either
    one to be safe. But deleting the gray file broke the build with the above
    error. This error isn't because the file was missing <i>per se</i>, but
    something that Tup objects to in trying to re-create it. The files in
    <code>wiki/cache/en</code> are derived files (because they're downloaded),
    and the gray file does indeed need to read from them. But I would also
    expect that that directory <em>is</em> written to by the same Tupfile. To
    wit, everything related to this is done by
    <a href="Tupfile.lua">Tupfile.lua</a>.
  </p>
  <p>
    <time datetime="2023-04-09T12:56:07Z"></time>Oh wait a second, maybe this is
    a dumb mistake. I think I changed the rules after writing the gray file,
    making it inconsistent with reality. I needed to keep the
    <q>seed</q> articles separate from the rest of the timeline articles, so I
    wrote them to <code>seeds/en/</code> instead of <code>wiki/cache/en/</code>.
  </p>
  <p>
    <time datetime="2023-04-09T13:00:12Z"></time>In hindsight, this seems like a
    bad way to go about it. I also think it's unnecessary, as I ended up
    tracking the list of timeline articles in memory in Lua. In other words, I
    should be able to fix this by removing the optional
    <code>'seeds'</code> argument from this line:
  </p>
  <pre>
  local articles = map(sources, function(title) return wikipedia_article(lang, title, 'seeds') end)
</pre
  >
  <p>
    <time datetime="2023-04-09T13:02:54Z"></time>I did that, and now I get a the
    same error on a different directory:
  </p>
  <pre>
tup error: Unable to use inputs from a generated directory (20009) that isn't written to by this Tupfile.
 - [20009] wiki/persons/en
tup error [string "Tupfile.lua"]:206: Error while parsing dependent Tupfiles
stack traceback:
	[C]: in field 'definerule'
	[string "Tupfile.lua"]:206: in global 'wikipedia_timeline_and_persons'
	[string "Tupfile.lua"]:213: in main chunk
</pre
  >
  <p>
    <time datetime="2023-04-09T13:04:02Z"></time>What if I write a dummy file to
    that directory, so that it exists nominally?
  </p>
  <pre>touch wiki/persons/en/dummy</pre>
  <p>
    <time datetime="2023-04-09T13:04:56Z"></time>Yeah, that <q>fixes</q> it.
    This is not good, though, as there should be no need for such a file.
  </p>
  <p>
    <time datetime="2023-04-09T13:06:22Z"></time>And in fact, it doesn't fix the
    program. It gets further along and doesn't crash, but it doesn't create the
    index, either.
  </p>
  <p>
    <time datetime="2023-04-09T13:07:57Z"></time>Oh right, but you have to run
    <code>tup</code> twice. That's the thing about second-order builds. So it
    does work again as intended, but for the existence of that dummy file. And I
    would expect that deleting the file now would not break the build.
  </p>
  <p>
    <time datetime="2023-04-09T13:08:55Z"></time>Yup. So here's the issue. The
    build does not work from a clean instance, but it works if you temporarily
    touch a file in that directory. The initial issue seen here, about the cache
    directory, was a red herring, but the real issue is similar. So this is a
    wrinkle that can arise in dealing with multi-order builds. I'm calling it a
    <q>wrinkle</q> because it's not directly about the abuse of Tup being
    committed here. It wouldn't arise in every recipe involving gray files.
  </p>
  <p>
    <time datetime="2023-04-09T13:21:37Z"></time>So, what to do? I want to fix
    this before moving on, because otherwise all this is for nought.
  </p>
  <p>
    <time datetime="2023-04-09T13:25:12Z"></time>Here is the function that
    creates the gray file:
  </p>
  <pre>
  -- but transform is not actually used. en is imported
function wikipedia_timeline_index(lang, seed, transform, dir)
  local sources = buffer_lines_in(seed)
  local articles = map(sources, function(title) return wikipedia_article(lang, title) end)
  local gray = 'gray-xref-'..lang
  
  tup.definerule{
    inputs = articles,
    command = "xsltproc --html wiki-time-period-links.xsl %f | sort | uniq &gt; "..shell_quote(gray),
    outputs = {'^'..gray},
  }
  return {sources=sources, articles=articles, gray=gray}
end
</pre
  >
  <p>
    <time datetime="2023-04-09T13:26:25Z"></time>Incidentally, it's not 100%
    clear that the index should be the gray file <i>versus</i> the seed
    articles. I did it this way for a few reasons:
  </p>
  <ul>
    <li>
      it's simpler to deal with one gray file rather than multiple ones, at
      least while I'm figuring out whether and how this technique even works
    </li>
    <li>
      the index is smaller than the articles from which it's derived, and so
      it's lighter weight if you <em>do</em> choose to carry it around
    </li>
    <li>
      downloaded files are managed through the internet cache, and are in fact
      symlinks. Special considerations may be needed for this and I'd rather
      stabilize this technique with ordinary files first
    </li>
  </ul>
  <p>
    <time datetime="2023-04-09T13:32:10Z"></time>The call to that function is
  </p>
  <pre>
function wikipedia_timeline(lang)
  return wikipedia_timeline_index(
    lang,
    'timeline-seed/'..lang,
    'timeline-seed/'..lang..'.xsl',
    'timeline-index/'..lang)
end
</pre
  >
  <p>
    <time datetime="2023-04-09T13:35:05Z"></time>This is strange. I removed
    <code>gray-xref-en</code> and now Tup isn't complaining, but isn't
    re-creating it, either. But I'm 99% sure that it would fail a clean build. I
    believe that this is because it has marked that file as
    <q>ignore everything about me</q>. I don't know how to reset that status
    short of clobbering the whole Tup project. Presumably you could also mess
    with the Tup db directly. Anyway, this <em>is</em> a problem that applies to
    gray files generally.
  </p>
  <p>
    <time datetime="2023-04-09T13:38:22Z"></time>Actually, what if I just touch
    one of the inputs? The gray file is derived from the seed list, so
  </p>
  <pre>touch timeline-seed/en</pre>
  <p>
    <time datetime="2023-04-09T13:39:24Z"></time>Nope. It doesn't care. What if
    I remove one of the inputs?
  </p>
  <pre>
$ mv timeline-seed/en timeline-seed/enx
$ tup
[ tup ] [0.000s] Scanning filesystem...
[ tup ] [0.014s] Reading in new environment variables...
[ tup ] [0.014s] Parsing Tupfiles...
* 1) [0.004s] .
bootstrapper_to_root = ..
root_to_processing = .
processing_dir = ../.
tup_cwd = .
tup_directory = 2023-03-24
tup error: %f used in rule pattern and no input files were specified.
tup error [string "Tupfile.lua"]:121: Failed to execute rule.
stack traceback:
	[C]: in field 'definerule'
	[string "Tupfile.lua"]:121: in function &lt;[string "Tupfile.lua"]:116&gt;
	(...tail calls...)
	[string "Tupfile.lua"]:184: in global 'wikipedia_timeline_and_persons'
	[string "Tupfile.lua"]:208: in main chunk
</pre
  >
  <p>
    <time datetime="2023-04-09T13:40:43Z"></time>Moving it back
    <q>fixes the build</q>, but it still doesn't produce the gray file.
  </p>
  <p>
    <time datetime="2023-04-09T13:51:22Z"></time>I started digging into other
    findings related to the <q>clean</q> operation.
  </p>
  <p>
    <time datetime="2023-04-09T13:52:45Z"></time>Ah, but I did get it to
    re-create the gray file at some point, without messing with Tup db. My
    question was whether a <code>git clean</code> would reset the state
    vis-a-vis gray files, but clean is not quite working perfectly, which is
    interfering with the result.
  </p>
  <p>
    <time datetime="2023-04-09T13:55:40Z"></time>Back to the problem, though. I
    have the same question as earlier. Why does Tup say that
    <code>wiki/persons/en</code> <q>isn't written to by this Tupfile</q>, when
    everything is done from this Tupfile including that?
  </p>
  <p>
    <time datetime="2023-04-09T13:58:59Z"></time>Theory: we create
    <code>wiki/persons/en</code> <em>conditionally</em>, only when the gray file
    exists. This conditional processing is necessary for gray files so that it
    will be safe with or without them. But the result is that, when the file
    doesn't exist, then things which later depend on those results don't exist.
    So we <em>do</em> need to create some kind of dummy file. I don't think
    there's any way around it.
  </p>
  <p><time datetime="2023-04-09T14:04:32Z"></time>I added this</p>
  <pre>
  tup.definerule{
    command = "touch '%o'",
    outputs = {'$(ROOT)/wiki/persons/'..lang..'/.dummy'}
  }
</pre
  >
  <p>
    at the point where that directory was being assumed, and it's happy with
    that.
  </p>
  <p>
    <time datetime="2023-04-09T14:07:42Z"></time>When I delete the gray file,
    the build still succeeds, but the gray file doesn't get re-created.
  </p>
  <p>
    <time datetime="2023-04-09T14:08:26Z"></time>Running
    <code>./sourdough.sh clean</code> does cause the gray file to get
    re-created, but it's clobbering the <code>.tup</code> directory entirely, so
    that's no surprise.
  </p>
  <p><time datetime="2023-04-09T14:11:11Z"></time>What I'd like is for</p>
  <pre>
./sourdough.sh clean
./sourdough.sh fix
  </pre>
  <p>
    to always get a fresh build (re-creating any gray files), as a nuclear
    option. <code>clean</code> fails now for unrelated reasons.
  </p>
  <p>
    <time datetime="2023-04-09T14:14:39Z"></time>With some further testing, I'm
    starting to get there, however,
  </p>
  <ol>
    <li>
      <code>clean</code> still doesn't work right, which I suspect is a bug in
      Git (noted above)
    </li>
    <li><code>./sourdough.sh fix</code> now enters an infinite loop</li>
    <li>
      the gray file itself isn't removed by <code>clean</code> (since it's not
      ignored). This is kind of correct, but I need to also test where I remove
      it explicitly
    </li>
  </ol>
  <p>
    <time datetime="2023-04-09T14:19:06Z"></time>Tested #3 and worked as
    expected: after a full clean, I get a complete build in two steps (i.e.
    iterations of <code>tup</code>).
  </p>
  <p>
    <time datetime="2023-04-09T14:18:18Z"></time>Oh, also I was able to mark the
    <q>dummy</q> file as transient, so at least it doesn't pollute the file
    system (though it's still a hack in the Lua code).
  </p>
  <p>
    <time datetime="2023-04-09T14:22:56Z"></time>On point #1, I'm a little
    surprised to find that a <code>--dry-run</code> gives the same result:
  </p>
  <pre>
$ git clean . --dry-run -Xf
Would remove .gitignore
Would remove .tup/
Would remove main.html
Would remove notebook.html
Would remove scratch/.gitignore
Would remove time/.gitignore
Would remove time/bundle.html
Would remove timeline-seed/.gitignore
Would remove timeline-seed/bundle.html
Would remove wiki/
Would remove www/.gitignore
Would remove www/bundle.html
Would remove xsl/.gitignore
$ cat xsl/.gitignore 
##### TUP GITIGNORE #####
##### Lines below automatically generated by Tup.
##### Do not edit.
/.gitignore
/index.xsl
</pre
  >
  <p>
    <time datetime="2023-04-09T14:25:11Z"></time>Oh wait...
    <code>index.xsl</code> is tracked.
  </p>
  <pre>
  $ git ls-files xsl
xsl/Tupfile
xsl/include-all-xsl.sh
xsl/index.xsl
xsl/inline-css.xsl
xsl/lifespans.xsl.xml
xsl/mark-time.xsl
xsl/range.xsl
xsl/time-ruler.xsl
</pre
  >
  <p>
    I had left out the <code>.gitignore</code> directive when I created a
    special <code>Tupfile</code> in that directory, and I must have just checked
    in the index without noticing it. Both are very easy mistakes to make, and
    one is enabled by the other. But I don't think there's a way to prevent it
    in general. Tup will stop applying the default rules once a directory has a
    Tupfile, so you need to explicitly do <code>include_rules</code> (which it
    looks like you can only do from a regular Tupfile?) or at least say
    <code>gitignore</code>, which you can do from either syntax.
  </p>
  <aside>
    <p><time datetime="2023-04-09T14:28:18Z"></time>Oi! Look at this!</p>
    <blockquote>
      <b>tup.include(path)</b><br />
      Returns: none
      <p>Parses and runs the Lua file at path.</p>
    </blockquote>
    <p>
      How did I miss this? This means that you <em>can</em> modularize even
      default Lua rules somewhat, which is great. It's still not full-on
      <q>lexical feature scoping</q> because you'd have to opt in, but it gives
      you a one-line way to do so (as I'm reading this), which might actually be
      the best of both worlds, since implicit global effects would give too much
      power to directories that you'd merely imported.
    </p>
  </aside>
  <p>
    <time datetime="2023-04-09T14:35:39Z"></time>So now I'm just down to, why
    does fixpoint enter an infinite loop?
  </p>
  <p>
    <time datetime="2023-04-09T14:38:59Z"></time>Ah, it's because of the
    transient file:
  </p>
  <pre>
$ tup todo
[ tup ] Scanning filesystem...
Tup phase 3: The following 1 command will be executed:
 100% touch './wiki/persons/en/.dummy'
Run 'tup' to bring the system up-to-date.
$ tup
[ tup ] [0.000s] Scanning filesystem...
[ tup ] [0.015s] Reading in new environment variables...
[ tup ] [0.015s] No Tupfiles to parse.
[ tup ] [0.015s] No files to delete.
[ tup ] [0.015s] No commands to execute.
[ tup ] [0.015s] Updated.
$ tup todo
[ tup ] Scanning filesystem...
Tup phase 3: The following 1 command will be executed:
 100% touch './wiki/persons/en/.dummy'
Run 'tup' to bring the system up-to-date.
  </pre>
  <p>
    I can <q>fix</q> that by not marking the file as transient. Incidentally,
    <code>tup monitor</code> does not go into an infinite loop even when the
    file is marked as transient.
  </p>
  <p>
    <time datetime="2023-04-09T14:45:46Z"></time>So that's the compromise. I
    have the dummy file. I could perhaps refine
    <code>unfinished business</code> to ignore certain files, but I don't want
    to go there. A little dummy file is not a big deal.<time
      datetime="2023-04-09T14:46:32Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-04-09T14:46:59Z"></time>This also leaves the question
    of what to do with gray files. Right now, <code>gray-xref-en</code> shows as
    untracked after a build. Even if I knew that ignoring it was the right
    thing, I don't have a way to do so, since all <code>.gitignore</code> files
    are managed by Tup (as I'd prefer). I could imagine using a naming
    convention and having a higher-level ignore that matches, e.g.
    <code>gray-*</code>, but I'll leave that for another time. For now I'll just
    ignore it myself.<time datetime="2023-04-09T14:49:16Z"></time>
  </p>
</article>
