<article>
  <meta charset="utf-8" />
  <article>
    <h2><time datetime="2023-04-03T12:25:01Z"></time>persons</h2>
    <p>Today I will build a database of persons.</p>
    <p>
      <time datetime="2023-04-04T01:38:23Z"></time>So far so good. This is what
      the year 1028 looks like:
    </p>
    <pre>
&lt;persons&gt;
  &lt;item what="birth" description="Persian scholar and imam" who="Al-Juwayni" when="1028-02-17"/&gt;
  &lt;item what="birth" description="bishop of Halberstadt" who="Burchard_II_(bishop_of_Halberstadt)" when="1028"/&gt;
  &lt;item what="birth" description="Spanish nobleman and warrior" who="Nu&#xF1;o_&#xC1;lvarez_de_Carazo" when="1028"/&gt;
  &lt;item what="birth" description="Persian Sufi religious leader and scholar" who="Qutb_Shah" when="1028"/&gt;
  &lt;item what="birth" description="founder of the Cistercian Order" who="Robert_of_Molesme" when="1028"/&gt;
  &lt;item what="birth" description="king of England" who="William_the_Conqueror" when="1028"/&gt;
  &lt;item what="death" description="Japanese nobleman" who="Fujiwara_no_Michinaga" when="1028-01-03"/&gt;
  &lt;item what="death" description="king of Le&#xF3;n" who="Alfonso_V_of_Le&#xF3;n" when="1028-08-07"/&gt;
  &lt;item what="death" description="Byzantine emperor" who="Constantine_VIII" when="1028-11-11"/&gt;
  &lt;item what="death" description="Chinese poet and calligrapher" who="Lin_Bu" when="1028"/&gt;
  &lt;item what="death" description="Chinese official of the Song Dynasty" who="Liu_Wenzhi" when="1028"/&gt;
  &lt;item what="death" description="founder of the Vietnamese L&#xFD; Dynasty" who="L&#xFD;_C&#xF4;ng_U&#x1EA9;n" when="1028"/&gt;
  &lt;item what="death" description="Buyid governor and ruler of Kerman" who="Qawam_al-Dawla" when="1028"/&gt;
  &lt;item what="death" description="Bavandid princess and wife of Fakhr al-Dawla" who="Sayyida_Shirin" when="1028"/&gt;
  &lt;item what="death" description="French nobleman" who="William_of_Bell&#xEA;me" when="1028"/&gt;
&lt;/persons&gt;
    </pre>
    <p>
      <time datetime="2023-04-04T01:45:18Z"></time>This is the part where
      another person might say, this is good enough to proceed. And it does look
      pretty close. The results in this form total about 21MB. This is redundant
      by a factor of at least 2, since most entries will be listed twice (for
      both birth and death).
    </p>
    <p>
      <time datetime="2023-04-04T01:47:41Z"></time>The results do look extremely
      uniform. But I notice things like this:
    </p>
    <pre>
  &lt;item what="death" description="Scottish magnate" who="October" when="1346"/&gt;
  &lt;item what="death" description="3rd Earl of Moray[48] Maurice de Moravia, Earl of Strathearn[49]" who="John_Randolph,_3rd_Earl_of_Moray" when="1346-10-17"/&gt;
  &lt;item what="death" description="3rd Earl of Moray[48]" who="John_Randolph,_3rd_Earl_of_Moray" when="1346"/&gt;
  &lt;item what="death" description="Earl of Strathearn[49]" who="Maurice_de_Moravia,_Earl_of_Strathearn" when="1346"/&gt;
  &lt;item what="death" description="Lord of Ravenna" who="Ostasio_I_da_Polenta" when="1346-11-14"/&gt;
  &lt;item what="death" description="" who="Gregory_of_Sinai" when="1346-11-27"/&gt;
  &lt;item what="death" description="English outlaw[52] H&#xE9;lion de Villeneuve, Grand Master of the Knights of St John[53]" who="Eustace_Folville" when="1346"/&gt;
  &lt;item what="death" description="English outlaw[52]" who="Eustace_Folville" when="1346"/&gt;
  &lt;item what="death" description="Grand Master of the Knights of St John[53]" who="H&#xE9;lion_de_Villeneuve" when="1346"/&gt;
    </pre>
    <p>
      <time datetime="2023-04-04T01:49:46Z"></time>Those bracketed numbers look
      like footnote references, whose text should not be included.
    </p>
    <p>
      <time datetime="2023-04-04T02:05:48Z"></time>I also notice the redundancy
      in the above example, where e.g. there are two entries each for
      <code>John_Randolph,_3rd_Earl_of_Moray</code> and
      <code>Maurice_de_Moravia,_Earl_of_Strathearn</code>.
    </p>
    <aside>
      <p>
        <time datetime="2023-04-04T02:09:16Z"></time>Incidentally, I'm noticing
        some RDFa in here:
      </p>
      <pre style="word-break: break-all; white-space: normal">
&lt;li id="mwAco"&gt;&lt;a <mark>rel="mw:WikiLink"</mark> href="./John_Randolph,_3rd_Earl_of_Moray" title="John Randolph, 3rd Earl of Moray" id="mwAcs"&gt;John Randolph, 3rd Earl of Moray&lt;/a&gt;&lt;sup <mark>about="#mwt317"</mark> class="mw-ref reference" id="cite_ref-48" <mark>rel="dc:references"</mark> typeof="mw:Extension/ref" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-48"}}'&gt;&lt;a href="./1346#cite_note-48" style="counter-reset: mw-Ref 48;" id="mwAcw"&gt;&lt;span class="mw-reflink-text" id="mwAc0"&gt;[48]&lt;/span&gt;&lt;/a&gt;&lt;/sup&gt;&lt;/li&gt;
      </pre>
    </aside>
    <p>
      <time datetime="2023-04-04T02:14:23Z"></time>I got rid of the bracketed
      numbers.
    </p>
    <p>
      <time datetime="2023-04-04T02:23:40Z"></time>I don't remember individual
      years having so much narrative, prior to modern times. Looking at
      <a href="https://en.wikipedia.org/wiki/1346">1346</a>, for example.
    </p>
    <p>
      <time datetime="2023-04-04T02:33:19Z"></time>Ah, I've run into this
      before. This duplication occurs when you have nested lists.
    </p>
    <p>
      <time datetime="2023-04-04T02:40:10Z"></time>That gets it down to 17MB,
      and I just remembered that this still includes the decades, which is
      probably doubling in its own right.
    </p>
    <center>***</center>
    <p><time datetime="2023-04-04T11:16:38Z"></time>Good morning.</p>
    <p>
      <time datetime="2023-04-04T11:37:32Z"></time>When I left off, I had a
      pretty clean set of person-event records. Here's a short one:
    </p>
    <pre>
&lt;persons&gt;
  &lt;item what="death" when="527-08-01" who="Justin_I" label="Byzantine Emperor"/&gt;
  &lt;item what="death" when="527" who="List_of_kings_of_Leinster" label="king of Leinster"/&gt;
&lt;/persons&gt;
</pre
    >
    <p>
      <time datetime="2023-04-04T11:41:29Z"></time>Here's an extract of a longer
      one.
    </p>
    <pre>
  &lt;item what="birth" when="1220" who="Joan,_Countess_of_Toulouse" label="French noblewoman and co-ruler"/&gt;
  &lt;item what="birth" when="1220" who="Joan,_Countess_of_Ponthieu" label="French noblewoman"/&gt;
  &lt;item what="birth" when="1220" who="Margaret_of_Bar" label="countess of Luxembourg"/&gt;
  &lt;item what="birth" when="1220" who="Mieszko_II_the_Fat" label="duke of Kalisz-Wieluń"/&gt;
  &lt;item what="birth" when="1220" who="Sheikh_Mohammad_Rohani" label="Afghan religious leader"/&gt;
  &lt;item what="birth" when="1220" who="Robert_de_Vere,_5th_Earl_of_Oxford" label="English nobleman and knight"/&gt;
  &lt;item what="birth" when="1220" who="Roger_Bacon" label="English philosopher and writer"/&gt;
  &lt;item what="birth" when="1220" who="Tanhum_of_Jerusalem" label="Israeli lexicographer"/&gt;
  &lt;item what="birth" when="1220" who="Walram_II,_Count_of_Nassau" label="German nobleman and knight"/&gt;
  &lt;item what="birth" when="1220" who="Walter_Branscombe" label="bishop of Exeter"/&gt;
  &lt;item what="death" when="1220-01-23" who="Bogislaw_II,_Duke_of_Pomerania" label="duke of Pomerania"/&gt;
  &lt;item what="death" when="1220-02-17" who="Theobald_I,_Duke_of_Lorraine" label="German nobleman"/&gt;
  &lt;item what="death" when="1220-02-25" who="Albert_II,_Margrave_of_Brandenburg" label="margrave of Brandenburg"/&gt;
  &lt;item what="death" when="1220-03-11" who="Isabel_de_Clare,_4th_Countess_of_Pembroke" label="English noblewoman"/&gt;
  &lt;item what="death" when="1220-04-15" who="Adolf_of_Altena" label="archbishop of Cologne"/&gt;
  &lt;item what="death" when="1220-05-05" who="Angelus_of_Jerusalem" label="Israeli priest"/&gt;
  &lt;item what="death" when="1220-05-08" who="Richeza_of_Denmark" label="queen of Sweden"/&gt;
  &lt;item what="death" when="1220-06-01" who="Henry_de_Bohun,_1st_Earl_of_Hereford" label="1st Earl of Hereford"/&gt;
</pre
    >
    <p><time datetime="2023-04-04T11:44:27Z"></time>Punch list time:</p>
    <ol>
      <li>
        <label
          ><input type="checkbox" checked /> exclude all but year
          articles</label
        >
        larger units (decades, centuries) will only repeat things already
        covered by year articles
      </li>
      <li>
        <label
          ><input type="checkbox" checked /> use correct ISO for base
          date</label
        >
        I'm currently using the title, which is incorrect in many cases. It may
        contain <q>AD</q> or <q>BC</q> and it needs to be zero-padded.
      </li>
      <li>
        <label
          ><input type="checkbox" checked /> merge births and deaths into one
          format</label
        >
      </li>
    </ol>
    <aside>
      <p>
        <time datetime="2023-04-04T12:12:12Z"></time>I've been seeing this in
        the past day:
      </p>
      <pre>
tup: Unable to find tupid for 'wiki/persons/en/*_century.html'
SQL reset error: cannot start a transaction within a transaction
Statement was: begin
      </pre>
      <p>
        I'm testing with this command, in order to work on the transforms
        without running the whole batch every time:
      </p>
      <pre>
tup monitor \
    notebook.html \
    wiki/persons/en/1346.html \
    wiki/persons/en/177*.html \
    wiki/persons/en/500*.html \
    wiki/persons/en/*_century.html
      </pre>
      <p>
        <time datetime="2023-04-04T12:14:00Z"></time>Ah, I think this comes from
        running another command while the monitor is running. I suspect that
        this particular message has to do with partial builds. Since I am
        running with the default <code>foreground=0</code> (in order to surface
        issues like this), I think what I need to do is make that script run in
        the foreground, or else run <code>tup stop</code> first.
      </p>
      <p>
        <time datetime="2023-04-04T12:23:16Z"></time>No, it's worse than that.
      </p>
      <pre>
$ cd sourdough
$ cd 2023-03-24
$ pgrep tup
$ ./some.sh 
Initialized in 0.039548 seconds.
[ tup ] [0.000s] No filesystem scan - monitor is running.
[ tup ] [0.000s] No tup.config changes (environment check disabled).
[ tup ] [0.000s] No Tupfiles to parse.
[ tup ] [0.000s] No files to delete.
tup: Unable to find tupid for 'wiki/persons/en/*_century.html'
SQL reset error: cannot start a transaction within a transaction
Statement was: begin
^C
^C^C^Z
[1]+  Stopped                 ./some.sh
$ 
$ 
$ pgrep tup
54716
$ tup stop
Shutting down the monitor.
$ pgrep tup
54716
$ ps xao pid,ppid,pgid,comm | grep tup
  54716   54715   54716 tup &lt;defunct&gt;
$ kill 54716
$ ps xao pid,ppid,pgid,comm | grep tup
  54716   54715   54716 tup &lt;defunct&gt;
      </pre>
      <p>
        So even if the monitor wasn't running to begin with, running the partial
        build above gives that error now. Yet running just
        <code>tup</code> gives a complete build.
      </p>
      <p>
        <time datetime="2023-04-04T12:28:40Z"></time>There should be no overlap
        between the wildcards in that list. I think that the orphaned monitor is
        a result of the crash.
      </p>
      <p>
        <time datetime="2023-04-04T12:32:59Z"></time>RTFM: the message says it
        has to do with the <q>century</q> wildcard:
      </p>
      <pre>
$ tup monitor wiki/persons/en/*_century.html
$ Initialized in 0.040485 seconds.
[ tup ] [0.000s] No filesystem scan - monitor is running.
[ tup ] [0.000s] No tup.config changes (environment check disabled).
[ tup ] [0.000s] No Tupfiles to parse.
[ tup ] [0.000s] No files to delete.
tup: Unable to find tupid for 'wiki/persons/en/*_century.html'
SQL reset error: cannot start a transaction within a transaction
Statement was: begin
      </pre>
      <p>
        <time datetime="2023-04-04T12:34:18Z"></time>Well, I got rid of the
        centuries and decades, so nothing is matching. Yeah, getting rid of that
        expression fixes it. This looks like a bug in Tup.
      </p>
      <p>
        <time datetime="2023-04-04T12:35:13Z"></time>So the takeaway is that you
        need to be aware that running <code>tup monitor PATH</code> when
        <code>PATH</code> doesn't match anything will result in this error.
      </p>
    </aside>
    <p>
      <time datetime="2023-04-04T13:34:21Z"></time>I've completed the first two
      items. The last one is more involved.
    </p>
    <p>
      <time datetime="2023-04-04T13:35:03Z"></time>First, an observation. The
      extreme regularity of the results—here's another example—
    </p>
    <pre>
&lt;persons&gt;
  &lt;item what="birth" when="-0012" who="Artaxias_III" summary="Roman client king of Armenia"/&gt;
  &lt;item what="birth" when="-0012" who="Livilla" summary="daughter of Nero Claudius Drusus and Antonia Minor"/&gt;
  &lt;item what="death" when="-0012" who="Marcus_Aemilius_Lepidus_(triumvir)" summary="Roman consul"/&gt;
  &lt;item what="death" when="-0012" who="Paullus_Aemilius_Lepidus" summary="Roman consul"/&gt;
  &lt;item what="death" when="-0012" who="Rhescuporis_II_(Astaean)" summary="king of the Odrysian Kingdom"/&gt;
&lt;/persons&gt;
    </pre>
    <p>
      This extreme regularity leads one to assume that the <q>Births</q> and
      <q>Deaths</q> sections are being generated from some other source. In a
      moment, when I reconcile the two sets, this will probably provide more
      confirmation. So it raises the question, shouldn't I build this dataset
      from the upstream source, especially considering that scraping this out of
      the markup is inefficient and imperfect? The answer is yes, that would be
      better. However, I would collect these articles anyway, since they are
      predominantly lists of events, which are not (to my knowledge) sourced
      directly from anywhere else. So, much of the code would still be
      relevant.<time datetime="2023-04-04T13:40:12Z"></time>
    </p>
    <p>
      <time datetime="2023-04-04T14:00:16Z"></time>In order to run this through
      a transform, I have to concatenate all of the (XML) files with an open and
      close tag, which I do as follows:
    </p>
    <pre>
  tup.definerule{
    inputs = {'$(ROOT)/wiki/persons/'..lang..'/*.xml'},
    command = "^ concat "..lang.." person events^ echo '&lt;e&gt;' &gt; '%o'; cat %f &gt;&gt; '%o'; echo '&lt;/e&gt;' &gt;&gt; '%o'",
    outputs = {all_xml},
  }
    </pre>
    <p>
      <time datetime="2023-04-04T14:01:40Z"></time>The concatenation is needed
      because, although you can pass multiple input files into xsltproc, they
      are processed independently, and I need to <q>see</q> all of them at once
      in order to aggregate birth and death dates from different files.
    </p>
    <p>
      <time datetime="2023-04-04T14:04:41Z"></time>The wrapping is needed
      because xsltproc won't accept document fragments.
    </p>
    <p>
      <time datetime="2023-04-04T14:05:54Z"></time>I'm sure about the second
      point (it will say <q>junk after end of document</q> or something like
      that). But I'm not <em>quite</em> sure about the first one. It would be
      worth verifying that, since it could save the need for the intermediate
      file.
    </p>
    <p>
      <time datetime="2023-04-04T14:13:42Z"></time>Yeah, files input to xsltproc
      are processed quite independently.
    </p>
    <p>
      <time datetime="2023-04-04T14:14:02Z"></time>However, I can think of one
      other approach, which is to use the <code>document()</code> function. I
      have had to avoid that in this project because I'm usually dealing with
      HTML documents, and you don't have a way to tell
      <code>xsltproc</code> when the input to <code>document()</code> is
      expected to contain HTML. But these are XML documents. It might even be
      possible to avoid reading them all into memory at once.
    </p>
    <p>
      <time datetime="2023-04-04T14:27:01Z"></time>Before I go any further, I
      just want to say I don't think I can avoid loading all into memory, not
      from XSLT 1. At least I can't think of a way that wouldn't end up being at
      least as bad.
    </p>
    <p>
      <time datetime="2023-04-04T14:30:00Z"></time>To load all documents and
      count the nodes, but not doing the actual aggregation, takes almost 2
      seconds:
    </p>
    <pre>
[ tup ] [0.010s] Executing Commands...
 0) [1.685s] aggregate person events for en                                    
 [ ] 100%
[ tup ] [1.714s] Updated.   
    </pre>
    <p>
      <time datetime="2023-04-04T14:54:49Z"></time>Here's a message I've never
      seen out of xsltproc:
    </p>
    <pre>
 0) [4.538s] aggregate person events for en                                    
Attributed 124224 IDs for element, cleaned up 0
    </pre>
    <p>
      Anyway I have a cross-reference file now. At 8.7MB, it's a bit bigger than
      I'd have expected.
    </p>
    <p><time datetime="2023-04-04T14:58:51Z"></time>Here's an oddball:</p>
    <pre>
  &lt;person who="Angelus_Daemonicus?action=edit&amp;redlink=1" summary="Roman general" born="0442"/&gt;
    </pre>
    <p>
      This must be a link to a person who has no article yet. I have 49 such
      redlinks.
    </p>
    <p>
      <time datetime="2023-04-04T15:00:16Z"></time>But overall, the results look
      good. There are about 94K persons in the set.<time
        datetime="2023-04-04T15:01:24Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-04-04T15:22:18Z"></time>I got rid of the redlinks.
      Doing some further spot checks before moving on.
    </p>
    <p><time datetime="2023-04-04T15:23:59Z"></time>A bug:</p>
    <pre>
  &lt;person who="" summary="Japanese imperial princess" born="1200" died="1008"/&gt;
    </pre>
    <p>
      <time datetime="2023-04-04T15:30:45Z"></time>Looking at the article for
      1200, I notice a few things.
    </p>
    <!-- prettier-ignore -->
    <blockquote>
<ul id="mwfA"><li id="mwfQ"><a rel="mw:WikiLink" href="./January_19" title="January 19" id="mwfg">January 19</a> <span typeof="mw:Entity" id="mwfw">–</span> <a rel="mw:WikiLink" href="./Dōgen" title="Dōgen" id="mwgA">Dōgen Zenji</a>, founder of the <a rel="mw:WikiLink" href="./Sōtō" title="Sōtō" id="mwgQ">Sōtō Zen</a> school (d. <a rel="mw:WikiLink" href="./1253" title="1253" id="mwgg">1253</a>)<sup about="#mwt53" class="mw-ref reference" id="cite_ref-6" rel="dc:references" typeof="mw:Extension/ref" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-6"}}'><a href="./1200#cite_note-6" style="counter-reset: mw-Ref 6;" id="mwgw"><span class="mw-reflink-text" id="mwhA">[6]</span></a></sup></li>
<li id="mwhQ">January <span typeof="mw:Entity" id="mwhg">–</span> <a rel="mw:WikiLink" href="./Theobald_le_Botiller,_2nd_Chief_Butler_of_Ireland" title="Theobald le Botiller, 2nd Chief Butler of Ireland" id="mwhw">Theobald le Botiller</a>, Norman nobleman and knight (d. <a rel="mw:WikiLink" href="./1230" title="1230" id="mwiA">1230</a>)</li>
<li id="mwiQ"><a rel="mw:WikiLink" href="./March_24" title="March 24" id="mwig">March 24</a> <span typeof="mw:Entity" id="mwiw">–</span> <a rel="mw:WikiLink" href="./John_dal_Bastone" title="John dal Bastone" id="mwjA">John dal Bastone</a>, Italian monk and preacher (d. <a rel="mw:WikiLink" href="./1290" title="1290" id="mwjQ">1290</a>)<link rel="mw:PageProp/Category" href="./Category:All_articles_with_unsourced_statements" about="#mwt54" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"cn","href":"./Template:Cn"},"params":{"date":{"wt":"December 2022"}},"i":0}}]}' id="mwjg"/><link rel="mw:PageProp/Category" href="./Category:Articles_with_unsourced_statements_from_December_2022" about="#mwt54"/><sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;" about="#mwt54" id="mwjw"><span typeof="mw:Entity">[</span><i><a rel="mw:WikiLink" href="./Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (December 2022)">citation needed</span></a></i><span typeof="mw:Entity">]</span></sup></li>
<li id="mwkA">September <span typeof="mw:Entity" id="mwkQ">–</span> <a rel="mw:WikiLink" href="./Philip_I,_Count_of_Boulogne" title="Philip I, Count of Boulogne" id="mwkg">Philip I</a>, French prince and nobleman (<a rel="mw:WikiLink" href="./House_of_Capet" title="House of Capet" id="mwkw">House of Capet</a>) (d. <a rel="mw:WikiLink" href="./1235" title="1235" id="mwlA">1235</a>)<sup about="#mwt59" class="mw-ref reference" id="cite_ref-7" rel="dc:references" typeof="mw:Extension/ref" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-7"}}'><a href="./1200#cite_note-7" style="counter-reset: mw-Ref 7;" id="mwlQ"><span class="mw-reflink-text" id="mwlg">[7]</span></a></sup></li>
<li id="mwlw"><a rel="mw:WikiLink" href="./October_9" title="October 9" id="mwmA">October 9</a> <span typeof="mw:Entity" id="mwmQ">–</span> <a rel="mw:WikiLink" href="./Isabel_Marshal" title="Isabel Marshal" id="mwmg">Isabel Marshal</a>, English countess and <a rel="mw:WikiLink" href="./Regent" title="Regent" id="mwmw">regent</a> (d. <a rel="mw:WikiLink" href="./1240" title="1240" id="mwnA">1240</a>)<sup about="#mwt64" class="mw-ref reference" id="cite_ref-8" rel="dc:references" typeof="mw:Extension/ref" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-8"}}'><a href="./1200#cite_note-8" style="counter-reset: mw-Ref 8;" id="mwnQ"><span class="mw-reflink-text" id="mwng">[8]</span></a></sup></li>
<li id="mwnw"><a rel="mw:WikiLink" href="./October_22" title="October 22" id="mwoA">October 22</a> <span typeof="mw:Entity" id="mwoQ">–</span> <a rel="mw:WikiLink" href="./Louis_IV,_Landgrave_of_Thuringia" title="Louis IV, Landgrave of Thuringia" id="mwog">Louis IV</a> (<b id="mwow">the Saint</b>), landgrave of <a rel="mw:WikiLink" href="./Thuringia" title="Thuringia" id="mwpA">Thuringia</a> (d. <a rel="mw:WikiLink" href="./1227" title="1227" id="mwpQ">1227</a>)</li>
<li id="mwpg"><i id="mwpw">unknown dates</i></li>
<li id="mwqA"><a rel="mw:WikiLink" href="./Alix,_Duchess_of_Brittany" title="Alix, Duchess of Brittany" id="mwqQ">Alix</a> (or <b id="mwqg">Alis</b>), Breton noblewoman (<a rel="mw:WikiLink" href="./List_of_viscounts_of_Thouars" title="List of viscounts of Thouars" id="mwqw">House of Thouars</a>) (d. <a rel="mw:WikiLink" href="./1221" title="1221" id="mwrA">1221</a>)</li>
<li id="mwrQ"><a rel="mw:WikiLink" href="./Ingerd_Jakobsdatter" title="Ingerd Jakobsdatter" id="mwrg">Ingerd Jakobsdatter</a>, Danish noblewoman and landowner (d. <a rel="mw:WikiLink" href="./1258" title="1258" id="mwrw">1258</a>)<sup about="#mwt69" class="mw-ref reference" id="cite_ref-9" rel="dc:references" typeof="mw:Extension/ref" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-9"}}'><a href="./1200#cite_note-9" style="counter-reset: mw-Ref 9;" id="mwsA"><span class="mw-reflink-text" id="mwsQ">[9]</span></a></sup></li>
<li id="mwsg"><a rel="mw:WikiLink" href="./Ulrich_von_Liechtenstein" title="Ulrich von Liechtenstein" id="mwsw">Ulrich von Liechtenstein</a>, German <a rel="mw:WikiLink" href="./Minnesang" title="Minnesang" id="mwtA">minnesinger</a> and poet (d. <a rel="mw:WikiLink" href="./1275" title="1275" id="mwtQ">1275</a>)<sup about="#mwt71" class="mw-ref reference" id="cite_ref-10" rel="dc:references" typeof="mw:Extension/ref" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-10"}}'><a href="./1200#cite_note-10" style="counter-reset: mw-Ref 10;" id="mwtg"><span class="mw-reflink-text" id="mwtw">[10]</span></a></sup></li>
<li id="mwuA"><i id="mwuQ">probable</i> 
<ul id="mwug"><li id="mwuw"><a rel="mw:WikiLink" href="./Adam_Marsh" title="Adam Marsh" id="mwvA">Adam Marsh</a>, English <a rel="mw:WikiLink" href="./Franciscans" title="Franciscans" id="mwvQ">Franciscan</a> scholar and theologian (d. <a rel="mw:WikiLink" href="./1259" title="1259" id="mwvg">1259</a>)</li>
<li id="mwvw"><a rel="mw:WikiLink" href="./Chen_Rong_(painter)" title="Chen Rong (painter)" id="mwwA">Chen Rong</a> (<b id="mwwQ">Ch'en Jung</b>), Chinese painter and politician (d. <a rel="mw:WikiLink" href="./1266" title="1266" id="mwwg">1266</a>)<sup about="#mwt76" class="mw-ref reference" id="cite_ref-11" rel="dc:references" typeof="mw:Extension/ref" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-11"}}'><a href="./1200#cite_note-11" style="counter-reset: mw-Ref 11;" id="mwww"><span class="mw-reflink-text" id="mwxA">[11]</span></a></sup></li>
<li id="mwxQ"><a rel="mw:WikiLink" href="./Jutta_of_Kulmsee" title="Jutta of Kulmsee" id="mwxg">Jutta of Kulmsee</a>, German noblewoman, <a rel="mw:WikiLink" href="./Hermit" title="Hermit" id="mwxw">hermit</a> and saint (d. 1260)<sup about="#mwt81" class="mw-ref reference" id="cite_ref-12" rel="dc:references" typeof="mw:Extension/ref" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-12"}}'><a href="./1200#cite_note-12" style="counter-reset: mw-Ref 12;" id="mwyA"><span class="mw-reflink-text" id="mwyQ">[12]</span></a></sup></li>
<li id="mwyg"><a rel="mw:WikiLink" href="./Matthew_Paris" title="Matthew Paris" id="mwyw">Matthew Paris</a>, English <a rel="mw:WikiLink" href="./Benedictines" title="Benedictines" id="mwzA">Benedictine</a> monk and chronicler (d. 1259)<link rel="mw:PageProp/Category" href="./Category:All_articles_with_unsourced_statements" about="#mwt82" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"cn","href":"./Template:Cn"},"params":{"date":{"wt":"December 2022"}},"i":0}}]}' id="mwzQ"/><link rel="mw:PageProp/Category" href="./Category:Articles_with_unsourced_statements_from_December_2022" about="#mwt82"/><sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;" about="#mwt82" id="mwzg"><span typeof="mw:Entity">[</span><i><a rel="mw:WikiLink" href="./Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (December 2022)">citation needed</span></a></i><span typeof="mw:Entity">]</span></sup></li>
<li id="mwzw"><a rel="mw:WikiLink" href="./Rolandino_of_Padua" title="Rolandino of Padua" id="mw0A">Rolandino of Padua</a>, Italian professor, jurist and writer (d. 1276)<sup about="#mwt87" class="mw-ref reference" id="cite_ref-13" rel="dc:references" typeof="mw:Extension/ref" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-13"}}'><a href="./1200#cite_note-13" style="counter-reset: mw-Ref 13;" id="mw0Q"><span class="mw-reflink-text" id="mw0g">[13]</span></a></sup></li>
<li id="mw0w"><a rel="mw:WikiLink" href="./Rudolf_von_Ems" title="Rudolf von Ems" id="mw1A">Rudolf von Ems</a>, German nobleman, knight and poet (d. <a rel="mw:WikiLink" href="./1254" title="1254" id="mw1Q">1254</a>)<sup about="#mwt90" class="mw-ref reference" id="cite_ref-14" rel="dc:references" typeof="mw:Extension/ref" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-14"}}'><a href="./1200#cite_note-14" style="counter-reset: mw-Ref 14;" id="mw1g"><span class="mw-reflink-text" id="mw1w">[14]</span></a></sup></li></ul></li></ul>
</blockquote>
    <ul>
      <li>
        There are cases where the month is known but not the day, and these are
        not linked (which means that we don't pick that information up).
      </li>
      <li>
        The <q>unknown dates</q> entry presumably applies to all that follows,
        and probably accounts for the bad entry that I'm seeing now.
      </li>
      <li>
        The sub-list indicating <q>probable</q> dates is probably used in many
        articles, and that's information that we also throw away, although after
        a certain age I guess I considered all dates to be approximate.
      </li>
      <li>Many of these entries have specific citations.</li>
    </ul>
    <p>
      <time datetime="2023-04-04T16:06:34Z"></time>The file
      <code>missing-persons</code> lists the items that were considered but did
      not yield a person-event. Most of them are empty of any text.
    </p>
    <p>
      <time datetime="2023-04-04T16:09:40Z"></time>I modified the transform to
      skip and warn, which eliminates all empty attributes in the result
      <em>except</em> the Japanese princess entry above, which is obviously
      combining dates from two disparate blank entries.
    </p>
    <p>
      <time datetime="2023-04-04T16:12:59Z"></time>Oh, but there are still
      several empties at the intermediate stage:
    </p>
    <!-- prettier-ignore -->
    <pre>
./1025.xml:22:  &lt;item what="death" when="1025-08-11" who="" summary="Japanese princess consort"/&gt;
./1956.xml:251:  &lt;item what="birth" when="1956-07-04" who="" summary="Brazilian actress, director and producer"/&gt;
./1888.xml:60:  &lt;item what="birth" when="1888-05-24" who="" summary="English talking pictures pioneer"/&gt;
./1009.xml:14:  &lt;item what="death" when="1009-08-21" who="" summary="Japanese imperial prince"/&gt;
./1066.xml:29:  &lt;item what="death" when="1066-12-30" who="" summary="Jewish vizier"/&gt;
./1756.xml:20:  &lt;item what="birth" when="1756-10-27" who="" summary="Amer. lawyer, judge. Famous &amp;quot;second&amp;quot; to A. Hamilton."/&gt;
./1418.xml:4:  &lt;item what="birth" when="1418-04-20" who="" summary=""/&gt;
./1800.xml:11:  &lt;item what="birth" when="1800-01-26" who="" summary=""/&gt;
./1800.xml:17:  &lt;item what="birth" when="1800-02-09" who="" summary=""/&gt;
./1800.xml:23:  &lt;item what="birth" when="1800-03-10" who="" summary=""/&gt;
./1800.xml:30:  &lt;item what="birth" when="1800-03-20" who="" summary=""/&gt;
./1800.xml:33:  &lt;item what="birth" when="1800-03-25" who="" summary=""/&gt;
./1800.xml:41:  &lt;item what="birth" when="1800-04-16" who="" summary=""/&gt;
./1800.xml:50:  &lt;item what="birth" when="1800-05-09" who="" summary=""/&gt;
./1800.xml:69:  &lt;item what="birth" when="1800-08-22" who="" summary=""/&gt;
./1800.xml:85:  &lt;item what="death" when="1800-01-06" who="" summary=""/&gt;
./1800.xml:103:  &lt;item what="death" when="1800-04-25" who="" summary=""/&gt;
./1800.xml:112:  &lt;item what="death" when="1800-06-14" who="" summary=""/&gt;
./1800.xml:118:  &lt;item what="death" when="1800-06-28" who="" summary=""/&gt;
./1316.xml:21:  &lt;item what="death" when="1316-11-20" who="" summary="king of France"/&gt;
./1970.xml:84:  &lt;item what="birth" when="1970-04-25" who="" summary=""/&gt;
./1866.xml:47:  &lt;item what="birth" when="1866-09-01" who="" summary=""/&gt;
./1911.xml:13:  &lt;item what="birth" when="1911-01-15" who="" summary=""/&gt;
./1961.xml:361:  &lt;item what="birth" when="1961-09-16" who="" summary="American-Canadian actress and singer"/&gt;
./1855.xml:48:  &lt;item what="birth" when="1855-11-05" who="" summary=""/&gt;
./1016.xml:15:  &lt;item what="death" when="1016-09-06" who="" summary="great-grandmother of the Emperor of Japan"/&gt;
./1969.xml:10:  &lt;item what="birth" when="1969-01-11" who="" summary=""/&gt;
./1568.xml:72:  &lt;item what="death" when="1568-11-06" who="" summary=""/&gt;
./AD_31.xml:5:  &lt;item what="death" when="0031-04-27" who="" summary=""/&gt;
./1966.xml:18:  &lt;item what="birth" when="1966-01-27" who="" summary=""/&gt;
./1880.xml:110:  &lt;item what="death" when="1880-05-02" who="" summary=""/&gt;
./1752.xml:6:  &lt;item what="birth" when="1752-01-04" who="" summary=""/&gt;
./1968.xml:220:  &lt;item what="birth" when="1968-08-06" who="" summary=""/&gt;
    </pre>
    <p>
      <time datetime="2023-04-04T16:31:42Z"></time>Of the remaining
      <q>empty who's</q>, it looks like these are due to spurious line breaks.
      See for example the year 1800, which has a couple of cases of a
      day-of-year on a line by itself followed by an entry not having a
      day-of-year. This militates somewhat against the idea that these are all
      mechanically generated. Anyway I just need to ignore the lines that have
      dates only.
    </p>
    <p>
      <time datetime="2023-04-04T16:36:39Z"></time>Did that, and it clears up
      all empties. The Japanese princess is gone.
    </p>
    <p>
      <time datetime="2023-04-04T16:39:38Z"></time>The more you look, the more
      you find. This is what it means to have a clean data set.
    </p>
    <p>
      <time datetime="2023-04-04T16:40:03Z"></time>I added a check to confirm
      the birth-death date order, and it appears that in several cases people
      <em>do</em> link to months (versus day-in-year). At least, that's my guess
      from looking at this:
    </p>
    <pre>
WARN: Birthdate not before death date! Muhammad_al-Baghdadi 1050 1037
WARN: Birthdate not before death date! October 1340 1114
WARN: Birthdate not before death date! February 1177 1332
WARN: Birthdate not before death date! August 1177 1186
WARN: Birthdate not before death date! January 1467 1177
WARN: Birthdate not before death date! June 1404 1177
WARN: Birthdate not before death date! November 1431 1204
WARN: Birthdate not before death date! December 1296 1426
WARN: Birthdate not before death date! July 1459 1338
WARN: Birthdate not before death date! March 1353 1362
WARN: Birthdate not before death date! September 1404 1374
WARN: Birthdate not before death date! April 1490 1403
WARN: Birthdate not before death date! Iamblichus 0245 0325
WARN: Birthdate not before death date! Li_Yi_(poet) 0846 0827
    </pre>
    <p>
      <time datetime="2023-04-04T16:43:40Z"></time>Looking at the first item,
      the article for <a href="https://en.wikipedia.org/wiki/1050">1050</a> has
      the death date as 1141:
    </p>
    <blockquote>
      Muhammad al-Baghdadi, Arab mathematician (d. 1141)[36]
    </blockquote>
    <p>
      However, although the vast majority of birth and death entries do
      reference the other date in this manner, we're discarding that and only
      taking the <q>primary</q> event. It must be that the two disagree in this
      case. Seeing that these are not quite mechanically derived, I'm sure that
      further cross-checking would turn up more discrepancies.
    </p>
    <p>
      <time datetime="2023-04-04T16:48:12Z"></time>Anyway, al-Baghdadi's death
      entry in the article for
      <a href="https://en.wikipedia.org/wiki/1037">1037</a> has no corresponding
      <q>b.</q> note:
    </p>
    <blockquote>Muhammad al-Baghdadi, Persian mathematician</blockquote>
    <p>
      and the article for
      <a href="https://en.wikipedia.org/wiki/1141">1141</a> has no entry for
      Baghdadi.
    </p>
    <p>
      <time datetime="2023-04-04T16:58:21Z"></time>Incidentally, the index file
      gets about 76% compression from gzip:
    </p>
    <pre>
  -rw-rw-r-- 8783516 04-04 12:39 en.xml
  -rw-rw-r-- 2122266 04-04 12:53 en.xml.gz
    </pre>
    <p>
      <time datetime="2023-04-04T17:00:50Z"></time>The Baghdadi case looks like
      a legit error in the source.
    </p>
    <p>But what about these month names?</p>
    <p>
      <time datetime="2023-04-04T17:07:21Z"></time>The first instance is from
      <a href="https://en.wikipedia.org/wiki/1340">1340</a>:
    </p>
    <!-- prettier-ignore -->
    <blockquote>
<ul id="mwVw"><li id="mwWA"><a rel="mw:WikiLink" href="./March_5" title="March 5" id="mwWQ">March 5</a> <span typeof="mw:Entity" id="mwWg">–</span> <a rel="mw:WikiLink" href="./Cansignorio_della_Scala" title="Cansignorio della Scala" id="mwWw">Cansignorio della Scala</a>, Lord of Verona (d. <a rel="mw:WikiLink" href="./1375" title="1375" id="mwXA">1375</a>)</li>
<li id="mwXQ"><a rel="mw:WikiLink" href="./March_6" title="March 6" id="mwXg">March 6</a> <span typeof="mw:Entity" id="mwXw">–</span> <a rel="mw:WikiLink" href="./John_of_Gaunt" title="John of Gaunt" id="mwYA">John of Gaunt</a>, 1st Duke of Lancaster (d. <a rel="mw:WikiLink" href="./1399" title="1399" id="mwYQ">1399</a>)</li>
<li id="mwYg"><a rel="mw:WikiLink" href="./August" title="August" id="mwYw">August</a> <span typeof="mw:Entity" id="mwZA">–</span> <a rel="mw:WikiLink" href="./Haakon_VI_of_Norway" title="Haakon VI of Norway" class="mw-redirect" id="mwZQ">Haakon VI</a>, king of Norway <a rel="mw:WikiLink" href="./1355" title="1355" id="mwZg">1355</a><span typeof="mw:Entity" id="mwZw">–</span><a rel="mw:WikiLink" href="./1380" title="1380" id="mwaA">1380</a> and of Sweden <a rel="mw:WikiLink" href="./1362" title="1362" id="mwaQ">1362</a><span typeof="mw:Entity" id="mwag">–</span><a rel="mw:WikiLink" href="./1364" title="1364" id="mwaw">1364</a> (d. <a rel="mw:WikiLink" href="./1380" title="1380" id="mwbA">1380</a>)</li>
<li id="mwbQ"><a rel="mw:WikiLink" href="./October" title="October" id="mwbg">October</a> <span typeof="mw:Entity" id="mwbw">–</span> <a rel="mw:WikiLink" href="./Geert_Groote" title="Geert Groote" id="mwcA">Geert Groote</a>, Dutch founder of the Brethren of the Common Life (d. <a rel="mw:WikiLink" href="./1384" title="1384" id="mwcQ">1384</a>)</li>
<li id="mwcg"><a rel="mw:WikiLink" href="./November_30" title="November 30" id="mwcw">November 30</a> <span typeof="mw:Entity" id="mwdA">–</span> <a rel="mw:WikiLink" href="./John,_Duke_of_Berry" title="John, Duke of Berry" id="mwdQ">John, Duke of Berry</a>, son of <a rel="mw:WikiLink" href="./John_II_of_France" title="John II of France" id="mwdg">John II of France</a> (d. <a rel="mw:WikiLink" href="./1416" title="1416" id="mwdw">1416</a>)</li>
<li id="mweA"><i id="mweQ">date unknown</i>
<ul id="mweg"><li id="mwew"><a rel="mw:WikiLink" href="./Enguerrand_VII,_Lord_of_Coucy" title="Enguerrand VII, Lord of Coucy" class="mw-redirect" id="mwfA">Enguerrand VII, Lord of Coucy</a> (d. <a rel="mw:WikiLink" href="./1397" title="1397" id="mwfQ">1397</a>)</li>
<li id="mwfg"><a rel="mw:WikiLink" href="./John_of_Nepomuk" title="John of Nepomuk" id="mwfw">John of Nepomuk</a>, saint of Bohemia (d. <a rel="mw:WikiLink" href="./1393" title="1393" id="mwgA">1393</a>)</li>
<li id="mwgQ"><a rel="mw:WikiLink" href="./Narayana_Pandit" title="Narayana Pandit" class="mw-redirect" id="mwgg">Narayana Pandit</a>, Indian mathematician (d. <a rel="mw:WikiLink" href="./1400" title="1400" id="mwgw">1400</a>)</li></ul></li>
<li id="mwhA"><i id="mwhQ">probable</i> 
<ul id="mwhg"><li id="mwhw"><a rel="mw:WikiLink" href="./Margaret_Drummond,_Queen_of_Scotland" title="Margaret Drummond, Queen of Scotland" id="mwiA">Margaret Drummond</a>, queen consort of Scotland (d. <a rel="mw:WikiLink" href="./1375" title="1375" id="mwiQ">1375</a>)<sup about="#mwt36" class="mw-ref reference" id="cite_ref-2" rel="dc:references" typeof="mw:Extension/ref" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-2"}}'><a href="./1340#cite_note-2" style="counter-reset: mw-Ref 2;" id="mwig"><span class="mw-reflink-text" id="mwiw">[2]</span></a></sup></li>
<li id="mwjA"><a rel="mw:WikiLink" href="./Philip_van_Artevelde" title="Philip van Artevelde" id="mwjQ">Philip van Artevelde</a>, Flemish patriot (d. <a rel="mw:WikiLink" href="./1382" title="1382" id="mwjg">1382</a>)</li></ul></li></ul>
    </blockquote>
    <p>
      You can perfectly well say <q>October 1340</q> in ISO-8601. So I think the
      answer here is just to extend the determination of MM-DD to include MM as
      well.
    </p>
    <p>
      <time datetime="2023-04-04T17:20:06Z"></time>Done. Now the only warnings
      from aggregation are
    </p>
    <pre>
WARN: Birthdate not before death date! Muhammad_al-Baghdadi 1050 1037
WARN: Birthdate not before death date! Iamblichus 0245 0325
WARN: Birthdate not before death date! Li_Yi_(poet) 0846 0827
    </pre>
    <p>
      But there are 284 other warnings, mostly about empty items. Here are the
      first 24:
    </p>
    <pre>
WARN: No link for 1008 Bishi, Japanese imperial princess
WARN: Within-year but no second link for 1009 08-21 August 21 – Tomohira, Japanese imperial prince (uncle of the emperor)
WARN: Within-year but no second link for 1016 09-06 September 6 – Fujiwara no Bokushi, great-grandmother of the Emperor of Japan
WARN: Within-year but no second link for 1025 08-11 August 11 – Kanshi, Japanese princess consort
WARN: Within-year but no second link for 1066 12-30 December 30 – Yusuf ibn Naghrela, Jewish vizier
WARN: No link for 1200 unknown dates
WARN: No link for -0123 Artabanus II of Parthia
WARN: Within-year but no second link for 1316 11-20 November 20 – John I (the Posthumous), king of France
WARN: No link for -0135 
WARN: No link for -0135 
WARN: No link for -0139 
WARN: Within-year but no second link for 1418 04-20 April 20 – Earl David of Rookwood
WARN: No link for -0143 
WARN: No link for -0145 
WARN: No link for -0147 
WARN: No link for -0149 
WARN: No link for 1521 1521 in art
WARN: No link for -0152 
WARN: No link for -0155 
WARN: Within-year but no second link for 1568 11-06 November 6
WARN: No link for 1600 December 5- Francesco II dead (1560)
WARN: No link for 1621 Last baby beaver born on Exmoor until July 13, 2021
WARN: No link for 1669 Wartwood Cemetery Burials:
WARN: No link for 1669 Anna Callata 
   </pre
    >
    <p>
      <time datetime="2023-04-04T17:23:36Z"></time>So, for example,
      <a href="https://en.wikipedia.org/wiki/1009">1009</a> has
    </p>
    <blockquote>
      August 21 – Tomohira, Japanese imperial prince (uncle of the emperor)
    </blockquote>
    <p>
      where <q>August 21</q> is linked, but <q>Tomohira</q> is not. This is a
      data error.
    </p>
    <p>
      <time datetime="2023-04-04T17:28:18Z"></time>Looking at the
      <q>no link</q> warning for <code>-0135</code>, which is
      <a href="https://en.wikipedia.org/wiki/136_BC">136 BC</a>, I see that
      there are no births or deaths listed, but there is nevertheless a
      <code>ul</code> with an empty <code>li</code>. I shouldn't be warning
      about these.
    </p>
    <p>
      <time datetime="2023-04-04T17:37:51Z"></time>An empty section looks like
      this:
    </p>
    <pre>
&lt;section data-mw-section-id="2" id="mwHA"&gt;&lt;h2 id="Deaths"&gt;Deaths&lt;/h2&gt;
&lt;ul id="mwHQ"&gt;&lt;li class="mw-empty-elt" id="mwHg"&gt;&lt;/li&gt;&lt;/ul&gt;

&lt;/section&gt;
    </pre>
    <p>
      <time datetime="2023-04-04T17:36:31Z"></time>Before modification, 94,053
      lines in index.
    </p>
    <p>
      <time datetime="2023-04-04T17:46:08Z"></time>Something weird's happening.
      Whenever I insist that the section also match
      <code>ul/li//node()</code> or something like that, it knocks out two
      thirds of the items. Are some using <code>ol</code>'s?
    </p>
    <p>
      <time datetime="2023-04-04T17:48:20Z"></time>Yeah, some of them must be.
      When I use <code> .//li//node()</code>, I eliminate most of the no-text
      no-link warnings, but I still have 94,053 entries. And that's all the time
      I have for now.<time datetime="2023-04-04T17:51:31Z"></time>
    </p>
    <p>
      Oh and I now have Geert Groote as October 1340:<time
        datetime="2023-04-04T17:53:28Z"
      ></time>
    </p>
    <pre>
  &lt;person who="Geert_Groote" summary="Dutch founder of the Brethren of the Common Life" born="1340-10" died="1384-08-20"/&gt;
    </pre>
    <p>
      <time datetime="2023-04-05T02:19:47Z"></time>This index file is kind of a
      handy thing in its own right. It would be handier if it were in
      chronological order, although that's not needed for my purpose.
    </p>
    <p>
      <time datetime="2023-04-05T02:31:44Z"></time>With a small change, I got
      the things sorted, but I'm not sure what nice property I thought it would
      have, given that many people have only one date (birth or death), and of
      those that have two, it's not clear which one you should sort by. I did
      this:
    </p>
    <pre>
        &lt;xsl:sort select="concat(@born, ' ', @died)" /&gt;
    </pre>
    <p>
      and it has the property that it ends with the most recent births of living
      people. Thanks to monarchies, some of these notable people are infants:
    </p>
    <pre>
  &lt;person who="Xia_Vigor" summary="British-Filipino child actress" born="2009-06-23"/&gt;
  &lt;person who="Lady_Cosima_Windsor" summary="daughter of the Earl and Countess of Ulster." born="2010-05-20"/&gt;
  &lt;person who="Prince_Vincent_of_Denmark" born="2011-01-08"/&gt;
  &lt;person who="Blue_Ivy_Carter" summary="American singer" born="2012-01-07"/&gt;
  &lt;person who="Princess_Athena_of_Denmark" born="2012-01-24"/&gt;
  &lt;person who="Princess_Estelle,_Duchess_of_Östergötland" summary="Duchess of Östergötland" born="2012-02-23"/&gt;
  &lt;person who="Prince_George_of_Wales" born="2013-07-22"/&gt;
  &lt;person who="Princess_Gabriella,_Countess_of_Carladès" summary="Countess of Carladès" born="2014"/&gt;
  &lt;person who="Jacques,_Hereditary_Prince_of_Monaco" summary="Hereditary Prince of Monaco" born="2014"/&gt;
  &lt;person who="Princess_Charlotte_of_Wales_(born_2015)" born="2015-05-02"/&gt;
  &lt;person who="Jigme_Namgyel_Wangchuck" summary="heir apparent to the throne of Bhutan" born="2016-02-05"/&gt;
  &lt;person who="Prince_Oscar,_Duke_of_Skåne" summary="Duke of Skåne, third in the line of succession to the Swedish throne" born="2016-03-02"/&gt;
  &lt;person who="Prince_Louis_of_Wales" summary="fourth in line to the throne of the United Kingdom" born="2018-04-23"/&gt;
  &lt;person who="Archie_Mountbatten-Windsor" summary="first child of the Duke and Duchess of Sussex and seventh in the line of succession to the British throne" born="2019-05-06"/&gt;
  &lt;person who="Prince_Charles_of_Luxembourg_(born_2020)" born="2020-05-10"/&gt;
  &lt;person who="Lilibet_Mountbatten-Windsor" summary="second child of the Duke and Duchess of Sussex and seventh in the line of succession to the British throne" born="2021-06-04"/&gt;
  &lt;person who="Sienna_Mozzi" summary="only child of Princess Beatrice and Edoardo Mapelli Mozzi and tenth in the line of succession to the British throne." born="2021-09-18"/&gt;
    </pre>
    <p>is how the file now ends.</p>
    <p>
      <time datetime="2023-04-05T02:38:55Z"></time>And who has died most
      recently?
    </p>
    <pre>
$ grep 'died="2023' wiki/persons/en.xml 
  &lt;person who="Vladas_Česiūnas" summary="Lithuanian sprint canoeist and Olympic champion" died="2023"/&gt;
  &lt;person who="Miroslav_Blažević" summary="Croatian footballer and manager" died="2023"/&gt;
  &lt;person who="Abdelsalam_Majali" summary="29th Prime Minister of Jordan" died="2023-01-03"/&gt;
  &lt;person who="K._Alex_Müller" summary="Swiss Nobel physicist" died="2023-01-09"/&gt;
  &lt;person who="Hossein_Shahabi" summary="Iranian film director and screenwriter" died="2023-01-22"/&gt;
  &lt;person who="Lucile_Randon" summary="French supercentenarian, last surviving person born in 1904" born="1904" died="2023-01-17"/&gt;
  &lt;person who="Lubomír_Štrougal" summary="Czech politician" born="1924-10-19" died="2023-02-06"/&gt;
  &lt;person who="Gina_Lollobrigida" summary="Italian actress" born="1927" died="2023"/&gt;
  &lt;person who="B._V._Doshi" summary="Indian architect" born="1927" died="2023-01-24"/&gt;
  &lt;person who="Dick_Savitt" summary="American tennis player" born="1927-03-04" died="2023"/&gt;
  &lt;person who="Burt_Bacharach" summary="American composer, songwriter and pianist" born="1928-05-12" died="2023"/&gt;
  &lt;person who="Ivan_Silayev" summary="Soviet and Russian politician" born="1930-10-21" died="2023"/&gt;
  &lt;person who="Klas_Lestander" summary="Swedish biathlete and Olympic champion" born="1931-04-18" died="2023-01-13"/&gt;
  &lt;person who="Paco_Rabanne" summary="Spanish fashion designer" born="1934" died="2023-02-03"/&gt;
  &lt;person who="Bobby_Hull" summary="Canadian ice hockey player" born="1939" died="2023-01-30"/&gt;
  &lt;person who="Constantine_II_of_Greece" born="1940-06-02" died="2023"/&gt;
  &lt;person who="George_Pell" summary="Australian cardinal" born="1941" died="2023"/&gt;
  &lt;person who="David_Crosby" summary="American musician" born="1941" died="2023-01-18"/&gt;
  &lt;person who="Jean-Pierre_Jabouille" summary="French F1 driver" born="1942" died="2023-02-02"/&gt;
  &lt;person who="Inna_Churikova" summary="Soviet and Russian film and theatre actress" born="1943" died="2023-01-14"/&gt;
  &lt;person who="Pervez_Musharraf" summary="Pakistani general, leader and 10th President of Pakistan" born="1943" died="2023-02-05"/&gt;
  &lt;person who="Jeff_Beck" summary="English rock musician" born="1944" died="2023"/&gt;
  &lt;person who="Rosi_Mittermaier" summary="German ski racer" born="1950-08-05" died="2023-01-04"/&gt;
  &lt;person who="Álvaro_Colom" summary="35th President of Guatemala" born="1951" died="2023-01-23"/&gt;
  &lt;person who="Yukihiro_Takahashi" summary="Japanese drummer and singer" born="1952" died="2023-01-11"/&gt;
  &lt;person who="Sherif_Ismail" summary="Former Prime Minister of Egypt" born="1955-07-06" died="2023-02-04"/&gt;
  &lt;person who="Gianluca_Vialli" summary="Italian footballer and manager" born="1964" died="2023"/&gt;
    </pre>
    <p>
      I find it curious that some are listed as just <q>2023</q>—including Jeff
      Beck! I remember Crosby being in the news.
    </p>
    <p>
      But there must be more recent ones. I filled the cache some time back and
      haven't refreshed it. Now I can put this system to the test. I have the
      monitor running, and I have scripts for deleting resources in various
      ways. Will the index refresh itself when I delete the file for 2023? I
      don't think so, because the cache is outside of the project. But if I
      delete the cache and the link that is in the project.
    </p>
    <pre>
$ www/delete-resource.sh wiki-en-2023
Alias found: /home/gavin/def.inet/alias/wiki-en-2023.html...
Target is /home/gavin/def.inet/internet/ee129e85f3d159644150b7480a89d4c89bc5d818.html...
Removing resource
Removing alias
$ rm wiki/cache/en/2023.html 
$ tup warning: generated file 'wiki/cache/en/2023.html' was deleted outside of tup. This file may be re-created on the next update.
[ tup ] [0.000s] No filesystem scan - monitor is running.
[ tup ] [0.000s] No tup.config changes (environment check disabled).
[ tup ] [0.000s] No Tupfiles to parse.
[ tup ] [0.000s] No files to delete.
[ tup ] [0.010s] Executing Commands...
 2) [7.050s] ./www/get.sh 'https://api.wikimedia.org/core/v1/wikipedia/en/page/2023/html' './wiki/cache/en/2023.html' 'wiki-en-2023'
Getting https://api.wikimedia.org/core/v1/wikipedia/en/page/2023/html
hash: ee129e85f3d159644150b7480a89d4c89bc5d818
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  310k    0  310k    0     0   302k      0 --:--:--  0:00:01 --:--:--  302k
Linking ee129e85f3d159644150b7480a89d4c89bc5d818 → ./wiki/cache/en/2023.html
Waiting 6 seconds...
 1) [0.025s] persons of 2023                                                               
 0) [1.788s] aggregate person events for en                                                
WARN: Birthdate not before death date! Muhammad_al-Baghdadi 1050 1037
WARN: Birthdate not before death date! Iamblichus 0245 0325
WARN: Birthdate not before death date! Li_Yi_(poet) 0846 0827
Attributed 123899 IDs for element, cleaned up 0
 [   ] 100%
[ tup ] [8.903s] Updated.   
    </pre>
    <p><time datetime="2023-04-05T02:48:02Z"></time>Oh dear.</p>
    <pre>
$ grep 'died="2023' wiki/persons/en.xml 
$
</pre
    >
    <p>
      I have the article for 2023, but it's now yielding nothing to the persons
      index. Have they changed the format?
    </p>
    <p><time datetime="2023-04-05T02:50:44Z"></time>Yes. Sort of.</p>
    <blockquote>Deaths<br />Main article: Deaths in 2022</blockquote>
    <p>
      And they've done this for 2022, as well. Why? And are they going to do
      this wholesale? This must have happened just in the past month.
    </p>
    <p>
      <time datetime="2023-04-05T02:51:52Z"></time>This.
      <strong>This</strong> is why you can't rely on outside things. THEY WILL
      BREAK YOU.
    </p>
    <p><time datetime="2023-04-05T02:56:17Z"></time>It gets worse:</p>
    <blockquote>
      <p>
        Comment: because of a developing consensus at Wikipedia talk:WikiProject
        Years on removing the deaths section altogether, this RFC [to include
        Barbara Walters] may soon become obsolete. InvadingInvader (userpage,
        talk) 21:24, 16 January 2023 (UTC)
      </p>
      <cite
        ><a href="https://en.wikipedia.org/wiki/Talk:2022">Talk:2022</a></cite
      >
    </blockquote>
    <p>And that links to</p>
    <blockquote>
      <p>
        Births and deaths have been removed per
        <a
          href="https://en.wikipedia.org/wiki/Special:PermanentLink/1144165042#RFC:_split_births_&_deaths_from_year_articles"
          >this discussion</a
        >. InvadingInvader (userpage, talk) 06:22, 12 March 2023 (UTC)
      </p>
      <cite
        ><a
          href="https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Years"
        ></a
        >Notability of Racing Drivers</cite
      >
    </blockquote>
    <p>
      And so on. There's a whole discussion there about how to do this etc. I
      suppose I'm going about this wrong and should get this directly from
      wikidata, as I said at the beginning of this. Events are safe, at least
      for the time being.<time datetime="2023-04-05T03:04:25Z"></time>
    </p>
  </article>
  <footer>
    <details>
      <summary>stylesheet</summary>
      <style>
        html {
          background-color: hsl(-135deg, 20%, 30%);
          color: hsl(10deg, 10%, 55%);
          font-size: 18pt;
        }
        script,
        style {
          display: block;
          white-space: pre;
          font-family: var(--font-family-sans-serif, sans-serif);
        }
        a {
          color: inherit;
          text-decoration-color: LinkText;
          text-decoration-thickness: 2pt;
        }
        p::before {
          content: "¶ ";
          opacity: 0.5;
        }
        p {
          width: fit-content;
          max-width: min(65ch, 100%);
          background: #8888;
          color: CanvasText;
          border-start-end-radius: 1em;
          border-end-start-radius: 1em;
          border-end-end-radius: 1em;
          padding-block: 8pt;
          padding-inline: 1ch;
        }
        aside {
          border-inline-start: 1ch solid GrayText;
          padding-inline-start: 1ch;
        }
      </style>
    </details>
  </footer>
</article>
