<article>
  <meta charset="utf-8" />
  <h1><time datetime="2023-05-14T14:57:30Z"></time>Mother's day 2023</h1>
  <section>
    <h2><time datetime="2023-05-14T14:57:49Z"></time>coordinating timelines</h2>
    <p>Is this a case for custom events?</p>
    <p>
      Things get added into a container and they may fall outside of the view.
      For example, we're looking at 1900 onwards, and we find something from
      1700. We want to bump over to the left so that 1700 is included. We could
      do this by firing an event at the container. An event saying way, that
      something was added which has one or more dates attached. We can capture
      this event just as we can other DOM events. And there's some sense to it,
      in that the properties to be set also cascade.
    </p>
    <p>
      I think this could be used to bubble
      <q>something was added to the timeline</q> to the place where the bounds
      are set.
    </p>
    <p>
      But it's not clear that events will help for populating markers, which are
      <em>below</em> the place where the bounds are set, and should be done in
      response to <em>that</em>. These are really two different things. One
      prompts the change in view, and the other responds to it.<time
        datetime="2023-05-14T15:05:29Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-05-14T15:05:49Z"></time>Again, I'm good with the
      first one being an event because it only makes sense in the context of a
      view: some content is being added to the DOM which we want to be visible,
      and the way we make it visible is by updating style properties on a
      containing element.
    </p>
    <p>
      We could also fire an event at the container when its bounds
      <em>do</em> change, to say that they <em>did</em>. But we don't
      necessarily know what element that's going to be. The marker container
      would have to listen to a specific element. It won't bubble
      <q>down</q> into the container, and capture won't help either unless the
      marker container were in the target stack.<time
        datetime="2023-05-14T15:09:43Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-05-14T15:18:45Z"></time>Also, if I'm going to go this
      far, then I really should wire these things to attributes. It would run
      something like this:
    </p>
    <ul>
      <li>
        define attributes for the min (inclusive) and max (exclusive) bounds of
        a timeline view
      </li>
      <li>
        observe those attributes (using mutation observer) and sync to the
        corresponding style properties
      </li>
    </ul>
    <p>
      That by itself would allow for a kind of direct interactive control over
      the timeline bounds, to the extent that you can edit attributes
      interactively.<time datetime="2023-05-14T15:22:35Z"></time>
    </p>
    <p>
      <time datetime="2023-05-14T15:41:24Z"></time>Events are for saying that
      something <em>did</em> happen, not for telling something <em>to</em> be
      done. And even then, they're not as good for talking to subtrees as they
      are for listening to subtrees.<time
        datetime="2023-05-14T15:44:02Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-05-14T16:41:14Z"></time>Oh boy. I am just noticing
      that negative dates do <strong>not</strong> sort lexically. ISO never
      makes any claims about negative dates, but I am only just processing that
      fact. This means a special comparison function is needed. It's a simple
      function, but it also means that simple indexes won't suffice for reading
      chronologically across year zero. This probably explains the jumps that I
      was seeing.<time datetime="2023-05-14T16:44:09Z"></time>
    </p>
    <p>
      <time datetime="2023-05-14T16:55:53Z"></time>Yeah now that I have
      straightened that out, I can see how the index switches direction.<time
        datetime="2023-05-14T16:56:17Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-05-14T17:30:04Z"></time>I'm finding that it's just as
      easy to observe the attribute as to have an event. Easier, in fact, if the
      attribute is the source of truth, since otherwise you're obligated to make
      more stuff.<time datetime="2023-05-14T17:31:26Z"></time>
    </p>
  </section>
</article>
