<article>
  <meta charset="utf=8" />
  <h2><time datetime="2023-04-09T15:12:21Z"></time>fixing snapshot</h2>
  <p>
    A few weeks ago I made a <q>snapshot</q> command for sourdough. Well I
    suppose it was <time datetime="2023-03-24">March 24</time>. Because yeah I
    am my own Taylorian overlord.
  </p>
  <p>
    <time datetime="2023-04-09T15:16:08Z"></time>And in fact I am still sitting
    in a directory called <code>2023-03-24</code>. Presumably because I never
    got snapshot working quite right. When I run it right now, anyway, I get a
    bunch of errors
  </p>
  <pre>
date: unrecognized option '--format=%a'
Try 'date --help' for more information.
date: unrecognized option '--format=%Y'
Try 'date --help' for more information.
date: unrecognized option '--format=%Y-%m'
Try 'date --help' for more information.
date: unrecognized option '--format=%Y-%m-%D'
Try 'date --help' for more information.
date: unrecognized option '--format=%Y-%m-%DT%H'
Try 'date --help' for more information.
date: unrecognized option '--format=%Y-%m-%DT%H:%M'
Try 'date --help' for more information.
date: unrecognized option '--format=%Y-%m-%DT%H:%M:%sZ'
Try 'date --help' for more information.
mkdir: cannot create directory ‘./../-zWoED5-’: File exists
tar: ./../-zWoED5-: Not found in archive
tar: Exiting with failure status due to previous errors
</pre
  >
  <p>and the following files</p>
  <pre>
  -rw-rw-r-- 5502500 04-09 11:20 --snapshot.tar.gz
  -rw-------       0 04-09 11:20 -zWoED5-
  </pre>
  <p>
    <time datetime="2023-04-09T15:27:27Z"></time><code>--format=</code> is not a
    thing in the <code>date</code> command; you use <code>+</code>. I don't know
    where I got that idea, except that that's how every other command
    works.<time datetime="2023-04-09T15:28:09Z"></time>
  </p>
  <p>
    <time datetime="2023-04-09T15:33:43Z"></time>Now I get the file and the
    directory
  </p>
  <pre>
  -rw-rw-r-- 5503629 04-09 11:33 2023--snapshot.tar.gz
  drwxrwxr-x    4096 04-09 11:33 2023Sun
</pre
  >
  <p>
    which is almost right (since I don't have any other snapshots right now),
    and the errors:
  </p>
  <pre>
tar: ../2023Sun: Not found in archive
tar: Exiting with failure status due to previous errors
</pre
  >
  <p>
    <time datetime="2023-04-09T15:36:40Z"></time>Oh and also the archive
    includes too much stuff. The generated files under
    <code>wiki/persons/en</code> should be ignored.
  </p>
  <p>
    <time datetime="2023-04-09T16:08:50Z"></time>Okay, working in a scratch
    directory I may have found the right incantation to clean this up.
  </p>
  <p>
    <time datetime="2023-04-09T16:28:08Z"></time>Still not working back in the
    script, though. No matter what I do, <code>tar</code> doesn't respect the
    ignores.
  </p>
  <p>
    Well, I have to stop for now. This is still pretty far from correct.<time
      datetime="2023-04-09T16:32:06Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-04-10T13:17:29Z"></time>I'm out of time again, but here
    are my findings from this morning. In short, it seems that
    <code>tar</code> is not up to the task of distinguishing the files we want.
  </p>
  <pre>
$ find -type f ! -path './.git/*'
./foo/whatever
./blah/.gitignore
./blah/story
./blah/lies
$ cat ./blah/.gitignore
lies
$ tar --create --file=/dev/null --exclude-vcs --exclude-vcs-ignores --verbose .
./
./foo/
./foo/whatever
./blah/
./blah/story
$ echo '/lies' &gt; blah/.gitignore 
$ tar --create --file=/dev/null --exclude-vcs --exclude-vcs-ignores --verbose .
./
./foo/
./foo/whatever
./blah/
./blah/story
./blah/lies
$ git ls-files --others --exclude-standard --ignored 
blah/lies
  </pre>
  <p>
    <time datetime="2023-04-10T13:22:14Z"></time>As seen here, and as
    corroborated in
    <a href="https://unix.stackexchange.com/a/567159">this post</a>, it looks
    like the <code>--exclude-vcs-ignores</code> does not treat
    <code>/</code>-prefixed ignore entries the same way that Git does.
  </p>
  <p>
    <time datetime="2023-04-10T13:27:52Z"></time>This is unfortunate, since
    that's how Tup (correctly) generates all ignore entries. Without the leading
    slash, the directives would apply throughout the subdirectory, which is not
    the intent.
  </p>
  <p>
    <time datetime="2023-04-10T13:29:45Z"></time>Once again, this is exactly the
    kind of problem that stops people from successfully gluing things
    together.<time datetime="2023-04-10T13:30:15Z"></time>
  </p>
</article>
