<article>
  <meta charset="utf-8" />
  <h1><time datetime="2023-05-16T02:11:46Z"></time>dating issues</h1>
  <p>You know, how dating is sometimes problematic?</p>
  <p>Calendars are messy, okay.</p>
  <p>
    Here I'd like to settle <q>once and for all</q> a couple of problems that
    have lingered for a while.
  </p>
  <section>
    <h2><time datetime="2023-05-16T02:14:04Z"></time>BC dates</h2>
    <p>
      As I note elsewhere, the ISO 8601 docs do not provide a definite
      interpretation of <q>negative</q> dates, though the syntax does allow for
      them.
    </p>
    <p>
      Nevertheless, I find in multiple places the claim that year zero,
      expressed <code>0000</code> in ISO, means <q>1 BCE</q>, and that
      <code>-0001</code> means 2 BC and <code>-0002</code> means 3 BC and so on.
      For example,
    </p>
    <blockquote>
      <h2>
        Can I write BC dates and dates after the year 9999 using ISO 8601?
      </h2>
      <p>Yes, you can.</p>
      <p>
        The year 1 BC must be written as 0000. The year 2 BC must be written as
        -0001, the year 3 BC must be written as -0002 etc.
      </p>
      <p>
        Years of more than 4 digits must be written with an initial plus sign.
        Thus the year AD 10000 must be written as +10000.
      </p>
      <cite
        ><a href="https://www.tondering.dk/claus/cal/iso8601.php#bcdates"
          ><q>ISO 8601</q> from <q>The Calendar FAQ</q> at www.tondering.dk
        </a></cite
      >
    </blockquote>
    <p>Wikipedia says, citing <q>Annex B.1.1 of the standard</q>,</p>
    <blockquote>
      <p>
        An expanded year representation... must be prefixed with a + or −
        sign[21] instead of the more common AD/BC (or CE/BCE) notation; by
        convention 1 BC is labelled +0000, 2 BC is labeled −0001, and so on.
      </p>
      <cite
        ><a href="https://en.wikipedia.org/wiki/ISO_8601#Years"
          >ISO 8601</a
        ></cite
      >
    </blockquote>
    <p>
      So the thing for me to resolve right now is, is that what I'm doing?<time
        datetime="2023-05-16T02:23:36Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-05-16T02:41:45Z"></time>All of the previous/next
      tests pass, but my labeling is off-by-one:
    </p>
    <pre>Assertion failed: label(-0001) got 1 BC vs 2 BC</pre>
    <p>Hahaaa:</p>
    <pre>
      if (type === "Year") {
        // TODO: wait BC years are off-by one, aren't they?
        return `${Math.abs(int(parsed.year))}${maybe_bc}`;
      }
    </pre>
    <p><time datetime="2023-05-16T02:48:10Z"></time>Okay, I've fixed that.</p>
  </section>
  <section>
    <h2><time datetime="2023-05-16T02:49:17Z"></time>BC millennia</h2>
    <p>
      There are problems with BC decades too, but my most immediate problem is
      an outright crash when broadening from BC centuries to millennia—both of
      which entail questions of their own.
    </p>
    <p>
      BC dates and centuries are both obscure topics in ISO. BC centuries are
      about the limit of obscurity. <q>ISO 8601 as a service</q> (from
      <a href="https://ijmacd.github.io/rfc3339-iso8601/"
        >the Venn diagram site</a
      >) returns <output>{ "error": "Cannot parse input" }</output> when given
      <code>-20</code>. The only explicit place I know this to be addressed,
      ACDH, I know to be unreliable on the matter of century numbering. But what
      does it say?
    </p>
    <p>
      <time datetime="2023-05-16T03:00:02Z"></time>It returns nothing for
      <code>-00</code> but for <code>-01</code> it answers
      <q>1st century BC</q>, which
      <q>started on the first day of 100 BC and ended on the last day of 1 BC</q
      >. In other words, the period from <code>-0099</code> to
      <code>0000</code>. These are all of the years that start with
      <code>-00</code>.
    </p>
    <p>
      <time datetime="2023-05-16T03:03:54Z"></time>It follows that
      <code>-02</code> is the second century BC. ACDH currently returns a very
      limited answer for this. I quoted something very simliar in the last
      couple of days. It answers the present question, how do we write the
      containing millennium?
    </p>
    <pre>
&lt;https://vocabs.acdh.oeaw.ac.at/date/-0999/0000&gt;
  skos:narrower &lt;https://vocabs.acdh.oeaw.ac.at/date/-02&gt;
    </pre>
    <p>
      This is the thing that's currently crashing, with
      <output
        >Assertion failed: broader(-01) got -0001/-1000 vs -0999/0000</output
      >.<time datetime="2023-05-16T03:09:29Z"></time>
    </p>
    <p><time datetime="2023-05-16T03:19:43Z"></time>Wow, this is very wrong:</p>
    <pre>
{
  "input": "-01",
  "type": "Century",
  "day": "-01",
  "month": "-01",
  "year": "-01",
  "decade": "-01",
  "bc": "-",
  "century": "01"
}
    </pre>
    <p>But one thing at a time.</p>
    <p>
      <time datetime="2023-05-16T03:32:35Z"></time>Okay, I'm passing all tests
      now. Apparently the
      <a href="https://en.wikipedia.org/wiki/10th_century_BC"
        >10th century BC</a
      >
      belongs to the first millennium BC. This program is now 1,400 lines.<time
        datetime="2023-05-16T03:33:40Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-05-16T03:34:14Z"></time>Ugh, it
      <em>still</em> crashes when I search <q>plato</q>:
      <output>Error: Coerce got bad date -0999/0000</output>. This means it
      can't parse that date. I need to add next/previous tests for
      millennia.<time datetime="2023-05-16T03:35:16Z"></time>
    </p>
    <p>
      <time datetime="2023-05-16T03:36:44Z"></time>For centuries as well,
      apparently:
    </p>
    <pre>
Assertion failed: next(-02) got 03 vs -01
Assertion failed: prev(-01) = -02, got 00
    </pre>
    <p>
      <time datetime="2023-05-16T03:42:12Z"></time>I fixed next/prev for BC
      centuries.<time datetime="2023-05-16T03:42:22Z"></time>
    </p>
    <p>
      <time datetime="2023-05-16T03:43:42Z"></time>Yeah these functions are
      emitting millennia that fail <code>parse</code>, which should never
      happen.<time datetime="2023-05-16T03:44:02Z"></time>
    </p>
    <p>
      <time datetime="2023-05-16T03:56:39Z"></time>The code's now finding errors
      in my tests.<time datetime="2023-05-16T03:56:47Z"></time>
    </p>
    <p>
      <time datetime="2023-05-16T04:01:10Z"></time>Woot, fixed all.<time
        datetime="2023-05-16T04:01:16Z"
      ></time>
    </p>
  </section>
  <section>
    <h2>
      <time datetime="2023-06-30T04:33:54Z"></time>cleaning up the corners
    </h2>
    <p>That was only six weeks ago?</p>
    <p>I didn't answer all of the questions, nor fix all of the bugs.</p>
    <p>
      I've corrected the <em>sequence</em> of BC centuries, but I still map them
      to years incorrectly. According to Wikipedia,
    </p>
    <blockquote>
      <p>
        The
        <b
          >1st century
          <a href="https://en.wikipedia.org/wiki/Before_Christ">BC</a></b
        >, also known as the <b>last century BC</b> and the
        <b
          >last century
          <a href="https://en.wikipedia.org/wiki/Common_Era">BCE</a></b
        >, started on the first day of
        <a href="https://en.wikipedia.org/wiki/100_BC">100 BC</a> and ended on
        the last day of <a href="https://en.wikipedia.org/wiki/1_BC">1 BC</a>.
      </p>
      <cite
        ><a href="https://en.wikipedia.org/wiki/1st_century_BC"
          >1st century BC</a
        ></cite
      >
    </blockquote>
    <p>I also do not account for the two special decades.</p>
    <blockquote>
      <p>
        The <b>0s BC</b> were the period between 9 BC and 1 BC, the last nine
        years of the
        <a href="https://en.wikipedia.org/wiki/Before_Christ">before Christ</a>
        era. It is one of two
        <a href="https://en.wikipedia.org/wiki/Decade#0-to-9_decade"
          >"0-to-9" decade</a
        >-like timespans that contain nine years, along with the
        <a href="https://en.wikipedia.org/wiki/0s">0s</a>.
      </p>
      <cite><a href="https://en.wikipedia.org/wiki/0s_BC">0s BC</a></cite>
    </blockquote>
  </section>
</article>
