<article>
  <h1><time datetime="2023-04-06T01:39:13Z"></time>lifespans</h1>
  <p>
    In the last round of work, I developed a database of historical persons,
    including their dates of birth and death. In this round, I will present that
    information graphically.
  </p>
  <p>
    <time datetime="2023-04-06T01:42:57Z"></time>Exactly <em>how</em> I put
    together the database left much to be desired, and it will need to be
    revisited. Yet, the product of the work is usable as-is and should not
    trouble my proceeding here.
  </p>
  <p>
    <time datetime="2023-04-06T01:46:46Z"></time>We cannot escape the question
    of <q>how</q> here, either, nor can we escape getting it wrong in some
    significant ways. Yet I can say for sure that I will not make any JavaScript
    mistakes in the first round. I will do this by avoiding JavaScript
    altogether. The first version of this will use only XSLT and CSS. I will
    make some small effort to stick to XSLT that can also run (natively) in the
    browser, although I don't suspect that I'll use the same input format there
    anyway.
  </p>
  <p></p>
  <ul data-ruler-from-year="1900" data-ruler-to-year="1929"></ul>
  <ul data-persons="asdf">
    bruh
  </ul>
  <footer>
    <details>
      <summary>stylesheet</summary>
      <style>
        html {
          background-color: hsl(200deg, 15%, 20%);
          color: hsl(180deg, 20%, 50%);
        }
        script,
        style {
          display: block;
          white-space: pre-wrap;
          font-family: var(--font-family-sans-serif, sans-serif);
        }
        a {
          text-decoration-thickness: 2pt;
          text-decoration-color: LinkText;
        }
      </style>
    </details>
  </footer>
</article>
