<article>
  <meta charset="utf-8" />
  <h1><time datetime="2023-03-30T02:37:39Z"></time>memento mori</h1>
  <p>This notebook is about bringing people together.</p>
  <p>Mostly dead people.</p>
  <p>
    Today's maps make the Earth look like a <q>solved problem</q>. We talk very
    definitely about <em>where</em>, with common points of reference. I can fly
    to an absurdly local map of your block, as easily as you to mine. The map
    <em>is</em> the terrain.
  </p>
  <p>
    Time, however, does not look like a solved problem. Not in any thing that
    I've seen. If anything, I'd say it's getting worse.
  </p>
  <p>
    Yes, we have calendars, but only for the near future. We don't look back,
    and <em>we don't back up</em>. I don't just mean that
    <a href="https://www.worldbackupday.com/en">World Backup Day</a> comes and
    goes without our poking the bear; I mean, we don't step back and scale out.
    We cannot pinch and zoom to see Homer. We can't even scroll to Jesus, who,
    after all, lies right at the origin.
  </p>
  <p>
    Posit: we don't want to see what time really looks like, not any more than
    we wanted to see the pale blue dot. We don't want to turn our shared
    timeline into a place, with landmarks and everything. It's not because of
    the past, though. It's because of the future. We can't unsee where our
    plotlines end.<time datetime="2023-03-30T02:48:23Z"></time>
  </p>
  <p>
    It gets worse. The way to test this hypothesis is by writing software. Can
    you tell I'm having a life crisis?
  </p>
  <p>
    <q>Sourdough</q> is a term I may use from time to time. Around here, it's
    also known as <q>the system.</q> The system is a small blob that you carry
    around that is all about survival.
  </p>
  <p>
    I won't say much about <a href="https://gittup.org/tup/">Tup</a>. I promise.
    Tup is the underlying engine, and it's a wonderful little thing. It's all
    about files and commands. I prefer to start with truth and domains. Tup is a
    rule-based system that we treat as a truth maintainer for files.
  </p>
  <p>So much for the system.</p>
  <p>
    Anything that is not the system is called <q>userland</q> or
    <q>userspace</q>.
  </p>
  <p>
    Those are terms of art in computer world which, never mind what they mean.
  </p>
  <p>If I talk about userspace, —well, I'll just try not to do that.</p>
  <p>
    A common vision for userspace I assume is that of a general modeling
    environment, where for example timelines would share many abstractions with
    other forms, and could be so decomposed into their essences. A timeline is
    any model with an operative temporal force.
  </p>
  <p>
    Our mission today is to make a way of asking for timelines of historical
    persons, and then of getting them.
  </p>
  <p>
    So I can say, show period YYYY-YYYY, and the result is a list of names and
    figures from history placed according to
    <q>where</q> they lived on the shared timeline.
  </p>
  <p>
    We'll first create a roster of historical persons using a recipe that you
    can make locally. It takes a few hours of machine time.
  </p>
  <p>
    As I write this, it's impossible not to hear a voice saying, Why on Earth
    would you go down this road, either of making such a thing, or of troubling
    to write about it, or to be the one to read about it, or to replicate the
    experiment in your place, when llamas and alpacas are on call to render all
    such efforts mere excess?
  </p>
  <p>Don't worry, the voice goes away.</p>
  <p>
    The direct way to start is by looking for a database of famous people and
    their lifespans.
  </p>
  <p>
    We're going to start indirectly, by collecting a more general corpus of
    historical statements including births and deaths. And play with the rest
    another day.
  </p>
  <p>
    Specifically, we're going to download about 3,000 pages from Wikipedia,
    using their public API.
  </p>
  <p>Which 3,000? You ask? Well that's a great place to start.</p>
  <p>
    Timeline articles on the English Wikipedia are highly organized.
    Mechanically so. Consider the
    <a href="https://en.wikipedia.org/wiki/List_of_years">List of years</a>.
    That article links to nearly all of the substantive articles on the main
    timeline. The dregs can be got from the
    <a
      href="https://en.wikipedia.org/wiki/List_of_decades,_centuries,_and_millennia"
      >List of decades, centuries, and millennia</a
    >. That one is dominated by <q>decades</q> articles: 1240's, 1250's, etc. We
    ignore decades articles, because they are just templates that transclude the
    substance of the ten years' articles. That's why I said <q>substantive</q>.
    There are also many
    <a href="https://en.wikipedia.org/wiki/Category:Historical_timelines"
      >special-topic timelines</a
    >, which are highly irregular. We ignore those, too. That's why I said
    <q>main</q> timeline.<time datetime="2023-03-30T03:28:39Z"></time>
  </p>
  <center><time datetime="2023-03-31T03:22:42Z"></time>***</center>
  <h2><time datetime="2023-03-31T03:30:22Z"></time>resources</h2>
  <p>names can stand for faraway things</p>
  <p>faraway things do not always answer</p>
  <p>How the caching dilemma applies to notebooks:</p>
  <ol>
    <li>
      If you want the notebook to be light, you cannot add clippings forever.
    </li>
    <li>If you want the notebook to survive, you must carry all you require</li>
  </ol>
  <p><q>Vendor your dependencies</q>.</p>
  <p>
    Sure, those clippings are public. We could just write a citation instead.
    The thing itself can be gotten from the public record at some future date,
    when it's needed. And if that fails, then from the archives. And if that
    fails... oh, it's gone. Because
    <em>you</em> didn't keep a copy in your notebook, and now you can't prove
    that it ever was.
  </p>
  <p>
    So that's the dilemma. Write down the formula, sure. Make it repeatable,
    sure. But carry around the result? Not likely.
  </p>
  <p>
    We want to define an equivalence between a name and the thing that answers
    to it.
  </p>
  <p>
    Assuming that we cannot account for what kind of answer we might get, if we
    get an answer at all, this defines what's called a
    <dfn>non-deterministic</dfn> function. We cannot say much about it
    logically, except to protest some things we believe about what kind of
    answer it would give an’ if it did.
  </p>
</article>
