<article>
  <h1>
    <time datetime="2023-06-19T21:39:54Z"></time>in which we try linked Tup
  </h1>
  <p>
    This notebook contains a minimal experiment in connecting two Tup projects
    together in order to get around some of the limitations of dynamic rule
    generation.
  </p>
  <section>
    <h2><time datetime="2023-06-19T21:41:20Z"></time>Alice and Bob</h2>
    <p>
      I created two directories, <code>alice</code> and <code>bob</code>, with
      an empty <code>Tupfile.ini</code> in each.
    </p>
    <p>
      <time datetime="2023-06-19T21:56:59Z"></time>I put this into Bob's
      <code>Tupfile.lua</code>
    </p>
    <pre>tup.creategitignore()</pre>
    <p>And in Alice's:</p>
    <pre>
tup.creategitignore()

function fetch(url, file)
  local output = '../bob/'..file
  tup.definerule({
      command = 'curl --output '..output..' '..url,
      outputs = {output}
  })
end

fetch('https://api.wikimedia.org/core/v1/wikipedia/en/page/2000/html', 'en-wiki-timeline-2000.html')
fetch('https://willshake.net/plays/Ham/1.1', 'ws-plays-Ham-1.1.html')
</pre
    >
    <p>And I created a script in the root called <code>go.sh</code> saying</p>
    <pre>
#!/bin/sh

# Build both Alice and Bob

set -e

script_dir="$(cd "$(dirname "$0")" &amp;&amp; pwd)"

cd "$script_dir"

pushd "alice" > /dev/null
tup
popd > /dev/null

pushd "bob" > /dev/null
tup
popd > /dev/null

exit 0
</pre
    >
    <p>Running this script fails with</p>
    <pre>
tup error: Failed to find directory ID for dir '../bob/en-wiki-timeline-2000.html' relative to '.'
tup error [string "Tupfile.lua"]:5: Failed to execute rule.
</pre
    >
    <p>
      This is presumably because that directory isn't within the Tup project,
      since the directory undoubtedly does exist.
    </p>
    <p>
      <time datetime="2023-06-19T22:00:48Z"></time>I <q>fixed</q> that by
      marking <code>fetch</code>'s outputs as ignored. Of course, that's one of
      the problematic techniques that I am currently running away from. But in
      this case it's not nearly so bad, since those file are now regular files
      in another Tup project and thereby have a fresh start.<time
        datetime="2023-06-19T22:02:14Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-06-19T22:07:46Z"></time>Now I've added this to Bob's
      Lua file:
    </p>
    <pre>
tup.foreach_rule(
  "*.html",
  "sh -c 'grep title %f > %o'",
  "titles/%b"
)
    </pre>
    <p>which <q>works</q></p>
    <pre>
 1) [0.487s] sh -c 'grep title ws-plays-Ham-1.1.html > titles/ws-plays-Ham-1.1.html'
 0) [0.487s] sh -c 'grep title en-wiki-timeline-2000.html > titles/en-wiki-timeline-2000.html'
    </pre>
    <p>
      I had to write useless rules in order to avoid platform/quoting issues,
      but this satisfies the basic idea that you can pump things from one
      project to another.
    </p>
    <p>
      <time datetime="2023-06-19T22:09:41Z"></time>What about running the
      monitor? This is trickier because you have to keep track of background
      jobs, and running two of them means that you'd have to make traps, etc.
    </p>
    <p>
      Well, that will have to wait until another time since I'm on Windows and
      there's no monitor anyway.
    </p>
    <p>
      It <em>is</em> an adjustment to not just run <code>tup</code> to test
      every change, but that was never a meaningful thing to begin with.<time
        datetime="2023-06-19T22:13:11Z"
      ></time>
    </p>
  </section>
  <section>
    <h2><time datetime="2023-06-19T22:14:32Z"></time>uprooting</h2>
    <p>
      For my next trick, I will move send for the results from my previous
      notebook, <i>viz</i>, <code>web</code> and <code>xslt</code>.
    </p>
    <p>
      <time datetime="2023-06-19T22:18:39Z"></time>Now I see another consequence
      of this that I hadn't considered, which is that Alice and Bob will have to
      have separate copies of any Lua support routines that they use. At least,
      I assume they will. Can I include Lua files from outside of the project?
      And would Tup track changes to them? This is what full_deps is for, but it
      seems kind of heavy-handed for this, and I'm not sure it applies.
    </p>
    <p>
      <time datetime="2023-06-19T22:26:18Z"></time>Yeah, no it doesn't like
      that:
    </p>
    <pre>
tup error: Unable to find directory for include file '../common.lua' relative to '.'
t</pre
    >
    <p>
      Okay, well that's not great. The support blobs should generally be the
      same across the sub-projects, so having to keep those in sync is
      unfortunate.
    </p>
    <p>
      <time datetime="2023-06-19T22:30:15Z"></time>Well, and you're once again
      in the position of saying, I want to make the output of a rule ignored.
      This time around, I'll just start with <q>non-strict</q> functions: ones
      that return the description of a rule but don't actually register it.
    </p>
    <p>
      <time datetime="2023-06-19T22:43:47Z"></time>I glommed together the
      <code>www</code> and <code>web</code> blobs from the previous notebook and
      I'm not looking back. I used that to replicate what I was previously doing
      with the ad-hoc <code>curl</code> command. I think that's all for
      today.<time datetime="2023-06-19T22:44:58Z"></time>
    </p>
  </section>
  <section>
    <h2><time datetime="2023-07-17T15:22:18Z"></time>make it go</h2>
    <p>All right, where was I?</p>
    <p>
      If I run <code>go.sh</code>, I get green lights. What if I had a clean
      slate? I need a clean operation.<time
        datetime="2023-07-17T15:26:11Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-07-17T15:48:23Z"></time>I made a clean script. When I
      run a clean that leaves <code>.tup</code> directories alone—which is the
      way it <em>should</em> be—it does not actually rebuild anything. If I
      remove everything, incuding <code>.tup</code>, then everything gets
      rebuilt. Removing <code>.tup</code> is too much, as it nearly defeats the
      purpose of using tup at all. But it will suffice for my present
      purpose.<time datetime="2023-07-17T15:54:54Z"></time>
    </p>
    <p>
      <time datetime="2023-07-17T16:28:51Z"></time>So the next thing is to pull
      in XSLT functions.
    </p>
    <p>
      <time datetime="2023-07-17T17:07:53Z"></time>I brought in the XSLT
      functions and the first test succeeded, but the clean script wiped out
      some of the stuff I just copied over because it's untracked. These
      shouldn't have been deleted because they weren't explicitly ignored. I had
      used the
      <a
        href="https://git-scm.com/docs/git-clean#Documentation/git-clean.txt--x"
        ><code>-x</code></a
      >
      option (instead of
      <a
        href="https://git-scm.com/docs/git-clean#Documentation/git-clean.txt--X"
        ><code>-X</code></a
      >) because otherwise I couldn't specifically exempt the
      <code>.tup</code> directory. But that doesn't have the effect I want
      anyway.<time datetime="2023-07-17T17:12:44Z"></time>
    </p>
    <section>
      <h3>
        <time datetime="2023-07-17T18:56:28Z"></time>a new result, and not a
        good one
      </h3>
      <p>
        After some further work, I have Alice generating a cross-reference list
        and sending it to Bob. This cross-reference list is really the thing
        that's needed to build out the timeline—it's the externally-sourced
        part, anyway.
      </p>
      <p>
        The good news is that a clean build (<code>go.sh</code>) works. Alice
        fetches the <q>List of years</q> page, produces the date list, and
        writes it to Bob, who sees it as a regular file and does some nominal
        processing. If you run a clean (which wipes out basically everything),
        you can repeat the process.
      </p>
      <p>
        <time datetime="2023-07-17T19:06:03Z"></time>The bad news is that, if
        you delete <code>en-links</code>, the list file, then a second run
        doesn't re-create it because Alice marked it as ignored. Alice
        <em>must</em> mark it as ignored in order to be able to write to a
        location outside of the project. I believe there's no way around this.
      </p>
      <p>I can live with this.<time datetime="2023-07-17T19:09:51Z"></time></p>
    </section>
    <section>
      <h3>
        <time datetime="2023-07-17T21:01:41Z"></time>more good &amp; bad news
      </h3>
      <p>
        After more tinkering and learning some
        <a
          href="https://stackoverflow.com/questions/2705793/how-to-get-number-of-entries-in-a-lua-table#comment47545218_2705804"
          >surprising facts about Lua</a
        >, I finally got a build starting to pull these timeline articles. It's
        still pretty rough, as I've more or less started over from the last
        working version, but I don't see any reason why this won't work.
      </p>
      <p>
        However, I was unable to interrupt the process with <kbd>Ctrl+C</kbd>,
        and instead started seeing messages like this:
      </p>
      <pre>
 2807) [49.664s] powershell -version 3.0 -nologo -noninteractive -noprofile -File web/get.ps1 https://api.wikimedia.org/core/v1/wikipedia/en/page/114_BC/html wiki-en-114_BC
Attempting to perform the InitializeDefaultDrives operation on the 'FileSystem' provider failed.
 2806) [49.925s] powershell -version 3.0 -nologo -noninteractive -noprofile -File web/get.ps1 https://api.wikimedia.org/core/v1/wikipedia/en/page/158_BC/html wiki-en-158_BC
Attempting to perform the InitializeDefaultDrives operation on the 'FileSystem' provider failed.
      </pre>
      <p>
        These fetches are being run through Powershell, and I guess the
        interrupt isn't making it through.<time
          datetime="2023-07-17T21:05:24Z"
        ></time>
      </p>
    </section>
  </section>
  <section>
    <h2><time datetime="2023-07-18T11:55:22Z"></time>closing in</h2>
    <p>
      I'm offline at the moment, but I have a couple of dozen files downloaded
      (from before I had to kill the process).
    </p>
    <section>
      <h3><time datetime="2023-07-18T11:57:02Z"></time>killing powershell</h3>
      <p>
        About that, I mean killing a Powershell process running within Tup. I
        found that this didn't work here with a regular <kbd>Ctrl+C</kbd>, so
        let's see what's going on with that.
      </p>
      <p>
        I'll make a Powershell script that just sleeps for ten seconds and see
        whether I can't interrupt it when running through Cygwin, then from Tup
        (though Cygwin).<time datetime="2023-07-18T11:58:35Z"></time>
      </p>
      <p><time datetime="2023-07-18T12:06:27Z"></time>Okay this Lua script</p>
      <pre>
local this_script_dir = tup.getcwd()

tup.definerule({
    command = 'powershell -version 3.0 -nologo -noninteractive -noprofile -File '..this_script_dir..'/sleep.ps1',
    outputs = {'^StartupProfileData-NonInteractive'}
})
      </pre>
      <p>
        with <code>sleep.ps1</code> containing just <code>sleep 10</code>,
        completes normally when not interrupted, and with <kbd>Ctrl+C</kbd>, it
        stops cleanly as follows:
      </p>
      <pre>
 0) [0.796s] powershell -version 3.0 -nologo -noninteractive -noprofile -File ./sleep.ps1
 [ ] 100%
 *** tup: Remaining nodes skipped due to caught signal.

</pre
      >
      <p>
        <time datetime="2023-07-18T12:13:13Z"></time>If I change the command to
        a WebClient/DownloadFile, it fails immediately with
      </p>
      <pre>
* 0) powershell -version 3.0 -nologo -noninteractive -noprofile -File ./get.ps1 https://willshake.net ws-home.html
Exception calling "DownloadFile" with "2" argument(s): "The remote name could not be resolved:
'willshake.net'"
At C:\Users\gcannizzaro\research\sourdough\2023-juneteenth-poc\powershell-test\get.ps1:4 char:1
+ $webclient.DownloadFile($url, $file)
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [], MethodInvocationException
    + FullyQualifiedErrorId : WebException
      </pre>
      <p>since I'm offline.<time datetime="2023-07-18T12:14:09Z"></time></p>
      <p>
        <time datetime="2023-07-18T12:21:14Z"></time>Okay, I made a web server
        that sleeps 5 seconds for every response.
      </p>
      <p>
        <time datetime="2023-07-18T12:22:32Z"></time>Interrupting the
        tup-powershell fetch with <kbd>Ctrl+C</kbd> does lead to a clean exit,
        but not immediately.
      </p>
      <p>
        <time datetime="2023-07-18T12:28:50Z"></time>I tried running 4 of these
        concurrently. My <q>real</q> test was probably running 8. Interrupting
        doesn't actually halt immediately as it does during a curl command from
        bash. What about the powershell from bash, without Tup?<time
          datetime="2023-07-18T12:30:14Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-07-18T12:31:02Z"></time>Oh... I wonder if it's the
        <code>-NonInteractive</code> flag?
      </p>
      <p>No, that makes no difference.</p>
      <p>
        <time datetime="2023-07-18T12:49:39Z"></time>Is the command
        interruptible when run from powershell directly?
      </p>
      <p><time datetime="2023-07-18T12:52:02Z"></time>No.</p>
      <p>
        Possibly related:
        <a
          href="https://www.reddit.com/r/PowerShell/comments/4u6zvz/cannot_interrupt_invokerestmethod_with_ctrlc/"
          >Cannot interrupt invoke-RestMethod with Ctrl-C?</a
        >.
      </p>
      <p>
        <time datetime="2023-07-18T12:55:50Z"></time>More evidently related:
        <a href="https://stackoverflow.com/q/67143426"
          >PowerShell & Net.WebClient. Need clarification on jobs behaviour</a
        >
      </p>
      <p>
        <time datetime="2023-07-18T13:01:52Z"></time>That's as far as I'm going
        with this for now, and maybe ever. I haven't reproduced the
        <code
          >Attempting to perform the InitializeDefaultDrives operation on the
          'FileSystem' provider failed.</code
        >
        message, but maybe it's unrelated.<time
          datetime="2023-07-18T13:03:18Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-07-18T14:36:32Z"></time>It's doing 16 at a time,
        and I was able to eventually halt it after pressing
        <kbd>Ctrl+C</kbd> many times. Yeah, this is bad.<time
          datetime="2023-07-18T14:37:46Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-07-18T18:48:10Z"></time>I tried with
        <code>Invoke-WebRequest</code>, and found interactively in Powershell
        that, unlike <code>WebClient.DownloadFile</code>, you can interrupt it,
        although it's not behaving any better when run under tup. Surely I had
        some reason for not <code>Invoke-WebRequest</code> in the first place;
        yet surely not, because I have no notes about it.
      </p>
      <p>
        <time datetime="2023-07-18T18:53:27Z"></time>After some further testing,
        I find that this command can be interrupted with <kbd>Ctrl+C</kbd>,
      </p>
      <pre>
powershell -Version 3.0 -nologo -noprofile -noninteractive -Command 'Invoke-WebRequest -Uri http://localhost:8088 -OutFile invoke1'
      </pre>
      <p>but this one cannot:</p>
      <pre>
powershell -Version 3.0 -nologo -noprofile -noninteractive -Command "(New-Object System.Net.WebClient).DownloadFile('http://localhost:8088', 'client1')"
      </pre>
      <p>
        <time datetime="2023-07-18T18:59:59Z"></time>Oh, and incidentally, I
        also saw the
        <code>Attempting to perform the InitializeDefaultDrives operation</code>
        error when using <code>Invoke-WebRequest</code> as well.
      </p>
      <p>
        <time datetime="2023-07-18T19:10:40Z"></time>It looks like that error
        has to do with drive mappings and really, apart from the fact that it
        suggests powershell is trying to do something that it has no business
        doing here, I don't care about the message. I just want the process to
        be interruptible, when run under Tup.
      </p>
      <p><time datetime="2023-07-18T19:15:58Z"></time>I tried this</p>
      <pre>
powershell -Version 3.0 -nologo -noprofile -noninteractive -Command 'Start-BitsTransfer -Source http://localhost:8088 -Destination bits1'
      </pre>
      <p>
        and found that it's like <code>Invoke-WebRequest</code> in that I can
        interrupt it. Unfortunately, it also doesn't behave well under Tup. So
        I'm thinking that this is really a powershell thing, not about the
        commands I'm running? But I tried this initially with sleep, and it
        stopped.
      </p>
      <p>
        <time datetime="2023-07-18T19:19:36Z"></time>I mean, I
        <em>eventually</em> get to
        <code>Remaining nodes skipped due to caught signal.</code>, but it takes
        a long time and possibly a lot of interrupts.
      </p>
      <p>
        <time datetime="2023-07-18T20:12:41Z"></time>So, I can say it's not
        strictly a Tup+Powershell problem, because I <em>can</em> exit cleanly
        from the sleep script. Can I explicitly detect an interrupt from the
        script?
      </p>
      <p>
        <time datetime="2023-07-18T20:15:52Z"></time>I changed
        <code>sleep.ps1</code> to this:
      </p>
      <pre>
try {
	sleep 10
} finally {
	echo "you're done"
}
      </pre>
      <p>
        and interrupted it from Tup, but it didn't print the message. Nor does
        it print when I interrupt it from Powershell directly, despite what's
        said <a href="https://stackoverflow.com/a/10179946">here</a>. Ah, but
        <a
          href="https://learn.microsoft.com/en-us/previous-versions//dd315350(v=technet.10)?redirectedfrom=MSDN"
          >the linked page</a
        >
        says:
      </p>
      <blockquote>
        <p>
          Note that pressing CTRL+C stops the pipeline. Objects that are sent to
          the pipeline will not be displayed as output. Therefore, if you
          include a statement to be displayed, such as "Finally block has run",
          it will not be displayed after you press CTRL+C, even if the Finally
          block ran.
        </p>
      </blockquote>
      <p>
        <time datetime="2023-07-18T20:20:13Z"></time>I tried it with another
        effect though, and that didn't work either.
      </p>
      <p>
        <time datetime="2023-07-18T20:31:56Z"></time>I've retried with
        powershell versions through 6.0, with no observed difference.
      </p>
      <p>
        <time datetime="2023-07-18T20:36:12Z"></time>Could this be the problem?
      </p>
      <pre>
$ErrorActionPreference
Continue</pre
      >
      <p>
        <time datetime="2023-07-18T20:41:14Z"></time>Well, for one thing I guess
        I'm not actually running version 6. Why would versions 2 and 3 be
        installed but not 6, which is at least 6 years old?
      </p>
      <pre>
powershell -version 6.0 -nologo -noprofile -ErrorAction Stop
Cannot start Windows PowerShell version 6.0 because it is not installed.</pre
      >
      <p>
        <time datetime="2023-07-18T20:42:57Z"></time>And version 5 doesn't seem
        to know about <code>-ErrorAction</code>:
      </p>
      <pre>
powershell -version 5.0 -nologo -noprofile -ErrorAction Stop
-ErrorAction : The term '-ErrorAction' is not recognized as the name of a cmdlet, function, script file, or operable
program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ -ErrorAction Stop
+ ~~~~~~~~~~~~
    + CategoryInfo          : ObjectNotFound: (-ErrorAction:String) [], CommandNotFoundException
    + FullyQualifiedErrorId : CommandNotFoundException</pre
      >
      <p>
        <time datetime="2023-07-18T20:44:23Z"></time>I guess
        <code>-ErrorAction</code> is a
        <a
          href="https://learn.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_commonparameters?view=powershell-7.3"
          >common parameter</a
        >
        for <em>commands</em>, not for powershell itself.
      </p>
      <p>
        <time datetime="2023-07-18T21:47:53Z"></time
        ><a href="https://superuser.com/a/1302828">This</a> isn't working,
        either, starting a separate process to do cleanup. This was on the
        theory that the process was being killed without a chance to run any
        traps.
      </p>
      <p>
        <time datetime="2023-07-18T21:50:35Z"></time>Taking another tack, what
        if I run Tup with no parallelism, as I would do for the initial
        download, anyway? Can I at least interrupt the thing more easily?
      </p>
      <p>
        <time datetime="2023-07-18T21:51:33Z"></time>Well, now I'm offline
        again, so it fails right away. Need the local server again.
      </p>
      <p>
        <time datetime="2023-07-18T21:52:38Z"></time>Yeah, even with just four
        of these commands, the build becomes non-responsive for a while.
      </p>
      <p>
        <time datetime="2023-07-18T21:53:35Z"></time>Oh and apparently the BITS
        transfer doesn't work when offline, even if it's a local server:
      </p>
      <pre>
Start-BitsTransfer : There are currently no active network connections. Background Intelligent Transfer Service (BITS)
will try again when an adapter is connected.</pre
      >
      <p>
        <time datetime="2023-07-18T21:54:30Z"></time>Okay, okay, so this is a
        problem with multiple jobs. When I run <code>tup -j1</code>, I can stop
        it easily enough. Anything more than that (and the default will usually
        be more), and <kbd>Ctrl+C</kbd> does not—well hell—does not reliably
        stop the build. Just as I was typing that, I had a couple of times where
        it stopped right away, even with 4 jobs active. But every other time, it
        has become basically non-responsive, even longer (it seems to me) than
        the server's 10-second timeout. Or, one <kbd>Ctrl+C</kbd> will start to
        cancel, but it will remain hung up on the other active jobs. For
        example, this is the state with 4 jobs and default parallelism after one
        <kbd>Ctrl+C</kbd>:
      </p>
      <pre>
* 3) powershell -version 3.0 -nologo -noninteractive -noprofile -File ./get.ps1 http://localhost:8088 d.html
 *** tup messages ***
tup error: Expected to write to file 'd.html' from cmd 61 but didn't
 *** Command failed due to errors processing the output dependencies.
* 2) powershell -version 3.0 -nologo -noninteractive -noprofile -File ./get.ps1 http://localhost:8088 c.html
 *** tup messages ***
tup error: Expected to write to file 'c.html' from cmd 59 but didn't
 *** Command failed due to errors processing the output dependencies.
* 1) powershell -version 3.0 -nologo -noninteractive -noprofile -File ./get.ps1 http://localhost:8088 a.html
 *** tup messages ***
tup error: Expected to write to file 'a.html' from cmd 55 but didn't
 *** Command failed due to errors processing the output dependencies.
 [    ]  78%</pre
      >
      <p>
        But it waited on the fourth one for many seconds before finally stopping
        with <code>Remaining nodes skipped due to caught signal.</code
        ><time datetime="2023-07-18T22:02:54Z"></time>
      </p>
      <p>
        <time datetime="2023-07-26T12:20:48Z"></time>So this is where I left it.
        <kbd>Ctrl+C</kbd> does eventually cancel the job, but it takes a long
        time, like one or two minutes, during which time I have no idea what's
        going on.
      </p>
      <p>
        <time datetime="2023-07-26T12:26:00Z"></time>I guess I should mention
        that I don't have any other ideas. I don't know where it's getting stuck
        waiting—whether it's Tup or Powershell or the download command or what.
      </p>
      <p>
        <time datetime="2023-07-26T12:31:09Z"></time>Well actually the project
        under <code>powershell-test</code> is allowing me to quit immediately.
        So I need to see how that differs from <code>bob</code>.
      </p>
      <p>
        <time datetime="2023-07-26T12:32:05Z"></time>Ah, it lets me quit in
        cygwin, but not under powershell.<time
          datetime="2023-07-26T12:32:16Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-07-26T21:20:42Z"></time>Okay, I kept open
        <code>procexp.exe</code> while running the minimal test, and I can see
        that after tup has canceled <em>some</em> of the jobs upon receiving the
        interrupt signal, the outer powershell has a child
        <code>tup</code> process, which in turn has a child
        <code>powershell</code> process, which persists for many seconds before
        the whole thing is released. Does this have anything to do with the
        actual time taken for the server to respond?
      </p>
      <p>
        <time datetime="2023-07-26T21:24:38Z"></time>The thing is, it doesn't
        <em>always</em> fail. When I ran it again, a single interrupt killed all
        three processes and returned me to the host shell.
      </p>
      <p><time datetime="2023-07-26T21:25:55Z"></time>And a second time.</p>
      <p>
        <time datetime="2023-07-26T21:26:55Z"></time>Okay, this time I watched
        the server output while this was happening. What's really weird is that
        it didn't seem to <em>start</em> two of the requests until after the
        interrupt, and yes, when <em>those</em> requests completed naturally,
        the child powershell processes terminated and the shell recovered.
      </p>
      <section>
        <h4>
          <time datetime="2023-07-31T16:24:28Z"></time>...before it kills me
        </h4>
        <p>
          I have soured on Tup sufficiently that I'm willing to see a
          Tup-specific problem as not worth solving—provided that I have some
          kind of mitigation for it in the meatime. (That is, in the meantime
          before I replace Tup with something else, which won't be soon.)
        </p>
        <p>
          The most promising prospect is just to run <code>tup -j1</code>, on
          the belief that this can always be interrupted. I would have to do
          that anyway, since I don't have a way of throttling requests on a
          per-host basis, and <code>-j1</code> is already how I was avoiding the
          problem in the <q>real</q> build.
        </p>
        <p>
          <time datetime="2023-08-01T11:56:27Z"></time>Okay, as far as I can
          tell, <code>-j1</code> allows me to exit at any point from either bash
          or powershell. That's good enough.
        </p>
      </section>
    </section>
  </section>
  <section>
    <h2><time datetime="2023-08-01T12:25:07Z"></time>resuming</h2>
    <p>
      I have only a couple of minutes left on the train. I made a Powershell
      script for calling Alice and Bob, so that you can run the thing without
      bash. I'm offline, but it's pretty clear that this would go ahead and
      download all of the files in the cross-reference list.
    </p>
    <p>
      After that, the files must go through two pipelines: persons, and events.
    </p>
    <p>
      Those are currently implemented with a mix of XSLT and bash, but mostly
      XSLT. The XSLT should work as-is in Windows with <code>xsltproc</code>,
      which I have installed, though I don't think I've ever tried on Windows
      with extensions. The bash stuff may need to be rewritten.<time
        datetime="2023-08-01T12:30:44Z"
      ></time>
    </p>
    <section>
      <h3><time datetime="2023-08-01T20:54:21Z"></time>a decision</h3>
      <p>
        I need to say something about what to do with each of the timeline
        articles that I've collected. I have two basic choices:
      </p>
      <ol>
        <li>
          Use a <code>foreach</code> rule with a glob pattern on a directory
          where the timeline articles go
        </li>
        <li>
          use knowledge of the list of timeline articles from within Lua to
          generate the individual rules outright
        </li>
      </ol>
      <p>
        I believe the second approach is better, but let's just outline the
        reasoning.
      </p>
      <p>
        I can think of two <q>advantages</q> of the <code>foreach</code> method.
        It would ues less (Lua) code. Actually I think that's the only
        advantage. I was thinking it would be more useful when offline, in that
        it would let me process <q>whatever I have</q>, <i>versus</i> whatever
        I'm supposed to have. For example, right now I'm offline but I have a
        couple of dozen files already downloaded. I could test downstream
        processing of those files without having to have the entire collection.
        But I can do that regardless by giving Tup specific targets to build in
        any case.
      </p>
      <p>
        As for it being <q>less code</q>, I think that's an illusion too, since
        it uses more features. <code>foreach</code> is just syntactical sugar,
        as I understand it. Tup is just going to project the rule into many
        rules based on whatever it expects to be in that directory (i.e. match
        that pattern) at that point.
      </p>
      <p>
        And there is an advantage to projecting the rule myself, which is that I
        can give the rules direct knowledge of the ISO date associated with the
        article, which I would otherwise have to look up again from the rule.
        Indeed, this accounts for most of the bespoke bash in the existing
        process.
      </p>
      <p>Okay, so let's do it.<time datetime="2023-08-01T21:04:43Z"></time></p>
      <p>
        <time datetime="2023-08-01T21:11:46Z"></time>Yes, this is clearly better
        all around. Another lingering problem from the last one is that i was
        getting timeline articles from a common cache, which might include
        other, non-timeline articles or indeed, anything ever fetched from the
        web. Using the index is the only way to limit the scope to the intended
        articles, and I have it in memory already anyway.
      </p>
    </section>
  </section>
  <section>
    <h2><time datetime="2023-08-08T12:04:02Z"></time>people revisited</h2>
    <p>Now it's time to rebuild the people collection.</p>
    <p>
      Since I'm on the train, I'm going to put in a way to restrict the scope of
      articles to a few files that I happen to have downloaded already. A nice
      thing about the foregoing change is that I have Lua, not just glob at my
      disposal.<time datetime="2023-08-08T12:06:35Z"></time>
    </p>
    <p>
      <time datetime="2023-08-08T12:07:39Z"></time>Actually this is still a bit
      tricky, since Tup will <em>delete</em> files that I tell it are no longer
      to be fetched (since I'm once again not using a cache). But if I do the
      filter further downstream, it will still try to fetch them all.<time
        datetime="2023-08-08T12:08:57Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-08-08T12:09:49Z"></time>But remember, you can also
      restrict the scope of the build.<time
        datetime="2023-08-08T12:10:17Z"
      ></time>
    </p>
  </section>
  <section>
    <h2>
      <time datetime="2023-08-08T22:07:02Z"></time>things are falling into place
    </h2>
    <p>
      With much hacking and cutting of corners, I got a people JS here, with
      just a few entries. I also tested the pan &amp; zoom, which works the same
      as on Linux whether or not you have any data.
    </p>
    <p>
      There's a ton of work stlil to do. I want to sketch out a new approach to
      the
      <q>build</q>. But overall it's going well right now.<time
        datetime="2023-08-08T22:09:24Z"
      ></time>
    </p>
  </section>
  <section>
    <h2><time datetime="2023-08-14T20:38:45Z"></time>web cache revisited</h2>
    <p>So close, and yet so far.</p>
    <p>
      I am certainly coming full-circle now, in that I could soon run a command
      here that would build this whole thing.
    </p>
    <p>
      But I still don't have a satisfactory solution for web fetching, not
      really on Windows or otherwise. The <q>get</q> script on Windows is
      literally just this:
    </p>
    <pre>
param ($url, $file)

$webclient = New-Object System.Net.WebClient
$webclient.DownloadFile($url, $file)

Start-Sleep -Seconds 2
    </pre>
    <p>
      And while the bash version is better, it still relies on external means to
      prevent concurrent requests.
    </p>
    <p>
      <time datetime="2023-08-14T20:46:10Z"></time>So what to do? Do I need to
      solve this now? I'm afraid I do. To call a build reproducible, I would be
      saying that anyone should be able to try it, and as things stand, such a
      person (if such a person be) is almost sure to get bad results.
    </p>
    <p>
      <time datetime="2023-08-14T20:57:07Z"></time>Well. Suppose I change 2
      seconds to 30 seconds, and just keep running this with <code>-j1</code>.
      Sure, the initial download will take hours, but it will take hours
      regardless. The only problem then is that if you delete the project
      directory, well then you have to start over. I'm counting that as a
      <q>bad result</q>.
    </p>
  </section>
  <section>
    <h2><time datetime="2023-09-05T12:10:39Z"></time>fetch script ported</h2>
    <p>
      I've ported the <code>get.sh</code> script to Powershell and just
      completed my first successful tests. I ran two tests using files that were
      already in my cache, and when I'm online again, I'll test again with a new
      file.
    </p>
    <p>
      As a bonus, it looks like I can make links without elevated privileges
      <em>or</em> Developer mode, despite my findings from my last review, which
      indicated there was no way around this. I say <q>possibly</q> because I
      used a <q>hard link</q>, not whatever it is that <code>mklink</code> does.
      I've seen hints that hard links could cause unexpected problems, and I
      haven't yet seen how Tup will deal with them.<time
        datetime="2023-09-05T12:16:40Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-09-05T12:17:37Z"></time>Meanwhile, this script is
      shorter than the bash version and doesn't call any subprocesses, though
      I'm sure it's slower by a factor given the overhead to lower
      powershell.<time datetime="2023-09-05T12:19:02Z"></time>
    </p>
    <p>
      <time datetime="2023-09-05T12:32:27Z"></time>Yes, at a glance, it looks
      like Tup isn't recognizing this as a file.<time
        datetime="2023-09-05T12:32:36Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-09-05T13:03:22Z"></time>Ah, looking again, it's
      complaining about the file that I <em>did</em> write. Now that I'm using
      the cache again, I need to tell Tup to ignore those outputs (even though
      they're outside of the project).
    </p>
    <p>
      <time datetime="2023-09-05T13:31:20Z"></time>Okay, <em>now</em> it's
      complaining that
    </p>
    <pre>
tup error: Expected to write to file 'en-wiki-timeline-2000.html' from cmd 56589 but didn't
    </pre>
    <p>
      So actually it has both problems: needing to ignore the cache output, and
      not recognizing the link.
    </p>
    <p>
      <time datetime="2023-09-05T13:58:20Z"></time>In a standalone test, Tup
      <em>does</em> recognize the hard link as satisfying the output condition,
      which is encouraging. However, it does <em>not</em> delete the file when I
      remove the rule. It also doesn't re-create the file if I delete it and
      restore the rule. Nor does it complain in that case, but indicates it
      succeeded. Strangely, it doesn't crash when powershell reports
    </p>
    <pre>
[ tup ] [0.027s] Executing Commands...
 0) [0.422s] powershell -version 3.0 -nologo -noninteractive -noprofile -File ./make-hard-link.ps1 a_hard_link dummy_link_source
New-Item : NewItemIOError
At C:\Users\gcannizzaro\research\sourdough\2023-juneteenth-poc\powershell-test\make-hard-link.ps1:5 char:5
+     New-Item -Type HardLink -Path "$Link" -Value "$Target"
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : ResourceExists: (C:\Users\gcanni...est\a_hard_link:String) [New-Item], IOException
    + FullyQualifiedErrorId : NewItemIOError,Microsoft.PowerShell.Commands.NewItemCommand

 [ ] 100%
[ tup ] [0.460s] Updated.
    </pre>
    <p>Although powershell may not be reporting that as a terminating error.</p>
    <p>
      Well, I was hoping to kick this off and fill my cache today. I suspect
      that I could make it work with <q>regular</q> symlinks, which, to wit, do
      require Developer mode and also must be run via <code>cmd.exe</code> for
      some damn reason.
    </p>
    <p>
      <time datetime="2023-09-05T14:07:55Z"></time>This 2012 discussion,
      <a
        href="https://groups.google.com/g/tup-users/c/8mu4m4MRyFo/m/4EfCVj5KwhcJ"
        >improve tup portability and use in production/deployment</a
      >, includes some mentions of symlinks on Windows, and I think symlinks are
      used in implementing variants (which AFAIK is supported on Windows). So
      their existence is on the radar. But that's symlinks, not hard links.
    </p>
    <p>
      <time datetime="2023-09-05T18:57:59Z"></time>I had the code screwed up.
      The results are that:
    </p>
    <ul>
      <li>
        powershell will create a hard link regardless of privileges, but Tup
        doesn't recognize it as having been output
      </li>
      <li>
        powershell will not create a symlink without Administrator, even with
        developer mode on
      </li>
      <li>
        powershell can call out to <code>cmd.exe</code> to create a symlink but
        <ul>
          <li>Tup still doesn't recognize it</li>
          <li>
            in powershell versions &lt;6, the command apparently briefly opens
            another terminal window in the background
          </li>
          <li>
            also in powershell versions &lt;6, it also writes some crazy
            directory structure like
            <code>%SystemDrive%/ProgramData/Microsoft/Windows/Caches</code> with
            3 files named like
            <code
              >{6AF0698E-D558-4F6E-9B3C-3716689AF493}.2.ver0x0000000000000001.db</code
            >
            totaling about 1MB of binary junk
          </li>
        </ul>
      </li>
    </ul>
    <p>
      <time datetime="2023-09-05T19:21:04Z"></time>So Tup doesn't recognize
      symlinks <em>or</em> hard links in Windows as outputs from a command. I
      haven't tried running as administrator, which I don't consider an option
      for normal usage but may give a clue about something.
    </p>
    <p>
      <time datetime="2023-09-05T19:26:26Z"></time>Administrator access doesn't
      change anything. Tup doesn't recognize a hard link that is very clearly
      made by the command.
    </p>
    <p>
      <time datetime="2023-09-05T19:29:57Z"></time>Sigh. Once again Tup snatches
      defeat from the jaws of victory. Just as I learn that we can make links in
      Windows without elevated privileges, it appears that no kind of link is
      viable with Tup anyway. I need to make my own system.
    </p>
    <p>
      <time datetime="2023-09-05T19:35:07Z"></time>I have one more test. Based
      on the above-linked post (again, from 2012), it sounds like Tup's
      technique for tracking file I/O on Windows has something to do with DLL
      injection. Perhaps if you write from a subprocess (such as cmd) then this
      doesn't work? And the other approaches don't work from powershell
      <i>per se</i>.
    </p>
    <p>
      <time datetime="2023-09-05T20:12:26Z"></time>Wow. I thought I was running
      powershell 6 earlier, but I guess not:
    </p>
    <pre>
PS > powershell -version 6.0 -nologo -noninteractive -noprofile -file ./make-symlink.ps1 a_symlink dummy_link_source
Cannot start Windows PowerShell version 6.0 because it is not installed.
    </pre>
    <p>So half of these tests haven't proven anything.</p>
    <p>
      <time datetime="2023-09-05T20:16:25Z"></time><em>Now</em> when I run this
      from Tup as Administrator, it recognizes a created symlink, it deletes it
      when the command is gone, and it re-creates it when the command is
      restored. It does <em>not</em> complain when there's a pre-existing one
      after wiping out <code>.tup</code>, which it would do with a normal file.
    </p>
    <p>
      Of course, all of that is kind of moot as such because there's no way that
      I'm running everything as Administrator. But it evidence of chinks in my
      captivity.
    </p>
    <p>
      <time datetime="2023-09-05T20:22:09Z"></time>However, even when run as
      administrator, Tup still doesn't recognize a hard link.
    </p>
    <p>
      <time datetime="2023-09-05T20:25:35Z"></time>And administrator doesn't
      change anything w.r.t. making a symlink via cmd.
    </p>
    <p>
      <time datetime="2023-09-05T20:29:22Z"></time>There's this from the Tup
      source:
    </p>
    <pre>
static int tup_fs_link(const char *from, const char *to)
{
	if(from || to) {}

	fprintf(stderr, "tup error: hard links are not supported.\n");
	return -EPERM;
}
    </pre>
    <p>
      But this is from <code>fuse_fs.c</code>, and FUSE is not used on Windows.
      This is the only mention of hard links that I find in the source. I'm not
      sure that hard links even existed on Windows when Tup was created.
    </p>
    <p>
      <time datetime="2023-09-05T20:52:06Z"></time>I tried the code in the
      article
      <a
        href="https://learn-powershell.net/2013/07/16/creating-a-symbolic-link-using-powershell/"
        >Creating a Symbolic Link using PowerShell</a
      >, which mimics what <code>mklink</code> does, but in my testing is
      subject to the same security rules as powershell, <i>viz</i>, that it only
      works as administrator.
    </p>
    <p>
      <time datetime="2023-09-05T20:55:16Z"></time>For the record, this is the
      point when I go rogue.
    </p>
    <p>
      <time datetime="2023-09-05T21:18:11Z"></time>So, the situation is like
      this:
    </p>
    <ul>
      <li>
        Hard links would be ideal for this purpose Windows because they don't
        require elevated privileges and are supported natively in all recent
        versions of Windows and Powershell.
      </li>
      <li>
        However, Tup doesn't recognize hard links <strong>at all</strong> on
        Windows.
      </li>
      <li>
        If you accept the requirement to enable Developer mode, then it's
        possible to create symlinks using <code>cmd.exe</code> (and, as far as I
        can tell, <em>only</em> that way)
      </li>
      <li>
        However, Tup doesn't recognize those, either, unless
        <em>it is running as administrator</em>, which is a non-starter
      </li>
    </ul>
    <p>
      <time datetime="2023-09-05T21:28:33Z"></time>Well, I made one more
      finding. Tup is just fine with symlinks created <em>from a BAT file</em>.
      Works link a charm. You can delete it and re-created. It even complains
      about a pre-existing one.
    </p>
    <p>
      <time datetime="2023-09-05T21:30:07Z"></time>Okay, now what about hard
      links created this way? Because <code>mklink</code> can do that, too.
    </p>
    <p>
      <time datetime="2023-09-05T21:34:31Z"></time>No. It creates it, but Tup
      doesn't see, Tup doesn't see.
    </p>
    <p><time datetime="2023-09-05T21:37:27Z"></time>Ah!</p>
    <pre>
mklink /H %1 %2
touch %1
    </pre>
    <p>
      I added the <code>touch</code> command, to trick Tup into thinking that
      the file was accessed, and it works! It deletes it when I delete the
      command too!
    </p>
    <p>
      Will this work from Powershell? Because I'd sure rather not have to
      involve <code>cmd</code> if I can avoid it.
    </p>
    <p>
      <time datetime="2023-09-05T21:43:26Z"></time>I have to run, but in short,
      yes, it looks like it can work.
    </p>
    <p>
      <time datetime="2023-09-05T21:45:14Z"></time>Yeah, powershell doesn't know
      about <code>touch</code>, and can't assume non-native commands anyway. But
      it appears there are any number of ways to achieve this, including
    </p>
    <pre>
Write-Output "" &gt;&gt; "$Link"
    </pre>
    <p>
      which appears not to affect the file, though I'd prefer something more
      benign like setting the modified timestamp back to whatever it was, etc.
    </p>
    <p>
      I'm going to stop here and keep my cynical skepticism to myself. This is a
      bug I can undetand and a workaround I can live with.<time
        datetime="2023-09-05T21:47:32Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-09-05T22:14:37Z"></time>Yes, setting the last write
      time to itself also works:
    </p>
    <pre>
$info = New-Object System.IO.DirectoryInfo($Link)
$info.LastWriteTime = $info.LastWriteTime
    </pre>
    <p>Now I need to incorporate this into the fetch script.</p>
    <p><time datetime="2023-09-05T22:21:12Z"></time>It works!</p>
  </section>
  <section>
    <h2>
      <time datetime="2023-09-05T22:21:45Z"></time>the environment problem
    </h2>
    <p>No, not the one you're drinking about.</p>
    <p>
      I've given a lot of latitude to Tup—more than anyone should give a piece
      of software, I reckon. But as a Tup user, I decided early on that
      <span style="font-variant: small-caps">Environment Variables</span> were
      radioactive and to be avoided. The basic reason for this being that they
      go against the thing you're trying to achieve, <i>viz</i> consistency and
      predictability. The main way that this manifested was that I would come
      back to a project after installing some software, which had changed my
      <code>PATH</code>, and Tup would rebuild
      <strong>everything</strong> because, well, my environment had changed. So
      I made it an article of faith that I should always use
      <code>--no-environ-check</code> and never reference environment variables,
      and that was that.
    </p>
    <p>
      Well, that leaves only one problem: what if I need an environment
      variable? The one in question here, of course, is the web cache path. I
      dodged this question for a while by supposing that I could live without an
      off-tree cache, but I've abandoned that abandonment.
    </p>
    <section>
      <h3>
        <time datetime="2023-09-07T17:26:28Z"></time>Tup <i>v</i> environment
      </h3>
      <p>Okay, let's set up a test project and settle this for good.</p>
      <p>
        <time datetime="2023-09-07T17:38:41Z"></time>It looks like Tup exposes a
        limited set of environment variables to child processes. Powershell
        <code>gci env:*</code> reports these:
      </p>
      <pre>
TEMP
HOME
PATH
CCACHE_NODIRECT
SYSTEMROOT
tup_vardict
TMP
PathEXT
PSMODULEPATH
      </pre>
      <p>
        The full list of variables, that is, what I get when running that
        outside of Tup, has 43 entries.
      </p>
      <p>
        If I say <code>tup.export('OS')</code> in the Lua file, as I have been
        doing, then <code>OS</code> is also included in the short list. Note
        that <code>OS</code> in particular does not present any conflict
        regarding <code>--no-environ-check</code>, because its value cannot
        sensibly change on any system. But in practice, I'm using
        <code>tup.getconfig('TUP_PLATFORM')</code> to detect Windows, and I
        don't expect to need more than that now that I'm splitting everything
        into separate POSIX/Powershell paths.
      </p>
      <p>
        <time datetime="2023-09-07T17:46:42Z"></time>According to ye
        <a href="https://gittup.org/tup/manual.html">Tup manual</a> section on
        "export VARIABLE",
      </p>
      <blockquote>
        <p>
          The export directive adds the environment variable VARIABLE to the
          export list for future :-rules and run-scripts. The value for the
          variable comes from tup's environment, not from the Tupfile itself.
          Generally this means you will need to set the variable in your shell
          if you want to change the value used by commands and scripts. By
          default only PATH is exported. Windows additionally exports several
          variables suitable for building with the Visual Studio compiler suite.
          Tup will check the exported environment variables to see if they have
          changed values between updates, and re-execute any commands that that
          use those environment variables.
        </p>
      </blockquote>
      <p>
        This sounds good. It means that commands not dependent on specific
        variables should not be re-run just because those variables have
        changed. And regarding <code>import VARIABLE[=default]</code>, it saith:
      </p>
      <blockquote>
        <p>
          The import directive sets a variable inside the Tupfile that has the
          value of the environment variable. If the environment variable is
          unset, the default value is used instead if provided. This introduces
          a dependency from the environment variable to the Tupfile, so that if
          the environment variable changes, the Tupfile is re-parsed.
        </p>
      </blockquote>
      <p>and</p>
      <blockquote>
        <p>
          Unlike 'export', the import command does not pass the variables to the
          sub-process's environment.
        </p>
      </blockquote>
      <p>
        <time datetime="2023-09-07T18:37:58Z"></time>It looks like the problem
        will come down to how I provide a default cache location. I want the
        following to be true:
      </p>
      <ul>
        <li>
          someone who just got the project can build it immediately in their
          default environment
        </li>
        <li>
          building in a default environment results in web downloads being
          cached off-tree (outside of the project directory)
        </li>
        <li>
          building with <code>WEB_CACHE</code> set to a directory causes the
          cache to be located there
        </li>
      </ul>
    </section>
    <section>
      <h3>
        <time datetime="2023-09-07T18:54:42Z"></time>where should application
        cache files go?
      </h3>
      <p>
        But where does the cache go by default? The answer will involve two
        components: a base path, and an arbitrary name. The arbitrary name is
        just that: we make something up. But for the base path, we need
        something distinguished. What are our options?
      </p>
      <ol>
        <li>the project directory</li>
        <li>the home directory</li>
        <li>the temp directory</li>
        <li>a system-defined place</li>
      </ol>
      <p>
        come to mind. The project directory is unlike the others in that we
        wouldn't put things <em>in</em> it—that's exactly what we're trying to
        avoid. But we can manufacture paths relative to it. That is not a very
        good option because it would be unexpected and would defeat the purpose
        of sharing a cache among multiple projects. I just had to mention it for
        completeness.
      </p>
      <p>
        The home directory is an obvious choice and it's what I've been using
        and more or less intend to use. It's not terribly unusual for
        applications to claim <q>dot</q> directories under
        <code>$HOME</code> and put mysterious things there. Even here on Windows
        I have a bunch of dot files and directories, including one called
        <code>.cache</code> which has two subdirectories for unrelated programs
        (<code>pip</code> and <code>org-persist</code>).
      </p>
      <p>
        The temp directory has the advantage that systems will generally give
        you a location where you can put things without asking. But of course we
        don't really want these files to be cleaned up. If you want to clear the
        cache, you can do it explicitly. Also, I find that (for better or worse)
        I need to inspect the cache often enough that I don't want to be digging
        around temp folders.
      </p>
      <p>
        <time datetime="2023-09-07T18:55:41Z"></time>The answer to this may be
        system-dependent. For example,
      </p>
      <ul>
        <li>
          <a href="https://stackoverflow.com/q/44718524"
            >Where should I store application caches on Windows?</a
          >
        </li>
        <li>
          <a href="https://stackoverflow.com/q/70078049"
            >What is equivalent of "$HOME/.cache" on Windows?</a
          >
        </li>
        <li>
          <a href="https://superuser.com/q/474157"
            >Where should I put my application cache for Unix-based apps?</a
          >
        </li>
        <li>
          <a href="https://unix.stackexchange.com/q/487746"
            >Where should I store my application files (data, cache, logs,
            crashes, etc.)
          </a>
        </li>
        <li>
          <a
            href="https://developer.apple.com/library/archive/documentation/MacOSX/Conceptual/BPFileSystem/Articles/WhereToPutFiles.html"
            >File System Overview</a
          >
          from Apple developer docs, which mentions cache but is superseded by
          <a
            href="https://developer.apple.com/library/archive/documentation/FileManagement/Conceptual/FileSystemProgrammingGuide/Introduction/Introduction.html#//apple_ref/doc/uid/TP40010672"
            >this</a
          >, which doesn't.
        </li>
        <li>
          <a
            href="https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch05s05.html"
            >5.5. /var/cache : Application cache data</a
          >
        </li>
      </ul>
      <p>
        <time datetime="2023-09-07T19:06:22Z"></time>For Linux (or at least,
        <q>FHS</q>) systems, I don't think that <code>/var/cache</code> is the
        answer because this is a user application (not a system application),
        and the cache would be specific to the user. The content is not, but the
        fact that Alice wanted X should not be visible to Bob, even if benign.
      </p>
      <p>
        <time datetime="2023-09-07T19:16:53Z"></time
        ><a href="https://stackoverflow.com/a/45759540">This</a> looks like a
        pretty good starting point, although the author actually accepted
        <a href="https://stackoverflow.com/a/44720479">this answer</a>, which
        also looks like a good lead.
      </p>
      <p>
        <time datetime="2023-09-07T19:20:05Z"></time>The
        <a href="https://refspecs.linuxfoundation.org/FHS_3.0/fhs-3.0.html"
          >latest version of FHS</a
        >, incidentally, does not mention <code>.cache</code>.
      </p>
    </section>
    <section>
      <h3><time datetime="2023-09-07T19:22:27Z"></time>all together now</h3>
      <p>
        So we can pick a place to put our cache, one way or another. How do we
        use that to achieve the goals I listed earlier?
      </p>
      <p>
        <time datetime="2023-09-07T19:28:58Z"></time> First of all, does Tup let
        me use one environment variable's value inside of another? Since
        <em>some</em> of those locations depend on <em>other</em> environment
        variables, <code>$HOME</code> in particular.
      </p>
      <p>
        <time datetime="2023-09-07T19:38:46Z"></time>So far, I'm not finding
        that <code>import</code> works as documented. <code>import</code> is not
        in the Lua API, so you have to use a regular Tupfile. And without a
        default assignment, which is supposed to be optional, Tup rejects the
        file.
      </p>
      <pre>
import HOME=blah
export HOME

: |&gt; echo HOME is $(HOME) |&gt;
: |&gt; echo no I mean HOME is ${HOME} |&gt;
      </pre>
      <p>produces</p>
      <pre>
 1) [0.062s] echo no I mean HOME is ${HOME}
no I mean HOME is $HOME
 0) [0.062s] echo HOME is
HOME is
</pre
      >
      <p>So okay, let's stick with export.</p>
      <p>
        <time datetime="2023-09-07T19:43:11Z"></time>I forget that it's running
        through <code>cmd</code>:
      </p>
      <pre>
: |&gt; sh -c 'echo HOME is $(HOME)' |&gt;
: |&gt; sh -c 'echo no I mean HOME is ${HOME}' |&gt;
</pre
      >
      <p>produces</p>
      <pre>
 1) [0.094s] sh -c 'echo HOME is '
HOME is
 0) [0.094s] sh -c 'echo no I mean HOME is ${HOME}'
 no I mean HOME is /cygdrive/c/Users/gcannizzaro
</pre
      >
      <p>regardless of whether I import HOME.</p>
      <p>
        <time datetime="2023-09-07T20:03:21Z"></time>
        <a
          href="https://github.com/gittup/tup/issues/103#issuecomment-902345250"
          >According to Mike in 2021</a
        >, <q>Import should already work in the Lua parser</q>, and he gives the
        example
      </p>
      <pre>
tup.import('SOMEENV')
if SOMEENV == 'debug' then
        tup.rule('echo build debug')
else
        tup.rule('echo build release')
        end
      </pre>
      <p>But it's not in the documentation, and when I try it, I get</p>
      <pre>
tup error [string "Tupfile.lua"]:4: field 'import' is not callable (a nil value)
      </pre>
      <p>Did he have to take it out for some reason?</p>
      <p>
        <time datetime="2023-09-07T20:12:14Z"></time>It was added in
        <a
          href="https://github.com/gittup/tup/commit/6793e9e405ed0f695180ea5e811068017c0532dc"
          >this revision</a
        >, which was pretty recent, and I'm using the latest release.
      </p>
      <p>
        <time datetime="2023-09-07T20:14:06Z"></time>Actually, am I? There are a
        lot of <a href="https://gittup.org/tup/win32/">Windows builds</a> called
        0.7.11, some of which—including the one I might have taken—date back to
        before then.
      </p>
      <p>
        <time datetime="2023-09-07T20:19:33Z"></time>I updated to the
        <a href="https://gittup.org/tup/win32/tup-v0.7.11-111-gf26bc1e8.zip"
          >latest Tup</a
        >, from 2023-01-19, and it has <code>tup.import</code>.
      </p>
      <p>
        <time datetime="2023-09-07T20:21:42Z"></time>I don't recognize this:
      </p>
      <pre>
 7) [0.000s] \C:
 6) [0.000s] \C:\Users
 5) [0.000s] \C:\Users\gcannizzaro
 4) [0.000s] \C:\Users\gcannizzaro\AppData
 3) [0.000s] \C:\Users\gcannizzaro\AppData\Local
 2) [0.000s] \C:\Users\gcannizzaro\AppData\Local\Microsoft
 1) [0.000s] \C:\Users\gcannizzaro\AppData\Local\Microsoft\Windows
 0) [0.000s] \C:\Users\gcannizzaro\AppData\Local\Microsoft\Windows\PowerShell
      </pre>
      <p>
        I suspect this is tracing some accesses that are happening when I load
        PowerShell, but I'm ignoring those outputs (as documented earlier this
        summer), so it doesn't ultimately complain.
      </p>
      <p>
        <time datetime="2023-09-07T20:23:32Z"></time>Naturally, I'm wondering
        now whether this update won't <em>break</em> any of the things that I've
        been meticulously working to nail down.
      </p>
      <pre>
Updating tup database from version 18 to 19. This may take a while...
Old tup database backed up as '.tup/db_backup_18'
WARNING: Tup database upgraded to version 19.
Added an mtime_ns column for nanosecond timestamp resolution.

Database update successful. You can remove the backup database file in the .tup/ directory if everything appears to be working.
Tup parser version has been updated to 16. All Tupfiles will be re-parsed to ensure that nothing broke.
</pre
      >
      <p>That's comforting, right?</p>
      <p>
        <time datetime="2023-09-07T20:48:00Z"></time>Now, what if I want to
        initialize <code>WEB_CACHE</code> based on <code>HOME</code>? First, can
        I do this?
      </p>
      <p>
        <time datetime="2023-09-07T20:50:24Z"></time>Yes, but you have to avoid
        mixing paths types:
      </p>
      <pre>
at parse time, HOME is C:\Users\gcannizzaro
at parse time, WEB_CACHE is C:\Users\gcannizzaro/.cache/codes.def/web
      </pre>
      <p>
        Now I would export <code>WEB_CACHE</code>, and everything's cool, right?
        Tup has no way to know about the indirect dependency on
        <code>HOME</code> of commands that use <code>WEB_CACHE</code>, but in
        the end what matters is <code>WEB_CACHE</code>'s value, so the result
        should be the same.
      </p>
      <p>
        <time datetime="2023-09-07T20:58:44Z"></time>I can get the value of
        <code>WEB_CACHE</code> that I want inside of Lua, but that doesn't
        apparently change the value seen by commands, even when I export it.
      </p>
      <p>
        <time datetime="2023-09-07T21:02:51Z"></time>Even if I set the actual
        value in the shell, it is seen by Lua and not by commands.
      </p>
      <p>
        <time datetime="2023-09-07T21:04:52Z"></time>Ohhhhh, I'm doing it wrong.
        I forgot that in Powershell you have to use <code>$env:</code> to reach
        environment variables.
      </p>
      <p>
        <time datetime="2023-09-07T21:06:44Z"></time>Now this works when the
        variable was set in the environment, but if it was not, the default is
        not appearing in commands.
      </p>
      <p>
        <time datetime="2023-09-07T21:09:43Z"></time>Now, I <em>could</em> get
        around this by providing the value to the command directly. This could
        be acceptable if it were done from only one place, that is, so long as
        you don't have to change call sites that want web resources. Then it
        just becomes one more
        part-of-the-command-text-that-has-to-be-quoted-perfectly.
      </p>
      <p>
        <time datetime="2023-09-07T21:16:11Z"></time><code>$HOME</code> may be a
        special case, as it seems to get through no matter what I do or don't
        do.
      </p>
      <p>
        <time datetime="2023-09-07T21:26:29Z"></time>All right, my time's up
        here, but I think that's the conclusion:
      </p>
      <ul>
        <li>
          determine the value of <code>WEB_CACHE</code> in Lua, using
          <code>HOME</code> if needed
        </li>
        <li>
          pass the value of <code>WEB_CACHE</code> literally to the script when
          constructing the command
        </li>
      </ul>
      <p>
        In other words, don't bother with <code>export</code>, which seems to be
        useful only when you can take the external value as-is with no default
        or modification.<time datetime="2023-09-07T21:29:44Z"></time>
      </p>
    </section>
    <section>
      <h3>
        <time datetime="2023-09-11T16:39:55Z"></time>wait, where did we say
        application files go?
      </h3>
      <p>On Linux, I'll start with <code>~/.cache/sourdough-web</code></p>
      <p>Mac I'll worry about when I have a Mac handy.</p>
      <p>Now for Windows.</p>
      <p>
        <time datetime="2023-09-11T16:57:14Z"></time>In truth, I would prefer to
        use <code>$HOME/.cache</code> on Windows as well. But it is not quite
        idiomatic, and I guess <code>HOME</code> is not guaranteed to be
        defined. <code>%USERPROFILE%</code> should be defined, though and it
        means the same thing as <code>$HOME</code>.
      </p>
      <p>
        <time datetime="2023-09-11T17:00:40Z"></time>At the same time, there's
        <code>%LOCALAPPDATA%</code>, which is
        <code>C:\Users\gcannizzaro\AppData\Local</code>. What's there? A bunch
        of directories for applications, including <code>NuGet</code> (surely
        from <code>choco</code>), <code>pip</code>, <code>Mozilla</code>, and
        others. There's also ones called <code>Application Data</code> and
        <code>Temporary Internet Files</code>, which appear to be owned by
        administrator.
      </p>
      <p>
        <time datetime="2023-09-11T17:07:50Z"></time>Okay, so just put it there,
        right? Well, yes. I had thought that these locations might have another
        layer of indirection as
        <q
          ><a
            href="https://learn.microsoft.com/en-us/windows/win32/shell/knownfolderid"
            >known folders</a
          ></q
        >. And some subdirectories under <code>%USERPROFILE%</code> and
        <code>%LOCALAPPDATA%</code> are known folders which can be thus
        remapped. I used to do such remappings as part of my
        <a
          href="https://gitlab.com/gavinpc/upstart/-/blob/master/windows.md?ref_type=heads#home-drive"
          >standard Windows setup</a
        >. I don't bother with it anymore, but looks like some remapping is done
        out of the box: my <code>Desktop</code> folder, for example, is at
        <code>~/Desktop</code>, <strong>not</strong> in its default location of
        <code>%LOCALAPPDATA%\Desktop</code>.
      </p>
      <p>
        <time datetime="2023-09-11T17:15:54Z"></time>However,
        <code>%USERPROFILE%</code> and <code>%LOCALAPPDATA%</code> cannot
        <em>themselves</em> be remapped in this way. If you want to change them,
        then you would set the environment variable, which is exactly what I
        want here. I should be able to import the desired variable—and
        <em>only on Windows</em>—and use it to construct the cache path. Changes
        to other environment variables should have no effect on the build.<time
          datetime="2023-09-11T17:18:15Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-09-11T17:29:45Z"></time>Almost there, though I'm
        going to have to deal with mixed paths:
      </p>
      <!-- https://readyedge-a4fbda0fc159.herokuapp.com/home/now -->
      <pre>
application data path is: C:\Users\gcannizzaro\AppData\Local
web cache path is: C:\Users\gcannizzaro\AppData\Local/sourdough-web
      </pre>
      <p>
        I mean, of course I could just assume Windows paths, but it really
        offends my sensibilities to use backslashes.
      </p>
      <p>
        <time datetime="2023-09-11T21:15:27Z"></time>It doesn't seem to matter,
        anyway. I just made a test that creates the web cache directory if it's
        missing.
      </p>
      <p>
        Interestingly, Tup doesn't complain about the directory creation, I
        guess since it's only concerned with files. But as soon as I put a file
        there, it will complain, right?
      </p>
      <p><time datetime="2023-09-11T21:17:18Z"></time>Yep.</p>
      <p>
        <time datetime="2023-09-11T21:18:37Z"></time>I expected that, of course.
        The challenge is that I need a way to tell Tup to ignore writes to this
        directory regardless of platform, and setting ignore paths is not quite
        an airtight operation, <em>especially</em> when Windows paths are
        involved:
      </p>
      <pre>
tup error: Unable to compile regular expression 'C:\Users\gcannizzaro\AppData\Local/sourdough-web' at offset 4: PCRE2 does not support \F, \L, \l, \N{name}, \U, or \u
      </pre>
      <p>
        That's what I get if I pass in the path as-is. I could normalize it by
        converting backslashes to forward slashes.
      </p>
      <p><time datetime="2023-09-11T21:25:32Z"></time>Actually, that works.</p>
      <p>
        Okay, now what if I change the value of <code>LOCALAPPDATA</code> in the
        shell before calling Tup?
      </p>
      <p><time datetime="2023-09-11T21:28:09Z"></time>It works!</p>
      <p>
        However, if I delete the directory and run Tup again, it doesn't get
        re-created. This is of course because it's marked as ignored.
      </p>
      <p>
        <time datetime="2023-09-11T21:31:00Z"></time>I don't like this. But
        there's no way around it, right? I went through this at the beginning of
        this document. Yes, see my note at
        <time datetime="2023-07-17T19:06:03Z">2023-07-17T19:06:03Z</time>:
      </p>
      <blockquote>
        <p>
          Alice <em>must</em> mark it as ignored in order to be able to write to
          a location outside of the project. I believe there's no way around
          this.
        </p>
      </blockquote>
      <p>And I said then that I could live with it.</p>
      <p>
        <time datetime="2023-09-11T21:36:52Z"></time>And you have to. Just for
        the record:
      </p>
      <pre>
tup error: Unable to write to a file outside of the tup hierarchy: C:/Users/gcannizzaro/research/scratch/test-out-2
      </pre>
      <p>
        <time datetime="2023-09-11T21:39:20Z"></time>So what does that leave? I
        don't want to change the value of <code>LOCALAPPDATA</code>, but
        <code>WEB_CACHE</code>.
      </p>
      <p>
        <time datetime="2023-09-11T21:55:16Z"></time>Just found a strange thing
        with Lua. Not so strange that I didn't have a hunch... basically it's
        like this:
      </p>
      <!-- prettier-ignore -->
      <pre>
function get_some_var()
  tup.import('SOME_VAR')
  if SOME_VAR then return SOME_VAR end
  return 'something else'
end

function elsewhere()
  local foo = get_some_var()
  print('foo is '..foo)
  foo:gsub('x', 'y')
end
      </pre>
      <p><time datetime="2023-09-11T21:57:33Z"></time>I was getting</p>
      <pre>attempt to call a nil value (method 'gsub')</pre>
      <p>
        even though the expected string value was being printed. If it was null
        in one place, why wouldn't it be null in another?
      </p>
      <p>
        My hunch was that it had to do with whatever magic
        <code>tup.import</code> is doing, and the fact that it's done inside a
        scope. I want to limit the scope of the <code>import</code> to the place
        where I actually need it. I consider the use of the env var to be an
        implementation detail of this function.
      </p>
      <p>
        <time datetime="2023-09-11T22:00:18Z"></time>But it appears that Tup
        creates a lexically scoped variable and exposing it in this way somehow
        corrupts the internals. I confirmed this by converting from a reference
        to a value by appending an empty string. This works:
      </p>
      <pre>
  if SOME_VAR then return SOME_VAR..'' end
      </pre>
    </section>
    <section>
      <h3><time datetime="2023-09-11T22:18:18Z"></time>running time</h3>
      <p>
        Like, it's time for me to go running. But I also want to run this
        process. I have cleaned up the code from the env/cache location testing.
      </p>
      <p>
        <time datetime="2023-09-11T22:39:55Z"></time>Okay, I've pulled over the
        code. Here goes.
      </p>
      <p><time datetime="2023-09-11T22:41:50Z"></time>Syntax error.</p>
      <p><time datetime="2023-09-11T22:42:15Z"></time>Runtime error.</p>
      <p>
        <time datetime="2023-09-11T22:42:58Z"></time>Okay, it ran, but I had
        disabled the full timeline corpus.
      </p>
      <p><time datetime="2023-09-11T22:45:18Z"></time>Now a Tup error:</p>
      <pre>
Attempting to insert 'wiki/cache/en/AD_357.html' as a generated node when it already exists as a different type (normal file).
      </pre>
      <p>
        In general, I'd expect this file to have been deleted on the first run
        after I disabled the timeline.
      </p>
      <p>
        <time datetime="2023-09-11T22:47:53Z"></time>Is something still holding
        onto the old cache directory?
      </p>
      <pre>
 -- Delete: c:/Users/gcannizzaro/def.inet/internet/364d31bc46ac0eeb54da827eb39264a91ab7de0c.html
tup error: File 'C:/Users/gcannizzaro/def.inet/index/364d31bc46ac0eeb54da827eb39264a91ab7de0c' was written to, but is not in .tup/db. You probably should specify it as an output
 -- Delete: C:/Users/gcannizzaro/def.inet/index/364d31bc46ac0eeb54da827eb39264a91ab7de0c
      </pre>
      <p>Ugh, right, I updated the bash script but not the powershell one.</p>
      <p>
        <time datetime="2023-09-11T22:50:58Z"></time>I've fixed that, but I'm
        seeing that I didn't implement aliases in the powershell script. That
        makes it harder to find things, though in principle they are optional.
      </p>
      <p>
        <time datetime="2023-09-11T22:53:42Z"></time>And it's running, folks!
        It's going to <code>~/.cache/sourdough/web</code> because I still had
        that set in my shell from testing. That's nice, but I'd rather the first
        full run go to the default location. Now I can test whether this is
        still interruptible.
      </p>
      <p>
        <time datetime="2023-09-11T22:55:16Z"></time>Yep. Stops instantly. I was
        running <code>tup -j1</code> as determined earlier.
      </p>
      <p>
        <time datetime="2023-09-11T22:58:29Z"></time>I started again in a new
        powershell session, and the files go to the right place. However, the
        <code>index</code> files are empty. They are supposed to contain the URL
        at the corresponding SHA.
      </p>
      <p>
        <time datetime="2023-09-11T23:00:12Z"></time>Weird. I was using
        <code>Write-Information</code> instead of <code>Write-Output</code>,
        which wasn't intentional, though I wouldn't have expected it to matter.
      </p>
      <p>
        <time datetime="2023-09-11T23:00:33Z"></time>Okay, <em>now</em> I can go
        running.
      </p>
      <p>
        <time datetime="2023-09-12T00:01:21Z"></time>Still running. It says
        5,348 items remaining, about half of which are downloads. The estimate
        presumably projects the average time over the item count, but the
        non-downloads will be much quicker. So this should be done by morning.
      </p>
      <p>
        I do want to test that if I interrupt the process I don't get a partial
        cache entry. But I'll do that another day. I want this to finish.<time
          datetime="2023-09-12T00:03:19Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-09-12T12:53:21Z"></time>My internet went out at
        about <time datetime="2023-09-12T00:05Z">5 after midnight</time>,
        according to the timestamps. I don't see any incomplete-looking entries.
        So now I get to test resumability.
      </p>
      <p>
        <time datetime="2023-09-13T13:06:23Z"></time>I resumed it and the
        download completed. Now it fails because I'm missing several of the
        files for processing them. But I'd say that's the end of this
        experiment.<time datetime="2023-09-13T13:07:42Z"></time>
      </p>
    </section>
  </section>
</article>
