<tr id="mwgg">
  <td id="mwgw">
    <span
      data-sort-value="03 !"
      about="#mwt118"
      typeof="mw:Transclusion"
      data-mw='{"parts":[{"template":{"target":{"wt":"sort","href":"./Template:Sort"},"params":{"1":{"wt":"03"},"2":{"wt":"[[Third Amendment to the United States Constitution|3rd]]"}},"i":0}}]}'
      id="mwhA"
      ><a
        rel="mw:WikiLink"
        href="./Third_Amendment_to_the_United_States_Constitution"
        title="Third Amendment to the United States Constitution"
        >3rd</a
      ></span
    ><sup
      about="#mwt122"
      class="mw-ref reference"
      id="cite_ref-14"
      rel="dc:references"
      typeof="mw:Extension/ref"
      data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-14"}}'
      ><a
        href="./List_of_amendments_to_the_Constitution_of_the_United_States#cite_note-14"
        style="counter-reset: mw-Ref 14"
        id="mwhQ"
        ><span class="mw-reflink-text" id="mwhg">[14]</span></a
      ></sup
    >
  </td>
  <td id="mwhw">
    Restricts the
    <a
      rel="mw:WikiLink"
      href="./Quartering_Acts"
      title="Quartering Acts"
      id="mwiA"
      >quartering</a
    >
    of soldiers in private homes
  </td>
  <td style="font-size: 95%" id="mwiQ">September 25, 1789</td>
  <td style="font-size: 95%" id="mwig">December 15, 1791</td>
  <td id="mwiw">
    <span
      data-sort-value="7002811000000000000♠"
      about="#mwt123"
      typeof="mw:Transclusion"
      data-mw='{"parts":[{"template":{"target":{"wt":"ayd","href":"./Template:Ayd"},"params":{"1":{"wt":"1789"},"2":{"wt":"9"},"3":{"wt":"25"},"4":{"wt":"1791"},"5":{"wt":"12"},"6":{"wt":"15"}},"i":0}}]}'
      id="mwjA"
    ></span
    ><span about="#mwt123">2</span
    ><span typeof="mw:Entity" about="#mwt123"> </span
    ><span about="#mwt123">years, 81</span
    ><span typeof="mw:Entity" about="#mwt123"> </span
    ><span about="#mwt123">days</span>
  </td>
</tr>
