@media all {
  /* WIREFRAMES */
  @media all {
    .expando {
      box-sizing: border-box; /*else border breaks shrink!*/
      animation: border-block-width-from-0 500ms both;
      border-block: 1ch solid
        color-mix(in lab, var(--CanvasText, CanvasText) 30%, transparent);
      border-radius: 1ch;
    }
    .expando > :not(.header, .inner) {
      border: 2pt solid red;
    }
    /* prettier-ignore */
    @keyframes border-block-width-from-0 {from {border-block-width: 0}}
  }
  /* how it is laid out... */
  @media all {
    .expando {
      block-size: calc(1px * var(--block-size-px, 0));
      overflow: hidden;
    }
  }

  /* how things are laid out within it... */
  @media all {
    .expando {
      display: flex;
    }
  }

  /* totally unrelated to expando per se, how to lay out stage */
  @media all {
    .expando > .inner {
      display: flex;
      position: relative;
      flex-direction: column;
    }
    .expando > .inner > :not(:first-child) {
      flex-grow: 1;
    }
  }
}

@media all {
  dl.flex {
    display: flex;
    flex-direction: column;
  }
  dl.flex > div {
    flex: auto;
    display: flex;
  }
  dl.flex > div > dt {
    flex-grow: 0;
  }
  dl.flex > div > dd {
    flex-grow: 1;
    text-align: end;
  }
  /* interaction stuff */
  @media all {
    dl.flex {
    }
    dl.flex > div {
      box-sizing: border-box;
      border-block: 1pt dashed transparent;
      border-inline: 2pt solid transparent;
    }
    dl.flex > div:hover {
      border-color: currentColor;
      background: color-mix(in lab, GrayText 25%, transparent);
    }
  }
}
