<article>
  <style>
    body {
      background: hsl(40deg, 20%, 30%);
      color: Canvas;
      font-size: 16pt;
      max-inline-size: 70ch;
      margin-inline: auto;
    }
  </style>
  <h1><time datetime="2023-06-18T01:09:37Z"></time>design journal, Tulsa</h1>
  <p>In which I think through where to go from here.</p>
  <section>
    <h2><time datetime="2023-06-18T01:10:17Z"></time>the state of things</h2>
    <p>Oh the mosquitos are coming out.</p>
    <p>
      I knew some of the pieces that I'd need, and I've made some of them. The
      main ones are
    </p>
    <ul>
      <li>a way to quickly scan through collections chronologically</li>
      <li>
        a way to lay things out in the inline dimension according to an
        arbitrary timeframe
      </li>
      <li>
        a way to simultaneously indicate different timescales in a coordinated
        way
      </li>
    </ul>
    <p>
      The concept of a <q>timeframe</q> has survived as something with legs, and
      has been given new life by a simple technique of mapping an attribute
      value into CSS properties.<time datetime="2023-06-18T01:18:52Z"></time>
    </p>
  </section>
</article>
