.chat input[type="submit"] {
  cursor: pointer;
}
.chat fieldset {
  border: none;
}
.chat input[type="submit"]:first-child {
  margin: 1em;
}
.chat .turn {
  box-sizing: border-box;
  border: 2pt dotted canvas;
}
.chat .turn:not(:first-of-type) {
  animation: turn-down 125ms;
}
.chat form {
  outline: 1pt solid #ff27; /* wireframing */
}
@media none {
  .chat output {
    display: flex;
    flex-direction: column;
  }
}
.chat input:is(:not([type]), :is([type="text"], [type="search"])),
.chat output p {
  padding: 0.66em 1em;
  border-radius: 2em;
}
.chat output p {
  background: GrayText; /* visible on both dark and light */
  font-family: sans-serif; /* so output sayings match input default */
}
.chat output p:empty {
  display: none;
}
.chat input:is(:not([type]), :is([type="text"], [type="search"])) {
  font-size: 100%; /* beat UA default */
  border: none; /* beat UA default */
}

:is(.chat, .chat > .turn) > input:not([type="submit"]),
:is(.chat, .chat > .turn) > form > input:not([type="submit"]),
:is(.chat, .chat > .turn) > form > fieldset > input:not([type="submit"]) {
  background: Field;
}

/* directional affinity */
/* input:start :: output:end, or --reverse that */
/* most chat applications put you at end and other party at start */

@media all {
  .chat form {
    text-align: start;
  }
  .chat--reverse > form {
    text-align: end;
  }
  .chat--reverse output p {
    align-self: flex-start;
    border-start-start-radius: 0;
  }
  .chat:where(:not(.chat--reverse)) output p {
    display: inline-block;
    text-align: end;
    align-self: flex-end;
    border-start-end-radius: 0;
  }
  .chat:not(.chat--reverse) input:not([type="submit"]) {
    align-self: flex-start;
    border-start-start-radius: 0;
  }
  .chat--reverse > input:not([type="submit"]),
  .chat--reverse > form > input:not([type="submit"]),
  .chat--reverse > form > fieldset > input:not([type="submit"]) {
    align-self: flex-end;
    border-start-end-radius: 0;
  }
  .chat:not(.chat--reverse) > form > fieldset > input:not([type="submit"]) {
    padding-inline-end: 2em;
  }
  .chat--reverse > form > fieldset > input:not([type="submit"]) {
    padding-inline-start: 2em;
  }
}
