<tr id="mwcg">
  <th scope="row" id="mwcw">
    <a
      rel="mw:WikiLink"
      href="./Presidency_of_George_Washington"
      title="Presidency of George Washington"
      id="mwdA"
      >1</a
    >
  </th>
  <td id="mwdQ">
    <span typeof="mw:File" id="mwdg"
      ><a
        href="./File:Gilbert_Stuart_Williamstown_Portrait_of_George_Washington.jpg"
        class="mw-file-description"
        id="mwdw"
        ><img
          alt="Painting of George Washington"
          resource="./File:Gilbert_Stuart_Williamstown_Portrait_of_George_Washington.jpg"
          src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Gilbert_Stuart_Williamstown_Portrait_of_George_Washington.jpg/150px-Gilbert_Stuart_Williamstown_Portrait_of_George_Washington.jpg"
          decoding="async"
          data-file-width="4628"
          data-file-height="5619"
          data-file-type="bitmap"
          height="182"
          width="150"
          srcset="
            //upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Gilbert_Stuart_Williamstown_Portrait_of_George_Washington.jpg/225px-Gilbert_Stuart_Williamstown_Portrait_of_George_Washington.jpg 1.5x,
            //upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Gilbert_Stuart_Williamstown_Portrait_of_George_Washington.jpg/300px-Gilbert_Stuart_Williamstown_Portrait_of_George_Washington.jpg 2x
          "
          class="mw-file-element"
          id="mweA" /></a
    ></span>
  </td>
  <td data-sort-value="Washington, George" id="mweQ">
    <b id="mweg"
      ><a
        rel="mw:WikiLink"
        href="./George_Washington"
        title="George Washington"
        id="mwew"
        >George Washington</a
      ></b
    ><br id="mwfA" /><span
      style="font-size: 85%"
      about="#mwt76"
      typeof="mw:Transclusion"
      data-mw='{"parts":[{"template":{"target":{"wt":"Small","href":"./Template:Small"},"params":{"1":{"wt":"(1732–1799)"}},"i":0}}]}'
      id="mwfQ"
      >(1732–1799)</span
    ><br id="mwfg" /><sup
      about="#mwt77"
      class="mw-ref reference"
      id="cite_ref-FOOTNOTEMcDonald2000_19-0"
      rel="dc:references"
      typeof="mw:Transclusion mw:Extension/ref"
      data-mw='{"parts":[{"template":{"target":{"wt":"Sfnp","href":"./Template:Sfnp"},"params":{"1":{"wt":"McDonald"},"2":{"wt":"2000"}},"i":0}}]}'
      ><a
        href="./List_of_presidents_of_the_United_States#cite_note-FOOTNOTEMcDonald2000-19"
        style="counter-reset: mw-Ref 17"
        id="mwfw"
        ><span class="mw-reflink-text" id="mwgA">[17]</span></a
      ></sup
    >
  </td>
  <td id="mwgQ">
    <span
      data-sort-value="000000001789-04-30-0000"
      style="white-space: nowrap"
      about="#mwt80"
      typeof="mw:Transclusion"
      data-mw='{"parts":[{"template":{"target":{"wt":"dts","href":"./Template:Dts"},"params":{"1":{"wt":"April 30, 1789"}},"i":0}}]}'
      id="mwgg"
      >April 30, 1789</span
    ><br id="mwgw" />–<br id="mwhA" /><span
      data-sort-value="000000001797-03-04-0000"
      style="white-space: nowrap"
      about="#mwt81"
      typeof="mw:Transclusion"
      data-mw='{"parts":[{"template":{"target":{"wt":"dts","href":"./Template:Dts"},"params":{"1":{"wt":"March 4, 1797"}},"i":0}}]}'
      id="mwhQ"
      >March 4, 1797</span
    >
  </td>
  <td
    style="background-color: #dcdcdc"
    about="#mwt83"
    typeof="mw:ExpandedAttrs"
    data-mw='{"attribs":[[{"txt":"style"},{"html":"background-color:&lt;span typeof=\"mw:Transclusion mw:Entity\" about=\"#mwt82\" data-parsoid=&apos;{\"srcContent\":\"#\",\"dsr\":[6427,6467,null,null],\"pi\":[[{\"k\":\"1\"}]]}&apos; data-mw=&apos;{\"parts\":[{\"template\":{\"target\":{\"wt\":\"party color\",\"href\":\"./Template:Party_color\"},\"params\":{\"1\":{\"wt\":\"Independent (politician)\"}},\"i\":0}}]}&apos;>#&lt;/span>&lt;span about=\"#mwt82\" data-parsoid=\"{}\">DCDCDC&lt;/span>"}]]}'
    id="mwhg"
  ></td>
  <td id="mwhw"><i id="mwiA">Unaffiliated</i></td>
  <td class="nowrap" id="mwiQ">
    <a
      rel="mw:WikiLink"
      href="./1788–1789_United_States_presidential_election"
      title="1788–1789 United States presidential election"
      class="mw-redirect"
      id="mwig"
      >1788–1789</a
    >
    <hr id="mwiw" />
    <p id="mwjA">
      <a
        rel="mw:WikiLink"
        href="./1792_United_States_presidential_election"
        title="1792 United States presidential election"
        id="mwjQ"
        >1792</a
      >
    </p>
  </td>
  <td id="mwjg">
    <a rel="mw:WikiLink" href="./John_Adams" title="John Adams" id="mwjw"
      >John Adams</a
    ><sup
      about="#mwt84"
      class="mw-ref reference"
      id="cite_ref-21"
      rel="dc:references"
      typeof="mw:Transclusion mw:Extension/ref"
      data-mw='{"parts":[{"template":{"target":{"wt":"efn","href":"./Template:Efn"},"params":{"1":{"wt":"Political parties had not been anticipated when the Constitution was drafted, nor did they exist at the time of the first presidential election in 1788–89. When they did develop, during Washington&apos;s first term, Adams joined the faction that became the [[Federalist Party]]. The elections of 1792 were the first ones in the United States that were contested on anything resembling a partisan basis.{{Sfnmp|&apos;&apos;Guide to U.S. Elections&apos;&apos;|2010|1pp=197, 272|Nardulli|1992|2p=179}}"}},"i":0}}]}'
      ><a
        href="./List_of_presidents_of_the_United_States#cite_note-21"
        style="counter-reset: mw-Ref 3"
        data-mw-group="lower-alpha"
        id="mwkA"
        ><span class="mw-reflink-text" id="mwkQ">[lower-alpha 3]</span></a
      ></sup
    >
  </td>
</tr>
