/* person viewpoint */
/* NOT REALLY A THING now */
/* but this is fine as a disclosure */
@media all {
  /* WIREFRAMES */
  @media none {
    .person-viewpoint {
      border-block: 1ch solid sienna;
      border-radius: 1ch;
      margin-block-end: 1em;
    }
    .person-viewpoint > .head {
      border-block: 0.5ch solid black;
    }
    .person-viewpoint > .body {
      border-block: 0.5ch solid deepskyblue;
    }
    .person-viewpoint > :not(.head, .body) {
      border-block: 0.5ch solid var(--unrecognized-color, red);
    }
  }
  .person-viewpoint {
    display: flex;
    flex-direction: column;
  }
  .person-viewpoint > .head h3 {
    margin-block: unset;
  }
  /*
  .person-viewpoint > .head h3 > span {
    font-weight: normal;
  }
*/
  .person-viewpoint > :is(.head, .body) {
    flex-grow: 0;
    flex-shrink: 1;
    overflow-y: hidden; /*overflow-block*/
    transition: flex-basis 250ms;
  }
  .person-viewpoint > .head {
    flex-shrink: 0;
  }
  .person-viewpoint > .body {
    /* makes transition work, but it sets a size limit */
    /* flex-basis: 10em; */
  }
  .person-viewpoint:not(:is(.person-viewpoint--open)) .body {
    flex-basis: 0;
  }
  /* let the name and marker overlay */
  .person-viewpoint > .head {
    position: relative;
    min-block-size: 1.25em;
  }
  .person-viewpoint > .head > :is(.name-block, .marker-block) {
    position: absolute;
    inset: 0;
  }
}

/* process log / console */
@media all {
  .console {
    box-sizing: border-box;
    border: 2pt solid var(--GrayText, GrayText);
  }

  .process > .log {
    /* display: inline-block; */
    /* box-sizing: border-box; */
    /* border: 2pt solid var(--GrayText, GrayText); */
  }
}

/* dialog stuff */
@media none {
  .chat[data-timeframe] {
    /* position: relative; */
  }
  .chat[data-timeframe] .turn {
    transition-duration: 1s; /* should match the polling interval */
    transition-property: margin-inline-start;
    transition-timing-function: linear;
    margin-inline-start: calc(100% * var(--time-item-start-offset));
    /* this works, while the above fails */
    /* I still don't understand the deferred resolution of CSS vars */
    margin-inline-start: calc(
      100% * (var(--time) - var(--timeframe-from-point)) /
        (var(--timeframe-to-point) - var(--timeframe-from-point))
    );
  }
}

/* machine time */
@media none {
  /* chat is just here for specificity.  these should be pure rule */
  .chat[data-timeframe] {
    /* for machine time only */
    --timeframe-effective-from: var(--timeframe-from-point);
    --timeframe-effective-to: var(--timeframe-to-point);
    /* generic */
    --timeframe-span: calc(
      var(--timeframe-effective-to) -var(--timeframe-effective-from)
    );
  }
  .chat[data-timeframe] * {
    /* for machine time only */
    --time-item-effective-start: var(--time);
    --time-item-effective-end: var(--time-to);
    /* generic */
    --time-item-start-offset: calc(
      (var(--time-item-effective-start) -var(--timeframe-effective-from)) /
        var(--timeframe-span)
    );
  }
}

/* heatmaps */
/* DEFUNCT */
@media none {
  [data-timeframe]:not([data-timeframe=""]) .time-heatmaps {
    /* position: relative; */
  }
  [data-timeframe]:not([data-timeframe=""]) .time-heatmaps .item {
    position: absolute;
    /* border: 1px dashed Canvas; */
    /* position and size by time properties... */
    inset-inline-start: var(--time-item-start-offset);
    inline-size: var(--timeframe-item-size);
    /* transition */
    transition-property: margin-inline-start, inline-size;
    transition-duration: 250ms;
  }
  [data-timeframe]:not([data-timeframe=""]) .time-heatmaps .item:not(:hover) {
    color: transparent;
  }
  [data-timeframe]:not([data-timeframe=""]) .time-heatmaps {
    font-variant-numeric: lining-nums;
    color: CanvasText;
  }
  [data-timeframe]:not([data-timeframe=""]) .time-heatmaps time {
  }
  /* shade by count relative to max */
  /* but we should set subordinate maxes (i.e. sub-maxes) */
  [data-timeframe]:not([data-timeframe=""]) .time-heatmaps .item::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: color-mix(in hsl, Highlight var(--heatmap-p), GrayText);
    --heatmap-theta: calc(var(--heatmap-value) / var(--heatmap-max));
    --heatmap-p: calc(100% * var(--heatmap-theta));
  }
}
