<article>
  <p>
    <time datetime="2023-01-11T00:32:59-0500"
      >if it makes you want to use positioning in a paragraph, it's probably a
      bad idea.
    </time>
  </p>
  <article>
    <h2><time datetime="2023-05-18T20:59:23Z"></time>nested dialogs</h2>
    <blockquote>
      <p>
        Nesting dialogs is a
        <a
          href="https://ux.stackexchange.com/questions/52042/is-it-acceptable-to-open-a-modal-popup-on-top-of-another-modal-popup"
          >questionable design pattern</a
        >
        that is not referenced anywhere in the
        <a
          href="https://html.spec.whatwg.org/multipage/interactive-elements.html#the-dialog-element"
          >HTML 5.2 Dialog specification</a
        >. Therefore it is actively discouraged in favour of clearer interface
        design. That being said, it is supported by the library.
      </p>
      <cite
        ><a href="https://a11y-dialog.netlify.app/advanced/nested-dialogs/"
          >Nested dialogs</a
        >
        from
        <a href="https://a11y-dialog.netlify.app/">a11y-dialog documentation</a>
      </cite>
    </blockquote>
    <p>
      <time datetime="2023-05-19T16:47:43Z"></time>See also the
      <time datetime="2019-03-05">2019</time> post
      <a href="https://www.scottohara.me/blog/2019/03/05/open-dialog.html"
        >Having an open dialog (archival post)</a
      >
      and the <time datetime=" 2023-01-26">2023</time> follow-up
      <a
        href="https://www.scottohara.me/blog/2023/01/26/use-the-dialog-element.html"
        >Use the dialog element (reasonably)</a
      >
    </p>
    <p>
      <time datetime="2023-05-19T16:50:33Z"></time>I'm pretty sure that by any
      standard I'm
      <a href="https://modalzmodalzmodalz.com/">abusing the dialog</a>. Are
      dialogs necessarily modal though?
    </p>
    <section>
      <h3><time datetime="2023-05-19T17:27:17Z"></time>conclusion of sorts</h3>
      <p>
        <time datetime="2023-05-19T17:25:54Z"></time>On some further
        consideration, I am nearly 100% persuaded that the
        <code>dialog</code> element is not intended or appropriate for my
        current usage.
      </p>
      <p>In particular, the spec says</p>
      <blockquote>
        <p>
          The <code>dialog</code> element represents a transitory part of an
          application
        </p>
        <cite
          ><a
            href="https://html.spec.whatwg.org/multipage/interactive-elements.html#the-dialog-element"
            >§ 4.11.4 The dialog element</a
          >
          of <time datetime="2023-05-19">19 May 2023</time>
          <a
            href="https://html.spec.whatwg.org/multipage/interactive-elements.html"
            >HTML Living Standard</a
          >
        </cite>
      </blockquote>
      <p>
        In my current prototype, the chat is the primary, immediate,
        unconditional, and ongoing focus of the document. I could see a chat
        being used in a <q>dialogic</q> way to resolve some question (and then
        being dismissed). As and when that happens, I will have no problem, or I
        should say no contradiction, embedding a chat into a dialog. When that
        time comes, it will be the <em>application's</em> problem to deal with
        the layout considerations special to the
        <code>dialog</code> element.<time
          datetime="2023-05-19T17:33:39Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-05-19T17:38:37Z"></time>Indeed, even the ARIA
        <code>dialog</code> role overstates the matter, in that
      </p>
      <blockquote>
        <p>
          The <code>dialog</code> role is used to mark up an HTML based
          application dialog or window that separates content or UI from the
          rest of the web application or page.
        </p>
        <cite
          ><a
            href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/dialog_role"
            >MDN: ARIA: dialog role</a
          ></cite
        >
      </blockquote>
    </section>
  </article>
  <section>
    <h3>
      <time datetime="2023-06-22T14:00:22Z"></time>figures inside of items?
    </h3>
    <p>In 14th century I see an item that has a figure:</p>
    <pre>
&lt;figure&gt;&lt;a wiki="File:Genghis_Khan_empire-en.svg"&gt;&lt;img&gt;&lt;/a&gt;&lt;figcaption&gt;&lt;a wiki="Mongol_Empire"&gt;Mongol Empire&lt;/a&gt; in 1227 at &lt;a wiki="Genghis_Khan"&gt;Genghis Khan&lt;/a&gt;'s death  &lt;/figcaption&gt;&lt;/figure&gt;
    </pre>
    <p>But I don't see it in the source now. Where did it come from?</p>
  </section>
  <section>
    <h3><time datetime="2023-06-23T03:51:25Z"></time>getting references?</h3>
    <p>
      I see this among the items for 19th century, which looks like it came from
      the References section, which is supposed to be excluded.
    </p>
    <blockquote>
      <p>
        Black, Jeremy and Roy Porter, eds. A Dictionary of Eighteenth-Century
        World History (1994) 890pp
      </p>
    </blockquote>
    <p>
      I noticed at least one suspicious book... yeah this one in 17th century:
      <q
        >Langer, William. An Encyclopedia of World History (5th ed. 1973);
        highly detailed outline of events online free</q
      >
    </p>
  </section>
  <section>
    <h3>
      <time datetime="2023-06-26T15:14:33Z"></time>subheading putting things
      into wrong century
    </h3>
    <p>I noticed that this entry is filed under 18th century</p>
    <pre style="white-space: pre-wrap">
<li id="mwAlU"><a rel="mw:WikiLink" href="./1660s_in_archaeology" title="1660s in archaeology" id="mwAlY">1666</a>: <a rel="mw:WikiLink" href="./Shivaji" title="Shivaji" id="mwAlc">Shivaji</a> visited <a rel="mw:WikiLink" href="./Aurangzeb" title="Aurangzeb" id="mwAlg">Aurangzeb</a> at <a rel="mw:WikiLink" href="./Agra_Fort" title="Agra Fort" id="mwAlk">Agra Fort</a> and forced him into house arrest. Shivaji later escaped and returned to the <a rel="mw:WikiLink" href="./Maratha_Kingdom" title="Maratha Kingdom" class="mw-redirect" id="mwAlo">Maratha kingdom</a>.<sup about="#mwt76" class="mw-ref reference" id="cite_ref-:0_12-2" rel="dc:references" typeof="mw:Extension/ref" data-mw='{"name":"ref","attrs":{"name":":0"}}'><a href="./17th_century#cite_note-:0-12" style="counter-reset: mw-Ref 12;" id="mwAls"><span class="mw-reflink-text" id="mwAlw">[12]</span></a></sup></li>
    </pre>
    <p>
      Even though it comes from the article <code>17th_century</code>. This is
      likely because it's under a section heading <q>1651–1700</q>, which is
      being interpreted as ISO <code>17</code>. I have not confirmed this
      though.<time datetime="2023-06-26T15:18:11Z"></time>
    </p>
  </section>
  <section>
    <h2>
      <time datetime="2023-07-15T17:38:31Z"></time>gps navigation in 11th
      century?
    </h2>
    <p>Somehow I have this</p>
    <blockquote><p>GPS navigation (1983)</p></blockquote>
    <p>
      <time datetime="2023-07-15T18:03:44Z"></time>Also what's with this being
      in 19th century
    </p>
    <blockquote>
      <p>
        c. 1730: Octant navigational tool was developed by John Hadley in
        England, and Thomas Godfrey in America
      </p>
    </blockquote>
  </section>
  <section>
    <h2><time datetime="2023-07-28T21:37:28Z"></time>too many Cage's</h2>
    <p>I am seeing a bunch of copies of this:</p>
    <blockquote>
      <p>
        2640: On September 5, the 639-year-long performance of John Cage's organ
        work As Slow as Possible (begun in 2001) is scheduled to finish at the
        St. Burchardi Church in Halberstadt, Germany.
      </p>
    </blockquote>
    <p>
      It appears once under the section <q>27th century</q> in the article
      <a href="https://en.wikipedia.org/wiki/3rd_millennium#27th_century"
        >3rd millennium</a
      >, but it's showing up for every year of the 2040's—and possibly thereby
      inflating John Cage's reference count.
    </p>
    <p>
      <time datetime="2023-07-28T21:41:44Z"></time>I note that those years are
      currently redirecting to
      <a href="https://en.wikipedia.org/wiki/3rd_millennium#2040s"
        >3rd millennium#2040s</a
      >, which probably means that they're getting processed multiple times.
    </p>
    <p>
      <time datetime="2023-07-28T21:44:44Z"></time>2040's seems to be the first
      decade that doesn't have its own article.
    </p>
    <p>
      <time datetime="2023-07-31T02:28:12Z"></time>Addendum: I see the same
      thing happening with this item:
      <q
        >On July 1, the present "one country, two systems" arrangement in Hong
        Kong is scheduled to end, as it</q
      >
      etc, which also comes from
      <a href="https://en.wikipedia.org/wiki/3rd_millennium#2040s"
        >3rd millennium#2040s</a
      >
    </p>
  </section>
  <section>
    <h2><time datetime="2023-07-28T21:48:26Z"></time>Crystal palace</h2>
    <p>I'd like to mark this as having the ending date of October 15—how?</p>
    <blockquote>
      <p>
        April 30, 1851 The Great Exhibition of the Works of Industry of All
        Nations in the Crystal Palace, Hyde Park, London is opened by Queen
        Victoria (it runs until October 15).
      </p>
    </blockquote>
    <p>I mean, I can do it manually, but I couldn't automatically detect it.</p>
    <p>
      <time datetime="2023-07-29T02:42:47Z"></time>likewise this one from 2nd
      millennium: <q>Kingdom of Scotland (843–1707): see Medieval Scotland</q>
    </p>
  </section>
  <section>
    <h2>
      <time datetime="2023-07-29T04:54:49Z"></time>Mark Antony has year-to NaN
    </h2>
    <p>which is causing the link to occupy the whole ribbon</p>
  </section>
  <section>
    <h2>
      <time datetime="2023-07-29T14:01:06Z"></time>old style dates are not a
      person
    </h2>
    <p>
      The articles
      <a href="https://en.wikipedia.org/wiki/Old_Style_and_New_Style_dates"
        >Old Style and New Style dates</a
      >
      and <a href="https://en.wikipedia.org/wiki/Old_Style">Old Style</a> are
      often referenced in timeline articles. They are somehow getting picked up
      as people, and not just any people but among the most referenced people in
      the corpus, and thereby ending up on the top row of the
      <q>people ribbon</q>:
    </p>
    <pre>
  ["Old_Style_and_New_Style_dates", 47],
  ["Old_Style", 44],
    </pre>
  </section>
  <section>
    <h2><time datetime="2023-07-29T21:16:58Z"></time>not inert</h2>
    <p>
      Today I learned a bit about
      <a
        href="https://whatpr.org/html/4288/interaction.html#the-inert-attribute"
        >inert</a
      >
      and have concluded that it's not the way to keep time backdrops out of the
      tab order.
    </p>
  </section>
  <section>
    <h2><time datetime="2023-08-05T15:23:00Z"></time>missing Homer</h2>
    <p>
      <a href="https://en.wikipedia.org/wiki/Homer">Homer</a> is so far back
      that the normal pattern of timeline articles doesn't really apply. I'm not
      even entirely sure what century he supposedly lived. I think it's
      important to convey that lower precision. But more to the point, where and
      how do I source his dates, however approximate?
    </p>
    <p>
      <time datetime="2023-08-05T15:26:34Z"></time>These <q>category</q> pages
      <a href="8th-century BC births"></a> would probably capture some names
      that I've missed, but Homer isn't listed in the Birth or Death categories
      for the 6th, 7th, 8th, or 9th centuries BC. Drilling into all of these
      subcategories would be a considerable pain under the current build regime,
      which is however a separate problem.<time
        datetime="2023-08-05T15:29:54Z"
      ></time>
    </p>
  </section>
  <section>
    <h2><time datetime="2023-08-08T01:31:12Z"></time>Newton died</h2>
    <p>Isaac Newton is missing death date</p>
    <p>
      Should be
      <a href="https://en.wikipedia.org/wiki/1727#Deaths">March 31, 1727</a>.
    </p>
    <p>
      Though he is reported in the article as
      <q>25 December 1642 – 20 March 1726/27</q> with a
      <a href="https://en.wikipedia.org/wiki/Isaac_Newton#cite_note-OSNS-15"
        >footnote</a
      >
      about Old Style dates.
    </p>
  </section>
  <section>
    <h2><time datetime="2023-08-12T23:58:50Z"></time>backward dates</h2>
    <p>Muhammad al-Baghdadi (1050 – 1037)</p>
  </section>
  <section>
    <h2>
      <time datetime="2023-08-10T16:48:14Z"></time>pan &amp; zoom stutter in
      Firefox
    </h2>
    <p>
      I'm running into this problem again, where Firefox does not maintain
      sufficient precision in CSS variables or their computations. The result is
      that movement <q>stutters</q> when looking at day-scale timeframes.
    </p>
    <p>
      <time datetime="2023-08-10T16:53:32Z"></time>More specifically, the
      vantages (layers with lenses) jump back and forth by some
      amount—strangely, the same amount, to my eyes—even as movement continues
      in one direction.
    </p>
    <p>
      <time datetime="2023-08-10T16:56:49Z"></time>Indeed, it is strange how the
      layers are affected. The Day layer, which has a scale of ⅓, ticks forward
      regularly, though the movement of neighboring dates may be staggered. Very
      occasionally I see some <q>backtracking</q>, where a date ticks slightly
      in the opposite direction.
    </p>
    <p>
      <time datetime="2023-08-10T17:00:39Z"></time>The other layers have smaller
      scales, from Decade (0.010958904109429568) to Millennium
      (9.132420091191307e-7). It wouldn't be too surprising to see floating
      point artifacts, especially where the timeframe is small, such as it is
      currently:
    </p>
    <pre>
1582.907705479452 - 1582.9049657534247
0.002739726027357392
    </pre>
    <p>
      <time datetime="2023-08-10T17:07:18Z"></time>What's odd about it is that
      <em>all</em> of the layers above Day jump back and forth by a regular
      amount with each and every movement, even when the Day layer itself
      doesn't visibly move. The size of the jump is not minimal, looks like
      about 1em. It has no obvious cumulative effect, just a back-and-forth.
    </p>
    <p>
      <time datetime="2023-08-10T17:10:12Z"></time>The problem doesn't manifest
      at the Month level and above. And it doesn't manifest in Chrome, where the
      movements are fine (not quite pixels but smooth) at all levels.
    </p>
    <p>
      <time datetime="2023-08-10T17:15:01Z"></time>I've tried inlining the CSS
      <code>calc()</code> expressions, with no change in the result.
    </p>
    <p>
      <time datetime="2023-08-10T17:15:57Z"></time>I don't think I can attack
      this any further <q>on the merits</q>: I believe the formulas are correct,
      as they look fine in all other situations.
    </p>
    <p>
      <time datetime="2023-08-10T17:17:29Z"></time>The only solution I can think
      of is to replace the year-based scale with a fabricated scale that is,
      say, year ✕ 1000. This is based on the assumption that we have headroom
      for larger numbers but are hitting the precision limits for small values.
      I don't love this trick, but I know that it can work, as the same exact
      problem came up when trying to use the range of Unix timestamps for the
      same purpose.<time datetime="2023-08-10T17:20:03Z"></time>
    </p>
    <section>
      <h3>
        <time datetime="2023-08-10T17:57:28Z"></time>proposal: grand scale
      </h3>
      <p>
        Even without this floating-point problem, one could argue that I have no
        good reason to couple the scalar value directly to one of the units.
      </p>
      <p>
        In other words, the things currently being shlepped around as
        <q>year scalars</q> should be (theoretically) opaque scalars, which we
        might call <q>grand</q> scalars, or <q>coarse</q> scalars, or
        <q>major</q> scalars, or <q>large</q> scalars, in contrast to the
        <q>wee</q> scalars or the <q>fine</q> scalars or the
        <q>minor</q> scalars or the <q>small</q> scalars needed for times of day
        and below.
      </p>
      <p>
        <time datetime="2023-08-10T18:27:15Z"></time>So yeah I need to pick a
        name. Changing names is the first step. And it will be a lot of changes.
        And some of those changes will be subtle. But the end result should be
        that
        <a
          href="https://www.joelonsoftware.com/2005/05/11/making-wrong-code-look-wrong/"
          >wrong code looks wrong</a
        >.<time datetime="2023-08-10T18:33:25Z"></time>
      </p>
      <p>
        <time datetime="2023-08-10T18:56:04Z"></time>I'm going with
        <q>major</q> and <q>minor</q>. Happily, the references to these
        variables in CSS are highly contained.
      </p>
      <p>
        <time datetime="2023-08-10T20:37:13Z"></time>What! I just made the
        change to define major units as 100x years, and everything looks exactly
        the same as before! I mean, I see exactly the same behavior in Firefox.
      </p>
      <p>
        <time datetime="2023-08-10T20:42:51Z"></time>I tried with 1000x and it's
        the same. I'm glad that I can change the definition in one place, but of
        course the motivation was really to fix this floating-point problem. So
        maybe it's really just a Firefox bug. I don't see how it's not related
        to precision, but maybe it's not about the precision of the timeframe so
        much as the scale. But why would it impact a scale of 0.04 the same as
        one of 0.000001?
      </p>
      <p>
        <time datetime="2023-08-10T20:47:31Z"></time>Just a thought, could this
        have to do with a scroll bar appearing and disappearing? I don't see
        one, and I don't see why it would depend on scale, but it has that kind
        of look.
      </p>
      <p>
        <time datetime="2023-08-10T20:52:09Z"></time>Looking more closely now.
        Maybe this is a script bug after all. I see that the lens's scale keeps
        alternating between two values as I move, specifically
        0.010958904109429568 and 0.010958904108520073. In Chrome I see some
        alternation, too, more or less between: 0.010958904110339063 and
        0.010958904109429568.
      </p>
      <p>
        <time datetime="2023-08-10T21:11:28Z"></time>I have to go, but what I'm
        seeing is that the diameter itself is sometimes showing alternating
        values, and these are just getting transmitted into the scale. It
        doesn't manifest in Chrome because the variables appear to retain more
        precision, or something hand-wavy about the effect being
        <q>buried further down</q>, but yes, it's something that happens
        periodically to the reported span, which I would expect to be consistent
        during pan operations. Okay, well that's better than the problem I
        thought it was. I mean, it's still a floating-point problem, but I'd
        much rather it in JavaScript than in CSS.<time
          datetime="2023-08-10T21:14:40Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-08-11T04:38:49Z"></time>The <q>real size</q> is
        stable, that is, the size before I divide.
      </p>
      <p>
        <time datetime="2023-08-11T13:31:47Z"></time>No, it's not that either. I
        see the stutter even when neither size is changing.
      </p>
      <p>
        <time datetime="2023-08-11T13:49:39Z"></time>I see the stutter even when
        the lens scale is not changing, only the timeframe itself. Yet the
        timeframe itself is changing monotonically. And the stutter goes away if
        I get rid of lens scaling. Where is that alternation that I was seeing
        in the logs yesterday? I want to reproduce this in a test.<time
          datetime="2023-08-11T13:51:38Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-08-11T14:14:28Z"></time>I don't see any alternating
        values now. I had this in my sights, but I might have gotten rid of the
        debug code.<time datetime="2023-08-11T14:15:36Z"></time>
      </p>
      <p>
        <time datetime="2023-08-11T14:50:26Z"></time>I also notice that the
        markers are not responding consistently to this: sometimes one of the
        months will move but not another. And they may move by different
        amounts. Clearly something is being lost when we factor in the lens
        against each of the items differentials. What if I went back to the
        fixed item container? I saw some other problems with that at the Day
        level, but that was before I had control over the major unit.
      </p>
      <p>
        <time datetime="2023-08-11T15:15:57Z"></time>This is becoming a real...
        time sink.
      </p>
      <p>
        <time datetime="2023-08-11T15:16:04Z"></time>I went back to
        fixed-item-collection and I still see the stutter, even on the Month
        level where it really has no excuse from precision since it's only .01
        scale.
      </p>
      <p>
        <time datetime="2023-08-11T15:19:23Z"></time>Webkit works fine with this
        arrangement, though it, too, doesn't show Day level under the fixed
        container.
      </p>
      <p>
        <time datetime="2023-08-11T15:22:47Z"></time>Well I should clarify, I am
        seeing some alternation, though it's still monotonic:
      </p>
      <pre>
from: 1582.8645547945498, dfrom: -0.00017123287648246333
from: 1582.864383561673, dfrom: -0.000171232876709837
from: 1582.8642123287966, dfrom: -0.00017123287648246333
from: 1582.86404109592, dfrom: -0.000171232876709837
from: 1582.8638698630434, dfrom: -0.00017123287648246333
from: 1582.8636986301667, dfrom: -0.000171232876709837
      </pre>
      <p>
        and <code>to</code> shows the same pattern. That is, it always changes
        by a positive amount, but the <em>amount that it changes by</em> is
        alternating.
      </p>
      <p>
        <time datetime="2023-08-11T15:45:55Z"></time>I still have not reproduced
        this. When I run <code>pan</code> as a pure function, I get consistent
        deltas using the same inputs, for at least 100 rounds. Both deltas
        (start and end) are equal to each other, and to their previous value.
        Yet the one that goes through the timeframe itself is still alternating.
        It's not processing those values, though, right? It should just be
        storing and reporting them back.
      </p>
      <p>
        <time datetime="2023-08-11T16:08:10Z"></time>Some of these logs must be
        red herrings. When I look at the actual changes to
        <code>--timeframe-from-major</code> and
        <code>--timeframe-to-major</code>, as reported by the style inspector
        (meaning their computed and presumably effective value) all indicate the
        same diff reported by the unit test, <i>viz</i>, 0.017123287660069764:
      </p>
      <pre>
        158290.95890410958 158291.2328767123
        158290.94178082192 158291.21575342465
        158290.92465753425 158291.198630137
        158290.9075342466 158291.18150684933
        158290.89041095893 158291.16438356167
      </pre>
      <script>
        [
          158291.2328767123 - 158290.95890410958,
          158291.21575342465 - 158290.94178082192,
          158291.198630137 - 158290.92465753425,
          158291.18150684933 - 158290.9075342466,
          158291.16438356167 - 158290.89041095893,
        ];
        [
          158291.21575342465 - 158291.2328767123,
          158291.198630137 - 158291.21575342465,
          158291.18150684933 - 158291.198630137,
          158291.16438356167 - 158291.18150684933,
        ];
        [
          158290.94178082192 - 158290.95890410958,
          158290.92465753425 - 158290.94178082192,
          158290.9075342466 - 158290.92465753425,
          158290.89041095893 - 158290.9075342466,
        ];
      </script>
    </section>
  </section>
  <section>
    <h2>
      <time datetime="2023-08-17T15:55:09Z"></time>decision log: collections
      shall have containers
    </h2>
    <p>TL;DR let's try <code>display: contents</code></p>
    <p>
      I have continued to invest in the concept of a <q>stage</q>, where the
      main interest of a timeframe lives. The stage is a <em>fixed</em> resource
      and a <em>shared</em> resource.
    </p>
    <p>
      Another concept is emerging, a <dfn>scan</dfn>. A scan is a process of
      searching collections across time. I'm still not 100% sold on this
      concept. Even in the context of this project, a time-specific database
      facility seems like an arbitrary introduction of a domain concept. We
      could well scan for other keys, and indeed many of the constructs here
      would map well to <em>scalar</em> properties now. It's only because of an
      impedance mismatch between lexical ordering and numeric ordering that date
      scans need particular attention in the code.
    </p>
    <p>
      Still, a scan is a thing. I am going through a long season of
      HTML-as-reality, and my inclination is that a process can be resumable
      from its output.
    </p>
    <p>So there's a tension between</p>
    <ol>
      <li>
        the scan owns these items and they need to be in a distinct physical
        group
      </li>
      <li>
        these items share the stage like everyone else, and they have no manager
        but the stage manager
      </li>
    </ol>
    <p>I observe</p>
    <ol>
      <li>
        the progress of the scan cannot be derived from the finding markers
        (since it may be out ahead)
      </li>
      <li>
        the state of the scan (running, paused, complete) cannot be derived from
        the findings
      </li>
      <li>control over the search has no home</li>
      <li>you cannot indicate in one place the relation of the parts</li>
      <li>even knowing the scope must be managed with invisible things</li>
      <li>the fact of partial scans that were completed earlier is lost</li>
    </ol>
    <p>Having a container also makes collapsing the representation simpler.</p>
    <p>
      It's clear enough to me that #1 must win out, and the scan should have its
      own container which should contain its productions. To the extent that #2
      was motivated by CSS problems, this may be overcome by using
      <code>display: content</code> on the group. It is a newer CSS feature than
      I usually rely on, but still some years old at this point.
    </p>
    <p>
      Well, it looks like
      <a href="https://caniuse.com/css-display-contents">display: contents</a>
      still has issues in browsers.
    </p>
    <p>
      No matter, the containers are in. I can kick everyone else off the stage
      and recap the fixed-size concept within a child item.
    </p>
    <p>
      At the moment I'm looking at the profiler and seeing reflow taking up a
      lot of time.<time datetime="2023-08-17T16:32:32Z"></time>
    </p>
  </section>
  <section>
    <h2>
      <time datetime="2023-08-18T15:34:12Z"></time>materialize the interesting
    </h2>
    <p>
      <q>DOM as truth</q> has been my mantra lately. At least, the arbiter of
      questions that start lingering.
    </p>
    <p>
      What it should mean formally is that a process has HTML I/O—that it can
      serialize itself to HTML in a way that can be restored to an equivalent
      process.
    </p>
    <p>
      What it may mean practically is that you, the presenter, the designer, the
      author, are as much motivated to describe and explain the thing, as to
      show it.
    </p>
  </section>
  <section>
    <h2><time datetime="2023-08-19T23:41:47Z"></time>12-digit year?</h2>
    <p>Does wikipedia use a 12-digit year internally?</p>
    <pre>
&lt;span data-sort-value="000000001933-03-04-0000" style="white-space:nowrap"&gt;March 4, 1933&lt;/span&gt;
    </pre>
  </section>
  <section>
    <h2><time datetime="2023-08-24T14:31:03Z"></time>page is jumping</h2>
    <p>
      I can't believe this, but I am having trouble with the page jumping after
      I click a button. I see this sometimes, but here the case is
      <em>so bloody simple</em> that I am questioning my life choices.
    </p>
    <p>
      I have a button and a click handler. That's it. Even if the click handler
      does nothing at all, the page sometimes jumps after I press the button, at
      least in Firefox. There is no <code>&lt;form&gt;</code> element, I do
      <code>event.preventDefault()</code>, I even return <code>false</code> from
      the handler, although I don't think that means anything. I've disabled all
      other script on the page. I've tried putting <code>type="button"</code> on
      the <code>&lt;button&gt;</code>, and also just changing the thing to an
      <code>&lt;input type="button" /&gt;</code>. I have not been able to
      reproduce this in Chrome. In Firefox it happens only sometimes, and the
      resulting jump is not always the same, though it does seem to prefer
      certain landing places. I have not observed any pattern to when it
      happens.
    </p>
    <p>
      <time datetime="2023-08-24T14:39:24Z"></time>At the moment, I can't
      reproduce it with the other script disabled, though I know that I have at
      some point. That said, I suspect that I'm wrong (like that I hadn't really
      disabled the other scripts when I thought I had) and it is in fact related
      to other scripts.
    </p>
    <p>
      <time datetime="2023-08-24T14:42:19Z"></time>Ah, I think I got it. Looking
      more closely at the log, there's some kind of scan in the background,
      which logs <code>scan complete</code> when it finishes. If I click the
      button before the scan completes, then it will jump, 100% of the time. If
      not, it won't. To wit, nothing else happens at the end of the scan except
      that log, and certainly nothing that would cause a drastic reflow. But
      it's folly to use words like <q>certainly.</q>
    </p>
    <p>
      <time datetime="2023-08-24T14:48:29Z"></time>No, it's not about the scan.
      If I disable the thing that was doing the scan, I still get the same
      result: it happens if you click the button within the first second or so
      of loading the page.
    </p>
    <p>
      <time datetime="2023-08-24T14:52:01Z"></time>It still happens even if I
      disable all of the <q>player</q> elements on the page. There is only one
      other standing process, which initializes the catalog, and it does
      possibly write some markup to a point above the button. I'm getting a
      theory of what's going on here, which is that it's a faulty implementation
      of
      <a href="https://drafts.csswg.org/css-scroll-anchoring/"
        >scroll anchoring</a
      >, which
      <a
        href="https://www.zdnet.com/article/firefox-will-finally-fix-annoying-page-jumps/"
        >Firefox got some two years after Chrome</a
      >. I say <q>faulty</q> because of course, this is the opposite of what
      scroll-anchoring is supposed to be for.
    </p>
    <p>
      <time datetime="2023-08-24T15:10:54Z"></time>I can still reproduce this
      even if no more changes are made to the content preceding the button, but
      I can't produce it when there is no such content. What if it's just a big
      empty block that pushes the button below the fold?
    </p>
    <p>
      <time datetime="2023-08-24T15:21:06Z"></time>I'm creating a stripped-down
      repro case. I still suspect scroll-anchoring. According to the discussion
      in
      <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1808077"
        >this bug, <q>scroll anchoring not work correctly</q></a
      >, a recent Firefox update
    </p>
    <blockquote>
      <p>
        it introduces a time factor. What we want to detect is back-and-forth
        caused by a bogus page. Those are usually very fast to catch, so add a
        500ms timeout to detect the adjustments.
      </p>
      <cite
        ><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1808077#c4"
          >(source)</a
        ></cite
      >
    </blockquote>
    <p>
      I am not seeing any warning about scroll-anchoring being disabled, but
      there may well be a timeout at page load that's affecting it. Another
      point to note is that the content doesn't jump if I <em>don't</em> click
      the button. Also, the page is moving <em>up</em>.
    </p>
    <p>
      <time datetime="2023-08-24T15:39:16Z"></time>I was able to produce this
      once in a page with only the following script (besides the button
      handler):
    </p>
    <pre>
        {
          function change_something_anything() {
            const element = document.querySelector(`#system`);
            const child = document.createElement("div");
            child.setAttribute("data-notation", "process");
            child.setAttribute("data-process-born", new Date().toISOString());
            child.textContent = `some content that was added. `;
            element.append(child);
          }
          async function main() {
            change_something_anything();
          }
          main();
        }
    </pre>
    <p>I haven't seen it again since then, though.</p>
    <p>
      <time datetime="2023-08-24T15:41:50Z"></time>I added a 100ms delay before
      the DOM change, and now it happens every time.
    </p>
    <p>
      <time datetime="2023-08-24T15:43:12Z"></time>It's completely reliable even
      with a <em>zero</em> millisecond delay.
    </p>
    <p>
      <time datetime="2023-08-24T15:43:46Z"></time>Moreover, it's not necessary
      to click the button right away. You can wait as long as you want and it
      causes a jump in the page whenever you click it, long after the content
      was added. I might add, that no content shift is visible from the adding
      of the content. Even when the dynamic content is in view at load, you can
      rarely spot any sign of its being added.
    </p>
    <p>
      <time datetime="2023-08-24T15:48:06Z"></time>It doesn't happen when I
      remove the button's effects. So maybe some dom modification needs to be
      made in the handler?
    </p>
    <p>
      <time datetime="2023-08-24T15:50:00Z"></time>Yes, it looks like any DOM
      change will do. I didn't test ones that wouldn't cause a reflow.
    </p>
    <p>
      <time datetime="2023-08-24T15:51:03Z"></time>I guess I should go the
      distance and file this as a bug, though I'm not up to doing a bisect as
      the fellow did in the other post.
    </p>
    <p>
      <time datetime="2023-08-24T17:37:00Z"></time>Well, I
      <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1850036"
        >submitted the bug</a
      >, and there's my morning.<time datetime="2023-08-24T17:37:16Z"></time>
    </p>
    <p>
      <time datetime="2023-08-24T18:30:15Z"></time>Yep, this is
      <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1850036#c3"
        >confirmed</a
      >
      as a scroll-anchoring bug—which is ironic, since this is exactly the kind
      of problem that scroll-anchoring was intended to prevent.
    </p>
  </section>
  <aside>
    <p>
      <time datetime="2023-09-23T19:26:40Z"></time>I just had an idea about
      embedding.
    </p>
    <p>
      In the first days of <q>sourdough</q>, I was struggling to find a way of
      embedding arbitrary files into HTML via Tup. I saw this as kind of a
      build-centric problem: the build was going to produce some set of files,
      and those files naturally needed to travel with the project, and I
      insisted (as I still insist) that many interesting things can travel as
      standalone HTML documents.
    </p>
    <p>
      <time datetime="2023-09-23T19:30:12Z"></time>I made a proof-of concept
      that could roundtrip files through an HTML document produced by a
      <code>tup</code> invocation. The document thus produced would include a
      link for downloading a shell script (POSIX, to wit) that could be invoked
      to re-create the production environment with all of its sources. With
      <code>tup</code> as the only non-standard command, you can make
      <q>upstream</q> changes to the source files or the build recipes. These
      few invariants were maintained by a <q>starter</q> with the following
      ingredients
    </p>
    <pre>
  -rwxrwxr-x 1067 2023-03-20  article.sh
  -rw-rw-r--  932 2023-03-20  link.js
  -rw-rw-r--   47 2023-03-23  main.html
  -rwxrwxr-x  705 2023-03-20  pack.sh
  -rw-rw-r--   13 2023-03-20  Tupdefault
  -rw-rw-r--   77 2023-03-20  Tupfile
  -rw-rw-r--    0 2023-03-20  Tupfile.ini
  -rw-rw-r--  141 2023-03-20  Tuprules.tup
  -rwxrwxr-x 3075 2023-03-20  unpack.sh
        </pre
    >
    <p>
      which, according to <code>cat * | wc -c</code>, weighs in at 6,057 bytes.
    </p>
    <p>
      <time datetime="2023-09-23T19:40:57Z"></time>In practice, I have not
      eschewed Git in favor of these packing & unpacking scripts, which were to
      be like lumps of sourdough.
    </p>
    <p>
      The main reason: HTML ain't zip. We already have a good tool for solving
      the general problem of transporting directories. Zip has the added benefit
      of tending to fare better (than HTML) against corporate mail filters.
    </p>
    <p>
      <time datetime="2023-09-23T19:44:27Z"></time>(The build system itself has
      proven too liberal, but that's another notebook.)
    </p>
    <p>
      <time datetime="2023-09-23T19:45:04Z"></time>The initial approach also
      represented every file in a uniform and arbitrary way, <i>viz</i> as a
      disclosure at the foot of the document. This made for easy extraction, but
      the boxes bore no formal markings saying what the things were, or what
      they were about.
    </p>
    <p>
      <time datetime="2023-09-23T19:54:21Z"></time>All of the files that I
      edit—and all of the basic ones necessary for a web interface—are encoded
      in a text-based format. For carrying around supplementary text-based files
      of a general nature, encoding them as HTML markup has much to recommend
      itself. Content in your document has this birthright, that it
      <strong>will be seen</strong>, unless someone rules otherwise.
      Visibility-by-default is a strong force in favor of encoding anything of
      interest in HTML.
    </p>
    <p>
      <time datetime="2023-09-23T20:01:46Z"></time>However, if the carrier
      <em>is</em> HTML, we have other considerations, and other options. If
      we're interested in containing an arbitrarily large number of files, we
      will not necessarily want these in the document unconditionally.
    </p>
    <p><time datetime="2023-09-23T20:05:29Z"></time>Two things</p>
    <ul>
      <li>
        Starting from the document's point of view, we can consider as a
        packaging scope only those files that we can trace as its dependencies.
        Like, What would
        <code>wget --page-requisites --span-hosts</code> get? This would entail
        what we already know about how those parts relate to the document.
      </li>
      <li>
        We can embed a file-as-such into the document using script that puts it
        into a global semantic store. Provided that we have a serialization
        cycle that includes script (which the new def does), we get persistence
        for free. There are all sorts of possibilities here for e.g. allowing
        equivalent representations, presenting structured content in a
        structured way (without necessarily needing a <em>parser</em> of the
        original format, though we'd need a serializer.)
      </li>
    </ul>
  </aside>
  <article>
    <h2>
      <time datetime="2023-09-23T20:10:56Z"></time><code>eval</code> is a
      <code>JSON.parse</code>
    </h2>
    <p>something something trojan horse, security</p>
  </article>
  <article>
    <h2><time datetime="2023-09-29T03:22:26Z"></time>waaaaaaaaat?</h2>
    <pre>
variable 'def' has been optimized out
&lt;anonymous&gt; debugger eval code:1
    dispatch file:///home/gavin/sourdough/2023-03-24/time-lab.js:1495
    &lt;anonymous&gt; file:///home/gavin/sourdough/2023-03-24/time-lab.js:1590
    amd_construct file:///home/gavin/sourdough/2023-03-24/time-lab.js:180
    require file:///home/gavin/sourdough/2023-03-24/time-lab.js:262
    &lt;anonymous&gt; file:///home/gavin/sourdough/2023-03-24/time-lab.js:1593
    </pre>
    <p>
      I just saw that when evaluating <code>def.errors.BadRequest()</code> in
      the console, on a page that set <code>def</code> in a script.
    </p>
    <p>
      Oh wait, the debugger is paused. That's probably why. I got a weird chill
      when I saw that.
    </p>
  </article>
  <article>
    <h2>
      <time datetime="2023-09-30T13:31:04Z"></time>dispatches from generics land
    </h2>
    <p>
      A couple of observations from the trenches trying to make usable generics.
    </p>
    <p>
      For context, I am working on generics for I/O and have defined generic
      functions <code>read</code> and <code>write</code>. There is no tablet
      from heaven dictating the shape of these functions. At least one element
      must be involved. Here in Emacs we have this:
    </p>
    <pre>
read is a built-in function in ‘C source code’.

(read &amp;optional STREAM)

  Probably introduced at or before Emacs version 1.1.

Read one Lisp expression as text from STREAM, return as Lisp object.
If STREAM is nil, use the value of ‘standard-input’ (which see).
STREAM or the value of ‘standard-input’ may be:
 a buffer (read from point and advance it)
 a marker (read from where it points and advance it)
 a function (call it with no arguments for each character,
     call it with a char as argument to push a char back)
 a string (takes text from string, starting at the beginning)
 t (read text line using minibuffer and use it, or read from
    standard input in batch mode).
    </pre>
    <p>
      <time datetime="2023-09-30T13:37:22Z"></time>So this is sort of
      <q>pseudo-generic</q>: it operates differently for different types, but it
      is closed to extension and will always reject values out of its range.
    </p>
    <p>
      <time datetime="2023-09-30T13:40:30Z"></time>Emacs has no function just
      called <code>write</code>, and it doesn't look like the
      <code>cl</code> package has one, either.
    </p>
    <p>
      Even if text is going to be given pride of place, it must be a special
      case of the more general I/O operations. My focus right now is writing to
      the DOM. But I will also want to write to other forms. And of course text
      is a bit broad in its own right. We have ways of talking about different
      lexical spaces, and these may correspond to RDF datatypes.
    </p>
    <p>
      <time datetime="2023-09-30T13:45:49Z"></time>Also, are read and write best
      understood as destructive operations on a stream? Because I am thinking
      right now of <q>pure</q> functions.
    </p>
    <p>
      <time datetime="2023-09-30T13:49:29Z"></time>The observations I wanted to
      make were
    </p>
    <ol>
      <li>
        When I'm making elements, I'm still referencing the global
        <code>document</code>. I noted in
        <a
          href="https://www.gnu.org/software/emacs/manual/html_node/elisp/Generic-Functions.html"
          >the emacs docs</a
        >
        that functions can dispatch based on conditions from the evaluation
        context. For example, <code>document</code> will be available only when
        you're running in the browser.
      </li>
      <li>
        How do I tell it what type of output I want to do? Should these all be
        separate functions?
      </li>
    </ol>
    <p>
      <time datetime="2023-09-30T13:53:25Z"></time>On the second point, what I
      had written was
    </p>
    <pre>
const write = make_generic({
  name: 'write',
  signatures: [(thing, syntax) => {}]
})
    </pre>
    <p>
      The <code>syntax</code> is expressed as a type, which is also the return
      type (but we can't dispatch on return type). Then I wrote things like
    </p>
    <pre>
write.methods.add([String, Node], s => document.createTextNode(s));
write.methods.add([Number, Node], n => document.createTextNode(n));
write.methods.add([Boolean, Node], b => document.createTextNode(b));
write.methods.add([Array, Element], function (array) {
  const ol = document.createElement("ol");
  for (const element of array) {
    const li = document.createElement("li");
    const definition = this.recur(element, Node);
    if (definition !== undefined) li.append(definition);
    ol.append(li);
  }
  return ol;
});
    </pre>
    <p>
      And so on. But there's a glaring error of misconception here. (At least
      it's glaring now.) It's easy enough to read these tuples as:
      <code>Array, Element</code> maps an array to a DOM element,
      <code>String, Node</code> converts a string to a DOM node, and so on.
    </p>
    <p>
      <time datetime="2023-09-30T14:00:26Z"></time>But there's level crossing in
      there. A type argument is interpreted as a (type) <em>constraint</em>, not
      as a <em>value</em>. CLOS uses the <code>(eql x)</code> form to make this
      distinction.
    </p>
    <p>
      <time datetime="2023-09-30T14:03:40Z"></time>I also have a way to say
      that, <i>viz</i> <code>{any: "object", value: Element}</code>. There are 2
      problems with this. <code>Element</code> is not immediately portable as a
      value. That could be fixed in this case, since it's a built-in which can
      be reached by a serializable path. The other problem is that it's expecetd
      to participate in a (subsumption) hierarchy, e.g.
      <code>Element &lt; Node</code>. There's no concept of subsumption among
      discrete values.
    </p>
    <p>
      <time datetime="2023-09-30T14:08:26Z"></time>The immediate way to solve
      this is
    </p>
    <ul>
      <li>use a signal value to indicate DOM output</li>
      <li>
        always write to <code>Element</code> instead <code>Node</code> for DOM.
        Text nodes can't be roundtripped anyway. You need to at least mark a
        datatype.
      </li>
    </ul>
    <p>So the only problem here is that you have to make up a signal value.</p>
    <p>
      <time datetime="2023-09-30T14:10:45Z"></time>It's also not clear why one
      function should be shared for all read and write functions. But hey, CLOS
      makes a generic function for every slot, so that may actually be the
      better way.<time datetime="2023-09-30T14:11:32Z"></time>
    </p>
  </article>
</article>
