<meta charset="utf-8" />
<h1><time datetime="2023-05-25T18:48:01Z"></time>Time lab</h1>
<header>
  <p>
    In the name of all that is good and true, this page contains a set of
    experiments on the representation of chronological records, that is, records
    with some specifics about time, in interactive media.
  </p>
</header>
<article>
  <h2>
    <time datetime="2023-09-01T15:02:11Z"></time>collection in a limited space
  </h2>
</article>
<!-- 2 COLLECTIONS IN A LIMITED SPACE -->
<aside>
  <p>
    <time datetime="2023-08-28T02:37:35Z"></time>Alphabetical order is
    meaningless. But everything lives in time.
  </p>
</aside>
<aside>
  <h2><time datetime="2023-08-20T17:14:32Z"></time>system home</h2>
  <div id="system" class="nogrow"></div>
</aside>
<section>
  <h2><time datetime="2023-08-20T15:25:15Z"></time>a corpus</h2>
  <section>
    <h2><time datetime="2023-08-22T01:26:18Z"></time>testing timeframe</h2>
    <figure>
      <figcaption>a timeframe with just enough things</figcaption>
      <div data-player="">
        <!-- here as elsewhere I'm cheating by including scalars & even date -->
        <div
          typeof="timeframe"
          data-timeframe="0001/1000"
          style="--timeframe-from-major: 100; -timeframe-to-major: 100000"
        >
          <ul class="special-list with-margin-inline">
            <li
              data-time="1564"
              data-time-to="1616"
              style="--major: 156400; --major-to: 161600"
            >
              Shakespeare
            </li>
            <li
              data-time="-0042"
              data-time-to="0017"
              style="--major: -4200; --major-to: 1700"
            >
              Ovid
            </li>
          </ul>
        </div>
      </div>
    </figure>
  </section>
  <section>
    <h3>
      <time datetime="2023-08-20T15:25:53Z"></time>US constitutional amendments
      <p>The constitution of the United States was not created all at once.</p>
      <figure>
        <figcaption>US constitutional amendments in a timeframe</figcaption>
        <div
          data-player=""
          data-timeframe="175/21"
          style="--timeframe-from-major: 175000; --timeframe-to-major: 210000"
        >
          <div
            typeof="store"
            data-database="cronwall"
            data-store="en_us_constitutional_amendments"
          ></div>
        </div>
      </figure>
      <p>
        This collection comes from the Wikipedia article
        <a
          href="https://en.wikipedia.org/wiki/List_of_amendments_to_the_Constitution_of_the_United_States"
          >List of amendments to the Constitution of the United States</a
        >
      </p>
      <p>
        The result is mapped through
        <a href="#extract-us-amendments.xsl">extract-us-amendments.xsl</a>,
        which should be included in this document.
      </p>
    </h3>
  </section>
  <section>
    <h3><time datetime="2023-08-20T15:25:48Z"></time>US states</h3>
  </section>
  <section>
    <h3><time datetime="2023-08-20T15:25:41Z"></time>US presidents</h3>
    <figure>
      <figcaption>US presidents collection</figcaption>
      <div data-player>
        <div
          typeof="store"
          data-database="cronwall"
          data-store="en_us_presidents"
        ></div>
      </div>
    </figure>
    <!-- CHEATING here and below though by initializing with the scalars -->
    <figure>
      <figcaption>US presidents collection in timeframe</figcaption>
      <div
        data-player
        data-timeframe="17/21"
        style="--timeframe-from-major: 170000; --timeframe-to-major: 210000"
      >
        <div
          typeof="store"
          data-database="cronwall"
          data-store="en_us_presidents"
        ></div>
      </div>
    </figure>
  </section>
</section>
<section>
  <figure>
    <figcaption>a player with a tree-map of a collection</figcaption>
    <div data-player>
      <div
        typeof="tree-map"
        data-database="cronwall"
        data-collection="en_wiki_persons"
        data-index="born"
        data-unit="Millennium"
      ></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with two tree-maps</figcaption>
    <div data-player>
      <div
        typeof="tree-map"
        data-database="cronwall"
        data-collection="en_wiki_events"
        data-index="aboutTime"
        data-unit="Millennium"
      ></div>
    </div>
    <div data-player>
      <div
        typeof="term-search"
        data-term="painter"
        data-database="cronwall"
        data-collection="en_wiki_persons"
        data-index="born"
        data-unit="Millennium"
      ></div>
    </div>
  </figure>
  <figure>
    <figcaption>
      a player with a term search in a database collection
    </figcaption>
    <div data-player>
      <div
        typeof="term-search"
        data-term="painter"
        data-database="cronwall"
        data-collection="en_wiki_persons"
      ></div>
    </div>
  </figure>
  <figure>
    <figcaption>
      a player with two term searches in the same collection
    </figcaption>
    <div data-player>
      <div
        typeof="term-search"
        data-database="cronwall"
        data-collection="en_wiki_events"
        data-term="great"
      ></div>
      <div
        typeof="term-search"
        data-database="cronwall"
        data-collection="en_wiki_events"
        data-term="terrible"
      ></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with a two-term search</figcaption>
    <div data-player>
      <div
        typeof="term-search"
        data-database="cronwall"
        data-collection="en_wiki_events"
        data-terms="major minor"
      ></div>
    </div>
  </figure>
  <figure>
    <figcaption>
      a player with an iconic search in a timeframe with scalars
    </figcaption>
    <div
      data-player
      data-timeframe=""
      style="--timeframe-from-major: -200000; --timeframe-to-major: 0"
    >
      <div typeof="iconic-search"></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with lifetimes</figcaption>
    <div data-player>
      <div typeof="people-lifetimes"></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with lifetimes in a timeframe</figcaption>
    <div data-player data-timeframe="19">
      <div typeof="people-lifetimes"></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with a resource</figcaption>
    <div data-player>
      <div resource="William_Shakespeare"></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with a timeframe of the twentieth century</figcaption>
    <div data-player>
      <div typeof="timeframe" data-timeframe="19"></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with a timeframe of the past year</figcaption>
    <div data-player>
      <div typeof="timeframe" data-timeframe="2022-08/2023-08"></div>
    </div>
  </figure>
</section>

<figure>
  <figcaption>a passage of text that I copied and pasted</figcaption>
  <blockquote>
    <p>
      James Byron Dean (February 8, 1931 – September 30, 1955) was an American
      actor with a career that lasted five years. He is regarded as a cultural
      icon of teenage disillusionment and social estrangement, as expressed in
      the title of his most celebrated film Rebel Without a Cause (1955), in
      which he starred as troubled teenager Jim Stark. The other two roles that
      defined his stardom were loner Cal Trask in East of Eden (1955) and surly
      ranch hand Jett Rink in Giant (1956).
    </p>
    <cite
      ><a href="https://en.wikipedia.org/wiki/James_Dean">James Dean</a></cite
    >
  </blockquote>
</figure>

<link rel="stylesheet" href="dialog-chat.css" />
<link rel="stylesheet" href="timeframes.css" />
<link rel="stylesheet" href="presentational.css" />
<script src="load-the-stuff.js"></script>
