html {
  background-color: hsl(-15deg, 9%, 11%);
  color: hsl(15deg, 9%, 41%);
}

body {
  --timespace-from: 1671080400; /* mid Dec ‘22 */
  --timespace-to: 1680235200; /* end of this march */
  --timespace-from: 1672549200; /* mid Dec ‘22 */
  --timespace-to: 1678852800; /* ides of march */
  --timespace-from: 1496275200; /* June 1 2017 */
  --timespace-to: 1680307200; /* Apr 1 2023 */
  position: relative;
}
:is(body, .show-time) time {
  /* 
  outline: 2pt solid Highlight;
 */
}
is:body(body, .show-time) time[datetime]:empty::before {
  content: attr(datetime);
}
time::before {
  content: "⏰";
}
time[title]:empty::after {
  content: " " attr(title);
}
time {
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  border-inline-start: 2pt solid GrayText;
  transition: left 250ms;
  left: calc(
    100% * (var(--date-seconds) - var(--timespace-from)) /
      (var(--timespace-to) - var(--timespace-from))
  );
}
