<meta charset="utf-8" />
<h1><time datetime="2023-05-25T18:48:01Z"></time>Time lab</h1>
<header>
  <p>
    <span
      ><ins>In the name of all that is good and true, t</ins><del>T</del
      ><time datetime="2023-08-15T01:35:33Z"></time></span
    >his page contains a set of experiments on the representation of
    chronological records, that is, records with some specifics about time, in
    interactive media.
  </p>
</header>
<aside>
  <h2><time datetime="2023-08-20T17:14:32Z"></time>system home</h2>
  <div id="system"></div>
</aside>
<section>
  <h2><time datetime="2023-08-20T15:25:15Z"></time>a corpus</h2>
  <section>
    <h3>
      <time datetime="2023-08-20T15:25:53Z"></time>US constitutional amendments
      <p>The constitution of the United States was not created all at once.</p>
      <figure>
        <figcaption>US constitutional amendments collection</figcaption>
        <div data-player>
          <div
            typeof="store"
            data-database="cronwall"
            data-store="en_us_constitutional_amendments"
          ></div>
        </div>
      </figure>
      <figure>
        <figcaption>
          US constitutional amendments collection in a timeframe
        </figcaption>
        <div
          data-player
          data-timeframe="17/21"
          style="--timeframe-from-major: 170000; --timeframe-to-major: 210000"
        >
          <div
            typeof="store"
            data-database="cronwall"
            data-store="en_us_constitutional_amendments"
          ></div>
        </div>
      </figure>
      <p>
        This collection comes from the Wikipedia article
        <a
          href="https://en.wikipedia.org/wiki/List_of_amendments_to_the_Constitution_of_the_United_States"
          >List of amendments to the Constitution of the United States</a
        >
      </p>
      <p>
        The result is mapped through
        <a href="#extract-us-amendments.xsl">extract-us-amendments.xsl</a>,
        which should be included in this document.
      </p>
    </h3>
  </section>
  <section>
    <h3><time datetime="2023-08-20T15:25:48Z"></time>US states</h3>
  </section>
  <section>
    <h3><time datetime="2023-08-20T15:25:41Z"></time>US presidents</h3>
    <figure>
      <figcaption>US presidents collection</figcaption>
      <div data-player>
        <div
          typeof="store"
          data-database="cronwall"
          data-store="en_us_presidents"
        ></div>
      </div>
    </figure>
    <!-- CHEATING here and below though by initializing with the scalars -->
    <figure>
      <figcaption>US presidents collection in timeframe</figcaption>
      <div
        data-player
        data-timeframe="17/21"
        style="--timeframe-from-major: 170000; --timeframe-to-major: 210000"
      >
        <div
          typeof="store"
          data-database="cronwall"
          data-store="en_us_presidents"
        ></div>
      </div>
    </figure>
  </section>
</section>
<section>
  <h2>
    <time datetime="2023-08-18T17:48:15Z"></time
    ><span
      ><del>worlds</del><ins>players</ins
      ><time datetime="2023-08-20T19:16:08Z"></time
    ></span>
  </h2>
  <blockquote>
    <pre>
All the world’s a stage,
And all the men and women merely players;
They have their exits and their entrances,
And one man in his time plays many parts</pre
    >
    <cite
      ><a
        about="wiki:As_You_Like_It"
        href="https://willshake.net/plays/AYL/2.7#All_the_worlds"
        ><i>As You Like It</i></a
      ></cite
    >
  </blockquote>
  <header>
    <figure>
      <figcaption>
        a teaser<time datetime="2023-08-19T13:57:24Z"></time>
      </figcaption>
      <div data-player><div typeof="teaser"></div></div>
    </figure>
  </header>
  <section>
    <h2><time datetime="2023-08-20T02:05:08Z"></time>a catalog</h2>
    <p>
      Underneath this document is a database. It's right there, behind it, you
      just can't get to it. Don't worry, I made some things.
    </p>
    <p>
      A <dfn>catalog</dfn> is what I'm calling your local indexedDB™ database.
      Support for enumeration of databases in a catalog is not yet standard.
    </p>
    <figure>
      <figcaption>the local catalog</figcaption>
      <div data-player><div typeof="catalog"></div></div>
    </figure>
    <p>
      A <dfn>database</dfn> is a group of collections. In web terms, we're
      talking about an
      <a href="https://developer.mozilla.org/en-US/docs/Web/API/IDBFactory"
        ><code>IDBFactory</code></a
      >.
    </p>
    <figure>
      <figcaption>databases in the local catalog</figcaption>
      <div data-player>
        <div typeof="database" data-database="imaginary"></div>
        <div typeof="database" data-database="cronwall"></div>
      </div>
    </figure>
    <p>A <dfn>store</dfn> is a record collection.</p>
    <figure>
      <figcaption>a store in a database in the local catalog</figcaption>
      <div data-player>
        <div
          typeof="store"
          data-database="cronwall"
          data-store="en_us_states"
        ></div>
      </div>
    </figure>
    <p>
      I call a store a <dfn>collection</dfn> when we know how to populate it,
      though I'm not sure that makes it a different kind of thing.
    </p>
    <figure>
      <figcaption>a collection in a database in the local catalog</figcaption>
      <div data-player>
        <div
          typeof="collection"
          data-database="cronwall"
          data-collection="en_us_persons"
        ></div>
      </div>
    </figure>
  </section>
  <section>
    <h2><time datetime="2023-08-19T13:57:32Z"></time>a system</h2>
    <figure>
      <figcaption>the system</figcaption>
      <div data-player><div typeof="system"></div></div>
    </figure>
    <p>
      I've put it off as long as I can. Before going any further, we need to
      talk about management. What management? Until recently, I would have said
      <em>process</em> management. But now I would say <em>cost</em> management.
      Perhaps it's a difference in name only. One way or another, we need a way
      to answer the questions <q>is work being done?</q>, <q>who's working?</q>,
      <q>what are they doing?</q>, and of course, most importantly,
      <q>why are they doing it?</q>
      When we ask <em>why</em>, we must start asking, Who charters the work?
      When and where do we plug things in? How can I turn it off? How much power
      can I have?
    </p>
    <p>
      I would argue that, much like the expand-and-contract containers that we
      discuss elsewhere, processes should have a path back down to zero watts.
      At least a switch, preferably a dial.
    </p>
    <p>
      <time datetime="2023-08-19T14:08:53Z"></time>So these are some of the
      characteristics of processes that we bear in mind when attacking the
      system design. The system is concerned only with work. Idleness, we get
      for free. An actor that will never work again is not an actor anymore.
      Processes are, in meta-ontology speak, <q>perdurants</q>, things that
      exist but for a time and then can only be spoken of as past—as opposed to
      an <q>endurant</q>, which exists equally at all times, like the color
      blue. I know what you're thinking: whether we humans are enduants or
      perdurants. Left as an exercise.
    </p>
    <p>
      I will, however, get specific about the system. The system has one main
      objective: to help the human employ the machine for some <em>purpose</em>.
      Although it makes no difference to the mechanism, the notion of a purpose
      is vitally important. It's the only thing distinguishing a computer from a
      radiator.
    </p>
    <p>We could derive the following requirements for our system:</p>
    <ol>
      <li>power down completely on human command</li>
      <li>report the number of ongoing jobs in O(1)</li>
      <li>answer requests to charter some kind of work</li>
      <li>enumerate the ongoing jobs in O(N)</li>
      <li>report the status of any ongoing job in O(1)</li>
      <li>stop any job now</li>
    </ol>
    <p>
      The order of this list is significant. Note that the ability to power down
      from a single command actually precedes the ability to charter work in the
      first place. That's because we could find a system in any given state,
      doing work that we didn't charter, and still need to shut it off. You
      might say that such a <q>kill switch</q> is unnecessary, since we know
      that the system can enumerate its jobs and stop them individually. But
      using those capabilities together requires a process, which is the very
      thing the system is supposed to oversee. Consider all that can go wrong in
      your attempt to shut down the system piece-by-piece. No, the system needs
      its own kill switch, and it better be a black box.
    </p>
    <p>
      The closest concept to this in JavaScript is the
      <a href="https://github.com/tc39/proposal-explicit-resource-management"
        >explicit resource management</a
      >
      proposal that looks like it's going to be a thing.
    </p>
    <section>
      <h3><time datetime="2023-08-19T14:51:35Z"></time>processes</h3>
      <p>
        A <dfn>process</dfn> is the unit of liveness in a system. At all times,
        one set of processes is live.
      </p>
      <p>How might we notate a process, if we know nothing else about it?</p>
      <figure>
        <figcaption>a process</figcaption>
      </figure>
      <p>
        How might we notate a process, if all we know is that it was alive at
        some point?
      </p>
      <p>
        We might think of a process as proceeding in the same direction as we
        read. In terms of <q>logical properties</q>, this is called the
        <dfn>inline</dfn> axis, as opposed to the block axis. Because of
        wrapping, inline content proceeds alternately in both directions.
      </p>
      <p>
        If we're reading processes <q>in reading order,</q> then processes which
        have begun may indicate this with an opening border:
      </p>
      <style style="display: block; white-space: pre">
        [data-notation="process"][data-process-born] {
          border-inline-start: 1ch solid;
          border-start-start-radius: 0.5ch;
          border-end-start-radius: 0.5ch;
        }
      </style>
      <figure>
        <figcaption>process that were born</figcaption>
        <div data-notation="process" data-process-born></div>
        <div data-notation="process" data-process-born>
          look around for things to do
        </div>
        <div data-notation="process" data-process-born>
          do all the things on your list
        </div>
      </figure>
      <aside>
        <p>
          This will raise a box sizing issue later, and we'll worry about it
          then.
        </p>
      </aside>
      <p>We can do the same for completed processes:</p>
      <style style="display: block; white-space: pre">
        [data-notation="process"][data-process-died] {
          border-inline-end: 1ch solid;
          border-start-end-radius: 0.5ch;
          border-end-end-radius: 0.5ch;
        }
      </style>
      <figure>
        <figcaption>processes that have died</figcaption>
        <div data-notation="process" data-process-died></div>
        <div data-notation="process" data-process-born data-process-died></div>
        <div data-notation="process" data-process-born data-process-died>
          scan for viruses
        </div>
        <div data-notation="process" data-process-died>
          purchase more antivirals
        </div>
      </figure>
      <p>
        The unifying effect of the borders is best when they are closest
        together:
      </p>
      <style style="display: block; white-space: pre">
        [data-notation="process"] {
          inline-size: fit-content;
        }
      </style>
      <p>
        We need a little spacing to keep the label from touching the borders,
        and the borders from touching other borders. Yes, this will aggravate
        the box sizing problem that we'll have later.
      </p>
      <style style="display: block; white-space: pre">
        [data-notation="process"] {
          margin-inline: 1pt;
          padding-inline: 1pt;
          margin-block: 1pt; /*going to regret this even more*/
        }
      </style>
      <section>
        <h4>
          <time datetime="2023-08-19T19:14:12Z"></time>notating live processes
        </h4>
        <p>
          How might we notate a process, if we believe that it is alive now?
        </p>
        <p>
          Well first, how do we know that it's alive now? We could say, if a
          process is born and not died, then it must be alive. This is easy to
          say in CSS, but it is not logically sound in the open world.
        </p>
        <p>
          Now, it's true that whoever is responsible for maintaining
          <code>data-process-live</code> could just as well maintain that
          <code>data-process-died</code> is present
          <strong>if and only if</strong> the process has died, making
          <code>[data-process-live]</code> no more <q>logically sound</q> than
          <code>:not([data-process-died])</code>. Indeed, the extra attribute
          introduces the contradictory state <code>live</code> and
          <code>died</code>:
        </p>
        <style style="display: block; white-space: pre">
          [data-notation="process"][data-process-died][data-process-live] {
            outline: 2pt dashed var(--badness-color, red);
          }
        </style>
        <figure>
          <figcaption>dead means not live</figcaption>
          <div
            data-notation="process"
            data-process-died
            data-process-live
          ></div>
        </figure>
        <p>
          But I find that <code>data-process-born</code> and
          <code>data-process-died</code>, which would have dates as values, are
          basically different from something like
          <code>data-process-live</code>, which is inherently not portable,
          while the born and died dates can be meaningfully recorded. In terms
          of wattage, the indicator of a live process may involve some activity
          of its own—even a mildly pulsing light, and I find that such
          animations should be opt-in.
        </p>
        <style style="display: block; white-space: pre">
          [data-notation="process"][data-process-live] {
            display: inline-block;
            border-inline-start: 1ch solid gray;
            animation: border-inline-start-transparent 2s both infinite;
          }
          @keyframes border-inline-start-transparent {
            70% {
              border-inline-start-color: transparent;
            }
          }
        </style>
        <figure>
          <figcaption>a process that is alive now</figcaption>
          <div data-notation="process" data-process-live></div>
        </figure>
      </section>
      <p>
        All else being equal, we might also expect details of a process's
        activity to be presented in the order of its occurrence.
      </p>
      <section>
        <h4><time datetime="2023-08-19T14:53:57Z"></time>terminal states</h4>
        <h4>
          <time datetime="2023-08-19T16:57:41Z"></time>acceptance and rejection
        </h4>
        <p>
          A process can end, and it must end at some point, perhaps when the
          world ends.
        </p>
        <p>
          I mean, at bottom, all processes end <q>the same way</q>, <i>viz</i>,
          dead. So there's a unity there.
        </p>
        <p>
          But there's a basic duality, too. A process can <dfn>accept</dfn> or
          <dfn>reject</dfn>. In fact, it <strong>must</strong> accept or reject
          when it dies, or rather, it must have ended by either accepting or
          rejecting.
        </p>
        <figure>
          <figcaption>processes that accepted</figcaption>
          <div data-notation="process" data-process-accepted></div>
          <div data-notation="process" data-process-accepted data-process-died>
            calculate new position
          </div>
          <div
            data-notation="process"
            data-process-accepted
            data-process-born
            data-process-died
          >
            pay energy bill
          </div>
        </figure>
        <figure>
          <figcaption>processes that rejected</figcaption>
          <div data-notation="process" data-process-rejected></div>
          <div data-notation="process" data-process-rejected data-process-born>
            collect fees
          </div>
          <div
            data-notation="process"
            data-process-rejected
            data-process-born
            data-process-died
          >
            confirm identity
          </div>
        </figure>
        <p>
          What are you accepting or rejecting? The call. Acceptance and
          rejection is not about your answer to any arguments; it's whether or
          not you were able to answer.
        </p>
        <p>
          We can say many interesting things about processes that have nothing
          to do with their ultimate success or failure. Indeed, as long as a
          process is ongoing, we would have to hold our tongues about it
          entirely, if we were only concerned with final outcomes.
        </p>
        <p>
          Still, processes must have this fundamental duality in any system that
          is serving an express purpose. If the program is working well, then
          acceptance or rejection is like a force drawing our compass toward our
          goal. If we know about nothing else, we must know about this.
        </p>
        <p>Now we must talk about JavaScript.</p>
        <ul>
          <li>A function accepts if it does not throw.</li>
          <li>A promise accepts if it resolves.</li>
          <li>An iterable accepts if it returns.</li>
        </ul>
        <figure>
          <figcaption>a function accepts if it does not throw</figcaption>
          <div data-player>
            <div typeof="test-accepts">
              <!-- prettier-ignore -->
              <textarea>
function pass() {}
pass()
              </textarea>
            </div>
          </div>
        </figure>
        <figure>
          <figcaption>a function rejects if it throws</figcaption>
          <div data-player>
            <div typeof="test-accepts">
              <!-- prettier-ignore -->
              <textarea>
function fail() {
throw new Error("fail")
}
fail()
              </textarea>
            </div>
          </div>
        </figure>
        <p>
          Those are our only native process elements. Unfortunately, we have no
          official counterpart for a push stream. I don't know what the fate of
          the
          <a href="https://github.com/tc39/proposal-observable">observables</a>
          proposal will be, but suffice it to say that a stream must be able to
          accept or reject.
        </p>
      </section>
      <section>
        <h4><time datetime="2023-08-19T17:09:18Z"></time>process types</h4>
        <p>
          These are not really process types, but elements on which processes
          can be constructed.
        </p>
        <p>
          A function is the smallest building block of processes. In JavaScript,
          a function cannot be subdivided. (I'm counting async and iterators as
          belonging to the other kinds.)
        </p>
        <figure>
          <figcaption>a function</figcaption>
          <div data-notation="process" data-process-type="function"></div>
        </figure>
        <figure>
          <figcaption>a promise</figcaption>
          <div data-notation="process" data-process-type="promise"></div>
        </figure>
        <figure>
          <figcaption>an iterable</figcaption>
          <div data-notation="process" data-process-type="iterable"></div>
        </figure>
        <figure>
          <figcaption>an async iterable</figcaption>
          <div data-notation="process" data-process-type="async-iterable"></div>
        </figure>
        <figure>
          <figcaption>a stream</figcaption>
          <div data-notation="process" data-process-type="stream"></div>
        </figure>
      </section>
      <section>
        <h4><time datetime="2023-08-19T16:59:20Z"></time>process results</h4>
        <p>
          When a process accepts or rejects, it may also make a value available.
        </p>
        <p>
          When a process has accepted, this value may be called the
          <dfn>result.</dfn> For calls that can be seen as questions, the result
          can be seen as an answer.
        </p>
        <p>
          When a process has rejected, we call it an <dfn>error</dfn>. The error
          should tell you something about what went wrong.
        </p>
        <aside>
          <p>
            Note that this is distinct from anything output by a process during
            its lifetime. That's yet another thing, which falls under IPC.
          </p>
        </aside>
        <p>
          In Unix, zero means accepted; everything else means rejected. Many
          commands define exit codes indicating reasons for failure. In HTTP,
          multiple accept and reject codes are defined.
        </p>
      </section>
      <section>
        <h4>
          <time datetime="2023-08-19T15:37:49Z"></time>interactive processes
        </h4>
        <p>
          A process that finds itself waiting for anything has become an
          <dfn>interactive</dfn> process.
        </p>
        <p>
          Interactive processes are not reducible to classical Turing machines
          and are governed by a different theoretical model, which I believe is
          called an
          <q>interaction machine</q>. Basically it's a Turing machine plus
          human. Since we have no mathematical model for human activity, it's
          hard to say very much about an interaction machine except that it's
          unpredictable.
        </p>
        <p>
          If we know enough about a process, we can make it either interactive
          or non-interactive. A debugger, for example, is a way to manually
          trigger steps that are normally automatic.
        </p>
        <p>
          How might we notate a pending process? Yellow is often used for
          pending. And <code>Mark</code> is usually yellow.
        </p>
        <style style="display: block; white-space: pre">
          [data-notation="process"][data-process-waiting] {
            background-color: color-mix(
              in hsl,
              var(--Mark, Mark) 20%,
              transparent
            );
          }
        </style>
        <figure>
          <figcaption>processes that are waiting</figcaption>
          <div data-notation="process" data-process-waiting></div>
          <div data-notation="process" data-process-born data-process-waiting>
            waiting for network
          </div>
          <div data-notation="process" data-process-born data-process-waiting>
            waiting for you to confirm
          </div>
          <div data-notation="process" data-process-born data-process-waiting>
            waiting for another process
          </div>
        </figure>
        <p>
          <code>died</code> and <code>waiting</code> together make no sense.
        </p>
        <style style="display: block; white-space: pre">
          [data-notation="process"][data-process-waiting][data-process-died] {
            outline: 2px dashed var(--badness-color, red);
          }
        </style>
        <figure>
          <figcaption>died means not waiting</figcaption>
          <div
            data-notation="process"
            data-process-born
            data-process-died
            data-process-waiting
          ></div>
        </figure>
      </section>
      <section>
        <h4>
          <time datetime="2023-08-19T17:15:23Z"></time>process composition
        </h4>
        <h4><time datetime="2023-08-19T16:13:32Z"></time>child processes</h4>
        <figure>
          <figcaption>a process with a child</figcaption>
          <div data-notation="process">
            <div data-part="children">
              <div data-notation="process"></div>
            </div>
          </div>
        </figure>
        <figure>
          <figcaption>a process with steps</figcaption>
          <div data-notation="process">
            <ol data-part="steps">
              <li>get part A</li>
              <li>get part B</li>
              <li>assemble A &amp; B</li>
            </ol>
          </div>
        </figure>
        <figure>
          <figure>a more specific example</figure>
          <div data-notation="process">
            <ol data-part="steps">
              <li>find the earliest date</li>
              <li>find the latest date</li>
              <li>
                project count over the units
                <div data-notation="process" data-process-type="iterator"></div>
              </li>
            </ol>
          </div>
        </figure>
      </section>
    </section>
    <section>
      <h3><time datetime="2023-08-19T17:45:07Z"></time>system notation</h3>
      <p>What does a system look like?</p>
      <figure>
        <figcaption>an empty system</figcaption>
        <div data-notation="system"></div>
      </figure>
      <figure>
        <figcaption>systems with live process counts</figcaption>
        <div data-notation="system">
          <div data-part="size">0 open processes</div>
        </div>
        <div data-notation="system">
          <div data-part="size">1 open process</div>
        </div>
        <div data-notation="system">
          <div data-part="size">15 open processes</div>
        </div>
      </figure>
      <figure>
        <figcaption>a system with various processes</figcaption>
        <div data-notation="system" data-whole>
          <div data-part="processes">
            <div data-notation="process"></div>
            <div data-notation="process" data-process-born></div>
            <div data-notation="process" data-process-died></div>
            <div data-notation="process" data-process-live></div>
            <div data-notation="process" data-process-accepted></div>
            <div data-notation="process" data-process-rejected></div>
            <div data-notation="process" data-process-type="function"></div>
          </div>
        </div>
      </figure>
      <figure>
        <figcaption>a system with processes with steps</figcaption>
        <div data-notation="system" data-whole>
          <div data-part="processes">
            <div data-notation="process" data-process-born>
              <ol data-part="steps">
                <li>slightly defrost bananas</li>
                <li>mix water and bananas and powder</li>
                <li>blend together</li>
                <li>clean blender</li>
              </ol>
            </div>
            <div data-notation="process" data-process-born>
              <ul data-part="steps">
                <li>clean kitchen</li>
                <li>do laundry</li>
                <li>take out compost</li>
              </ul>
            </div>
          </div>
        </div>
      </figure>
    </section>
    <section>
      <h3><time datetime="2023-08-19T16:33:49Z"></time>system reflection</h3>
      <p>
        Unfortunately, the system is still not good enough for us. Sure, we can
        find out what's going on by asking. We can ask as often as we want. But
        <em>polling</em> is both inefficient and inaccurate. We need a way to be
        notified of changes in processes, so that we can make them visible.
      </p>
    </section>
  </section>
  <figure>
    <figcaption>a player with a tree-map of a collection</figcaption>
    <div data-player>
      <div
        typeof="tree-map"
        data-database="cronwall"
        data-collection="en_wiki_persons"
        data-index="born"
        data-unit="Millennium"
      ></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with two tree-maps</figcaption>
    <div data-player>
      <div
        typeof="tree-map"
        data-database="cronwall"
        data-collection="en_wiki_events"
        data-index="aboutTime"
        data-unit="Millennium"
      ></div>
    </div>
    <div data-player>
      <div
        typeof="term-search"
        data-term="painter"
        data-database="cronwall"
        data-collection="en_wiki_persons"
        data-index="born"
        data-unit="Millennium"
      ></div>
    </div>
  </figure>
  <figure>
    <figcaption>
      a player with a term search in a database collection
    </figcaption>
    <div data-player>
      <div
        typeof="term-search"
        data-term="painter"
        data-database="cronwall"
        data-collection="en_wiki_persons"
      ></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with a play button</figcaption>
    <div data-player>
      <button>play</button>
    </div>
  </figure>
  <figure>
    <figcaption>a player with a form</figcaption>
    <div data-player>
      <form></form>
    </div>
  </figure>
  <figure>
    <figcaption>a player with a form with a play button</figcaption>
    <div data-player>
      <form><button>play</button></form>
    </div>
  </figure>
  <figure>
    <figcaption>
      a player with a play button and a term search in a database collection
    </figcaption>
    <div data-player>
      <button>play</button>
      <div
        typeof="term-search"
        data-term="painter"
        data-database="cronwall"
        data-collection="en_wiki_persons"
      ></div>
    </div>
  </figure>
  <figure>
    <figcaption>
      a player with two term searches in the same collection
    </figcaption>
    <div data-player>
      <div
        typeof="term-search"
        data-database="cronwall"
        data-collection="en_wiki_events"
        data-term="great"
      ></div>
      <div
        typeof="term-search"
        data-database="cronwall"
        data-collection="en_wiki_events"
        data-term="terrible"
      ></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with a two-term search</figcaption>
    <div data-player>
      <div
        typeof="term-search"
        data-database="cronwall"
        data-collection="en_wiki_events"
        data-terms="major minor"
      ></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with an iconic search</figcaption>
    <div data-player>
      <div typeof="iconic-search"></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with an iconic search in a timeframe</figcaption>
    <div data-player data-timeframe="19">
      <div typeof="iconic-search"></div>
    </div>
  </figure>
  <figure>
    <figcaption>
      a player with an iconic search in a timeframe with scalars
    </figcaption>
    <div
      data-player
      data-timeframe=""
      style="--timeframe-from-major: -200000; --timeframe-to-major: 0"
    >
      <div typeof="iconic-search"></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with lifetimes</figcaption>
    <div data-player>
      <div typeof="people-lifetimes"></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with lifetimes in a timeframe</figcaption>
    <div data-player data-timeframe="19">
      <div typeof="people-lifetimes"></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with a resource</figcaption>
    <div data-player>
      <div resource="William_Shakespeare"></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with a timeframe of the twentieth century</figcaption>
    <div data-player>
      <div typeof="timeframe" data-timeframe="19"></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with a timeframe of the past year</figcaption>
    <div data-player>
      <div typeof="timeframe" data-timeframe="2022-08/2023-08"></div>
    </div>
  </figure>
</section>
<section>
  <h2>timeframes</h2>
  <p><time datetime="2023-08-15T01:41:09Z"></time>Here is a timeframe:</p>
  <figure>
    <figcaption>an empty timeframe</figcaption>
    <div data-timeframe=""></div>
  </figure>
  <p><time datetime="2023-08-15T01:43:14Z"></time>Here's another:</p>
  <figure>
    <figcaption>a timeframe with a header and footer</figcaption>
    <div data-timeframe="">
      <header />
      <div />
      <footer />
    </div>
  </figure>
  <figure>
    <figcaption>a timeframe with a form</figcaption>
    <div data-timeframe="">
      <form></form>
    </div>
  </figure>
  <figure>
    <figcaption>a timeframe with a text input</figcaption>
    <div data-timeframe="">
      <form><input type="text" /></form>
    </div>
  </figure>
  <figure>
    <figcaption>a timeframe with a submit button</figcaption>
    <div data-timeframe="">
      <form><input type="text" /><input type="submit" /></form>
    </div>
  </figure>
  <figure>
    <figcaption>a timeframe with search input</figcaption>
    <div data-timeframe="">
      <form><input type="search" /><input type="submit" /></form>
    </div>
  </figure>
  <figure>
    <figcaption>a timeframe with a command</figcaption>
    <div data-timeframe="">
      <form>
        <input type="search" /><input type="submit" /><button>download</button>
      </form>
    </div>
  </figure>
  <figure>
    <figcaption>a timeframe with a command</figcaption>
    <div data-timeframe="">
      <form>
        <input type="search" /><input type="submit" /><button>download</button
        ><button>download full</button>
      </form>
    </div>
  </figure>
</section>
<figure>
  <figcaption>a passage of text that I copied and pasted</figcaption>
  <blockquote>
    <p>
      James Byron Dean (February 8, 1931 – September 30, 1955) was an American
      actor with a career that lasted five years. He is regarded as a cultural
      icon of teenage disillusionment and social estrangement, as expressed in
      the title of his most celebrated film Rebel Without a Cause (1955), in
      which he starred as troubled teenager Jim Stark. The other two roles that
      defined his stardom were loner Cal Trask in East of Eden (1955) and surly
      ranch hand Jett Rink in Giant (1956).
    </p>
    <cite
      ><a href="https://en.wikipedia.org/wiki/James_Dean">James Dean</a></cite
    >
  </blockquote>
</figure>
<footer>
  <h2><time datetime="2023-08-19T03:09:12Z"></time>appendix: trivial cases</h2>
  <figure>
    <figcaption>an empty player</figcaption>
    <div data-player></div>
  </figure>
  <figure>
    <figcaption>a player with some text</figcaption>
    <div data-player>hello, world</div>
  </figure>
  <figure>
    <figcaption>a player with an empty list</figcaption>
    <div data-player><ol></ol></div>
  </figure>
  <figure>
    <figcaption>a player with a list with an empty item</figcaption>
    <div data-player>
      <ol>
        <li></li>
      </ol>
    </div>
  </figure>
  <figure>
    <figcaption>a player with a list with an item with some text</figcaption>
    <div data-player>
      <ol>
        <li>olà señor</li>
      </ol>
    </div>
  </figure>
</footer>
<footer>
  <h2><time datetime="2023-08-19T01:44:02Z"></time>appendix: error cases</h2>
  <figure>
    <figcaption>a player with an incomplete term search</figcaption>
    <div data-player>
      <div typeof="term-search"></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with a blank term search</figcaption>
    <div data-player>
      <div typeof="term-search" data-term=""></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with a term search</figcaption>
    <div data-player>
      <div typeof="term-search" data-term="goodness"></div>
    </div>
  </figure>
  <figure>
    <figcaption>a player with a term search in a database</figcaption>
    <div data-player>
      <div
        typeof="term-search"
        data-term="goodness"
        data-database="cronwall"
      ></div>
    </div>
  </figure>
</footer>

<link rel="stylesheet" href="dialog-chat.css" />
<link rel="stylesheet" href="timeframes.css" />
<link rel="stylesheet" href="presentational.css" />
<script src="load-the-stuff.js"></script>
