@media all {
  /* dark mode -- s/none/all/ to enable */
  /*@media (prefers-color-scheme: dark) { */
  @media all {
    :root {
      --Canvas: CanvasText;
      --CanvasText: Canvas;

      --Canvas: #262222;
      --Canvas: #18384f;
      --CanvasText: color-mix(in hsl, Canvas 80%, transparent);
    }
  }
  body,
  dialog {
    background-color: var(--Canvas, Canvas);
    color: var(--CanvasText, CanvasText);
  }
}

@media (prefers-reduced-motion) {
  * {
    animation-duration: 0ms !important;
    transition-duration: 0ms !important;
  }
}

/* house rules */
@media all {
  :root {
    --sans-serif: "DejaVu Sans", ui-serif, sans-serif;
    --serif: "DejaVu Serif", ui-sans-serif, serif;
  }
  html {
    font-family: var(--serif, serif);
  }
  body {
    margin: unset; /* timeframes SHOULD extend to the viewport edges */
  }
  a {
    color: inherit;
    font-family: var(--sans-serif, sans-serif);
    text-decoration-color: var(--LinkText, LinkText);
    /* 2pt is also good (makes the color clearer), but I have seen a bug in Firefox
   on Ubuntu with values greater than this where the underline gets choppy. */
    text-decoration-thickness: 1pt;
  }
  mark {
    background-color: rgba(255, 255, 0, 0.5);
  }
  figcaption {
    font-size: 125%;
  }
  button,
  summary {
    cursor: pointer;
  }
  /* for events */
  a[wiki] {
    font-weight: bold;
    cursor: pointer; /*they may not have href, but they are handled*/
  }
  /* for the example */
  article figure,
  [data-timeframe] figure,
  figure[data-timeframe] {
    margin-inline: unset;
    /* BUT this makes element unusable as container of sticky children */
    /* overflow-x: hidden; */
  }
}

/* for embedded wikipedia */
@media all {
  iframe {
    display: block;
    min-inline-size: 50ch;
    min-block-size: 60vh;
  }
}

/* timeframe -- top level structure */
@media all {
  /* WIREFRAMES */
  @media none {
    [data-timeframe] {
      border-block: 1em solid black;
    }
    [data-timeframe] > [data-magnet="start"] {
      border-block: 1ch solid seagreen;
    }
    [data-timeframe] > .time-main-stage {
      border-block: 1ch solid gold;
    }
    [data-timeframe] > [data-magnet="end"] {
      border-block: 1ch solid darkgreen;
    }
  }
}

/* listing */
@media all {
  .listing .item {
    /* prefer over margin to avoid pointer hit gap */
    padding-block-end: 2pt;
  }
  [data-timeframe]:not([data-timeframe=""])
    .time-backdrop
    .listing
    > :is(ol, ul) {
    margin-block-start: 0.5ch; /*less than default*/
  }
  .listing > :is(ol, ul):empty {
    display: none;
  }
  .listing a:hover {
    background-color: rgba(255, 255, 128, 0.4);
  }
  .listing .item a {
    /* this by itself can't be good though */
    text-decoration: none;
  }
  .listing .item .summary {
    font-weight: bold;
  }
}

/* listing with indication of items */
@media all {
  .with-hover-item .item {
    border: 2pt solid transparent;
  }
  .with-hover-item .item:hover {
    outline: 2pt solid var(--LinkText, LinkText);
  }
}

/* generic block in/out transition */
@media all {
  @keyframes stretch-in-block {
    from {
      transform: scaleY(0);
      margin-block: 0;
      padding-block: 0;
      max-block-size: 0;
      border-block-width: 0;
    }
    to {
      transform: scaleY(1);
      max-block-size: var(--max-block-size);
    }
  }
  @keyframes shrink-out-block {
    from {
      transform: scaleY(1);
      max-block-size: var(--max-block-size);
    }
    to {
      transform: scaleY(0);
      margin-block: 0;
      padding-block: 0;
      max-block-size: 0;
      border-block-width: 0;
    }
  }
}

/* enter and exit items */
@media all {
  .with-enter-items > *,
  .with-exit-items > * {
    animation-duration: 250ms;
    animation-name: stretch-in-block;
    --max-block-size: 33vh;
    max-block-size: var(--max-block-size);
    transform-origin: top; /*I don't think block-start works here but anyway see note*/
  }
  .with-enter-items > [data-member-state="enter"] {
    animation-name: stretch-in-block;
  }
  .with-exit-items > [data-member-state="exit"] {
    animation-name: shrink-out-block;
    transform: scaleY(0); /*here and below, no logical equivalent for this*/
    margin-block: 0;
    padding-block: 0;
    max-block-size: 0;
    border-block-width: 0;
  }
}

/* resource listing */
@media all {
  /* WIREFRAMES */
  @media none {
    .resource-listing {
      --debug: 2pt;
    }
    .resource-listing .item {
      border-block: calc(3 * var(--debug)) solid red;
      border-radius: calc(3 * var(--debug));
      margin-block-end: 1em;
    }
    .resource-listing .item .dates {
      /* display: none; */ /*because they will be handled generally*/
    }
    .resource-finding {
      border-block: calc(2 * var(--debug)) solid yellow;
      border-radius: calc(2 * var(--debug));
    }
    .resource-finding-general {
      border: var(--debug) solid lightgreen;
      border-radius: var(--debug);
    }
    .resource-finding-special {
      border: var(--debug) solid pink;
      border-radius: var(--debug);
    }
    .resource-article {
      border: var(--debug) solid maroon;
      border-radius: var(--debug);
    }
    .resource-finding cite,
    .resource-finding blockquote {
      border: var(--debug) solid aqua;
      border-radius: var(--debug);
    }
  }
  .resource-finding {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  .resource-finding-general {
    box-sizing: border-box;
  }
  .resource-finding-special {
    box-sizing: border-box;
  }
  /* the material thing with the special part */
  .resource-article {
    /*
    background: color-mix(
      in hsl,
      transparent,
      color-mix(in hsl, var(--Canvas, Canvas), var(--GrayText, GrayText))
    );
*/
    box-sizing: border-box;
    /* blah blah document stuff */
    /* border: 2pt solid var(--GrayText, GrayText); */
    /* padding: 1ch 0.5ch; */
    /* inline-size: fit-content; */
    /* max-inline-size: 65ch; */ /*or 100%, whichever is less...*/
    /* margin-inline: auto; */
    /* box-shadow: 0 0 1em -1ch; */
  }
  .resource-listing .item {
    box-sizing: border-box;
    padding-block: 1ch;
  }
  .resource-article blockquote {
    background-color: var(--Canvas, Canvas);
    margin-block: unset;
    margin-inline-start: unset;
  }
  /* overriding something very specific here... */
  [data-timeframe]:not([data-timeframe=""])
    .with-time-markers
    :is([data-time], [data-time-to])
    .resource-article.mark-time--margin {
    margin-inline-start: max(0ch, var(--margin-inline-start));
    margin-inline-end: max(0ch, var(--margin-inline-end));
    /* but I want to end-align when this would exceed the bounds... */
    min-inline-size: 40ch;
  }
}

/* timeframe listing */

@media all {
  [data-timeframe]:not([data-timeframe=""]) .listing {
    text-align: start;
  }
  [data-timeframe]:not([data-timeframe=""]) .listing a.title {
    display: block;
    /* This prevents the hover target from being exceedingly large when block */
    /* but content remains start-aligned when the parent is end */
    /*
    inline-size: fit-content;
 */
  }
  [data-timeframe]:not([data-timeframe=""]) .listing .item .title {
    font-size: larger;
  }
}

/* detail / summary */
/* NOT USED currently but it does work ok */
@media none {
  .mark-only .item {
    transition: font-size 250ms;
    font-size: 0;
  }
  .mark-only .item mark {
    font-size: initial;
  }
}

/* depth of field via font scaling */
/* prettier-ignore */
@media all {
  [data-time-layer="Millennium"] { font-size: 50% } /*or, nth-child(1)..*/
  [data-time-layer="Century"] { font-size: 75% }
  [data-time-layer="Decade"] { font-size: 90% }
  /* [data-time-layer="Year"] { font-size: 100% } */
  [data-time-layer="Month"] { font-size: 110% }
  [data-time-layer="Day"] { font-size: 120% }
}
/* depth of field via movement dilation */
/* prettier-ignore */
/*
@media none {
  [data-time-layer="Millennium"] { transition-duration: 1000ms; }
  [data-time-layer="Century"] { transition-duration: 750ms; }
  [data-time-layer="Decade"] { transition-duration: 350ms; }
}
*/

/* time marker typography */
@media all {
  .time-markers time {
    font-variant: small-caps;
  }
  .time-markers [data-time-layer="Millennium"],
  .time-markers [data-time-layer="Century"] {
    /* these seem to need a special font though */
    font-variant-numeric: proportional-nums ordinal;
  }
  .time-markers [data-time-layer="Decade"],
  .time-markers [data-time-layer="Year"] {
    font-variant-numeric: proportional-nums oldstyle-nums;
  }
}

/* unfolding list */
/* UNUSED */
@media none {
  .listing--unfolding .item {
    animation: turn-down 125ms;
  }
  @keyframes turn-down {
    from {
      transform-origin: top; /*no logical properties*/
      transform: perspective(20rem) rotateX(90deg);
    }
    to {
      transform-origin: top;
      transform: perspective(20rem) rotateX(0);
    }
  }
}

/* word clouds */
@media all {
  .word-cloud > li::before {
    content: "• ";
  }
  .word-cloud:is(ol, ul) {
    /* text-align: center; */
  }
  .word-cloud li {
    --font-size: calc(8pt + 6pt * var(--count));
    font-size: var(--font-size);
    animation-name: font-size-in;
    animation-fill-mode: both;
    animation-duration: 250ms;
    animation-duration: calc(200ms + 500ms * var(--count, 1));

    display: inline;
    margin-inline-end: 1ch;
  }
  @keyframes font-size-in {
    0% {
      font-size: 0;
    }
    100% {
      font-size: var(--font-size);
    }
  }
}

/* backdrop -- a flat composition of exclusive, uniform segments */
@media all {
  .time-backdrop {
    box-sizing: content-box; /*inset border would skew positioning*/
  }
  /* match the backdrop */
  /* I would expect this just to be
    .time-layers .time-backdrop { min-block-size: var(--backdrop-goal) }
     but without the rest, backdrop overlaps fringe during transition
  */
  @media none {
    .time-layers .time-backdrop {
      transition: min-block-size var(--layer-transition-duration, 250ms);
      min-block-size: calc(var(--open-ratio) * var(--backdrop-goal, 0ch));
    }
    .time-layers .time-layer:hover,
    .time-layers .time-layer:hover .time-backdrop {
      /* this is just to make it less jumpy durnig hover, but it has to be done on both */
      transition-delay: 1s;
      transition-timing-function: ease-in;
    }
  }
  .time-backdrop .listing .item {
    animation: none; /*reduced motion when they run across*/
  }
  .time-backdrop blockquote {
    margin-inline: unset;
  }
}

/* main stage */
@media all {
  .time-main-stage > [data-part="caption"] {
    font-size: 125%;
  }
}

/* managed main stage, i.e. fixed-height flex  */
/* is a stage really a stage if you can't see its extent? */
/* with pan & zoom motions, you don't really want scrolling content anyway */
@media all {
  /* WIREFRAMES */
  @media none {
    .time-main-stage.time-main-stage--fixed {
      border-block: 1em solid goldenrod;
      border-radius: 1em;
    }
    .time-main-stage--fixed > .person-lifetime {
      border: 1px solid #111 !important; /*beat .person-lifetime border*/
    }
    .time-main-stage--fixed > :not(.person-lifetime, [data-time-underlay]) {
      border: 2pt dashed var(--unexpected-color, red);
    }
    .time-main-stage--fixed
      > [class]:not(.person-lifetime, [data-time-underlay])::before {
      content: attr(class);
    }
  }
  .time-main-stage--fixed {
    block-size: 49vh; /*logical unit?*/
    display: flex;
    flex-direction: column;
  }
  .time-main-stage--fixed > * {
    /* interesting but orthogonal to fixed. reflows *old* items on add */
    /* flex-grow: 1; */
  }
  .time-main-stage--fixed {
    --max-members: 50;
    --d: calc(var(--max-members) - var(--members));
    --r: calc(var(--d) / var(--max-members));
    --clamped-r: max(0, min(1, var(--r)));
    font-size: calc(1em * var(--clamped-r));
  }
}

/* finding markers */
@media all {
  /* WIREFRAMES */
  @media none {
    .time-backdrop {
      opacity: 0.5;
    }
    [data-time-layer]:not([data-time-layer="Millennium"]) {
      display: none;
    }
    [data-time-underlay] {
      display: none;
    }
    .time-layers > .time-layer[data-time-layer="Millennium"] {
      --backdrop-goal: 10em;
    }
    .time-layer-bands {
      --debug: 2pt;
      border: var(--debug) solid aqua !important;
    }
    .finding-markers {
      border: var(--debug) solid purple !important;
      border-radius: var(--debug);
    }
    .finding-marker {
      border: var(--debug) solid blue !important;
      border-radius: var(--debug);
    }
    [data-findings-group],
    [data-findings-unit] {
      border: var(--debug) solid red !important;
      border-radius: var(--debug);
    }
  }
  /* but this should only be in graphical (non-flow) mode */
  .finding-markers:is(ul, ol) {
    margin-block: unset;
    padding-inline-start: unset;
    list-style: none;
  }
  /* contains only positioned children but is not positioned */
  .finding-markers {
    position: relative;
    --Mark: color-mix(in hsl, Mark, transparent);
  }
  /* prettier-ignore */
  @media all {
  /* put markers before backdrop regardless of physical order */
  .finding-markers { order: 2 }
  .time-backdrop { order: 3 }
  }
  /* TODO: put finding-markers into a time-fixed-item-collection */
  .finding-markers > * {
    position: absolute;
    inset-inline-start: var(--time-item-start-offset);
    inline-size: var(--time-item-extent);
    inset-block: 0;
  }
  .finding-markers > * > [data-part="text"] {
    display: none;
  }
  .finding-markers > *::before {
    content: "";
  }
  /* this is currently providing the natural height */
  [data-findings-group]::before {
    content: attr(data-findings-group);
  }
  /* yellow dot */
  .finding-markers > *::before DISABLEDDD {
    display: inline-block;
    inline-size: 1em;
    block-size: 1em;
    border-radius: 50%;
    background: var(--Mark, Mark);
  }
  .finding-markers > *::before {
    position: absolute;
    inline-size: 2pt;
    inset-block: 0; /* this doesn't work though */
    background: var(--Mark, Mark);
    border-inline-start: 1px solid
      color-mix(in hsl, var(--GrayText, GrayText), transparent);
  }
}

/* time layers (overlaying sheets) */
/* a “layer” is more like a fringe --- an exposed edge */
/* as an appendage, the set can be collapsed to nothing */
/* indeed, its resting state must be an empty box -- all size is opt-in */
@media all {
  /* WIREFRAMES */
  @media none {
    .time-layers {
      border-block: 1em solid dimgray; /*but this will mess with sizing*/
    }
    .time-layer {
      border-block: 1pt dotted coral;
    }
    .time-layer-bands {
      border-block: 1px dashed cornflowerblue;
    }
    .time-layer[data-chart-state="overloaded"] {
      border: 2px solid ActiveText;
    }
    .time-layers > :not(.time-layer) {
      border: 4pt dashed var(--unexpected-color, red);
    }
  }

  /* fringe allocation */
  @media all {
    .time-layers {
      --fringe-size: 1em; /*outermost indicators, invariant*/
      --open-ratio: 0; /*∈ [0, 1] how much of goal height layers actually get*/
      box-sizing: content-box; /*so that borders don't participate in allocation*/
      display: flex;
      flex-direction: column;
    }
    [data-timeframe]:not([data-timeframe=""]) .time-layers--open {
      --open-ratio: 1;
    }
    /* markers ~= fringe for now */
    /* currently there's a `.time-fixed-item-collection` between these */
    /* so I can't use this to set a `flex-basis`... */
    .time-layers .time-markers {
      block-size: var(--fringe-size);
    }
    .time-layers .time-markers > button[data-time] {
      line-height: 1; /*bleed to layer edge */
    }
    .time-layers .time-markers button[data-time] {
      block-size: 100%;
    }
    .time-layers > .time-layer {
      --backdrop-goal: 0em; /*how much the layer would like (beyond fringe)*/
      /* --backdrop-goal: 3em; */
      --layer-expose: calc(var(--fringe-size, 0em) + var(--backdrop-goal, 0em));
      box-sizing: border-box; /*so it can be muted*/
      flex-basis: calc(var(--open-ratio) * var(--layer-expose));
      flex-shrink: 1;
      flex-grow: 0;
      position: relative; /* else it's not really a layer, right */
      overflow: hidden;
      --layer-transition-duration: 500ms;
      transition-property: flex-basis; /*though somehow it works without this*/
      transition-duration: var(--layer-transition-duration);
    }
    /* though outside of debug I don't know what we'd use borders for */
    .time-layers:not(.time-layers--open) > .time-layer {
      border-block-width: 0;
    }
    /* opinion */
    .time-layers[data-magnet="end"] {
      max-block-size: 4rem;
    }
  }

  /* TEMP hide headings */
  /* [data-magnet="start"], */
  /* [data-time-layer]:not([data-time-layer="Century"]), */
  .time-layer-bands .time-backdrop-segment > div > div > time,
  .time-layer-bands .time-backdrop-segment summary,
  .time-layer-bands .time-backdrop-segment .listing cite {
    display: none;
  }
  .time-layer-bands > b {
    position: absolute;
    display: none;
  }

  /* else the box shadow is cut off (which I still don't understand) */
  /* prettier-ignore */
  @media none {
    [data-magnet="start"] .time-layer { padding-block-start: 2pt }
    [data-magnet="end"] .time-layer { padding-block-end: 2pt }
  }
  .time-backdrop-segment {
    background-color: #ccc8;
  }
  .time-backdrop-segment .listing {
    hyphens: auto;
    font-size: 75%;
  }

  /* "time layer bands" are an optional inner container */
  /* not sure it's optional actually */
  /* should have all of the content of a layer, and layer is just for positioning it */

  /* also means we can reverse block direction in one swoop */
  /* assuming this is the only content, avoid layer having any natural height */
  .time-layer > .time-layer-bands {
    position: absolute;
    inset-inline: 0;
  }
  .time-layer-bands {
    display: flex;
    box-sizing: border-box;
    --temp-gap: 0pt;
  }
  [data-magnet="start"] .time-layer-bands {
    flex-direction: column;
    inset-block-start: var(--temp-gap);
  }
  [data-magnet="end"] .time-layer-bands {
    flex-direction: column-reverse;
    inset-block-end: var(--temp-gap);
    block-size: fit-content; /*else for some reason this has no natural size*/
  }

  .time-layers > .time-layer[data-time-lens-state="overloaded"] {
    --layer-expose: 0ch !important;
    flex-grow: 0;
  }
  /* OVERLOADING use of magnet here for convenience */
  [data-magnet="start"] > .time-layer {
    box-shadow: 0 -2pt 1ch -0.6ch;
  }
  /* reverse stacking appearance when end-aligned */
  [data-magnet="end"] > .time-layer {
    box-shadow: 0 2pt 1ch -0.6ch;
    z-index: calc(var(--last-child-index));
  }

  /* this  one is not used now */
  /* prettier-ignore */
  @media all {
    .with-child-index > :nth-child(1) { --child-index: 1 }
    .with-child-index > :nth-child(2) { --child-index: 2 }
    .with-child-index > :nth-child(3) { --child-index: 3 }
    .with-child-index > :nth-child(4) { --child-index: 4 }
    .with-child-index > :nth-child(5) { --child-index: 5 }
    .with-child-index > :nth-child(6) { --child-index: 6 }
    .with-child-index > :nth-child(7) { --child-index: 7 }
    .with-child-index > :nth-child(8) { --child-index: 8 }
    .with-child-index > :nth-child(9) { --child-index: 9 }
    .with-child-index > :nth-child(10) { --child-index: 10 }
  }
  /* prettier-ignore */
  @media all {
    .with-last-child-index > :nth-last-child(1) { --last-child-index: 1 }
    .with-last-child-index > :nth-last-child(2) { --last-child-index: 2 }
    .with-last-child-index > :nth-last-child(3) { --last-child-index: 3 }
    .with-last-child-index > :nth-last-child(4) { --last-child-index: 4 }
    .with-last-child-index > :nth-last-child(5) { --last-child-index: 5 }
    .with-last-child-index > :nth-last-child(6) { --last-child-index: 6 }
    .with-last-child-index > :nth-last-child(7) { --last-child-index: 7 }
    .with-last-child-index > :nth-last-child(8) { --last-child-index: 8 }
    .with-last-child-index > :nth-last-child(9) { --last-child-index: 9 }
    .with-last-child-index > :nth-last-child(10) { --last-child-index: 10 }
  }
  /* exploration: tapering */
  @media all {
    .time-layers > .time-layer {
      --layer-expose: calc(2em + 0.5em * var(--child-index));
    }
  }

  /* exploration: fixed-height layer mode */
  /* goal is to avoid “layout shift” while still expressing spatial movements */
  @media all {
    .time-layers--open {
      block-size: 8em;
    }
    .time-layers > .time-layer {
      flex-grow: 1;
    }
    .time-layers > .time-layer > .time-layer-bands {
      block-size: 100%;
    }
    /* HACK */
    .time-layer-bands > b + .time-fixed-item-collection {
      flex-basis: 100%;
      flex-shrink: 1;
      flex-grow: 1;
    }
    .time-layers > .time-layer .marker-band,
    .time-layers > .time-layer .time-markers {
      block-size: 100%;
    }
    .time-layers > .time-layer .time-markers button[data-time] {
      display: flex; /*so labels align with block start */
    }
    [data-magnet="end"] > .time-layer .time-markers button[data-time] {
      align-items: end;
    }
  }
}

/* magnets -- sticky headers and footers */
@media none {
  [data-magnet] {
    position: sticky;
    max-block-size: 20vh; /*else it could dominate the viewport*/

    /* might be unneeded or misplaced now */
    z-index: 1; /* get in front of body content, which may itself be positioned */
    background-color: color-mix(
      in hsl,
      transparent,
      color-mix(in hsl, var(--Canvas, Canvas), Canvas)
    );
    background-color: var(--Canvas, Canvas);
    background-color: color-mix(in hsl, var(--Canvas, Canvas), transparent);
  }
  [data-magnet="start"] {
    inset-block-start: 0;
    border-block-end: 2pt solid var(--Highlight, Highlight);
  }
  [data-magnet="end"] {
    inset-block-end: 0;
    border-block-start: 2pt solid var(--Highlight, Highlight);
  }
}

/* trails */
@media all {
  /* SEPARATE animations though so you can disable w/o breaking */
  /* simple but leaves them with display */
  /* animation vs transition so you can scale in */
  .time-location-trail > time {
    animation-duration: 500ms;
  }
  .time-location-trail > time:last-child {
    animation-name: grow-in;
  }
  .time-location-trail > time:not(:last-child) {
    animation-name: shrink-out;
    font-size: 0;
  }

  /* prettier-ignore */
  @media all {
  @keyframes grow-in { from { font-size: 0 } to { font-size: 100% } }
  @keyframes shrink-out { from { font-size: 100% } to { font-size: 0 } }
  }
}

/* block markers using inline margin & size */
@media all {
  [data-timeframe]:not([data-timeframe=""]) .with-time-markers .mark-time {
    transition-duration: 250ms;
  }

  /* item with start */
  [data-timeframe]:not([data-timeframe=""])
    .with-time-markers
    [data-time]
    .mark-time--margin {
    --margin-inline-start: var(--time-item-start-offset);
    margin-inline-start: var(--margin-inline-start);
    text-align: start; /*maybe*/
  }
  /* item with start only */
  [data-timeframe]:not([data-timeframe=""])
    .with-time-markers
    [data-time]:not([data-time-to])
    .mark-time--margin {
    transition-property: margin-inline-start;
  }
  /* item with start and end */
  [data-timeframe]:not([data-timeframe=""])
    .with-time-markers
    [data-time][data-time-to]
    .mark-time--margin {
    transition-property: margin-inline-start, margin-inline-end;
  }
  /* item with end */
  [data-timeframe]:not([data-timeframe=""])
    .with-time-markers
    [data-time-to]
    .mark-time--margin {
    --margin-inline-end: var(--time-item-end-offset);
    margin-inline-end: var(--margin-inline-end);
  }
  /* item with end only */
  [data-timeframe]:not([data-timeframe=""])
    .with-time-markers
    [data-time-to]:not([data-time])
    .mark-time--margin {
    transition-property: margin-inline-end;
    text-align: end; /*maybe*/
    /* I don't think this does anything by itself, but allows for this to have e.g. inline-size: min-content */
    margin-inline-start: auto;
  }
}

/* time block marker: generic block element for indicating a time or span */
@media all {
  /* WIREFRAMES */
  @media none {
    .time-block-marker {
      border: 0.5ch solid red;
      border-radius: 0.5ch;
    }
  }
  /* these come and go abruptly, though */
  /* could transition border-width, OR use `content-box` so it goes out naturally? */
  [data-born-rel="during"] .time-block-marker {
    border-inline-start: 2pt solid var(--Highlight, Highlight);
  }
  [data-died-rel="during"] .time-block-marker {
    border-inline-end: 2pt solid var(--Highlight, Highlight);
  }
  .time-block-marker {
    box-sizing: content-box;
    background-color: color-mix(
      in hsl,
      /* var(--Highlight, Highlight) 35%, */ var(--GrayText, GrayText) 35%,
      transparent
    );
    white-space: nowrap; /*should have some other basis*/
  }
  [data-time][data-time-to] .time-block-marker {
    /* background-color: color-mix(in hsl, var(--Canvas, Canvas), transparent); */
  }
}

/* time marker blocks */
/* flow-positioned timeframe bands */
/* time marker block (for lack of a better name) a container meant to have one child */
/* It supplies its two pseudo-elements as flex children to support positioning of the “real” child */
/* according to the current timeframe when applicable, but staying in view in any case. */
/* out-of-view items should be classified as before or after timeframe */
@media all {
  /* WIREFRAMES */
  @media none {
    .time-marker-block {
      border-block: 1em solid thistle;
      margin-block-end: 2pt;
    }
    /* these are the flex children */
    .time-marker-block::before,
    .time-marker-block::after {
      border-inline: 2pt solid green;
    }
    .time-marker-block > * {
      border-block: 2pt solid var(--wire-color, silver);
    }
    .time-marker-block > :not(.time-block-marker, .time-block-label) {
      --wire-color: var(--unexpected-color, red);
    }
    /* prettier-ignore */
    @media none {
    .time-marker-block > .time-block-marker { --wire-color: gold }
    .time-marker-block > .time-block-label { --wire-color: deeppink }
    }
  }
  .time-marker-block {
    display: flex;
  }
  /* only the pseudo-elements need transition; the real item is unconstrained */
  .time-marker-block::before,
  .time-marker-block::after {
    transition: flex-basis 250ms;
  }
  .time-marker-block > .time-block-marker {
    flex-grow: 1;
  }
  .time-marker-block::before,
  .time-marker-block::after {
    content: "";
  }
  .time-marker-block::before {
    /* values >100% are impossible-to-honor and just put additional wrapping
   pressure on the item... however it's a more interesting effect */
    flex-basis: var(--time-item-start-offset);
    flex-basis: min(100%, var(--time-item-start-offset));
  }
  .time-marker-block::after {
    flex-basis: var(--time-item-end-offset);
    flex-basis: min(100%, var(--time-item-end-offset));
  }
}

/* PROVISIONAL */
/* time range block : a pair of stay-in-frame labels for a start and end */
/* like `.time-marker-block` but with two, start- and end-aligned children */
/* `start` and `end` could be optional but are currently always present.   */
/* When present, they represent respective definitions for an associated range,
   or, when the range intersects or falls outside of the timeframe, may describe
   “where” the thing is relative to where you are now. */
@media all {
  /* WIREFRAMES */
  @media none {
    .time-range-block {
      border-block: 1ch solid dimgray;
    }
    .time-range-block::before,
    .time-range-block::after,
    .time-range-block > * {
      border-block: 4pt solid var(--wire-color, silver);
    }
    /* prettier-ignore */
    @media all {
    .time-range-block [data-affinity="start"] { --wire-color: springgreen }
    .time-range-block [data-affinity="end"] { --wire-color: saddlebrown }
    }
  }
  /* COPIED & adapted from `.time-marker-block` */
  .time-range-block {
    display: flex;
  }
  [data-time] .time-range-block::before,
  [data-time-to] .time-range-block::after {
    content: "";
  }
  .time-range-block > [data-affinity] {
    flex-grow: 1;
  }
  .time-range-block > [data-affinity="end"] {
    text-align: end;
  }
  .time-range-block > [data-affinity],
  [data-time] .time-range-block::before,
  [data-time-to] .time-range-block::after {
    transition: flex-basis 250ms;
  }
  /* [data-time] */
  /* HACK: mixes in people domain */
  [data-born-rel="during"] .time-range-block::before {
    /* values >100% are impossible-to-honor and just put additional wrapping
   pressure on the item... however it's a more interesting effect */
    flex-basis: var(--time-item-start-offset);
    flex-basis: min(100%, var(--time-item-start-offset));
  }

  /* neat but way too wonky */
  @media none {
    :is([data-died-rel="before"], [data-born-rel="after"]) {
      --years-to-decay: 250;
      --major-to-decay: calc(100 * var(--years-to-decay));
      /* or... do it as a percentage of the timeframe... */
      --major-to-decay: calc(
        0.1 * (var(--timeframe-effective-to) - var(--timeframe-effective-from))
      );
      --font-size-decay: calc(
        max(0, var(--major-to-decay) - var(--major-from-timeframe)) /
          var(--major-to-decay)
      );
      --normal-font-size: 100%;
      font-size: calc(min(1em, 1em * var(--font-size-decay)));
    }
  }

  [data-born-rel="after"] {
    --major-from-timeframe: calc(var(--major) - var(--timeframe-to-major));
  }
  [data-died-rel="before"] {
    --major-from-timeframe: calc(var(--timeframe-from-major) - var(--major));
  }
  [data-time-to][data-died-rel="before"] {
    --major-from-timeframe: calc(var(--timeframe-from-major) - var(--major-to));
  }

  /* [data-time-to] */
  /* HACK: mixes in people domain */
  [data-died-rel="during"] .time-range-block::after {
    flex-basis: var(--time-item-end-offset);
    flex-basis: min(100%, var(--time-item-end-offset));
  }
  .time-range-block::after {
    flex-basis: var(--time-item-end-offset);
  }
}

/* time ribbons.  marks of non-overlapping time ranges */
@media all {
  /* WIREFRAMES */
  @media none {
    .time-ribbons {
      border-block: 1ch solid rebeccapurple;
      border-radius: 1ch;
    }
    .time-ribbons > .time-ribbon {
      border-block: 1px dashed black;
    }
    .time-ribbons > :not(.time-ribbon) {
      --wire-color: var(--unexpected-color, red);
    }
  }
  .time-ribbons {
    box-sizing: border-box;
  }
  /* [data-timeframe]:not([data-timeframe=""]) */
  .time-ribbon {
    position: relative;
    box-sizing: border-box;
    min-block-size: 1em;
  }
  /* [data-timeframe]:not([data-timeframe=""]) */
  .time-ribbon > * {
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: content-box;
    /* text-overflow: ellipsis; */
    padding-inline-end: unset;
    padding-inline-start: 1px;

    --background-color: color-mix(
      in hsl,
      var(--GrayText, GrayText) 25%,
      transparent
    );
    /* this one works better in dark mode, but it can't be seen in light mode */
    --background-color: color-mix(in hsl, Canvas 25%, transparent);
    background-color: var(--background-color);
    border-radius: 1pt;

    position: absolute;
    inset-inline-start: var(--time-item-start-offset);
    inline-size: var(--time-item-extent);
    inset-block: 0;
  }
  .time-ribbon > a {
    font-weight: inherit; /*beat bold rule on a, but better limit that one*/
    font-size: smaller;
  }
  .time-ribbon > [wiki]:hover {
    background-color: color-mix(in hsl, var(--Mark, Mark) 25%, transparent);
  }
}

/* restrict “this timeframe” underlay to fringe, vs entire layer */
@media all {
  .time-layers > .time-layer [data-time-underlay="timeframe"] {
    block-size: var(--fringe-size);
  }
  [data-magnet="end"] > .time-layer [data-time-underlay="timeframe"] {
    inset-block-start: auto;
  }
}

/* marking contextual refs in ribbon (or more generally) */
@media all {
  a[wiki] {
    /* what  I really mean here is not `transparent` but `no-op` */
    /* i.e. I wish I hadn't match in the first place */
    /* but updating --selected on the target elements is very easy */
    background-color: color-mix(
      in hsl,
      color-mix(in hsl, var(--Mark, Mark), transparent)
        calc(100% * var(--selected, 0)),
      var(--background-color, transparent) calc(100% * (1 - var(--selected, 0)))
    );
  }
  /* border/outline doesn't work well with inline. these are standalone */
  .time-ribbon > a[wiki] {
    outline-width: calc(0.25ch * var(--selected, 0));
    outline-style: solid;
    /* needed for contrast in dark mode; shouldn't impact normal */
    /* color: var(--CanvasText, CanvasText); */
  }
}

/* person at-age listing */
@media all {
  /* WIREFRAMES */
  @media none {
    .person-at-age-listing {
      border-block: 1ch solid gainsboro;
      border-radius: 1em;
    }
    .person-at-age-listing > :is(ol, li) {
      border-block: 1em solid dimgray;
      border-radius: 1em;
    }
    .person-at-age-listing li > [data-part="age"] {
      border-block: 0.5ch solid darkgray;
    }
    .person-at-age-listing li > [data-part="event"] {
      border-block: 0.5ch solid darkseagreen;
    }
    .person-at-age-listing li > :not([data-part="age"], [data-part="event"]) {
      border-block: 0.5ch solid var(--unexpected-color, red);
    }
  }
  .person-at-age-listing li {
    box-sizing: border-box;
    display: flex;
    width: 100%;
  }
  .person-at-age-listing li > [data-part] {
    transition: flex-basis 250ms;
    white-space: nowrap;
  }
  .person-at-age-listing li > [data-part="age"] {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: var(--time-item-start-offset);
    text-align: end; /*is there a flex property for this?*/
    padding-inline-end: 1ch;
  }
  .person-at-age-listing li > [data-part="event"] {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
  }
  /* this was scoped to `.person-viewpoint`, I substitued `body` */
  @media all {
    body .person-at-age-listing :is(ol, li) {
      margin-block-start: unset;
    }
    body .person-at-age-listing blockquote {
      margin-block-start: unset;
      margin-block-end: unset;
      margin-inline-start: unset;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      inline-size: 100%;
    }
    body .person-at-age-listing .topics,
    body .person-at-age-listing summary,
    body .person-at-age-listing cite {
      display: none;
    }
  }
}

/* person lifetime */
@media all {
  /* WIREFRAMES */
  @media none {
    .person-lifetime {
      border-block: 1ch solid dimgray;
      border-radius: 1ch;
      margin-block-end: 1em;
    }
    .person-lifetime::before,
    .person-lifetime ::before {
      font-family: var(--sans-serif, sans-serif);
      background: Canvas;
      color: CanvasText;
    }
    .person-lifetime > * {
      border-block: 0.5ch solid var(--wire-color, gray);
    }
    .person-lifetime > :not(.label-block, .dates-block, .marker-block) {
      --wire-color: var(--unexpected-color, red);
    }
    /* prettier-ignore */
    @media all {
    .person-lifetime::before { content: "lifetime" }
    .person-lifetime > .label-block::before { content: "label" }
    .person-lifetime > .marker-block::before { content: "marker" }
    .person-lifetime > .dates-block::before { content: "dates" }
    }
  }
  /* opinions */
  .person-lifetime {
    white-space: nowrap; /*inherited throughout, right?*/
  }
  .person-lifetime > .dates-block {
    font-size: 75%;
    display: none;
  }
  /* should be a bit more specific to avoid conflict on transition property */
  @media all {
    .person-lifetime > .marker-block {
      min-block-size: 0;
      /* min-block-size: 1ch; */
      transition: min-block-size 250ms;
    }
    .person-lifetime:is([data-born-rel="during"], [data-died-rel="during"], [data-born-rel="before"][data-died-rel="after"])
      > .marker-block {
      min-block-size: 1ch;
    }
  }
  /* one-line lifetime --- should be the default */
  /* and any more than that should be opt-in */
  @media all {
    .person-lifetime {
      position: relative;
    }
    .person-lifetime > .marker-block {
      position: absolute;
      inset: 0;
      z-index: -1;
    }
  }
  .person-lifetime[wiki] {
    cursor: pointer;
  }

  /* hmm, how to keep href out of this? */
  .person-lifetime:not(.href):is([data-died-rel="before"], [data-born-rel="after"]) {
    animation: shrink-out-block 250ms;
    transform: scaleY(0); /*here and below, no logical equivalent for this*/
    margin-block: 0;
    padding-block: 0;
    max-block-size: 0;
    border-block-width: 0;
  }
  /* not exactly... I mean I still want this on any box that has height */
  .person-lifetime:not([data-member-state="exit"], [data-died-rel="before"], [data-born-rel="after"]) {
    box-sizing: content-box;
    border: 2pt dashed transparent;
  }
  .with-hover-item
    > .person-lifetime:not([data-died-rel="before"], [data-born-rel="after"]):hover {
    border-color: var(--GrayText, GrayText);
    box-shadow: 0 0 1em -0.5ch #3338;
    background-color: color-mix(in hsl, var(--Mark, Mark) 3%, transparent);
  }
}

/* time sequence */
@media all {
  /* WIREFRAMES */
  @media none {
    .time-sequence {
      border-block: 1em solid hotpink;
      border-radius: 1em;
    }
    .time-sequence > .sequence-nav {
      border-block: 0.5ch solid navy;
    }
    .time-sequence > .sequence-item {
      border-block: 0.5ch solid seagreen;
    }
    .time-sequence > :not(.sequence-nav, .sequence-item) {
      border: 4pt dashed var(--unexpected-color, red);
    }
  }
  .time-sequence[data-loading="true"] {
    opacity: 0.5;
    pointer-events: none;
  }
  .time-sequence[data-loading="true"]::before {
    content: "Loading...";
  }
  .time-sequence a[rel] {
    cursor: pointer;
    appearance: button;
  }
  .time-sequence > .sequence-nav {
    display: flex;
    /* taking up the whole row is ugly, though this puts them far apart -- and still takes up the whole row!*/
    justify-content: space-between;
  }
  .time-sequence > .sequence-nav > button[rel="prev"]::before {
    content: "◀ "; /*no logical value*/
  }
  .time-sequence > .sequence-nav > button[rel="next"]::after {
    content: " ▶"; /*no logical value*/
  }
  .time-sequence > .sequence-nav > * {
    /* flex-grow: 1; */ /* see previous note */
  }
  /* TEMP should be conditional */
  .time-sequence .time-marker-block > .time-block-marker {
    block-size: 1ch;
  }
  /* kind of debug */
  .time-sequence > .sequence-nav {
    margin-block-end: 1ch;
  }
  /* prev/next buttons as back panels */
  /* no.  can't break up the block */
  @media none {
    .time-sequence {
      position: relative;
    }
    .time-sequence > .sequence-item {
      margin: 4em;
      background: Canvas;
    }
    .time-sequence > .sequence-nav {
      position: absolute;
      inset: 0;
      z-index: -1;
    }
  }
}

/* initial work on pointer-related stuff */
@media all {
  /* WIREFRAMES */
  @media none {
    [data-pointer-down="true"] {
      outline: 1em solid yellow;
    }
  }
  [data-timeframe] {
    touch-action: none;
  }
}

/* exploratory: ad-hoc person composition */
@media all {
  /* WIREFRAMES */
  @media none {
    .person-composition {
      border-block: 1em solid color-mix(in hsl, peru, transparent);
      border-radius: 1em;
    }
    .person-composition > .person-lifetime {
      border-block: 2pt dashed gray;
    }
    .person-composition > .time-sequence {
      border-block: 2pt dashed dimgray;
    }
    .person-composition > :not(.person-lifetime, .time-sequence) {
      border: 4pt dashed var(--unexpected-color, red);
    }
    .person-composition > .time-sequence::before,
    .person-composition > .person-lifetime::before {
      display: inline-block;
      font-family: var(--sans-serif, sans-serif);
      background: CanvasText;
      color: Canvas;
    }
    .person-composition > .person-lifetime::before {
      content: "lifetime";
    }
    .person-composition > .time-sequence::before {
      content: "highlights";
    }
  }
  .person-composition .time-marker-block > .time-block-marker {
    min-block-size: 1em;
    box-sizing: content-box;
    border-inline: 2pt solid black;
  }
  .person-composition .time-marker-block > .date-block {
    appearance: button;
    /* background-color: ButtonFace; */
    color: Highlight;
    font-family: var(--sans-serif, sans-serif);
    font-weight: bold;
    white-space: nowrap;
  }
  /* cleanup person */
  @media all {
    .person-composition cite {
      display: none;
    }
    .person-composition .person-summary {
      font-weight: bold;
    }
    .person-composition > .time-sequence:not(:empty) {
      padding-block-end: 1em;
    }
  }
}

/* exploration: timeframe accordion */
@media all {
  /* WIREFRAMES */
  @media none {
    .timeframe-accordion {
      border-block: 1em solid sienna;
      border-radius: 1em;
      display: none; /*hold that thought*/
    }
  }
}

/* exploration: timeframe article */
@media all {
  .timeframe-article {
    border: 2pt dashed GrayText;
    display: flex;
    background-color: var(--Canvas, Canvas);
    background-color: color-mix(in hsl, var(--Mark, Mark) 10%, transparent);
    box-shadow: 0 0 1em -0.7ch;
  }
  .timeframe-article > .article-content {
    flex-grow: 1;
    flex-basis: auto;
  }
  .timeframe-article > .article-controls {
    flex: 0 0 4em;
    display: flex;
  }
  /* prettier-ignore */
  @media all {
  .timeframe-article > .article-content {order: 1}
  .timeframe-article > .article-controls {order: 2}
  }
  .timeframe-article > .article-controls > button {
    flex: auto;
    font-size: 200%;
    line-height: 1;
  }
}

/* exploration: “one-line” mode for items */
/* DEBUGGING stutter */
@media none {
  [data-time-underlay],
  .time-layer-bands > b {
    display: none;
  }
}

/* person nominator */
@media {
  /* This thing is informational only so there are no separate wires */
  .person-nominator {
    border: 1ch solid cornflowerblue;
  }
  .person-nominator > :is(ul, ol) {
    list-style: none;
  }
  .person-nominator > :is(ul, ol) > li {
    display: inline;
    animation: font-size-in 500ms;
  }
  .person-nominator > :is(ul, ol) > li:not(:last-child)::after {
    content: ", ";
  }
  .person-nominator > :is(ul, ol) > li:nth-child(20)::after {
    content: "...";
  }
  .person-nominator > :is(ul, ol) > li:nth-child(20) ~ * {
    /* display: none; */
  }
  @keyframes font-size-in {
    from {
      font-size: 0;
    }
  }
}

/* hrefs.  there can be at most one in the context at any time */
@media all {
  /* hmm */
  .time-main-stage > .person-lifetime {
    overflow: hidden;
  }
  .has-href--exclusive > :not(.href) {
    flex-shrink: 1;
    flex-basis: 0;
  }
  .has-href--exclusive > :not(.href) .time-block-label {
    font-size: 0pt;
  }
  .href {
    border: 2pt dashed var(--GrayText, GrayText);
    background-color: color-mix(in hsl, var(--Mark, Mark) 3%, transparent);
    box-shadow: 0 0 1em -0.5ch #3338;
    flex-shrink: 0;
  }
  .person-lifetime .time-block-label {
    transition: font-size 250ms;
  }
  .person-lifetime.href .time-block-label {
    font-size: 200%;
  }
}

/* exploratory: time split pane: share block between timeframe & other things */
/* normally, timeline blocks use the whole inline extent: they don't introduce
   decorative margin, padding, border, or any other content that would alter
   positioning within the container.  A split provides a controlled way to
   devote block space to content that may not be time-aligned, without impacting
   the default positioning on either side. */
/* This works only for scalars.  The inner timeframe will still see the “real”
   timeframe's dates.  Indeed, come to think of it, if it's listening to the
   scalars, it will see the main ones too... so yeah this is good only for
   limited cases. */
@media all {
  /* WIREFRAMES */
  @media all {
    .time-split > :first-child {
      box-sizing: border-box;
      border: 1ch solid tomato;
    }
    .time-split > :last-child {
      box-sizing: border-box;
      border: 1ch solid lavender;
    }
  }
  .time-split {
    --r: 0.5;
    display: flex;
  }
  .time-split > :first-child {
    flex: 0 0 var(--r);
    --timeframe-effective-to: calc(
      var(--timeframe-from-major) + var(--r) *
        (var(--timeframe-to-major) - var(--timeframe-from-major))
    );
  }
  .time-split > :first-child + :last-child {
    flex: 0 0 calc(1 - var(--r));
    --timeframe-effective-to: calc(
      var(--timeframe-to-major) + (1 - var(--r)) *
        (var(--timeframe-to-major) - var(--timeframe-from-major))
    );
  }
}

/* time form / timeframe form */
@media all {
  /* WIREFRAMES */
  @media none {
    .time-form {
      border-block: 1ch solid orchid;
      border-radius: 1ch;
    }
  }
}

/* what to call this... */
@media all {
  .special-list {
    border-block: 0.5ch solid;
  }
  .special-list > * {
    margin-inline: unset;
    padding-inline: unset;
    border-inline: unset;
    /* goes with hover */
    box-sizing: content-box;
    border: 2pt dashed transparent;
  }
  .special-list:is(ul, ol) {
    padding-inline-start: unset;
  }
  .special-list > :hover {
    /* copied from person-lifetime */
    border-color: var(--GrayText, GrayText);
    box-shadow: 0 0 1em -0.5ch #3338;
    background-color: color-mix(in hsl, var(--Mark, Mark) 3%, transparent);
  }
}

/* also um */
@media all {
  .one-liners > * {
    white-space: nowrap;
  }
}

/* multi-term list */
@media all {
  /* WIREFRAMES */
  @media none {
    [data-term] {
      border-block: 1px solid black;
    }
    [data-term] > * {
      border-inline: 1px dotted black;
    }
  }
  [data-term] {
    display: flex;
    flex-direction: row;
    position: relative; /*needed for overflow*/
    line-height: 1;
  }
  /* but not when collapsed... */
  [data-term]::before {
    content: attr(data-term);
  }
  /* works with or without grouping, but it shouldn't know about `data-tally-for` */
  [data-timeframe]:not([data-timeframe=""]) [data-term] > [data-tally-for] > *,
  [data-timeframe]:not([data-timeframe=""])
    [data-term]
    > :not([data-tally-for]) {
    position: absolute;
    inset-inline-start: var(--time-item-start-offset);
  }
}
/* HELP! */
@media none {
  figure {
    margin-block: unset;
  }
  .time-main-stage {
    font-size: 100%;
  }
  .time-main-stage.fullscreen {
    block-size: 100vh;
  }
  body > :not(main),
  main > :not(figure:first-of-type),
  p ~ figure {
    display: none;
  }
}
@media none {
  figure:not([id]) {
    display: none;
  }
}

/* exploratory: collapse / platform */
@media all {
  /* WIREFRAMES */
  @media none {
    .platform--collapsible {
      border-block: 1ch solid color-mix(in hsl, currentColor, transparent);
      border-radius: 1ch;
    }
    .platform--collapsible > * {
      border-block: 1px dotted color-mix(in hsl, currentColor, transparent);
    }
  }
  .platform--collapsible {
    max-block-size: 100vh;
    display: flex;
    flex-direction: column;
  }
  .platform--collapsible > * {
    position: relative;
    flex-basis: 1em;
    /* there's a slight jump due to border, but I don't find that transitioning helps */
    transition: flex-basis 350ms;
  }
  /* hmm, big hammer */
  .platform--collapsible > ::before,
  .platform--collapsible > ::after,
  .platform--collapsible > * > * {
    position: absolute;
  }
  :is(.platform--collapsed, .platform--collapsed-1) > * {
    flex-basis: 0;
    border-block-width: 0;
  }
  /* or use the container */
  @media none {
    .platform--collapsible {
      transition: max-block-size 350ms;
    }
    .platform--collapsed {
      max-block-size: 0;
    }
    .platform--collapsed-1 {
      max-block-size: 1em;
    }
  }
}

/* warnings */
@media all {
  [data-warn]::after {
    content: attr(data-warn);
    padding: 2pt;
    background-color: Canvas;
    color: CanvasText;
    border: 2pt solid var(--badness-color, red);
  }
}

/* players */
@media all {
  [data-player] {
    border-block: 1ch solid;
    border-radius: 1ch;
  }
  [data-player]:empty {
    /* inline-size: 0;*/ /*doesn't do what I expect*/
  }
  [data-player] > [typeof]::before {
    content: attr(typeof);
    display: block;
  }
}

/* exploratory: tree map */
@media all {
  [typeof~="tree-map"] > [data-part="items"] {
    border: 1ch solid green;
    display: flex;
    transition: max-block-size 250ms;
    max-block-size: 0;
  }
  [typeof~="tree-map"] > [data-part="items"]:not(:empty) {
    max-block-size: 50vh;
  }
  [typeof~="tree-map"] > [data-part="items"] > * {
    border: 1px dotted green;
    transition: flex-basis 250ms;
    flex-basis: calc(100% * var(--count, 0) / var(--total, 1));
    overflow: hidden;
    writing-mode: vertical-lr; /*places label at “end” of box, -rl places at start*/
  }
  /* hack, should use real markup for this */
  [typeof~="tree-map"] > [data-part="items"] > [data-count]::after {
    content: " " attr(data-count);
  }
}

/* part-whole diagrams */
@media all {
  [data-whole] > [data-part]::before {
    content: attr(data-part);
  }
}

/* system notation */
@media all {
  [data-notation="system"] {
    border: 2pt solid black;
  }
  [data-notation="system"]
    > [data-part="processes"]
    > [data-notation="process"] {
    display: block;
  }
}

/* notation */
@media all {
  [data-notation]:empty::before {
    content: "(" attr(data-notation) ")";
    color: var(--GrayText, GrayText);
    font-family: var(--sans-serif, sans-serif);
  }
}

/* process notation */
/* starting to define in main-in.html... */
@media all {
  [data-notation="process"][data-process-accepted]::after {
    content: "☑ accepted";
    color: var(--accepted-color, green);
  }
  [data-notation="process"][data-process-rejected]::after {
    content: "✗ rejected";
    color: var(--rejected-color, red);
  }
  [data-notation="process"][data-process-type]::before {
    content: attr(data-process-type) " " attr(data-notation);
  }
  [data-notation="process"] > [data-part="steps"] {
    display: flex;
  }
  [data-notation="process"] > [data-part="steps"] > * {
    padding-inline-end: 1ch;
  }
  [data-notation="process"] > [data-part="steps"]:is(ol, ul) {
    list-style: none;
  }
  [data-notation="process"] > ol[data-part="steps"] {
    counter-reset: step 0;
  }
  [data-notation="process"] > ol[data-part="steps"] > li {
    counter-increment: step 1;
  }
  [data-notation="process"] > ol[data-part="steps"] > li::before {
    content: "(" counter(step, decimal) ") ";
  }
  [data-notation="process"] > ul[data-part="steps"] > li::before {
    content: "●";
  }
}

@media all {
  .touched {
    outline: 4pt dashed ActiveText;
  }
  [data-timeframe]:not([data-timeframe=""])
    [data-time][data-time-to]:is([typeof~="en_us_presidents"], [typeof~="en_us_constitutional_amendments"]) {
    background: color-mix(in hsl, var(--GrayText, GrayText), transparent);
  }
  .flex-list-tbd .touched {
    flex-basis: 2em;
    flex-grow: 1;
  }
  /* prettier-ignore */
  @media none {
  .special-list > .touched {
    outline: none;              /*beat default*/
    position: relative;
    /* overflow: visible; */
    z-index: 1;
  }
  .special-list > .touched::before,
  .special-list > .touched::after {
    content: "";
    position: absolute;
     z-index: -1;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 200%;
    animation: block-size-in 250ms;
    background: color-mix(in hsl, var(--Canvas, Canvas) 75%, transparent);
    border: 1pt solid #3337;
    backdrop-filter: blur(1pt);
  }
  .special-list > .touched::before { inset-block-end: 100%; box-shadow: -1em 0 1em -0.5ch }
  .special-list > .touched::after { inset-block-start: 100%; box-shadow: 1em 0 1em -0.5ch }
  @keyframes block-size-in { from { block-size: 0 } }
  }
  @media all {
    .special-list > .touched {
      outline: none; /*beat default*/
      animation: warmth-fade 5s;
      background-color: transparent;
    }
    @keyframes warmth-fade {
      from {
        background-color: color-mix(
          in hsl,
          var(--ActiveText, ActiveText) 20%,
          transparent
        );
      }
    }
  }
  [data-timeframe]:not([data-timeframe=""]) [data-time-to-present] {
    --now-color: ActiveText;
    border-inline-end: 2pt solid var(--now-color);
  }
  [data-amendment-number] > a {
    display: none;
  }
  [data-amendment-number]::before {
    content: attr(data-amendment-number);
    font-size: 300%;
    position: absolute;
    margin-block-start: -0.33em;
    margin-inline-start: -4.33em;
    inline-size: 4em;
    text-align: end;
  }
}

/* prevent reflow jumps */
@media all {
  .nogrow {
    block-size: 10em;
    overflow: hidden;
  }
}
