@media all {
  @media (prefers-color-scheme: dark) {
    :root {
      --Canvas: hsla(233deg, 20%, 30%);
      --CanvasText: color-mix(in lab, Canvas 80%, transparent);
    }
  }
  body {
    background: var(--Canvas, Canvas);
    color: var(--CanvasText, CanvasText);
  }
  html {
    background: black;
  }
}
/* house rules */
@media all {
  body {
    overflow-x: hidden; /*for the last time, why can't this go on timeframe?*/
  }
  body.shiftKey {
    filter: blur(2px);
  }
  a {
    color: inherit;
    text-decoration-color: var(--LinkText, LinkText);
    text-decoration-thickness: 2pt;
  }
  button {
    cursor: pointer;
  }
}

/* what to call this... */
@media all {
  .special-list {
    border-block: 0.5ch solid;
  }
  .special-list > * {
    margin-inline: unset;
    padding-inline: unset;
    border-inline: unset;
    /* goes with hover */
    box-sizing: content-box;
    border: 2pt dashed transparent;
  }
  .special-list:is(ul, ol) {
    padding-inline-start: unset;
  }
  .special-list > :hover {
    /* copied from person-lifetime */
    border-color: var(--GrayText, GrayText);
    box-shadow: 0 0 1em -0.5ch #3338;
    background-color: color-mix(in hsl, var(--Mark, Mark) 3%, transparent);
  }
}

/* US constitutional amendments, bespoke */
@media all {
  .touched {
    outline: 4pt dashed ActiveText;
  }
  [data-timeframe]:not([data-timeframe=""])
    [data-time][data-time-to]:is([typeof~="en_us_presidents"], [typeof~="en_us_constitutional_amendments"]) {
    background: color-mix(in hsl, var(--GrayText, GrayText), transparent);
  }
  .flex-list-tbd .touched {
    flex-basis: 2em;
    flex-grow: 1;
  }
  /* prettier-ignore */
  @media none {
  .special-list > .touched {
    outline: none;              /*beat default*/
    position: relative;
    /* overflow: visible; */
    z-index: 1;
  }
  .special-list > .touched::before,
  .special-list > .touched::after {
    content: "";
    position: absolute;
     z-index: -1;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 200%;
    animation: block-size-in 250ms;
    background: color-mix(in hsl, var(--Canvas, Canvas) 75%, transparent);
    border: 1pt solid #3337;
    backdrop-filter: blur(1pt);
  }
  .special-list > .touched::before { inset-block-end: 100%; box-shadow: -1em 0 1em -0.5ch }
  .special-list > .touched::after { inset-block-start: 100%; box-shadow: 1em 0 1em -0.5ch }
  @keyframes block-size-in { from { block-size: 0 } }
  }
  @media all {
    .special-list > .touched {
      outline: none; /*beat default*/
      animation: warmth-fade 5s;
      background-color: transparent;
    }
    @keyframes warmth-fade {
      from {
        background-color: color-mix(
          in hsl,
          var(--ActiveText, ActiveText) 20%,
          transparent
        );
      }
    }
  }
  [data-timeframe]:not([data-timeframe=""]) [data-time-to-present] {
    --now-color: ActiveText;
    border-inline-end: 2pt solid var(--now-color);
  }
  [data-amendment-number] > a {
    display: none;
  }
  [data-amendment-number]::before {
    content: attr(data-amendment-number);
    font-size: 300%;
    position: absolute;
    margin-block-start: -0.33em;
    margin-inline-start: -4.33em;
    inline-size: 4em;
    text-align: end;
  }
}

/* console stuff */
@media all {
  /* WIREFRAMES */
  @media none {
    [data-console] {
      border: 2pt solid red;
    }
    [data-console]::before {
      content: attr(data-console);
      background: Canvas;
      color: CanvasText;
    }
  }
  [data-console]:empty {
    display: none;
  }
  /* console entry as marker */
  [data-timeframe] [data-console] [data-time] {
    margin-inline-start: var(--time-item-start-offset);
  }
}
