/* prettier-ignore */
@media all {
  :nth-child(1) { --child-index: 1 }
  :nth-child(2) { --child-index: 2 }
  :nth-child(3) { --child-index: 3 }
  :nth-child(4) { --child-index: 4 }
  :nth-child(5) { --child-index: 5 }
  :nth-child(6) { --child-index: 6 }
  :nth-child(7) { --child-index: 7 }
  :nth-child(8) { --child-index: 8 }
  :nth-child(9) { --child-index: 9 }
  :nth-child(10) { --child-index: 10 }
  :nth-child(11) { --child-index: 11 }
}

/*
body {
  margin: 0;
  height: 100vh;
}
body > .tree-map {
  font-family: sans-serif;
  position: absolute;
  inset: 0;
}
*/
@media all {
  /* WIRE */
  @media all {
    .inner {
      flex-grow: 1; /*huh??*/
    }
    .tree-map {
      box-sizing: border-box;
      border: 2pt solid ActiveText;
      block-size: 100%;
    }
  }

  .tree-map,
  .tree-map div {
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .tree-map div {
    flex: 0 0 var(--size-portion);
    flex: 0 0 auto;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
  }
  /* prettier-ignore */
  @media all {
  .tree-map div {
    --tree-map-depth: 1;
  }
  .tree-map div div {
    --tree-map-depth: 2;
  }
  .tree-map div div div {
    --tree-map-depth: 3;
  }
  .tree-map div div div div div {
    --tree-map-depth: 4;
  }
  .tree-map div div div div div div {
    --tree-map-depth: 5;
  }
  .tree-map div div div div div div div {
    --tree-map-depth: 6;
  }
  .tree-map div div div div div div div div {
    --tree-map-depth: 7;
  }
  .tree-map div div div div div div div div div {
    --tree-map-depth: 8;
  }
  .tree-map div div div div div div div div div div {
    --tree-map-depth: 9;
  }
  .tree-map div div div div div div div div div div div {
    --tree-map-depth: 10;
  }
  .tree-map div div div div div div div div div div div div {
    --tree-map-depth: 11;
  }
}
  .tree-map div {
    font-size: calc(32pt - 5pt * var(--tree-map-depth));
  }

  .tree-map,
  .tree-map div div,
  .tree-map div div div div,
  .tree-map div div div div div div,
  .tree-map div div div div div div div div,
  .tree-map div div div div div div div div div div {
    flex-direction: column;
  }

  .tree-map [data-name]::before {
    content: attr(data-name);
    color: GrayText;
    position: absolute;
    inset: 0;
  }
  .tree-map div::before {
    text-align: start;
  }
  .tree-map div div::before {
    text-align: end;
  }
  .tree-map div div div [data-name]:not(:hover)::before {
    display: none;
  }
  .tree-map div > div {
    background: hsla(calc(15deg * (var(--child-index) - 1)), 50%, 60%, 0.5);
  }
  .tree-map div div div div {
    display: none;
  }
}
