<tr id="mwAaQ">
  <th scope="row" id="mwAaU">
    <a
      rel="mw:WikiLink"
      href="./Presidency_of_John_Tyler"
      title="Presidency of John Tyler"
      id="mwAaY"
      >10</a
    >
  </th>
  <td id="mwAac">
    <span typeof="mw:File" id="mwAag"
      ><a
        href="./File:John_Tyler_crop.jpg"
        class="mw-file-description"
        id="mwAak"
        ><img
          alt="Black-and-white photographic portrait of John Tyler"
          resource="./File:John_Tyler_crop.jpg"
          src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b2/John_Tyler_crop.jpg/150px-John_Tyler_crop.jpg"
          decoding="async"
          data-file-width="900"
          data-file-height="1172"
          data-file-type="bitmap"
          height="195"
          width="150"
          srcset="
            //upload.wikimedia.org/wikipedia/commons/thumb/b/b2/John_Tyler_crop.jpg/225px-John_Tyler_crop.jpg 1.5x,
            //upload.wikimedia.org/wikipedia/commons/thumb/b/b2/John_Tyler_crop.jpg/300px-John_Tyler_crop.jpg 2x
          "
          class="mw-file-element"
          id="mwAao" /></a
    ></span>
  </td>
  <td data-sort-value="Tyler, John" id="mwAas">
    <b id="mwAaw"
      ><a rel="mw:WikiLink" href="./John_Tyler" title="John Tyler" id="mwAa0"
        >John Tyler</a
      ></b
    ><br id="mwAa4" /><span
      style="font-size: 85%"
      about="#mwt185"
      typeof="mw:Transclusion"
      data-mw='{"parts":[{"template":{"target":{"wt":"Small","href":"./Template:Small"},"params":{"1":{"wt":"(1790–1862)"}},"i":0}}]}'
      id="mwAa8"
      >(1790–1862)</span
    ><br id="mwAbA" /><sup
      about="#mwt186"
      class="mw-ref reference"
      id="cite_ref-FOOTNOTEShade2000_39-0"
      rel="dc:references"
      typeof="mw:Transclusion mw:Extension/ref"
      data-mw='{"parts":[{"template":{"target":{"wt":"Sfnp","href":"./Template:Sfnp"},"params":{"1":{"wt":"Shade"},"2":{"wt":"2000"}},"i":0}}]}'
      ><a
        href="./List_of_presidents_of_the_United_States#cite_note-FOOTNOTEShade2000-39"
        style="counter-reset: mw-Ref 31"
        id="mwAbE"
        ><span class="mw-reflink-text" id="mwAbI">[31]</span></a
      ></sup
    >
  </td>
  <td id="mwAbM">
    <span class="date" style="white-space: nowrap" id="mwAbQ"
      >April 4, 1841<sup
        about="#mwt189"
        class="mw-ref reference"
        id="cite_ref-41"
        rel="dc:references"
        typeof="mw:Transclusion mw:Extension/ref"
        data-mw='{"parts":[{"template":{"target":{"wt":"efn","href":"./Template:Efn"},"params":{"1":{"wt":"John Tyler succeeded to the presidency upon the death of William Henry Harrison.{{Sfnp|Abbott|2013|p=23}}"}},"i":0}}]}'
        ><a
          href="./List_of_presidents_of_the_United_States#cite_note-41"
          style="counter-reset: mw-Ref 9"
          data-mw-group="lower-alpha"
          id="mwAbU"
          ><span class="mw-reflink-text" id="mwAbY">[lower-alpha 9]</span></a
        ></sup
      ><br id="mwAbc" />–<br id="mwAbg" /><span
        data-sort-value="000000001845-03-04-0000"
        style="white-space: nowrap"
        about="#mwt194"
        typeof="mw:Transclusion"
        data-mw='{"parts":[{"template":{"target":{"wt":"dts","href":"./Template:Dts"},"params":{"1":{"wt":"March 4, 1845"}},"i":0}}]}'
        id="mwAbk"
        >March 4, 1845</span
      ></span
    >
  </td>
  <td
    style="background: linear-gradient(#f0c862 50%, #dcdcdc 50%)"
    about="#mwt197"
    typeof="mw:ExpandedAttrs"
    data-mw='{"attribs":[[{"txt":"style"},{"html":"background: linear-gradient(&lt;span typeof=\"mw:Transclusion mw:Entity\" about=\"#mwt195\" data-parsoid=&apos;{\"srcContent\":\"#\",\"dsr\":[13839,13881,null,null],\"pi\":[[{\"k\":\"1\"}]]}&apos; data-mw=&apos;{\"parts\":[{\"template\":{\"target\":{\"wt\":\"party color\",\"href\":\"./Template:Party_color\"},\"params\":{\"1\":{\"wt\":\"Whig Party (United States)\"}},\"i\":0}}]}&apos;>#&lt;/span>&lt;span about=\"#mwt195\" data-parsoid=\"{}\">F0C862&lt;/span> 50%, &lt;span typeof=\"mw:Transclusion mw:Entity\" about=\"#mwt196\" data-parsoid=&apos;{\"srcContent\":\"#\",\"dsr\":[13887,13927,null,null],\"pi\":[[{\"k\":\"1\"}]]}&apos; data-mw=&apos;{\"parts\":[{\"template\":{\"target\":{\"wt\":\"party color\",\"href\":\"./Template:Party_color\"},\"params\":{\"1\":{\"wt\":\"Independent (politician)\"}},\"i\":0}}]}&apos;>#&lt;/span>&lt;span about=\"#mwt196\" data-parsoid=\"{}\">DCDCDC&lt;/span> 50%);"}]]}'
    id="mwAbo"
  ></td>
  <td id="mwAbs">
    <a
      rel="mw:WikiLink"
      href="./Whig_Party_(United_States)"
      title="Whig Party (United States)"
      id="mwAbw"
      >Whig</a
    ><sup
      about="#mwt198"
      class="mw-ref reference"
      id="cite_ref-JTyler_43-0"
      rel="dc:references"
      typeof="mw:Transclusion mw:Extension/ref"
      data-mw='{"parts":[{"template":{"target":{"wt":"efn","href":"./Template:Efn"},"params":{"name":{"wt":"\"JTyler\""},"1":{"wt":"John Tyler was elected vice president on the Whig Party ticket in 1840. His policy priorities as president soon proved to be opposed to most of the Whig agenda, and he was expelled from the party five months after assuming office.{{sfnp|Cash|2018|pp=34–36}}"}},"i":0}}]}'
      ><a
        href="./List_of_presidents_of_the_United_States#cite_note-JTyler-43"
        style="counter-reset: mw-Ref 10"
        data-mw-group="lower-alpha"
        id="mwAb0"
        ><span class="mw-reflink-text" id="mwAb4">[lower-alpha 10]</span></a
      ></sup
    >
    <hr id="mwAb8" />
    <p id="mwAcA"><i id="mwAcE">Unaffiliated</i></p>
  </td>
  <td id="mwAcI">
    <span
      style="color: gray"
      about="#mwt203"
      typeof="mw:Transclusion"
      data-mw='{"parts":[{"template":{"target":{"wt":"gray","href":"./Template:Gray"},"params":{"1":{"wt":"{{endash}}"}},"i":0}}]}'
      id="mwAcM"
      >–</span
    >
  </td>
  <td id="mwAcQ">
    <i id="mwAcU"
      >Vacant<span typeof="mw:Entity" id="mwAcY"> </span>throughout<br
        id="mwAcc"
      />presidency</i
    >
  </td>
</tr>
