<article>
  <style>
    html {
      background-color: hsl(10deg, 10%, 10%);
      color: hsl(10deg, 10%, 55%);
    }
    a {
      font-family: var(--font-family-sans-serif, sans-serif);
      color: inherit;
      text-decoration-color: LinkText;
      text-decoration-thickness: 2pt;
    }
  </style>
  <h2><time datetime="2023-03-22T02:16:28Z"></time>☮ agenda</h2>
  <p><time datetime="2023-03-22T02:25:56Z"></time>domain explorations</p>
  <ol>
    <li><time datetime="2023-03-22T02:19:06Z"></time>time</li>
    <li><time datetime="2023-03-22T02:19:26Z"></time>constructive dialog</li>
    <li><time datetime="2023-03-22T02:20:46Z"></time>Shakespeare</li>
    <li><time datetime="2023-03-22T02:21:14Z"></time>healing waters</li>
  </ol>
  <p>reflection/backlog:</p>
  <ul>
    <li><time datetime="2023-03-22T03:26:52Z"></time>zip</li>
    <li><time datetime="2023-03-22T03:27:06Z"></time>web cache</li>
    <li><time datetime="2023-03-22T02:44:30Z"></time>um, documentation</li>
    <li><time datetime="2023-03-22T02:26:54Z"></time>diff notebooks</li>
    <li><time datetime="2023-03-22T02:22:26Z"></time>hash notebooks</li>
    <li><time datetime="2023-03-22T02:44:30Z"></time>um, compose notebooks</li>
    <li>
      <time datetime="2023-03-22T02:36:14Z"></time>embed script, style, and svg
    </li>
    <li><time datetime="2023-03-22T02:36:53Z"></time>embed media blobs</li>
    <li><time datetime="2023-03-22T02:27:08Z"></time>Windows & Mac testing</li>
    <li>
      <time datetime="2023-03-22T02:31:32Z"></time>impure rule explorations
    </li>
    <li>
      <time datetime="2023-03-22T02:17:25Z"></time>demark keywords and emit
      structures in code listings
    </li>
    <li>
      <time datetime="2023-03-22T02:18:46Z"></time>restore script
      type=graphviz:dot
    </li>
    <li><time datetime="2023-03-22T02:23:43Z"></time>Unicode explorations</li>
  </ul>
  <p>
    And when all that's done, revisit
    <a href="https://def.codes/">def.codes</a>.
  </p>
  <time datetime="2023-03-22T03:02:16Z"></time>
</article>
