<article>
  <style>
    html {
      background-color: hsl(10deg, 10%, 10%);
      color: hsl(10deg, 10%, 55%);
    }
    a {
      font-family: var(--font-family-sans-serif, sans-serif);
      color: inherit;
      text-decoration-color: LinkText;
      text-decoration-thickness: 2pt;
    }
    section::before {
      content: "§";
    }
    p::before {
      content: "¶";
      opacity: 0.6;
    }
    aside::before,
    aside::after {
      display: inline;
    }
    aside::before {
      content: "(";
    }
    aside::after {
      content: ")";
    }
    [data-project-file]::before {
      content: " (" attr(data-project-file) ")\0a";
    }
  </style>
  <h2>
    <time datetime="2023-03-22T03:21:49Z"></time>proposals: carry file metadata
    and persist file times
  </h2>
  <p>
    This HTML document embeds several files, which you can see at the end of
    this page.
  </p>
  <p>These files can be <q>unpacked</q> into a system.</p>
  <p>
    This is most easily done into a new place, creating new files. Naturally,
    these files are given birthdates that tell when they were unpacked.
  </p>
  <p>
    But files could carry their modification time. At unpacking time, the file
    can be assigned a time that carries over from the previous one.
  </p>
  <p>
    Age only increases. Knowing a file's true age can help you understand it.
  </p>
  <p>To do the first part of this requires a change to article.sh.</p>
  <p>
    <time datetime="2023-03-22T04:15:35Z"></time>I have made the update to
    article to include creation date (when available), modified date, and size
    in bytes (for good measure).
  </p>
  <p>
    <time datetime="2023-03-23T03:01:19Z"></time>Now I will modify unpack.sh to
    apply these times when unpacking. I suppose I could also note any
    differences in size. I expect the sizes to match exactly, since everything
    is (at least intended to be) UTF-8.
  </p>
  <p>
    <time datetime="2023-03-23T03:10:05Z"></time>I am determining the way to
    communicate this. <code>unpack.sh</code> runs a transform that creates the
    documents (using the EXSLT output document extension element). But
    <code>ex:document</code> can only go so far. It can write the text content
    and assert an encoding, but it cannot set file attributes, such as
    timestamps, which is our task here.
  </p>
  <p>I dwell on this cause it's a case of <strong>glue</strong>.</p>
  <p>
    <time datetime="2023-03-23T03:27:01Z"></time>In unpack.sh, the shell script
    and the transform are literally glued together. They might as well be: they
    communicate using an anonymous little format that I don't mean to export.
    Although
    <a
      href="https://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html#tag_18_07_04"
      >POSIX here-documents</a
    >
    are as good as CDATA in their way, this kind of quoting is
    unnatural—especially in this system! But honestly, you don't want these two
    things coming apart easily.
  </p>
  <p>
    <time datetime="2023-03-23T04:13:49Z"></time>Now, to write the file times, I
    need to pass more kinds of information from XSLT downstream. This breaks the
    little format. But more than that, I have misgivings about the format being
    line-based, although it is convenient.
  </p>
  <p>
    <time datetime="2023-03-23T03:33:27Z"></time>The whole
    <q>parsing with regex</q> thing is something I do not want to see more of.
    It's an interop fail. Use defined formats with host i/o. I feel strongly
    enough about the matter that this system takes on its second dependency just
    for the privilege of wielding XSLT. Don't worry, we'll get our money's worth
    of it.
  </p>
  <p>
    <time datetime="2023-03-23T03:43:46Z"></time>And yet, even though I use a
    standard parser with a standard format, I still end up using an
    <i>ad hoc</i> format to communicate back to shell, because XSL knows
    something that only shell can effect. This was motivated:
  </p>
  <ol>
    <li>by the wish to make some shell scripts executable</li>
    <li>
      by the need to carry zero-byte files, which, to wit, cannot be written by
      ex:document
    </li>
  </ol>
  <p>
    <time datetime="2023-03-23T03:56:53Z"></time>So the XSL, which can read the
    tags on the things being unpacked, has to tell someone, and the only one
    listening is shell. Sure, we should use the native format, which is XML
    (this is after all structured data), but of course if shell could parse XML,
    we might not have needed XSL in the first place!
  </p>
  <p>
    <time datetime="2023-03-23T03:58:39Z"></time>Oh well. You can pass simple
    things like timestamps without much trouble. The main problem is the one
    that's already supported: filenames. How do I stream to you a list of names
    so that you know where one ends and the next one begins? Spaces, sure.
    Unless your filenames can have spaces. Um I have filenames containing spaces
    that are old enough to eschew driving. Newlines? Hold my beer.
  </p>
  <code>man xargs</code>
  <output>
    <pre>
OPTIONS
       -0, --null
              Input items are terminated by a null character instead of by whitespace, and the quotes and backslash are
              not special (every character is taken literally).  Disables the end of file string, which is treated like
              any other argument.  Useful when input items might contain white space, quote marks, or backslashes.  The
              GNU find -print0 option produces input suitable for this mode.
  </pre
    >
  </output>
  <p>
    <time datetime="2023-03-23T03:59:48Z"></time>Sure, filenames really
    shouldn't contain newlines. Many softwares will have bugs in such cases.
  </p>
  <p>
    <time datetime="2023-03-23T04:01:34Z"></time>The cost of saying that
    filenames can have any characters is that it breaks every format you can
    think of which might contain them. The problem submits to a simple proof.
    For any <var>D</var> you propose as delimiter, I can give you some userland
    text (i.e. filename) containing <var>D</var>. It's impossible, right?
    Multi-part MIME throws up its hands and makes <em>you</em> provide a unique
    token.
  </p>
  <p>
    <time datetime="2023-03-23T04:06:29Z"></time>Moral: open domains complicate
    glue.
  </p>
  <p>
    <time datetime="2023-03-23T04:10:29Z"></time>The question becomes, can I
    emit NUL in XSL?
  </p>
  <p>
    <time datetime="2023-03-23T04:26:18Z"></time>I broke the build by adding a
    directory called <code>Can I emit NUL in XSLT?</code>.
  </p>
  <pre>
tup error: Unable to find command id for output file: Can I emit NUL in XSLT?/.gitignore
tup error: Error parsing ../Tuprules.tup line 6
  Line was: ': * ^bundle.html   |&gt; ^ bundle %d^ PROJECT_ROOT='$(ROOT)' $(ROOT)/articles.sh %f &gt; '%o'   |&gt; bundle.html $(ROOT)/&lt;bundles&gt;'
tup error: Failed to parse included file '../Tuprules.tup'
</pre
  >
  <p>
    <time datetime="2023-03-23T04:31:16Z"></time>Is it because the directory is
    empty? <code>mkdir temp</code> No, that's okay. <code>rmdir temp</code> Oh,
    and Tup has put a <code>.gitignore</code> there.
    <code>rm temp/.gitignore; rmdir temp</code>
  </p>
  <p>
    <time datetime="2023-03-23T04:34:18Z"></time><code>mkdir 'a b'</code> works
    okay and creates a .gitignore. <code>mkdir 'x?'</code> too.
    <code>mkdir 'Can I emit NUL in XSLT?'</code> Oh actually that works too.
    What happened before? I made that change from wdired-mode, not a direct
    shell command.
  </p>
  <p>
    <time datetime="2023-03-23T04:37:19Z"></time>If I do
    <code>echo unknown &gt; answer</code> in that directory, then I get an
    error.
  </p>
  <pre>
* 0) ./pack.sh %&lt;bundles&gt; &gt; 'notebook.html'                                                                               
tup: Expanded command string: ./pack.sh bundle.html journal/bundle.html Can I emit NUL in XSLT?/bundle.html &gt; 'notebook.html'
cat: Can: No such file or directory
cat: I: No such file or directory
cat: emit: No such file or directory
cat: NUL: No such file or directory
cat: in: No such file or directory
cat: 'XSLT?/bundle.html': No such file or directory
 *** tup messages ***
</pre
  >
  <p>
    <time datetime="2023-03-23T04:39:20Z"></time>bundle.html in that directory
    has the expected thing, although I have not tested yet with QUOTES in
    filenames either.
  </p>
  <pre>
&lt;article name="answer"&gt;
&lt;details&gt;
&lt;summary&gt;Can I emit NUL in XSLT?/answer&lt;/summary&gt;
&lt;pre data-project-file="Can I emit NUL in XSLT?/answer" data-file-changed='2023-03-23T04:36:45Z' data-file-size='8'&gt;unknown
&lt;/pre&gt;
&lt;/details&gt;
&lt;/article&gt;
  </pre>
  <p>
    <time datetime="2023-03-23T04:42:40Z"></time>Anyway the error results from
    the rule
  </p>
  <pre>
    : | &lt;bundles&gt; |&gt; ./pack.sh %&lt;bundles&gt; &gt; '%o' |&gt; notebook.html
  </pre>
  <p>
    <time datetime="2023-03-23T04:54:50Z"></time>This really looks like a Tup
    problem. I mean I never use spaces in filenames, so for all I know it's a
    problem throughout Tup, any place where you'd have a list.
  </p>
  <pre>
# : | &lt;bundles&gt; |&gt; ./pack.sh %&lt;bundles&gt; &gt; '%o' |&gt; notebook.html
: | &lt;bundles&gt; |&gt; echo %&lt;bundles&gt; &gt; '%o' |&gt; names
  </pre>
  <p><time datetime="2023-03-23T04:58:59Z"></time>writes</p>
  <pre>bundle.html journal/bundle.html Can I emit NUL in XSLT?/bundle.html</pre>
  <p>to <code>names</code>.</p>
  <p>
    <time datetime="2023-03-23T05:02:43Z"></time>Adding
    <code>| hexdump -C</code>,
  </p>
  <pre>
00000000  62 75 6e 64 6c 65 2e 68  74 6d 6c 20 6a 6f 75 72  |bundle.html jour|
00000010  6e 61 6c 2f 62 75 6e 64  6c 65 2e 68 74 6d 6c 20  |nal/bundle.html |
00000020  43 61 6e 20 49 20 65 6d  69 74 20 4e 55 4c 20 69  |Can I emit NUL i|
00000030  6e 20 58 53 4c 54 3f 2f  62 75 6e 64 6c 65 2e 68  |n XSLT?/bundle.h|
00000040  74 6d 6c 0a                                       |tml.|
00000044
</pre
  >
  <p>
    <time datetime="2023-03-23T05:02:59Z"></time>See, those <code>20</code>'s
    are indistinguishable.
  </p>
  <p>
    <time datetime="2023-03-23T05:03:17Z"></time>Some of Tup's
    <code>%</code>-macros do allow for enumeration. But groups are a special
    case, which I don't think is one of them.
  </p>
  <p>
    <time datetime="2023-03-23T05:06:39Z"></time>It's almost like commands could
    use a <code>0</code> flag, which would mean that filenames could be
    separated by NUL's when expanding list macros.
  </p>
  <p>
    <time datetime="2023-03-23T05:14:57Z"></time>That's for spaces in
    directories. It fails differently if the space is in a file name.
    <code>mkdir temp; touch 'temp/not okay'</code> creates the incorrect bundle:
  </p>
  <pre>
&lt;article name="not"&gt;
&lt;details&gt;
&lt;summary&gt;temp/not&lt;/summary&gt;
&lt;p&gt;‘not’ is not a file!&lt;p&gt;
&lt;/details&gt;
&lt;/article&gt;

&lt;article name="okay"&gt;
&lt;details&gt;
&lt;summary&gt;temp/okay&lt;/summary&gt;
&lt;p&gt;‘okay’ is not a file!&lt;p&gt;
&lt;/details&gt;
&lt;/article&gt;
</pre
  >
  <p>
    <time datetime="2023-03-23T05:17:31Z"></time>The only way I can think of to
    solve this is by using <code>find</code> to get the equivalent list of
    files. Besides the fact that this assumes unholy knowledge of how
    <code>bundles</code> is constituted, It's not possible in general because
    any directory could overwrite it in practice, which you can't know. Yet it's
    clear that if you rely on the list from Tup, well, it's lossy.
  </p>
  <p>
    <time datetime="2023-03-23T05:21:09Z"></time>In short, the situation with
    filenames is worse than I feared. They can't even have <em>spaces</em>.
  </p>
  <p>
    <time datetime="2023-03-23T05:24:47Z"></time
    ><a href="https://groups.google.com/g/tup-users/c/pHlgdojp8vo"
      >Here's a thread</a
    >
    on the subject, which ends rather amusingly. In it, Mike suggests using the
    Lua parser for a rule that requires spaces. I'm happy to to so if that
    works.
  </p>
  <p>
    <time datetime="2023-03-23T05:27:41Z"></time>It's not the same thing,
    though. This is a group, not wildcards. But he quotes <code>%f</code> too,
    so something else may be going on.
  </p>
  <p>
    <time datetime="2023-03-23T05:29:13Z"></time>Ah, he does a
    <code>foreach_rule</code>. That way you can quote it individually. As Mr.
    Skaller points out, quoting is a hard problem.™
  </p>
  <p>
    <time datetime="2023-03-23T05:45:22Z"></time>After a few dead ends, I'm
    unhappy to report that this is the new Problem Bothering Me.
  </p>
  <p>
    <time datetime="2023-03-23T05:47:28Z"></time>Here is a similar complaint.
  </p>
  <blockquote>
    <p>
      I am not sure if this is a problem that should be fixed for %-flags in
      general, or rather is specific to the multi-file ones (%f, %o, %b, %B, %)
      and whether the default behaviour should be altered to escape them
      properly or a specific syntax (e.g. like the "$@" construct in bash) is
      needed.
    </p>
    <cite
      ><a href="https://github.com/gittup/tup/issues/367">
        Problems escaping unusual filenames #367
      </a></cite
    >
  </blockquote>
  <p>
    <time datetime="2023-03-23T05:49:16Z"></time>In userspace, filenames can
    have spaces. But in shell world, it's breaky.
  </p>
  <p>
    <time datetime="2023-03-23T05:50:27Z"></time>I guess this is a shell world
    for now.
  </p>
  <p>
    <time datetime="2023-03-23T06:03:25Z"></time>Okay, I got around the
    directory one by using
    <code>find . -name bundle.html -exec ./pack {} +</code>. It's a hack, but
    it's clearly more important to accept spaces in directory names than to
    allow override of what file is considered the bundle for individual
    directories.
  </p>
  <p>
    <time datetime="2023-03-23T06:13:38Z"></time>The problem with using
    <code>find</code> in the other place is that wildcards don't always mean
    <q>everything</q> in Tup.
  </p>
  <p>
    <time datetime="2023-03-23T06:40:33Z"></time>Indeed, Tup's wildcard gives
    you the <em>set</em> of files that you actually want here,
    <i>viz</i> regular ones. But it doesn't delimit the names.
    <code>find</code> can delimit the names, but it doesn't know which files are
    regular.
  </p>
  <p><time datetime="2023-03-23T06:41:57Z"></time><strong>Glue!</strong> 😠</p>
  <p>
    <time datetime="2023-03-23T06:30:37Z"></time>I added an even worse hack to
    make <code>find</code> work in the recursive rule. The
    <code>a b</code> directory is packed now. But our friend
    <code>Can I emit NUL in XSLT?</code> is still not packed.
  </p>
  <p>
    <time datetime="2023-03-23T06:33:10Z"></time>The directory itself is
    processing okay, but it's not appearing in the listing.
  </p>
  <p>
    <time datetime="2023-03-23T06:34:01Z"></time>Oh, now it is. I took out the
    <code>?</code>, but I'm not sure that was it.
  </p>
  <p>
    <time datetime="2023-03-23T06:35:38Z"></time>There's a problem renaming the
    directory that I have sometimes seen, but that's not the issue here. You can
    create the directory anew with either name, but the one with the question
    mark doesn't get packed, even though its bundle is created correctly.
  </p>
  <p>
    <time datetime="2023-03-23T06:37:49Z"></time>Odd. Now it's in the file
    <em>with</em> the <code>?</code>. I think this is actually what happened
    before. Some other thing changed and then triggered its build.
  </p>
  <p>
    <time datetime="2023-03-23T06:52:06Z"></time>I can't say I'm QUITE sure that
    I don't want generated files included by default.
  </p>
  <section>
    <h3><time datetime="2023-03-23T19:33:52Z"></time>let's wrap this up</h3>
    <p>At present, unpack is broken. This is the tail of its output:</p>
    <pre>
temp/./manifest
temp/./not okay
temp/./found
Can I emit NUL in XSLT?/./manifest
I/O error : No such file or directory
I/O error : No such file or directory
runtime error: file /dev/fd/63 line 25 element document
xsltDocumentElem: unable to save to ../sourdough-9a3oIZ/Can%20I%20emit%20NUL%20in%20XSLT?/./manifest
Can I emit NUL in XSLT?/./answer
I/O error : No such file or directory
I/O error : No such file or directory
runtime error: file /dev/fd/63 line 25 element document
xsltDocumentElem: unable to save to ../sourdough-9a3oIZ/Can%20I%20emit%20NUL%20in%20XSLT?/./answer
Can I emit NUL in XSLT?/./found
I/O error : No such file or directory
I/O error : No such file or directory
runtime error: file /dev/fd/63 line 25 element document
xsltDocumentElem: unable to save to ../sourdough-9a3oIZ/Can%20I%20emit%20NUL%20in%20XSLT?/./found
no result for notebook.html
</pre
    >
    <p>
      This is in addition to the fact that paths include one or more redunant
      <code>./</code>.
    </p>
    <p>
      <time datetime="2023-03-23T19:39:52Z"></time>Getting rid of the debug
      outputs <code>found</code> and <code>manifest</code> cleans things up a
      bit, but the issue is the same
    </p>
    <pre>
temp/./not okay
Can I emit NUL in XSLT?/./answer
I/O error : No such file or directory
I/O error : No such file or directory
runtime error: file /dev/fd/63 line 25 element document
xsltDocumentElem: unable to save to ../sourdough-lEG9tF/Can%20I%20emit%20NUL%20in%20XSLT?/./answer
no result for notebook.html
</pre
    >
    <p>
      <time datetime="2023-03-23T19:41:35Z"></time>Who's throwing the
      <q>I/O error</q>? Is that xsltproc?
    </p>
    <p>
      <time datetime="2023-03-23T19:42:27Z"></time>Oh, read the bloody output,
      it seems to be assuming that the path will be URL encoded??
      <code>Can%20I%20emit%20NUL%20in%20XSLT?</code> Where does it get that
      idea? It doesn't help that <a href="http://exslt.org">exslt.org</a> is
      down most of the time.
    </p>
    <p>
      <time datetime="2023-03-23T19:46:57Z"></time>I'm starting to think that I
      need to abandon ex:document and dump the content back to shell using a
      custom delimiter. This kind of thing could be done reasonably well in awk
      (<a
        href="https://gitlab.com/gavinpc/willshake/-/blob/docker/bootstrap/tangle"
        >willshake's tangle</a
      >
      uses awk).
    </p>
    <p>
      <time datetime="2023-03-23T19:51:47Z"></time>I'd say you might not need
      awk, but I'm a bit less confident how to read chunks that may contain
      newlines without altering them.
    </p>
    <p>
      <time datetime="2023-03-23T20:16:28Z"></time>Not so fast. I made a
      standalone test and it appears that ex:document writes to paths that
      include spaces in the name. The URL encoding in the above message may have
      been for presentation only.
    </p>
    <p>
      <time datetime="2023-03-23T20:19:08Z"></time>Further testing indicates
      that it's the <code>?</code> that's messing things up.
    </p>
    <pre>
runtime error: file test.xsl line 20 element document
xsltDocumentElem: unable to save to Can%20I%20emit%20NUL%20in%20XSLT?/./answer
</pre
    >
  </section>
</article>
