/* dialog chat */
@media all {
  .chat input[type="submit"] {
    cursor: pointer;
  }
  .chat fieldset {
    border: none;
  }
  .chat input[type="submit"]:first-child {
    margin: 1em;
  }
  .chat form {
    outline: 1pt solid #ff27; /* wireframing */
  }
  @media none {
    .chat output {
      display: flex;
      flex-direction: column;
    }
  }
  .chat input:is(:not([type]), [type="text"]),
  .chat p {
    padding: 0.66em 1em;
    border-radius: 2em;
    font-family: var(--sans-serif, sans-serif); /* matches input default */
  }
  .chat > p {
    background: var(--Field, Field); /* so human sayings match input default */
    color: var(--FieldText, FieldText); /* ditto */
    inline-size: fit-content;
    border-start-start-radius: 0;
  }
  .chat output p {
    background: GrayText; /* visible on both dark and light */
  }
  .chat output p:empty {
    display: none;
  }
  .chat input:is(:not([type]), [type="text"]) {
    font-size: 100%; /* beat UA default */
    border: none; /* beat UA default */
  }

  /* UNUSED: “turn” (for request-response)*/
  @media none {
    .chat .turn {
      box-sizing: border-box;
      border: 2pt dotted canvas;
    }
    .chat .turn:not(:first-of-type) {
      animation: turn-down 125ms;
    }
    :is(.chat, .chat > .turn) > input:not([type="submit"]),
    :is(.chat, .chat > .turn) > form > input:not([type="submit"]),
    :is(.chat, .chat > .turn) > form > fieldset > input:not([type="submit"]) {
      background: Field;
    }
  }
}

/* directional affinity */
/* input:start :: output:end, or --reverse that */
/* most chat applications put you at end and other party at start */

@media all {
  .chat form {
    text-align: start;
  }
  .chat--reverse > form {
    text-align: end;
  }
  .chat--reverse output p {
    align-self: flex-start;
    border-start-start-radius: 0;
  }
  .chat:where(:not(.chat--reverse)) output p {
    display: inline-block;
    text-align: end;
    align-self: flex-end;
    border-start-end-radius: 0;
  }
  .chat:not(.chat--reverse) input:not([type="submit"]) {
    align-self: flex-start;
    border-start-start-radius: 0;
  }
  .chat--reverse > input:not([type="submit"]),
  .chat--reverse > form > input:not([type="submit"]),
  .chat--reverse > form > fieldset > input:not([type="submit"]) {
    align-self: flex-end;
    border-start-end-radius: 0;
  }
  .chat:not(.chat--reverse) > form > fieldset > input:not([type="submit"]) {
    padding-inline-end: 2em;
  }
  .chat--reverse > form > fieldset > input:not([type="submit"]) {
    padding-inline-start: 2em;
  }
}
/* nice definition list you got there */
@media all {
  dl.flex {
    display: flex;
    flex-direction: column;
  }
  dl.flex > div {
    flex: auto;
    display: flex;
  }
  dl.flex > div > dt {
    flex-grow: 0;
  }
  dl.flex > div > dd {
    flex-grow: 1;
    text-align: end;
  }
  /* interaction stuff */
  @media all {
    dl.flex {
    }
    dl.flex > div {
      box-sizing: border-box;
      border-block: 1pt dashed transparent;
      border-inline: 2pt solid transparent;
    }
    dl.flex > div:hover {
      border-color: currentColor;
      background: color-mix(in lab, GrayText 25%, transparent);
    }
  }
}
@media all {
  /* WIREFRAMES */
  @media all {
    /* no, put the list under the map so that you have a place for meta things */
    .list-map:is(ul, ol, menu) {
      border: 1px solid red;
    }
    .list-map:not(ul, ol, menu) {
      border: 1px solid green;
    }
    .list-map > :is(ul, ol, menu) {
      border: 1px solid green;
    }
    /* how would we interpret dl here? */
    .list-map > dl {
      border: 1px solid yellow;
    }
  }
  .list-map > :is(ol, ul, menu) {
    /* weirdly, `reset` makes a ul look like a numbered list  */
    list-style: none; /*unset doesn't work here*/
    padding-inline-start: unset;
    margin-block: unset;
  }
  .list-map > :is(ol, ul, menu) > li {
    /* weirdly, `reset` makes a ul look like a numbered list  */
    list-style: none; /*unset doesn't work here*/
    padding-inline-start: unset;
    margin-block: unset;
  }

  /* indicating items */
  @media all {
    .list-map > menu > li,
    .list-map--indicate-items > :is(ol, ul, menu) > li {
      cursor: pointer;
    }
    .list-map > menu > li:hover,
    .list-map--indicate-items > :is(ol, ul, menu) > li:hover {
      background: #fff4;
    }
  }

  /* flex list maps */
  @media all {
    .list-map--flex > :is(ol, ul, menu) {
      display: flex;
    }
    .list-map--flex > :is(ol, ul, menu) > li {
      flex-grow: 1;
    }
  }
}
/* sizable */
@media all {
  /* WIREFRAMES */
  @media all {
    .sizable > :not(.header, .inner) {
      border: 2pt solid red;
    }
  }
  @media all {
    .sizable {
      box-sizing: border-box; /*else border breaks shrink!*/
      animation: border-block-width-from-0 500ms both;
      transition: border-block-width 500ms;
      border-block: 1ch solid
        color-mix(in lab, var(--CanvasText, CanvasText) 30%, transparent);
      border-radius: 1ch;
    }
  }
  /* prettier-ignore */
  @media (prefers-reduced-motion: no-preference) {
    @keyframes border-block-width-from-0 {from {border-block-width: 0}}
  }
  /* how it is laid out... */
  @media all {
    .sizable {
      block-size: calc(1px * var(--block-size-px, 0));
      overflow: hidden;
      /* prevents tabbing into hidden inputs, which `hidden` allows */
      overflow: clip;
      /* but I don't want this changing the effective clip region */
      overflow-clip-margin: border-box;
    }
  }

  /* how things are laid out within it... */
  @media all {
    .sizable {
      display: flex;
    }
  }

  /* opinion */
  @media all {
    article.sizable {
      border: unset;
      border-radius: unset;
    }
    section.sizable {
      border: unset;
      border-radius: unset;
      border-block-start: 1pt solid;
      border-block-end: 1pt dashed;
    }
    .sizable + article.sizable {
      box-shadow: inset 1pt -2pt 1em -0.5em white;
    }
    .sizable > .inner > :first-child:is(h1, h2, h3, h4, h5, h6) {
      margin-block-start: unset;
    }
  }

  /* totally unrelated */
  @media all {
    p {
      inline-size: fit-content;
      max-inline-size: min(55ch, 100%);
      background-color: var(--Canvas, Canvas);
      border: 2pt solid var(--GrayText, GrayText);
      border-start-start-radius: 0;
      border-start-end-radius: 1em;
      border-end-end-radius: 1em;
      border-end-start-radius: 1em;
    }
  }
}
/* exploratory, unit of syndication */
@media all {
  /* WIREFRAMES */
  @media none {
    .syndication:not(.expando) {
      box-sizing: border-box;
      border: 2pt solid red;
    }
    .syndication.expando > .inner {
      box-sizing: border-box;
      border: 3pt dotted limegreen;
    }
    .syndication > .inner > :is(header, [data-section]) {
      box-sizing: border-box;
      border: 2pt solid;
    }
    /* prettier-ignore */
    @media all {
    .syndication > .inner > header { border-color: dimgray }
    .syndication > .inner > [data-section="amd"] { border-color: skyblue }
    .syndication > .inner > [data-section="dialog"] { border-color: firebrick }
    .syndication > .inner > [data-section="stage"] { border-color: plum }
    }
  }
  .syndication > .inner {
    display: grid;
    grid-template-areas: "heading" "code" "stage" "world";
  }
  .syndication > .inner > :is(header, [data-section]) {
    overflow: clip;
  }
  .syndication > .inner > header {
    grid-area: heading;
  }
  .syndication > .inner > [data-section="world"] {
    grid-area: world;
  }
  .syndication > .inner > [data-section="code"] {
    grid-area: code;
  }
  .syndication > .inner > [data-section="stage"] {
    grid-area: stage;
  }
  .syndication > .inner > [data-section="code"] textarea {
    box-sizing: border-box;
    inline-size: 100%;
  }
}
